<!-- <app-list-page-header [showSearch]="showSearch" [showItemsPerPage]="showItemsPerPage" [showDisplayMode]="showDisplayMode" [showdropdown]="showdropdown" [showOrderBy]="showOrderBy" (addNewItem)="showAddNewModal()">
</app-list-page-header>
<app-add-new-product-modal #addNewModalRef (addNewModal)="showPriceSettingModal()"></app-add-new-product-modal> -->
<tabset class="separator-tabs">
    <tab heading="{{'pages.price' | translate | uppercase }}">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                            <div class="float-left float-none-xs">
                                <div class="d-inline-block">
                                    <h5 class="d-inline">{{'label-title.price-settings' | translate}}</h5>
                                </div>
                            </div>
                            <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="showPriceSettingModal()">{{'button-title.edit' | translate}}  </button>
                            </div>
                        </div>
                        <div [class]="'d-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">{{'label-title.distance-for-base-price' | translate}}</p>
                                    <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]="'d-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">{{'label-title.base-price' | translate}}</p>
                                    <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]="'d-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">{{'label-title.Price-per-unit-time-min' | translate}}</p>
                                    <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]="'d-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">{{'label-title.waiting-time-start-after-minute' | translate}}</p>
                                    <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]="'d-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">{{'label-title.price-for-waiting-time' | translate}}</p>
                                    <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]="'d-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">{{'label-title.min-fare' | translate}}</p>
                                    <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <!-- <div class="btn-group float-right float-none-xs mb-4 "><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="showTaxSettingModal()">{{'button-title.edit' | translate}}  </button>
                        </div>
                        <h5 class="card-title">{{'label-title.tax-settings' | translate}}</h5> -->
                        <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                          <div class="float-left float-none-xs">
                              <div class="d-inline-block">
                                  <h5 class="d-inline">{{'label-title.tax-settings' | translate}}</h5>
                              </div>
                          </div>
                          <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="showTaxSettingModal()">{{'button-title.edit' | translate}}  </button>
                          </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">{{'label-title.provider-profit' | translate}}
                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">25%</p>
                            </div>
                        </div>


                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">{{'label-title.tax-vat' | translate}}
                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">10%</p>
                            </div>
                        </div>


                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">{{'label-title.user-miscellaneous-fee' | translate}}

                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$1</p>
                            </div>
                        </div>


                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">{{'label-title.user-tax' | translate}}

                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">2.25%</p>
                            </div>
                        </div>


                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">{{'label-title.provider-miscellaneous-fee' | translate}}

                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$0.5</p>
                            </div>
                        </div>


                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">{{'label-title.price-for-waiting-time' | translate}}

                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$0.5</p>
                            </div>
                        </div>


                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">{{'label-title.provider-tax' | translate}}

                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">1.75%</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                  <div class="float-left float-none-xs">
                                      <div class="d-inline-block">
                                          <h5 class="d-inline">{{'label-title.other-settings' | translate}}</h5>
                                      </div>
                                  </div>
                                  <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="edit()">{{ !editData ? ('button-title.edit' | translate) : ('button-title.save' | translate) }}   </button>
                                  </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="javascript:;">
                                            <p class="font-weight-medium mb-0">{{'label-title.car-rental-business' | translate}}

                                            </p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div tooltip="Dark Mode" placement="left" class="custom-control custom-switch"><input type="checkbox" id="darkModeSwitch1" class="custom-control-input"><label for="darkModeSwitch1" class="custom-control-label"></label></div>
                                    </div>
                                </div>


                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="javascript:;">
                                            <p class="font-weight-medium mb-0">{{'label-title.is-zone' | translate}}

                                            </p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div tooltip="Dark Mode" placement="left" class="custom-control custom-switch"><input type="checkbox" id="darkModeSwitch2" class="custom-control-input"><label for="darkModeSwitch2" class="custom-control-label"></label></div>
                                    </div>
                                </div>


                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="javascript:;">
                                            <p class="font-weight-medium mb-0">{{'label-title.is-surge-hours' | translate}}

                                            </p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div tooltip="Dark Mode" placement="left" class="custom-control custom-switch"><input type="checkbox" id="darkModeSwitch23" class="custom-control-input"><label for="darkModeSwitch23" class="custom-control-label"></label></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>

    <tab heading="{{'pages.zone-airport-city price' | translate | uppercase }}">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                          <div class="float-left float-none-xs">
                              <div class="d-inline-block">
                                  <h5 class="d-inline">{{'label-title.zone-to-zone' | translate}}</h5>
                              </div>
                          </div>
                          <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="openZoneModal()">{{'button-title.edit' | translate}} </button>
                          </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">KKV HALL --- Nana Mava Circle
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$5.00</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">Jaddu's Food Field --- KKV Hall
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$4.75</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">KKV Hall --- Kotecha Circle
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$1.50</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">Kotecha Circle --- Jaddu's Food Field
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$6.00</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">KKV HALL --- Nana Mava Circle
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$5.00</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">Jaddu's Food Field --- KKV Hall
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$4.75</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">KKV Hall --- Kotecha Circle
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$1.50</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0">Kotecha Circle --- Jaddu's Food Field
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$6.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                          <div class="float-left float-none-xs">
                              <div class="d-inline-block">
                                  <h5 class="d-inline">{{'label-title.city-to-city-price' | translate}}</h5>
                              </div>
                          </div>
                          <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="openZoneModal()">{{'button-title.edit' | translate}} </button>
                          </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">Rajkot --- Mumbai
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$5.00</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">Rajkot --- Ahmadabad
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$4.75</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">Rajkot --- Baroda
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$1.50</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">Baroda --- Ahmadabad
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$6.00</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">Ahmadabad --- Mumbai
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">$5.00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                          <div class="float-left float-none-xs">
                              <div class="d-inline-block">
                                  <h5 class="d-inline">{{'label-title.airport-price' | translate}}</h5>
                              </div>
                          </div>
                          <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="openZoneModal()">{{'button-title.edit' | translate}} </button>
                          </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">Rajkot Domestic Airport
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">1.5</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="pl-3 flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">Rajkot International Airport
                                    </p>
                                </a>
                            </div>
                            <div>
                                <p class="font-weight-medium mb-0">1.25</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="{{'pages.rental packages' | translate | uppercase }}">
        <div class="row ">
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-3 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="color-theme-1 mb-2 value font-weight-bold"> {{'label-title.silver' | translate | uppercase}} </h5>
                            <h1 class="mb-0">$50</h1>
                            <p class="list-item-heading mb-3">{{'label-title.500-km-and-5-hours' | translate}}</p>
                            <p class="mb-2 text-muted text-small">{{'label-title.$10-km-for-extra-distance' | translate}}</p>
                            <p class="mb-4 text-muted text-small">{{'label-title.$1-min-for-extra-time' | translate}}</p>
                            <button type="button" class="btn btn-sm btn-outline-danger d-inline-block mb-3 mr-2">{{'button-title.delete' | translate}}</button>
                            <button type="button" class="btn btn-sm btn-outline-primary d-inline-block mb-3" (click)="showRentalPackageModal()">{{'button-title.edit' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-3 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="color-theme-1 mb-2 value font-weight-bold">{{'label-title.gold' | translate | uppercase}}</h5>
                            <h1 class="mb-0">$100</h1>
                            <p class="list-item-heading mb-3">{{'label-title.1000-km-and-5-hours' | translate}}</p>
                            <p class="mb-2 text-muted text-small">{{'label-title.$10-km-for-extra-distance' | translate}}</p>
                            <p class="mb-4 text-muted text-small">{{'label-title.$1-min-for-extra-time' | translate}}</p>
                            <button type="button" class="btn btn-sm btn-outline-danger d-inline-block mb-3 mr-2">{{'button-title.delete' | translate}}</button>
                            <button type="button" class="btn btn-sm btn-outline-primary d-inline-block mb-3" (click)="showRentalPackageModal()">{{'button-title.edit' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-3 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="color-theme-1 mb-2 value font-weight-bold">{{'label-title.platinum' | translate | uppercase}} </h5>
                            <h1 class="mb-0">$200</h1>
                            <p class="list-item-heading mb-3">{{'label-title.1800-km-and-5-hours' | translate}}</p>
                            <p class="mb-2 text-muted text-small">{{'label-title.$8-km-for-extra-distance' | translate}}</p>
                            <p class="mb-4 text-muted text-small">{{'label-title.$0.9-min-for-extra-time' | translate}}</p>
                            <button type="button" class="btn btn-sm btn-outline-danger d-inline-block mb-3 mr-2">{{'button-title.delete' | translate}}</button>
                            <button type="button" class="btn btn-sm btn-outline-primary d-inline-block mb-3" (click)="showRentalPackageModal()">{{'button-title.edit' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-4 col-xl-4 col-xxl-3 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="color-theme-1 mb-2 value font-weight-bold">{{'label-title.diamond' | translate | uppercase}}</h5>
                            <h1 class="mb-0">$500</h1>
                            <p class="list-item-heading mb-3">{{'label-title.5000-km-and-5-hours' | translate}}</p>
                            <p class="mb-2 text-muted text-small">{{'label-title.$7-km-for-extra-distance' | translate}}</p>
                            <p class="mb-4 text-muted text-small">{{'label-title.$0.75-min-for-extra-time' | translate}}</p>
                            <button type="button" class="btn btn-sm btn-outline-danger d-inline-block mb-3 mr-2">{{'button-title.delete' | translate}}</button>
                            <button type="button" class="btn btn-sm btn-outline-primary d-inline-block mb-3" (click)="showRentalPackageModal()">{{'button-title.edit' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </tab>
    <tab heading="{{'pages.surge' | translate | uppercase }}">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                            <div class="float-left float-none-xs">
                                <div class="d-inline-block">
                                    <h5 class="d-inline">{{'label-title.surge' | translate }}</h5>
                                </div>
                            </div>
                            <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="opensSurgeTimeModal()">{{'button-title.edit' | translate}}  </button>
                            </div>
                        </div>
                        <div [class]="'d-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">{{'label-title.is-surge-hours' | translate }}</p>
                                    <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <div class="custom-control custom-switch"><input type="checkbox" id="customS" class="custom-control-input"><label for="customS" class="custom-control-label"></label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.sunday' | translate}}</h5>
                                            <p class="font-weight-medium  mt-2 danger">{{'label-title.no-surge-slot' | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="custom-control custom-switch"><input type="checkbox" id="custom1" class="custom-control-input"><label for="custom1" class="custom-control-label"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline ">{{'label-title.monday' | translate}}</h5>
                                            <p class="font-weight-medium mb-2 mt-2 color-theme-1">08:00 AM to 10:00 AM</p>
                                            <p class="font-weight-medium color-theme-1">08:00 AM to 11:00 PM</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-switch"><input type="checkbox" id="custom2" class="custom-control-input"><label for="custom2" class="custom-control-label"></label>

                                        </div>
                                        <p class="font-weight-medium mb-2 rtl mt-2">1.5</p>
                                        <p class="font-weight-medium rtl ">1.75</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.tuesday' | translate}}</h5>
                                            <p class="font-weight-medium mb-2 mt-2 color-theme-1">08:00 AM to 10:00 AM</p>
                                            <p class="font-weight-medium color-theme-1">08:00 AM to 11:00 PM</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-switch"><input type="checkbox" id="custom3" class="custom-control-input"><label for="custom3" class="custom-control-label"></label>

                                        </div>
                                        <p class="font-weight-medium mb-2 rtl mt-2">1.5</p>
                                        <p class="font-weight-medium rtl ">1.75</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.wednesday' | translate}}</h5>
                                            <p class="font-weight-medium mb-2 mt-2 color-theme-1">08:00 AM to 10:00 AM</p>
                                            <p class="font-weight-medium color-theme-1">08:00 AM to 11:00 PM</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-switch"><input type="checkbox" id="custom4" class="custom-control-input"><label for="custom4" class="custom-control-label"></label>

                                        </div>
                                        <p class="font-weight-medium mb-2 rtl mt-2">1.5</p>
                                        <p class="font-weight-medium rtl ">1.75</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.thursday' | translate}}</h5>
                                            <p class="font-weight-medium mb-2 mt-2 color-theme-1">08:00 AM to 10:00 AM</p>
                                            <p class="font-weight-medium color-theme-1">08:00 AM to 11:00 PM</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-switch"><input type="checkbox" id="custom5" class="custom-control-input"><label for="custom5" class="custom-control-label"></label>

                                        </div>
                                        <p class="font-weight-medium mb-2 rtl mt-2">1.5</p>
                                        <p class="font-weight-medium rtl ">1.75</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.friday' | translate}}</h5>
                                            <p class="font-weight-medium mb-2 mt-2 color-theme-1">08:00 AM to 10:00 AM</p>
                                            <p class="font-weight-medium color-theme-1">08:00 AM to 11:00 PM</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-switch"><input type="checkbox" id="custom6" class="custom-control-input"><label for="custom6" class="custom-control-label"></label>

                                        </div>
                                        <p class="font-weight-medium mb-2 rtl mt-2">1.5</p>
                                        <p class="font-weight-medium rtl ">1.75</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.saturday' | translate}}</h5>
                                            <p class="font-weight-medium mb-2 mt-2 color-theme-1">08:00 AM to 10:00 AM</p>
                                            <p class="font-weight-medium color-theme-1">08:00 AM to 11:00 PM</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="custom-control custom-switch"><input type="checkbox" id="custom7" class="custom-control-input"><label for="custom7" class="custom-control-label"></label>

                                        </div>
                                        <p class="font-weight-medium mb-2 rtl mt-2">1.5</p>
                                        <p class="font-weight-medium rtl ">1.75</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                            <div class="float-left float-none-xs">
                                <div class="d-inline-block">
                                    <h5 class="d-inline">{{'label-title.rich-area-surge' | translate}}</h5>
                                </div>
                            </div>
                            <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="openPlaceModal()">{{'button-title.edit' | translate}}  </button>
                            </div>
                        </div>
                        <div [class]=" 'd-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">KKV HALL</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]=" 'd-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">KKV HALL</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]=" 'd-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">KKV HALL</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                        <div [class]=" 'd-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
                            <div class="pl-3 flex-grow-1">
                                <a href="javascript:;">
                                    <p class="font-weight-medium mb-0 ">KKV HALL</p>
                                </a>
                            </div>
                            <div class="comment-likes">
                                <span class="post-icon"><a href="#"><span>2 KM</span></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-application-menu>
            <tabset class="card-tabs h-100" [justified]="true">
                <tab heading="Trip charges" class="card-body h-100">
                    <div class="form-group">
                        <input type="text" class="form-control rounded-100" placeholder="{{'label-title.search' | translate }}" #searchBoxContact id="search-box" />
                    </div>
                    <div class="chat-app-tab-pane-contacts">
                        <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                            <div class="mt-4 border-bottom">
                                <div class="form-group  row">
                                    <div class="col-sm-10 col-10">
                                        <p for="inputEmail3" class="mb-0">Rajkot</p>
                                        <p class="text-muted mb-0 text-small">Suv</p>
                                    </div>
                                    <div class="col-sm-2 col-2">
                                        <span class="align-middle border-success log-indicator"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 border-bottom">
                                <div class="form-group  row">
                                    <div class="col-sm-10 col-10">
                                        <p for="inputEmail3" class="mb-0">Rajkot</p>
                                        <p class="text-muted mb-0 text-small">mini</p>
                                    </div>
                                    <div class="col-sm-2 col-2">
                                        <span class="align-middle border-danger log-indicator"></span>
                                    </div>
                                </div>
                            </div>

                        </perfect-scrollbar>
                    </div>
                </tab>
                <tab heading="City-Area" class="card-body h-100">
                    <div class="form-group">
                        <input type="text" class="form-control rounded-100" placeholder="{{'label-title.search' | translate }}" #searchBoxContact id="search-box" />
                    </div>
                    <div class="chat-app-tab-pane-contacts">
                        <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">

                            <div class="mt-4 border-bottom">
                                <div class="form-group  row">
                                    <div class="col-sm-10 col-10">
                                        <p for="inputEmail3" class="mb-0">Rajkot</p>
                                        <p class="text-muted mb-0 text-small">India</p>
                                    </div>
                                    <div class="col-sm-2 col-2">
                                        <span class="align-middle border-success log-indicator"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 border-bottom">
                                <div class="form-group  row">
                                    <div class="col-sm-10 col-10">
                                        <p for="inputEmail3" class="mb-0">Mumbai</p>
                                        <p class="text-muted mb-0 text-small">India</p>
                                    </div>
                                    <div class="col-sm-2 col-2">
                                        <span class="align-middle border-success log-indicator"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 border-bottom">
                                <div class="form-group  row">
                                    <div class="col-sm-10 col-10">
                                        <p for="inputEmail3" class="mb-0">New york</p>
                                        <p class="text-muted mb-0 text-small">US</p>
                                    </div>
                                    <div class="col-sm-2 col-2">
                                        <span class="align-middle border-danger log-indicator"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 border-bottom">
                                <div class="form-group  row">
                                    <div class="col-sm-10 col-10">
                                        <p for="inputEmail3" class="mb-0">London</p>
                                        <p class="text-muted mb-0 text-small">UK</p>
                                    </div>
                                    <div class="col-sm-2 col-2">
                                        <span class="align-middle border-success log-indicator"></span>
                                    </div>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </tab>
            </tabset>
        </app-application-menu>
    </tab>
</tabset>
<app-add-new-zone-modal #zoneSettingModal></app-add-new-zone-modal>
<app-add-new-place-modal #addNewModalRef6></app-add-new-place-modal>
<app-add-new-surge-time-modal #addNewModalRef5></app-add-new-surge-time-modal>
<app-price-setting-modal #priceSettingModal></app-price-setting-modal>
<app-tax-setting-modal #taxSettingModal></app-tax-setting-modal>
<app-rental-package-setting-modal #rentalPackageSettingModal></app-rental-package-setting-modal>
