<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.export-history' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <ng-container>
                        <div class="row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table table-hover mb-0 tableScroll">
                                    <thead class="thead-light">
                                      <tr>
                                        <!-- <th scope="col">
                                          {{'label-title.id' | translate}}
                                        </th> -->
                                        
                                        <th scope="col">
                                            {{'label-title.create-time' | translate}}
                                        </th>

                                        <th scope="col">
                                            {{'label-title.action' | translate}}
                                        </th>
                      
                                      </tr>
                                    </thead>
                                    <tbody *ngIf="listData?.length>0">
                                      <tr *ngFor="let row of listData">
                                        <!-- <td class="text-nowrap">{{row.unique_id}}</td> -->

                                        <td class="text-nowrap">
                                          <span *ngIf="row.created_at && timezone_for_display_date">{{_helper.moment(row.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.DD_MM_YY)}} - {{_helper.moment(row.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</span>
                                          <span *ngIf="!row.created_at">--</span>
                                        </td>

                                        <td *ngIf="row.status == 0">
                                          <span class="badge badge-pill badge-warning w-fit-content" >{{'button-title.processing' | translate}}</span>
                                        </td>

                                        <td *ngIf="row.status == 1">
                                          <button type="button" class="btn btn-primary btn-xs text-nowrap mr-1"
                                              (click)="_helper.downloadFile(row.url)">
                                              {{'button-title.download' | translate}}
                                          </button>
  
                                          <button type="button" class="btn btn-danger btn-xs text-nowrap"
                                              (click)="onDelete(row.unique_id)">
                                              {{'button-title.delete' | translate}}
                                          </button>
                                        </td>

                                      </tr>
                                    </tbody>
                                    <tbody *ngIf="!listData || listData?.length==0">
                                      <tr>
                                        <th colspan="10" class="text-center">
                                          <span>{{ 'label-title.no-record-found' | translate }}</span>
                                        </th>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </ng-container>

                </div>
                <div class="modal-footer" *ngIf="tab == 1">

                </div>
            </div>
        </div>
    </modal-container>
</ng-template>

<ng-template #confirmationTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left">{{'label-title.delete-history' | translate }} ({{id}}) </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body p-0">
      <div class="p-4">
          <p>
              {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu.history' | translate}}
          </p>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' | translate}}</button>
  </div>
</ng-template>