.order-step li:last-child {
    border-left: none;
    margin-left: 3px;
}

.my-img {
    height: 14px;
    width: 14px;
    margin-right: 0.7rem;
}

.stop-addresses>div {
    border-left: 0.2em solid lightgray;
    padding: 0 0 1rem 1rem;
    position: relative;
}

// .stop-addresses div::before {
//     content: "";
//     background-image: url(../../../../assets/img/address/user_pin.png);
//     background-size: 14px 14px;
//     background-repeat: no-repeat;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     left: -8px;
// }

.mr-07 {
    margin-right: 0.7rem !important;
}

.profile-img{
    height: 40px;
    width: 40px;
  }

  tbody>tr>td {
    white-space: normal !important;
  }