<ng-template #template>
  <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
    <div role="document" class="modal-dialog modal-right">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left" *ngIf="tripdetail">{{'label-title.trip-id' | translate
            }}:{{tripdetail.unique_id}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closemodal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-0" *ngIf="tripdetail">
          <tabset class="card-tabs" [justified]="true">
            <tab heading="{{'label-title.details' | translate }}" class="card-body">
              <div class="row" *ngIf="tripdetail.user_detail">
                <p class="mb-0 px-3 pb-2">{{'label-title.user_details' | translate }}</p>
                <div class="col-12 d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                  <a href="javascript:;">
                    <img (error)="$event.target.src = DEFAULT_IMAGE"
                      class=" img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall profile-img"
                      [src]="tripdetail.user_detail.picture ? IMAGE_URL + tripdetail.user_detail.picture : DEFAULT_IMAGE"
                      [alt]="" style="width:40px;">
                  </a>
                  <div class="pl-3 flex-fill">
                    <p class="font-weight-medium mb-0">
                      {{tripdetail.user_detail.first_name}} {{tripdetail.user_detail.last_name}}
                    </p>
                    <p class="text-muted mb-0 text-small">{{'label-title.user-id' | translate }}:
                      {{tripdetail.user_detail.unique_id}}</p>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="tripdetail.providers_detail">
                <p class="mb-0 px-3 pb-2">{{'label-title.provider_details' | translate }}</p>
                <div class="col-12 d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                  <a href="javascript:;">
                    <img (error)="$event.target.src = DEFAULT_IMAGE"
                      class=" img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall profile-img"
                      [src]="tripdetail.providers_detail.picture ? IMAGE_URL + tripdetail.providers_detail.picture : DEFAULT_IMAGE"
                      [alt]="">
                  </a>
                  <div class="pl-3 flex-fill">
                    <p class="font-weight-medium mb-0">
                      {{tripdetail.providers_detail.first_name}} {{tripdetail.providers_detail.last_name}}
                    </p>
                    <p class="text-muted mb-0 text-small">{{'label-title.driver-id' | translate }}:
                      {{tripdetail.providers_detail.unique_id}}</p>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                <div class="flex-fill">
                  <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.pickup_address' | translate }}</p>
                    <div class="d-flex align-items-center pt-3">
                      <div class="pin-svg" style="width : 24px">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="16px" height="16px" viewBox="0 0 68.000000 68.000000"
                        preserveAspectRatio="xMidYMid meet">
                        <metadata>
                        Created by potrace 1.16, written by Peter Selinger 2001-2019
                        </metadata>
                        <g transform="translate(0.000000,68.000000) scale(0.100000,-0.100000)"
                        stroke="none">
                        <path d="M203 656 c-72 -34 -137 -97 -173 -169 -26 -52 -30 -71 -30 -141 0
                        -52 6 -99 17 -130 25 -68 100 -148 175 -185 54 -27 71 -31 147 -31 70 0 96 5
                        138 24 72 34 137 97 173 169 26 53 30 70 30 147 0 77 -4 94 -30 147 -36 72
                        -101 135 -173 169 -74 34 -200 34 -274 0z m245 -115 c158 -80 162 -300 9 -398
                        -36 -23 -53 -27 -117 -27 -64 0 -81 4 -117 27 -119 76 -149 224 -66 335 65 87
                        190 114 291 63z"/>
                        <path d="M268 480 c-105 -56 -116 -195 -22 -267 132 -100 315 59 232 202 -45
                        76 -135 104 -210 65z"/>
                        </g>
                        </svg>
                      </div>
                      <p class="text-muted mb-0 text-small ml-1 w-90">{{tripdetail.source_address}}</p>
                    </div>
                  </a>
                </div>

              </div>
              <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                <div class="flex-fill ">
                  <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.destination-address' | translate }}</p>
                  </a>
                  <div class="stop-addresses pt-3 pl-6px" *ngIf="tripAddress">
                    <div *ngFor="let data of tripAddress">
                      <div class="position-relative">
                          <div class="pin-svg position-absolute" style="width : 24px">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                              width="16px" height="16px" viewBox="0 0 68.000000 68.000000"
                              preserveAspectRatio="xMidYMid meet">
                              <metadata>
                              Created by potrace 1.16, written by Peter Selinger 2001-2019
                              </metadata>
                              <g transform="translate(0.000000,68.000000) scale(0.100000,-0.100000)"
                               stroke="none">
                              <path d="M203 656 c-72 -34 -137 -97 -173 -169 -26 -52 -30 -71 -30 -141 0
                              -52 6 -99 17 -130 25 -68 100 -148 175 -185 54 -27 71 -31 147 -31 70 0 96 5
                              138 24 72 34 137 97 173 169 26 53 30 70 30 147 0 77 -4 94 -30 147 -36 72
                              -101 135 -173 169 -74 34 -200 34 -274 0z m245 -115 c158 -80 162 -300 9 -398
                              -36 -23 -53 -27 -117 -27 -64 0 -81 4 -117 27 -119 76 -149 224 -66 335 65 87
                              190 114 291 63z"/>
                              <path d="M268 480 c-105 -56 -116 -195 -22 -267 132 -100 315 59 232 202 -45
                              76 -135 104 -210 65z"/>
                              </g>
                            </svg>
                          </div>
                          <p class=" text-muted mb-0 text-small ml-1 w-90">{{data.address}}</p>
                      </div>
                    </div>
                  </div>
                  <a href="javascript:;" class="d-flex" *ngIf="tripAddress && tripAddress.length>0">
                    <div class="pin-svg" style="width : 24px ">
                      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="16px" height="16px" viewBox="0 0 65.000000 65.000000"
                        preserveAspectRatio="xMidYMid meet">
                        <metadata>
                        Created by potrace 1.16, written by Peter Selinger 2001-2019
                        </metadata>
                        <g transform="translate(0.000000,65.000000) scale(0.100000,-0.100000)"
                        stroke="none">
                        <path d="M16 634 c-14 -13 -16 -55 -16 -308 0 -271 1 -294 18 -309 16 -15 53
                        -17 309 -17 268 0 291 1 306 18 15 16 17 53 17 309 0 268 -1 291 -18 306 -16
                        15 -53 17 -310 17 -251 0 -293 -2 -306 -16z m494 -309 l0 -185 -185 0 -185 0
                        0 185 0 185 185 0 185 0 0 -185z"/>
                        <path d="M204 437 c-2 -7 -3 -62 -2 -123 l3 -109 120 0 120 0 0 120 0 120
                        -118 3 c-91 2 -119 0 -123 -11z"/>
                        </g>
                        </svg>
                    </div>
                    <p class="text-muted mb-0 text-small ml-1 w-90">{{tripdetail.destination_address}}</p>
                  </a>
                  <a href="javascript:;" class="d-flex align-items-center" *ngIf="tripAddress && tripAddress.length==0">
                    <div class="pin-svg" style="width : 24px">
                      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                        width="16" height="16" viewBox="0 0 68.000000 68.000000"
                        preserveAspectRatio="xMidYMid meet">
                        <metadata>
                          Created by potrace 1.16, written by Peter Selinger 2001-2019
                        </metadata>
                        <g transform="translate(0.000000,68.000000) scale(0.100000,-0.100000)"
                         stroke="none">
                        <path d="M203 656 c-72 -34 -137 -97 -173 -169 -26 -52 -30 -71 -30 -141 0
                        -52 6 -99 17 -130 25 -68 100 -148 175 -185 54 -27 71 -31 147 -31 70 0 96 5
                        138 24 72 34 137 97 173 169 26 53 30 70 30 147 0 77 -4 94 -30 147 -36 72
                        -101 135 -173 169 -74 34 -200 34 -274 0z m245 -115 c158 -80 162 -300 9 -398
                        -36 -23 -53 -27 -117 -27 -64 0 -81 4 -117 27 -119 76 -149 224 -66 335 65 87
                        190 114 291 63z"/>
                        <path d="M268 480 c-105 -56 -116 -195 -22 -267 132 -100 315 59 232 202 -45
                        76 -135 104 -210 65z"/>
                        </g>
                      </svg>
                    </div>
                    <p class="text-muted mb-0 text-small ml-1 w-90">{{tripdetail.destination_address}}</p>
                  </a>

                </div>

              </div>
              <div class="row mb-4">
                <div class="col-xs-5 px-2 mb-2">
                  <div class="justify-content-center align-items-center card card-box p-2">
                    <a href="javascript:" class="w-100 text-center">
                      <p class="list-item-heading mb-1 truncate">{{tripdetail.currency}}
                        {{tripdetail.total.toFixed(_helper.to_fixed_number)}}</p>
                    </a>
                    <p class="mb-0 text-muted text-small">{{'label-title.price' | translate }}</p>
                  </div>
                </div>
                <div class="col-xs-5 px-2">
                  <div class="justify-content-center align-items-center card card-box p-2">
                    <a href="javascript:" class="w-100 text-center">
                      <p class="list-item-heading mb-1 truncate" *ngIf="tripdetail.trip_service_detail">
                        {{tripdetail.trip_service_detail.service_type_name}}</p>
                    </a>
                    <p class="mb-0 text-muted text-small">{{'label-title.service-type' | translate }}</p>
                  </div>
                </div>
              </div>
            </tab>

            <tab id="htmlContent" heading="{{'label-title.invoice' | translate }}" class="card-body"
            [ngClass]="{'pb-0':(tripdetail.is_user_invoice_show == 0)}">
            <div id="test_trip"></div>
              <div class="row d-flex flex-row justify-content-start justify-content-around mb-3">
                <div class="text-center col-4">
                  <p class="text-muted mb-1">{{'label-title.distance' | translate }}</p>
                  <p>{{tripdetail.total_distance.toFixed(_helper.to_fixed_number)}} {{'label-title.km' | translate }}</p>
                </div>
                <div class="text-center col-4">
                  <p class="text-muted mb-1">{{'label-title.time' | translate }}</p>
                  <p>{{tripdetail.total_time.toFixed(_helper.to_fixed_number)}} {{'label-title.min' | translate }}</p>
                </div>
                <div class="text-center col-4">
                  <p class="text-muted mb-1">{{'label-title.waiting-time' | translate }}</p>
                  <p>{{tripdetail.total_waiting_time.toFixed(_helper.to_fixed_number)}} {{'label-title.min' | translate }}</p>
                </div>
              </div>
              <div class="row invoice">
                <div class="col-12">
                  <div class="invoice-contents">
                    <table class="w-100 mb-3 border-0  h-auto" style="border-collapse: separate;">
                      <thead class="border-bottom">
                        <tr class="px-0 border-bottom">
                          <th>
                            <p class="mb-0 font-weight-bold">
                              {{'label-title.ride-charge' | translate }} 
                              <span *ngIf="case_number == 1">{{'label-title.airport-price-applied' | translate }}</span>
                              <span *ngIf="case_number == 2">{{'label-title.zone-price-applied' | translate }}</span>
                              <span *ngIf="case_number == 3">{{'label-title.city-price-applied' | translate }}</span>
                              <span *ngIf="case_number == 4">{{'label-title.fixed-price-applied' | translate }}</span>
                              <span *ngIf="case_number == 5">{{'label-title.minimum-fare-applied' | translate }}</span>
                            </p>
                          </th>
                          <th class="text-right pr-ltr-3">
                            <p class="mb-0 font-weight-bold text-rtl-left">{{tripdetail.currency}} {{totalcharge.toFixed(_helper.to_fixed_number)}}</p>
                          </th>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr class="mb-2 mt-0">
                          </td>
                        </tr>
                      </thead>
                      <tbody class="">
                        <!-- <tr *ngIf="tripservice.distance_cost > 0" > -->
                        <tr *ngIf="is_show_total">
                          <td class="px-0 py-1 d-flex">
                            <p class="mb-0" *ngIf="tripdetail.trip_service_detail"> {{'label-title.base-price' | translate }} ( {{tripdetail.currency}}{{tripdetail.trip_service_detail.base_price}}/{{tripdetail.trip_service_detail.base_price_distance}}{{'label-title.km' | translate }} )</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.base_distance_cost.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <!-- <tr *ngIf="tripservice.time_cost > 0" > -->
                        <tr *ngIf="is_show_total">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.distance-price' | translate
                              }} ( {{tripdetail.currency}}{{tripdetail.trip_service_detail.price_per_unit_distance}}/{{'label-title.km' | translate }} )</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.distance_cost.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="is_show_total">
                          <td class="px-0 py-1">
                            <p class="mb-0">
                              {{'label-title.time-price' | translate }} ( {{tripdetail.currency}}{{tripdetail.trip_service_detail.price_for_total_time}}/{{'label-title.min' |
                              translate }} )</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.time_cost.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="is_show_total">
                          <td class="px-0 py-1 d-flex">
                            <p class="mb-0">{{'label-title.wait-time-price' | translate }} ( {{tripdetail.currency}}{{tripdetail.trip_service_detail.price_for_waiting_time}}/{{'label-title.min'
                              | translate }} )</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.waiting_time_cost.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.stop_waiting_time_cost != 0 && is_show_total">
                          <td class="px-0 py-1 d-flex">
                            <p class="mb-0">{{'label-title.stops-wait-time-price' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.stop_waiting_time_cost.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="is_show_total && tripdetail.surge_fee > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.surge' | translate }} ( x{{tripdetail.surge_multiplier}} )</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.surge_fee.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr>
                        <!-- <tr *ngIf="tripdetail.is_min_fare_used != 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.min-fare' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.service.min_fare.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr> -->
                        <tr *ngIf="!is_show_total || (is_show_total && case_number == 5)">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.service-fees' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.total_after_surge_fees.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="w-100 mb-3 border-0  h-auto" style="border-collapse: separate;"
                      >
                      <thead class="border-bottom">
                        <tr class="px-0 border-bottom">
                          <th>
                            <p class="mb-0 font-weight-bold">{{'label-title.tax-charges' | translate }}</p>
                          </th>
                          <th class="text-right pr-ltr-3">
                            <p class="mb-0 font-weight-bold text-rtl-left">{{tripdetail.currency}} {{totalTax.toFixed(_helper.to_fixed_number)}}</p>
                          </th>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr class="mb-2 mt-0">
                          </td>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr>
                          <td class="px-0 py-1 d-flex">
                            <p class="mb-0  ">{{'label-title.user-tax' | translate }} ( {{tripdetail.trip_service_detail.user_tax.toFixed(_helper.to_fixed_number)}}% )</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.user_tax_fee.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 py-1 d-flex">
                            <p class="mb-0  ">{{'label-title.tax' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.tax_fee.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.user-miscellaneous-fee' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.user_miscellaneous_fee.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="w-100 mb-3 border-0  h-auto" style="border-collapse: separate;"
                      >
                      <thead class="border-bottom">
                        <tr class="px-0 border-bottom">
                          <th>
                            <p class="mb-0 font-weight-bold">{{'label-title.other-charges' | translate }}</p>
                          </th>
                          <th class="text-right pr-ltr-3">
                            <p class="mb-0 font-weight-bold text-rtl-left">{{tripdetail.currency}} {{totalOtherCharge.toFixed(_helper.to_fixed_number)}}</p>
                          </th>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr class="mb-2 mt-0">
                          </td>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr>
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.tip' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.tip_amount.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.toll' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.toll_amount.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="w-100 mb-3 border-0  h-auto" style="border-collapse:separate !important;">
                      <thead class="border-bottom">

                        <tr>
                          <td colspan="2">
                            <hr class="mb-2 mt-0">
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="w-100">
                            <table cellpadding="0" cellspacing="0" class="w-100 border-0  h-auto"
                              style="border-collapse:separate !important;">
                              <tbody>
                                <!-- <tr *ngIf="tripdetail.total_after_tax_fees > 0">
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0 text-muted text-rtl-left">{{'label-title.total-service-price' | translate }}
                                      <span *ngIf="case_number == 1">{{'label-title.airport-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 2">{{'label-title.zone-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 3">{{'label-title.city-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 4">{{'label-title.fixed-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 5">{{'label-title.minimum-fare-applied' | translate }}</span> :
                                    </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.total_after_tax_fees.toFixed(_helper.to_fixed_number)}}</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0 text-muted text-rtl-left">{{'label-title.subtotal' | translate }} :
                                    </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.total_after_user_tax_fees.toFixed(_helper.to_fixed_number)}}</p>
                                  </td>
                                </tr> -->
                                <tr *ngIf="tripdetail.is_cancellation_fee == 1">
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0">{{'label-title.cancellation-charge' | translate }} :
                                    </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.total.toFixed(_helper.to_fixed_number)}}</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0">{{'label-title.ride-charge' | translate }} 
                                      <span *ngIf="case_number == 1">{{'label-title.airport-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 2">{{'label-title.zone-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 3">{{'label-title.city-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 4">{{'label-title.fixed-price-applied' | translate }}</span>
                                      <span *ngIf="case_number == 5">{{'label-title.minimum-fare-applied' | translate }}</span> :
                                    </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{totalcharge.toFixed(_helper.to_fixed_number)}}</p>
                                  </td>
                                </tr>

                                <tr>
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0">{{'label-title.tax-charges' | translate }} :
                                    </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{totalTax.toFixed(_helper.to_fixed_number)}}</p>
                                  </td>
                                </tr>

                                <tr>
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0">{{'label-title.other-charges' | translate }} :
                                    </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{totalOtherCharge.toFixed(_helper.to_fixed_number)}}</p>
                                  </td>
                                </tr>

                                <tr *ngIf="tripdetail.promo_payment > 0">
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0">{{'label-title.promo-bonus' | translate }}
                                      : </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.promo_payment}}
                                    </p>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="px-0 py-1 text-left text-small">
                                    <p class="mb-0 font-weight-bold">{{'label-title.total' | translate }}
                                      : </p>
                                  </td>
                                  <td class="px-0 py-1 text-right">
                                    <p class="mb-0 font-weight-bold text-rtl-left">{{tripdetail.currency}} {{tripdetail.total.toFixed(_helper.to_fixed_number)}}</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="w-100 mb-3 border-0  h-auto" style="border-collapse: separate;"
                      *ngIf="userpayment>0">
                      <thead class="border-bottom">
                        <tr class="px-0 border-bottom">
                          <th>
                            <p class="mb-0 font-weight-bold">{{'label-title.user-payment' | translate }}</p>
                          </th>
                          <th class="text-right pr-ltr-3">
                            <p class="mb-0 font-weight-bold text-rtl-left" *ngIf="userpayment>0">
                              {{tripdetail.currency}} {{userpayment.toFixed(_helper.to_fixed_number)}}</p>
                          </th>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr class="mb-2 mt-0">
                          </td>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr *ngIf="tripdetail.cash_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.cash' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.cash_payment.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.card_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.card' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.card_payment.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.wallet_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.wallet' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.wallet_payment.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.remaining_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.remaining_payment' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}}
                              {{tripdetail.remaining_payment.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="w-100 mb-3 border-0  h-auto" style="border-collapse: separate;"
                      *ngIf="split_payment_users && split_payment_users.length>0">
                      <thead class="border-bottom">
                        <tr class="px-0 border-bottom">
                          <th>
                            <p class="mb-0 font-weight-bold">{{'label-title.split-user-payment' | translate }}</p>
                          </th>
                          <th></th>
                          <th class="text-right pr-ltr-3">
                            <p class="mb-0 font-weight-bold text-rtl-left" *ngIf="userpayment>0">
                              {{tripdetail.currency}} {{total_split_payment.toFixed(_helper.to_fixed_number)}}</p>
                          </th>
                        </tr>
                        <tr>
                          <td colspan="3">
                            <hr class="mb-2 mt-0">
                          </td>
                        </tr>
                      </thead>
                      <tbody class="" *ngFor="let user of split_payment_users">
                        <tr *ngIf="user.remaining_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.remaining_payment' | translate }}</p>
                          </td>
                          <td class="px-0 py-1">
                            <p class="mb-0">{{user.first_name}} {{user.last_name}} {{user.unique_id ? '(' + user.unique_id + ')' : '' }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{user.remaining_payment.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="user.cash_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.cash' | translate }}</p>
                          </td>
                          <td class="px-0">
                            <p class="mb-0">{{user.first_name}} {{user.last_name}} {{user.unique_id ? '(' + user.unique_id + ')' : '' }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{user.cash_payment.toFixed(_helper.to_fixed_number)}}
                            </p>
                          </td>
                        </tr>
                        <tr *ngIf="user.card_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.card' | translate }}</p>
                          </td>
                          <td class="px-0">
                            <p class="mb-0">{{user.first_name}} {{user.last_name}} {{user.unique_id ? '(' + user.unique_id + ')' : '' }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{user.card_payment.toFixed(_helper.to_fixed_number)}}
                            </p>
                          </td>
                        </tr>
                        <tr *ngIf="user.wallet_payment > 0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.wallet' | translate }}</p>
                          </td>
                          <td class="px-0">
                            <p class="mb-0">{{user.first_name}} {{user.last_name}} {{user.unique_id ? '(' + user.unique_id + ')' : '' }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{user.wallet_payment.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="w-100 mb-3 border-0  h-auto" style="border-collapse: separate;">
                      <thead class="border-bottom">
                        <tr class="px-0 border-bottom">
                          <th>
                            <p class="mb-0 font-weight-bold">{{'label-title.driver-earning' | translate }}</p>
                          </th>
                          <th class="text-right pr-ltr-3">
                            <p class="mb-0 font-weight-bold text-rtl-left">
                              {{tripdetail.currency}} {{tripdetail.provider_service_fees.toFixed(_helper.to_fixed_number)}}</p>
                          </th>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <hr class="mb-2 mt-0">
                          </td>
                        </tr>
                      </thead>
                      <tbody class="">
                        <tr>
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.driver-profit' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.provider_profit_fees.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.tip_amount!=0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.tip' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.tip_amount.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.toll_amount!=0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.toll' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.toll_amount.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.provider_tax_fee!=0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.driver-tax' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.provider_tax_fee.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <tr *ngIf="tripdetail.provider_miscellaneous_fee!=0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.driver-miscellaneous-fee' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.provider_miscellaneous_fee.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr>
                        <!-- <tr *ngIf="tripdetail.provider_service_fees!=0">
                          <td class="px-0 py-1">
                            <p class="mb-0">{{'label-title.driver-earning' | translate }}</p>
                          </td>
                          <td class="px-0 py-1 text-right">
                            <p class="mb-0 text-rtl-left">{{tripdetail.currency}} {{tripdetail.provider_service_fees.toFixed(_helper.to_fixed_number)}}</p>
                          </td>
                        </tr> -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </tab>
            
            <tab heading="{{'label-title.status' | translate }}" class="card-body">

              <div class="mb-3 border-bottom">
                <ol class="order-step">
                  <li class="border-transparent pb-3">
                    <span class="font-weight-bold">{{'label-title.created' | translate}} </span>
                    <p class="">{{tripdetail.user_create_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}}
                    </p>
                  </li>
                  <li class="border-transparent pb-3" *ngIf="tripdetail.is_provider_accepted == 1">
                    <span class="font-weight-bold">{{'label-title.accepted' | translate}}</span>
                    <p class=""> {{tripdetail.accepted_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}}
                    </p>

                  </li>
                  <li class="border-transparent pb-3"
                    *ngIf="tripdetail.is_provider_accepted == 1 && tripdetail.is_provider_status >= 4 ">
                    <span class="font-weight-bold">{{'label-title.arrived' | translate}}</span>
                    <p class=""> {{tripdetail.provider_arrived_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}} </p>
                    <span class="" *ngIf="total_wait_time >= 0">{{'label-title.total_waiting_time' | translate}} :
                      {{(total_wait_time / 60).toFixed(0)}} {{'label-title.min' | translate}}
                    </span>
                    <span class="" *ngIf="total_wait_time < 0">{{'label-title.wating_time_start_after' |
                      translate}} : {{-(total_wait_time/60).toFixed(0)}} {{'label-title.min' | translate}}
                    </span>
                  </li>
                  <li class="border-transparent pb-3"
                    *ngIf="tripdetail.is_provider_accepted == 1 && tripdetail.is_provider_status >= 6 ">
                    <span class="font-weight-bold">{{'label-title.started' | translate}}</span>
                    <p class=""> {{tripdetail.provider_trip_start_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}} </p>
                    <span class="">{{'label-title.total_time' | translate}} : {{tripdetail.total_time}}
                      {{'label-title.min' | translate}}</span><br>
                    <span class="">{{'label-title.total_distance' | translate}} : {{tripdetail.total_distance}} <span
                        *ngIf="tripdetail.unit == 1">{{'label-title.km' | translate}}</span><span
                        *ngIf="tripdetail.unit == 0">{{'label-title.miles' | translate}}</span></span>
                  </li>
                  <ng-container
                    *ngFor="let data of tripdetail.actual_destination_addresses;let first = first ; let last = last ; let i = index">
                    <li class="border-transparent pb-3" *ngIf="!first">
                      <span class="font-weight-bold">{{'label-title.started' | translate}} {{'label-title.from' |
                        translate}} {{i }}</span>
                      <p class=""> {{data.start_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}} </p>
                    </li>
                    <li class="border-transparent pb-3"
                      *ngIf="data.arrived_time && (!last || tripdetail.is_provider_status != 9 )">
                      <span class="font-weight-bold">{{'label-title.arrived' | translate}} {{'label-title.at' |
                        translate}} {{ i + 1 }}</span>
                      <p class=""> {{data.arrived_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}} </p>
                    </li>
                  </ng-container>

                  <li class="border-transparent pb-3"
                    *ngIf="tripdetail.is_provider_accepted == 1 && tripdetail.is_provider_status >= 9 ">
                    <span class="font-weight-bold">{{'label-title.complete' | translate}}</span>
                    <p class=""> {{tripdetail.provider_trip_end_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}}</p>
                  </li>
                  <li class="border-transparent pb-3"
                    *ngIf="tripdetail.is_trip_cancelled == 1">
                    <span class="font-weight-bold">{{'label-title.cancelled' | translate}}</span>
                    <p class=""> {{tripdetail.provider_trip_end_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A}}</p>
                  </li>
                </ol>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
          <form (ngSubmit)="downloadPdf()">
            <app-state-button type="submit" [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState" [isDisabled]="buttonDisabled" click="downloadPdf()">
              {{'button-title.download-pdf' | translate}}
            </app-state-button>
          </form>
        </div>
      </div>
    </div>
  </modal-container>
</ng-template>