<div class="row">
        <div class="col-12 col-sm-6 mb-3" *ngFor="let item of data">
            <div class="card">
                <div class="card-body">
                    <p class="lead mb-1 text-primary">{{item.value}}</p>
                    <p class="text-muted font-weight-semibold mb-0 text-small">{{item.title | translate}}</p>
                </div>
            </div>
        </div>
</div>
