<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.rental-package' | translate }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="rental_form" noPasteDrop>
                        <div class="form-group d-flex justify-content-between">
                            <p for="inputEmail3" class="mb-0">{{'label-title.business' | translate}}</p>
                            <div class="custom-control custom-switch"><input type="checkbox" id="is_business"
                                    class="custom-control-input" formControlName="is_business">
                                <label for="is_business" class="custom-control-label">
                                </label>
                            </div>
                        </div>
                        <div class="mt-4 border-bottom d-flex">
                            <label class="px-0 col-6 col-sm-6 d-flex align-items-center mb-4">{{'label-title.package-name' | translate }}</label>
                            <div class="position-relative col-6 col-sm-6 mb-4">
                                <input type="text" class="form-control" formControlName="typename">
                                <div *ngIf="rental_form.get('typename').errors?.required && rental_form.get('typename').touched"
                                    class="invalid-tooltip">
                                    {{'label-title.package-name' | translate}} {{'label-title.is-required' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 border-bottom">
                            <div class="form-group  row">
                                <div class="col-sm-8 col-8">
                                    <p for="tax" class="mb-0">{{'label-title.tax' |
                                        translate}}</p>
                                </div>
                                <div class="col-sm-4 col-4">
                                    <div class="input-group">
                                        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.number_validation($event);_helper.maxLengthValidation($event,3)" class="form-control" formControlName="tax">
                                        <div *ngIf="rental_form.controls['tax'].invalid"
                                            class="error errorShow">
                                            <span *ngIf="rental_form.controls['tax'].errors.required">
                                                {{'validation-title.this-is-required' | translate}}
                                            </span>
                                            <span
                                                *ngIf="rental_form.controls['tax'].errors.profitValueInvalid">
                                                {{'validation-title.profit-validation' | translate}}
                                            </span>
                                        </div>
                                        <div class="input-group-append"><span id="basic-addon1"
                                                class="input-group-text">%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 border-bottom">
                            <div class="form-group  row">
                                <div class="col-sm-8 col-8">
                                    <p for="inputEmail3" class="mb-0">{{'label-title.base-price' | translate}}</p>

                                </div>
                                <div class="col-sm-4 col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span id="basic-addon21"
                                                class="input-group-text">{{currencysign}}</span></div>
                                        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" class="form-control" formControlName="base_price">
                                        <div *ngIf="rental_form.get('base_price').errors?.required && rental_form.get('base_price').touched"
                                            class="invalid-tooltip">
                                            {{'validation-title.this-is-required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 border-bottom">
                            <div class="form-group  row">
                                <div class="col-sm-8 col-8">
                                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' |
                                        translate}}</p>

                                </div>
                                <div class="col-sm-4 col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span id="basic-addon22"
                                                class="input-group-text">
                                                <span *ngIf="unit==1">{{'label-title.km' | translate}}</span>
                                                <span *ngIf="unit==0">{{'label-title.mile' | translate}}</span>
                                            </span></div>
                                        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.number_validation($event)" class="form-control" formControlName="base_price_distance">
                                        <div *ngIf="rental_form.get('base_price_distance').errors?.required && rental_form.get('base_price_distance').touched"
                                            class="invalid-tooltip">
                                            {{'validation-title.this-is-required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 border-bottom">
                            <div class="form-group  row">
                                <div class="col-sm-8 col-8">
                                    <p for="inputEmail3" class="mb-0">{{'label-title.time-for-base-price' | translate}}
                                    </p>

                                </div>
                                <div class="col-sm-4 col-4">
                                    <div class="input-group">
                                        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.number_validation($event)" class="form-control" formControlName="base_price_time">
                                        <div *ngIf="rental_form.get('base_price_time').errors?.required && rental_form.get('base_price_time').touched"
                                            class="invalid-tooltip">
                                            {{'validation-title.this-is-required' | translate}}
                                        </div>
                                        <div class="input-group-append"><span id="basic-addon2"
                                                class="input-group-text">{{'label-title.min' | translate}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 border-bottom">
                            <div class="form-group  row">
                                <div class="col-sm-8 col-8">
                                    <p for="inputEmail3" class="mb-0">{{'label-title.Price-per-unit-distance' |
                                        translate}}</p>

                                </div>
                                <div class="col-sm-4 col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span id="basic-addon23"
                                                class="input-group-text">{{currencysign}}</span></div>
                                        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" class="form-control"
                                            formControlName="price_per_unit_distance">
                                        <div *ngIf="rental_form.get('price_per_unit_distance').errors?.required && rental_form.get('price_per_unit_distance').touched"
                                            class="invalid-tooltip">
                                            {{'validation-title.this-is-required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 border-bottom">
                            <div class="form-group  row">
                                <div class="col-sm-8 col-8">
                                    <p for="inputEmail3" class="mb-0">{{'label-title.Price-per-unit-time-min' |
                                        translate}}</p>

                                </div>
                                <div class="col-sm-4 col-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span id="basic-addon23"
                                                class="input-group-text">{{currencysign}}</span></div>
                                        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" class="form-control" formControlName="price_for_total_time">
                                        <div *ngIf="rental_form.get('price_for_total_time').errors?.required && rental_form.get('price_for_total_time').touched"
                                            class="invalid-tooltip">
                                            {{'validation-title.this-is-required' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-outline-primary"
                        (click)="close()">{{'button-title.cancel' | translate}}</button> -->
                    <button *ngIf="!rental_data" type="submit" class="btn btn-primary float-right"
                        [disabled]="btnDisable"
                        (click)="submitRentalPrice()">{{'button-title.submit' |
                        translate}}</button>
                    <button *ngIf="rental_data" type="submit" class="btn btn-primary float-right"
                        [disabled]="btnDisable"
                        (click)="submitRentalPrice()">{{'button-title.update' |
                        translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>