<!-- <app-list-page-header-modal-and-dropdown (addNewItem)="showDispatcherListModel()"></app-list-page-header-modal-and-dropdown> -->
<div class="row mb-4">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container text-zero w-fit-content" *ngIf="addbtn">
            <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" type="button" (click)="showDispatcherListModel()" class="top-right-button btn btn-primary btn-lg mr-1">{{ 'pages.add-new' | translate}}</button>
            <div class="btn-group">
                <button *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)" type="button" class="btn btn-outline-primary btn-lg flex-grow-1" (click)="export()">
                  {{ 'button-title.export' | translate | uppercase }} <span class="caret" ></span>
                </button>
            </div>
        </div>
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-12">
        <div class="display-options-container">
            
            <div  class="d-flex justify-content-between">
                <div class="d-flex flex-wrap">
                    <div class="d-inline-block mt-1" id="displayOptions">
                        <div class="d-inline-block mr-3 view-class c-pointer" [ngClass]="viewType===1? 'text-primary': ''" title="Grid View" (click)="onViewChange(1)">
                            <i class="simple-icon-grid"></i>
                        </div>
                        <div class="d-inline-block mr-3 view-class c-pointer" [ngClass]="viewType===2? 'text-primary': ''" title="List View" (click)="onViewChange(2)">
                            <i class="simple-icon-list"></i>
                        </div>
                    </div>
                    <div class="d-block d-md-inline-block position-relative" id="displayOptions" *ngIf="showOrderBy">
                        <div class="float-md-left mr-1 mb-1" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                            {{'button-title.search-by' | translate}} : {{itemOrder.label | translate}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let item of itemOptionsOrders" [ngClass]="item.isShow == false ? 'd-none' : ''"><a [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                            </ul>
                        </div>
                        
                    </div>

                    <div class="d-inline-block" id="displayOptions" *ngIf="showSearch">
                        <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                            <input class="form-control" (keypress)="_helper.space_validation($event)" [(ngModel)]="search_value" (keyup.enter)="apply(search_value)"  placeholder="{{'label-title.search' | translate }}" >
                        </div>  
                    </div>
                    <div class=" d-inline-block float-left float-sm-none mr-1 mb-1 align-top">
                        <div class="float-md-left" dropdown>
                            <button id="button-basic3" type="button" class="btn btn-primary btn-xs mr-1 mb-1" (click)="apply(search_value)">
                                {{'button-title.apply' | translate}} <span class="caret"></span>
                            </button>
                            <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1 mb-1" (click)="clear()" [disabled]="search_value == '' && !isFilterApply">
                                {{'button-title.clear-filter' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="float-right" id="displayOptions" *ngIf="showItemsPerPage"> 
                    <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate}} </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        {{itemsPerPage}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                        <li role="menuitem" *ngFor="let item of itemOptionsPerPage" >
                            <a [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeItemsPerPage(item)">{{item | translate}}</a>
                        </li>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator mb-4"></div>
<div class="row">
    <div class="col-12">
        <!-- <tabset class="separator-tabs"> -->
            <!-- <tab heading="{{'label-title.dispatchers' | translate | uppercase}}"> -->
                <div class="row" *ngIf="viewType === 1">
                    <div *ngFor="let list of list_data | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}" class="col-12 col-sm-12 col-lg-6 col-xl-4 ng-star-inserted">
                        <div class="card d-flex flex-row mb-4">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-sm-row justify-content-between min-width-zero">
                                    <div class="min-width-zero col-7 pl-0 pr-2">
                                        <a href="javascript:;" (click)="showDispatcherSettingModal(list._id)">
                                            <p class="list-item-heading mb-1 truncate">{{list.first_name}} {{list.last_name}} ({{list.unique_id}})</p>
                                            <p class="mb-1 list-item-heading truncate">{{list.country_phone_code}} {{list.phone}}</p>
                                            <p class="mb-0 text-muted text-small truncate">{{list.email | lowercase}}</p>
                                        </a>
                                    </div>
                                    <div class="min-width-zero text-sm-right d-flex flex-column justify-content-between col-5 pr-0 pl-2">
                                        <p class="mb-1 truncate text-right"> {{'heading-title.country' | translate}} : {{list.country | translate}}</p>
                                        <div class="d-flex justify-content-end fl-wrap"><button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="button" class="btn btn-xs btn-outline-primary" (click)="showDispatcherSettingModal(list._id)">{{'button-title.edit' | translate}}</button> <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" class="btn btn-xs btn-outline-danger" (click)="deleteItem(list)">{{'button-title.delete' | translate}}</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100" *ngIf="list_data.length == 0">
                        <div class=" text-center text-capitalize">
                            {{'label-title.no-record-found' | translate}}</div>
                    </div>
                </div>
                <div class="col-12 list" *ngIf="viewType === 2">
                    <div [ngClass]="{'card d-flex flex-row mb-3': true}" *ngFor="let list of list_data | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}; let i=index" [contextMenu]="basicMenu"
                        [contextMenuSubject]="user">
                        <div class="pl-2 d-flex flex-grow-1 min-width-zero" >
                            <div class="d-flex w-100 card-body ">
                                <div class="align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero w-100 align-items-lg-center c-pointer"  (click)   ="showDispatcherSettingModal(list._id)">
                                    <a class="w-30 w-sm-100">
                                        <p class="list-item-heading mb-0 truncate">{{list.first_name}} {{list.last_name}} ({{list.unique_id}})</p>
                                    </a>
                                    <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">{{list.country_phone_code}} {{list.phone}}</p>
                                    <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{list.email}}</p>
                                    <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100"> {{'heading-title.country' | translate}} : {{list.country | translate}}</p>
                                </div>
                                <div class="w-sm-100 align-self-center">
                                    <div class="d-flex flex-column flex-lg-row align-items-end">
                                            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="button" class="btn btn-xs btn-outline-primary mx-2 my-1 my-lg-0" (click)="showDispatcherSettingModal(list._id)">{{'button-title.edit' | translate}}</button> <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" class="btn btn-xs btn-outline-danger my-1 my-lg-0" (click)="deleteItem(list)">{{'button-title.delete' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="w-100" *ngIf="list_data.length == 0">
                        <div class=" text-center text-capitalize">
                            {{'label-title.no-record-found' | translate}}</div>
                    </div>
                </div>
                <div class="row" *ngIf="list_data.length != 0">
                    <div class="col-12">
                        <div class=" mb-4">
                            <div class="col-12 d-flex justify-content-center">
                                <pagination-controls (pageChange)="pageChanged($event)" previousLabel="{{'wizard.previous' | translate}}"
                                nextLabel="{{'wizard.next' | translate}}" [responsive]="true" [ngClass]="darkMode ? 'dark' : ''"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </tab> -->
        <!-- </tabset> -->
    </div>
</div>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{dispatcher.first_name}} {{dispatcher.last_name}}  ({{dispatcher.unique_id}}) </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu.dispatcher' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button> -->
        <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>
<app-dispatcher-list-model #dispatcherListModel></app-dispatcher-list-model>
<app-dispatcher-setting-modal #dispatcherSettingModel></app-dispatcher-setting-modal>
