<app-light-page-header-with-date3></app-light-page-header-with-date3>

<div class="row">
    <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'heading-title.id' | translate}}</th>
                            <th scope="col">{{ 'heading-title.user' | translate}}</th>
                            <th scope="col">{{ 'heading-title.phone' | translate}}</th>
                            <th scope="col">{{ 'heading-title.referral' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data">
                            <th scope="row">{{d.id}}</th>
                            <td>{{d.name}}</td>
                            <td>{{d.phone}}</td>
                            <td><span class="badge badge-{{d.referralColor}}">{{d.referral | translate}}</span></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'heading-title.id' | translate}}</th>
                            <th scope="col">{{ 'heading-title.user' | translate}}</th>
                            <th scope="col">{{ 'heading-title.phone' | translate}}</th>
                            <th scope="col">{{ 'heading-title.referral' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of data">
                            <th scope="row">{{d.id}}</th>
                            <td>{{d.name}}</td>
                            <td>{{d.phone}}</td>
                            <td><span class="badge badge-{{d.referralColor}}">{{d.referral | translate}}</span></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>