<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'survey.add-new-title' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div>
            <label>{{ 'survey.title' | translate }}</label>
            <input type="email" class="form-control" >
        </div>
        <div class="mt-4">
            <label>{{ 'survey.label' | translate }}</label>
            <label class="w-100">
              <ng-select appearance="outline" [searchable]="false">
                  <ng-option *ngFor="let item of labels" [value]="item.value">{{item.label | translate}}
                  </ng-option>
              </ng-select>
          </label> </div>
        <div class="mt-4">
            <label>{{ 'survey.category' | translate }}</label>
            <label class="w-100">
              <ng-select appearance="outline" [searchable]="false">
                  <ng-option *ngFor="let item of categories" [value]="item.value">{{item.label | translate}}
                  </ng-option>
              </ng-select>
          </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'survey.cancel' | translate }}</button>
        <button type="submit" class="btn btn-primary float-right">{{ 'survey.submit' | translate}}</button>
    </div>
</ng-template>
