<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.city-list' | translate }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled mb-5">
                        <li *ngFor="let p of data3" class="border-bottom mb-3">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" [id]="'category1'+p.title">
                                <label class="custom-control-label" [for]="'category1'+p.title">{{p.title | translate}}</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate}}</button>
                    <button type="submit" class="btn btn-primary float-right">{{'button-title.update' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
