<div class="row">
    <div *ngFor="let k of data" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
        <div class="card">
            <div class="position-absolute card-top-buttons">
                <button class="btn btn-outline-white icon-button ">
                  <i class="simple-icon-pencil"></i>
                </button>
            </div>
            <img src="{{k.img}}" alt="Card image cap" class="card-img-top">
            <div class="card-body">
                <!-- <a routerlink="./" href="javascript:;"> -->
                    <p class="h5 font-weight-normal mb-3">{{k.country | translate}}</p>
                    <p class="h5 font-weight-normal mb-3 text-muted">
                        <span>{{k.code}}</span>
                        <span *ngFor="let c of k.currency">&nbsp;&nbsp;{{c}}</span>
                    </p>
                <!-- </a> -->
                <footer>
                    <p class="text-muted text-small mb-2">{{'pages.driver-payment' | translate}}</p>
                    <p class="mb-0">{{k.payment | translate}}</p>
                </footer>
            </div>
        </div>
    </div>
</div>
  