<div class="container-fluid loader_container" *ngIf="_apiService.get_api_is_loading || _apiService.post_api_is_loading || _apiService.getwithparams_api_is_loading || _apiService.postwithheader_is_loading">
    <div class="dashboard-wrapper">
        <div class="loading"></div>
    </div>
</div>