.loader_container{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
  }