<div class="row">
    <div class="col-12">
        <div>
            <h1>{{'heading-title.basic-settings' | translate}} </h1>
            <div class="top-right-button-container mb-2">
                <div dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-lg flex-grow-1 dropdown-toggle">
                      {{'button-title.action' | translate}} <span class="caret"></span>
            </button>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{'dropdowns.action' | translate}}</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{'dropdowns.action' | translate}}</a></li>
                    </ul>
                </div>
            </div>
            <app-breadcrumb></app-breadcrumb>
            <div class="separator mb-5"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-4">
        <accordion [isAnimated]="true">
            <accordion-group heading="{{'collapse.basicapp' | translate}}" [panelClass]="'border'" [isOpen]="true">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-2">
                            <label for=""> {{'label-title.admin-country' | translate}}</label>
                            <input type="text" id="" class="form-control" value="India">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-2">
                            <label for="">{{'label-title.admin-currency-code' | translate}}</label>
                            <input type="text" id="" class="form-control" value="INR">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="">{{'label-title.admin-currency' | translate}}</label>
                    <input type="text" id="" class="form-control" value="$">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-2">
                            <label for="">{{'label-title.admin-time-zone' | translate}}</label>
                            <input type="text" id="" class="form-control" value="Asia/Kolkata">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-2">
                            <label for="inputState">{{'label-title.display-date-timezone' | translate}}</label>
                            <select id="inputState" class="form-control">
                            <option selected="">Europe/Brussels</option>
                            <option>...</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="">{{'label-title.admin-phone-number' | translate}}</label>
                    <input type="text" id="" class="form-control" value="45435 53454">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-2">
                            <label for="inputState">{{'label-title.display-date-timeZone' | translate}}</label>
                            <select id="inputState" class="form-control">
                            <option selected="">Europe/Brussels</option>
                            <option>...</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-2">
                            <label for="">{{'label-title.provider-timeout-in-seconds' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="20">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.provider-offline-time' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="600">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.provider-offline-time' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="600">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes' | translate}}</button>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-lg-6 col-md-12 mb-4">
        <accordion [isAnimated]="true">
            <accordion-group heading="{{'collapse.notification' | translate}}" [panelClass]="'border'" [isOpen]="true">
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10 col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="customSwitch12" class="custom-control-input" checked>
                                    <label for="customSwitch12" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="customSwitch13" class="custom-control-input" checked>
                                    <label for="customSwitch13" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="customSwitch121" class="custom-control-input" checked>
                                    <label for="customSwitch121" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="22" class="custom-control-input" checked>
                                    <label for="22" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="ds" class="custom-control-input" checked>
                                    <label for="ds" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="5" class="custom-control-input" checked>
                                    <label for="5" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="23" class="custom-control-input" checked>
                                    <label for="23" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="88" class="custom-control-input" checked>
                                    <label for="88" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="form-group row">
                        <div class="col-sm-10  col-10">
                            <p class="mb-0 font-weight-bold">{{'label-title.sms-notification' | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{'label-title.send-sms-notification' | translate}}</p>
                        </div>
                        <div class="col-sm-2 col-2">
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" id="08" class="custom-control-input" checked>
                                    <label for="08" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes' | translate}}</button>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-lg-6 col-md-12 mb-4">
        <accordion [isAnimated]="true">
            <accordion-group heading="{{'collapse.theme' | translate}}" [panelClass]="'border'" [isOpen]="true">
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1">Logo</label>
                    <img src="../../../../../assets/logos/mobile.svg" alt=" image" id="logo_img" height="45" style="margin-left: 15px; padding-bottom: 5px;">
                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i>Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Please Upload image in .png format (dimention: 250 x 250 ).</small>
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1">Title Icon</label>
                    <img src="../../../../../assets/logos/black.svg" alt=" image" id="logo_img" height="45" style="margin-left: 15px; padding-bottom: 5px;">
                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i> Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Please Upload image in .png format (dimention: 45 x 45 ) .</small>
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1">Mail Title Image </label>
                    <img src="../../../../../assets/logos/mobile.svg" alt=" image" id="logo_img" height="45" style="margin-left: 15px; padding-bottom: 5px;">
                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i>Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Please Upload image in .png format (dimention: 1024 x 265).</small>
                </div>
                <div class="form-group mb-4">
                    <label for="exampleInputEmail1">Title Icon</label>
                    <img src="../../../../../assets/logos/black.svg" alt=" image" id="logo_img" height="45" style="margin-left: 15px; padding-bottom: 5px;">
                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i> Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Please Upload image in .png format (dimention: 45 x 45 ) .</small>
                </div>
                <div class="mb-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes' | translate}}</button>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-md-12 mb-4">
        <accordion [isAnimated]="true">
            <accordion-group heading="{{'collapse.iOS' | translate}}" [panelClass]="'border'" [isOpen]="true">
                <div class="form-group mb-2">
                    <label for="inputState">Certificate Mode</label>
                    <select id="inputState" class="form-control">
                        <option selected="">Sandbox</option>
                        <option>Production</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1">iOS User app push Certificate</label>

                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i>Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>

                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1">iOS User app push Key file</label>

                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i> Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>

                </div>
                <div class="form-group mb-2">
                    <label for="">iOS User app push passphrase</label>
                    <div class="input-group">
                        <input type="text" class="form-control" value="123456">
                        <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="exampleInputEmail1">iOS Provider app push Certificate</label>

                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i>Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>

                </div>
                <div class="form-group mb-4">
                    <label for="exampleInputEmail1">iOS Provider app push Key file</label>

                    <div class="input-group">
                        <div class="custom-file"><input type="file" id="inputGroupFile04" class="custom-file-input">
                            <label for="inputGroupFile04" class="custom-file-label"><i class="simple-icon-magnifier mr-1"></i> Choose a file</label>
                        </div>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"><i  class=" iconsminds-upload-1 mr-1"></i>Upload</button></div>
                    </div>

                </div>
                <div class="mb-4" style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes' | translate}}</button>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
