<div class="row">
    <div class="col-12">
        <div>
            <app-heading></app-heading>
            <app-breadcrumb></app-breadcrumb>
        </div>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-between pb-3">
                            <div class="float-left float-none-xs">
                                <div class="d-inline-block">
                                    <h5 class="d-inline">{{'heading-title.payment-configuration' | translate }}</h5>
                                </div>
                            </div>
                            <div class="btn-group float-right float-none-xs mb-4">
                                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs" (click)="onClickPaymentSetting()"> {{ !is_edit_Payment_settings ? ('button-title.edit' | translate) : ('button-title.save' | translate) }} </button>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">{{'label-title.default-payment-gateway' | translate }}</p>
                                    <p class="text-muted mb-0 text-small" [ngClass]="is_edit_Payment_settings?'d-none':'d-block'">Stripe</p>
                                    <input type="text" name="" id="" class="mt-2 form-control" [ngClass]="is_edit_Payment_settings?'d-block':'d-none'">
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">{{'label-title.stripe-secret-key' | translate }}</p>
                                    <p class="text-muted mb-0 text-small" [ngClass]="is_edit_Payment_settings?'d-none':'d-block'">sk_test_cwDsE5y2790ZcAVpJqRCsSRy</p>
                                    <input type="text" name="" id="" class="mt-2 form-control" [ngClass]="is_edit_Payment_settings?'d-block':'d-none'">
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                            <div class="flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">{{'label-title.stripe-publishable-key' | translate }}</p>
                                    <p class="text-muted mb-0 text-small" [ngClass]="is_edit_Payment_settings?'d-none':'d-block'">pk_test_IUvvGvH07OcYt8mNu6rbCo1F</p>
                                    <input type="text" name="" id="" class="mt-2 form-control" [ngClass]="is_edit_Payment_settings?'d-block':'d-none'">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
