<ng-template #template>
    <div class="modal-header">
        <!-- <h4 class="modal-title pull-left">{{'pages.add-new-modal-title' | translate}}</h4> -->
        <h4 class="modal-title pull-left">{{'heading-title.add-service-type' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="inputState">{{'label-title.country' | translate}}</label>
            <select id="inputState" class="form-control">
                <option selected="">{{'label-title.select-country' | translate}}</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group mt-4">
            <label for="inputState">{{'label-title.city-area' | translate}}</label>
            <select id="inputState" class="form-control">
                <option selected="">{{'label-title.select-city-area' | translate}}</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group mt-4">
            <label for="inputState">{{'label-title.service-type' | translate}}</label>
            <select id="inputState" class="form-control">
                <option selected="">{{'label-title.select-service-type' | translate}}</option>
                <option>...</option>
            </select>
        </div>
        <div class="mt-4 border-bottom">
            <div class="form-group  row">
                <div class="col-sm-7 col-7">
                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                </div>
                <div class="col-sm-5 col-5">
                    <div class="input-group"><input type="text" class="form-control">
                        <div class="input-group-append"><span id="basic-addon2" class="input-group-text">km</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-bottom">
            <div class="form-group  row">
                <div class="col-sm-7 col-7">
                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                </div>
                <div class="col-sm-5 col-5">
                    <div class="input-group ">
                        <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-bottom">
            <div class="form-group  row">
                <div class="col-sm-7 col-7">
                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                </div>
                <div class="col-sm-5 col-5">
                    <div class="input-group ">
                        <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-bottom">
            <div class="form-group  row">
                <div class="col-sm-7 col-7">
                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                </div>
                <div class="col-sm-5 col-5">
                    <div class="input-group ">
                        <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-bottom">
            <div class="form-group  row">
                <div class="col-sm-7 col-7">
                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                </div>
                <div class="col-sm-5 col-5">
                    <div class="input-group"><input type="text" class="form-control">
                        <div class="input-group-append"><span id="basic-addon2" class="input-group-text">min</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-bottom">
            <div class="form-group  row">
                <div class="col-sm-7 col-7">
                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                </div>
                <div class="col-sm-5 col-5">
                    <div class="input-group ">
                        <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 border-bottom">
            <div class="form-group  row">
                <div class="col-sm-7 col-7">
                    <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                </div>
                <div class="col-sm-5 col-5">
                    <div class="input-group ">
                        <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-primary"
            (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button> -->
            <button type="button" class="btn btn-outline-primary"
            (click)="setting()">{{'button-title.set-tax-settings' | translate}}</button>
        <!-- <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button> -->
        <button type="submit" class="btn btn-primary float-right">{{'button-title.submit' | translate}}</button>
    </div>
</ng-template>