<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" *ngIf="listData">{{listData.first_name}} {{listData.last_name}} ({{listData.unique_id}})
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <tabset class="card-tabs " [justified]="true">
                        <tab heading="{{'label-title.details' | translate }}" class="card-body"
                            (selectTab)="selectedTab(1)">
                            <form [formGroup]="userDetailForm" class="ng-invalid ng-dirty ng-touched" appFocus>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-12 py-3 text-center ">
                                        <a href="javascript::">
                                            <input id="file" type="file" (change)="onSelectImageFile($event , 1)"
                                                #profile />
                                            <img alt="Profile"
                                                (error)="$event.target.src = _helper.DEFAULT_IMAGE.USER_SQUARE"
                                                [src]="userImage != '' ? userImage : _helper.DEFAULT_IMAGE.USER_SQUARE"
                                                class="img-thumbnail border-0 rounded list-thumbnail user-profile align-self-center user-profile">
                                        </a>
                                        <div class="position-absolute card-bottom-buttons" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                            <button type="button" class="btn btn-outline-primary icon-button"
                                                (click)="profile.click()">
                                                <i class="{{ ('simple-icon-pencil')}}"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center d-sm-none d-block">
                                        <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' | translate}}</span>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-12 my-auto">
                                        <div class="form-group">
                                            <label for="first_name">{{'label-title.first-name' | translate }}</label>
                                            <input type="text" id="first_name" name="first_name"
                                                formControlName="first_name" required="" class="form-control"
                                                (keypress)="_helper.space_validation($event)">
                                            <div *ngIf="userDetailForm.get('first_name').errors?.required && userDetailForm.get('first_name').touched"
                                                class="invalid-tooltip">
                                                {{'label-title.first-name' | translate}} {{'required' | translate }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name">{{'label-title.last-name' | translate }}</label>
                                            <input type="text" id="last_name" name="last_name"
                                                formControlName="last_name" required="" class="form-control"
                                                (keypress)="_helper.space_validation($event)">
                                            <div *ngIf="userDetailForm.get('last_name').errors?.required && userDetailForm.get('last_name').touched"
                                                class="invalid-tooltip">
                                                {{'label-title.last-name' | translate}} {{'required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-none d-sm-block">
                                        <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' | translate}}</span>
                                    </div>
                                    <div class="col-12 mt-sm-3">
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="phone">
                                                        {{'label-title.phone' | translate }}
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend w-20">
                                                            <input type="text" class="form-control text-center"
                                                                formControlName="country_phone_code" readonly>
                                                        </div>
                                                        <input type="text" id="phone" name="phone" onDrop="return false" onPaste="return false"
                                                            formControlName="phone" [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8" [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"
                                                            aria-describedby="basic-addon1" class="form-control"
                                                            (keypress)="_helper.phone_number_validation($event)"
                                                             [readOnly]="requestList?.is_show_phone == false" noPasteDrop> 
                                                        <div *ngIf="userDetailForm.get('phone').errors && userDetailForm.get('phone').touched"
                                                            class="invalid-tooltip">
                                                            <span *ngIf="userDetailForm.get('phone').errors.required">
                                                                {{'validation-title.phone-is-reqiured' | translate}}
                                                            </span>
                                                            <span *ngIf="userDetailForm.get('phone').errors.minlength ">
                                                                {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;{{'validation-title.character-requires' | translate}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="email">{{'label-title.email' | translate }}</label>
                                                    <div class="input-group">
                                                        <input type="email" id="email" formControlName="email"
                                                            aria-describedby="basic-addon2" 
                                                            class="form-control" [readOnly]="requestList?.is_show_email == false">
                                                        <div *ngIf="userDetailForm.get('email').errors && userDetailForm.get('email').touched"
                                                            class="invalid-tooltip">
                                                            <!-- <span *ngIf="userDetailForm.get('email').errors.required">
                                                                {{'validation-title.email-is-reqiured' | translate}}
                                                            </span> -->
                                                            <span
                                                                *ngIf="userDetailForm.get('email').errors.email || userDetailForm.get('email').errors.pattern">{{'validation-title.enter-valid-email'
                                                                | translate}} </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="city">{{'label-title.city' | translate }}</label>
                                                    <ng-select appearance="outline" #agreeSelect labelForId="city"
                                                        formControlName="city" [searchable]="false" [clearable]="false"
                                                        placeholder="{{'label-title.choose' | translate}}" notFoundText="{{'validation-title.city-not-available' | translate}}">
                                                        <ng-option *ngFor="let city of destinationCityList"
                                                            [value]="city.cityname">{{city.cityname}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group search-address">
                                                    <label for="address">{{'label-title.address' | translate }}</label>
                                                    <input type="text" id="address" name="address" formControlName="address" placeholder="" aria-describedby="basic-addon1" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="zip-code">{{'label-title.zip-code' | translate
                                                        }}</label>
                                                    <input type="text" id="zip_code" minlength="5" maxlength="10"
                                                        formControlName="zip_code" name="zip_code" class="form-control"
                                                        (keypress)="_helper.phone_number_validation($event)" noPasteDrop>
                                                    <div *ngIf="userDetailForm.get('zip_code').errors && userDetailForm.get('zip_code').touched"
                                                        class="invalid-tooltip">
                                                        <span
                                                            *ngIf="userDetailForm.get('zip_code').errors.minlength">{{'validation-title.min-5-character-requires'
                                                            | translate}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="password">{{'label-title.change-password' | translate
                                                        }}</label>
                                                    <input type="password" id="password" minlength="6"
                                                        formControlName="password" name="password" class="form-control">
                                                    <div *ngIf="userDetailForm.get('password').errors && userDetailForm.get('password').touched"
                                                        class="invalid-tooltip">
                                                        <span
                                                            *ngIf="userDetailForm.get('password').errors.minlength">{{'validation-title.min-6-character-requires'
                                                            | translate}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngIf="listData && listData.corporate_user && listData.corporate_user.length > 0">
                                    <h5>{{'label-title.corporate-details' | translate }}</h5>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <p class="text-muted mb-0">{{'label-title.name' | translate }}</p>
                                            <p class="mb-0">{{listData.corporate_user[0].name}}</p>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div>
                                    <h5>{{'label-title.other-details' | translate }}</h5>
                                    <div class="row mb-3" *ngIf="listData">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.registered-date' | translate }}
                                            </p>
                                            <p *ngIf="timezone_for_display_date">{{_helper.moment(listData.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.DD_MM_YY)}} - {{_helper.moment(listData.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</p>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.app-version' | translate }}</p>
                                            <span *ngIf="listData.device_type">{{listData.device_type | titlecase}} 
                                                <span *ngIf="listData.app_version">: {{listData.app_version}}</span></span>
                                        </div>
                                    </div>
                                    <div class="row mb-3" *ngIf="requestList">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.request' | translate }}</p>
                                            <p>{{requestList.total_request}}</p>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.completed' | translate }}</p>
                                            <p>{{requestList.completed_request}}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.wallet' | translate }}</p>
                                            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-baseline"
                                                *ngIf="listData">
                                                <span class="h4 mb-0 mr-2">{{listData.wallet_currency_code}}
                                                    {{listData.wallet.toFixed(_helper.to_fixed_number)}}</span>
                                                <div *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                                                <a class="color-theme-1 c-pointer" *ngIf="userStatus"
                                                    (click)="onAddWallet();modalRef.hide()">{{'button-title.add-in-wallet'
                                                    | translate}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.redeem-point' | translate }}</p>
                                            <span class="h6 mb-0 mr-2" *ngIf="listData?.total_redeem_point">
                                                {{listData?.total_redeem_point}}</span>
                                            <span class="h6 mb-0 mr-2" *ngIf="!listData?.total_redeem_point">
                                                0</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="{{'label-title.documents' | translate }}" class="card-body"
                            (selectTab)="selectedTab(2)">
                            <div class="col-12 mb-3" *ngIf="userDocument && userDocument.length>0">
                                <p class="text-primary mb-0"> {{'validation-title.please-upload-document-in-formate' | translate}}</p>
                            </div>
                            <div class="card mb-4 doc" *ngFor="let document of userDocument; let i=index">
                                <div class="card-body p-0 w-100 d-flex">
                                    <div class="w-40 d-flex align-items-center">
                                        <a href="javascript::" class="w-100 position-relative">
                                            <div class="position-absolute card-bottom-buttons">
                                                <input id="docfileInput" type="file"
                                                    (change)="onSelectImageFile($event,2)" />
                                                <button
                                                    *ngIf="!document.is_edit_doc && (document.document_picture != IMAGE_URL) && document.is_download == true && _helper.has_permission(_helper.PERMISSION.EXPORT)"
                                                    class="btn btn-outline-primary icon-button"
                                                    (click)="onDownload(document.document_picture,document.name)">
                                                    <i class="simple-icon-cloud-download"></i>
                                                </button>
                                                <button *ngIf="document.is_edit_doc" type="button"
                                                    class="btn btn-outline-primary icon-button"
                                                    onclick="document.getElementById('docfileInput').click();">
                                                    <i class="simple-icon-pencil"></i>
                                                </button>
                                            </div>
                                            <img (error)="$event.target.src = DEFAULT_IMAGE"
                                                class="dInfo-card-img-left documnet_img p-2"
                                                [src]="document.document_picture ? document.document_picture : DEFAULT_IMAGE"
                                                [alt]="document.name" *ngIf="document.document_picture.split('.').pop() != 'pdf'">
                                            <img class="dInfo-card-img-left documnet_img p-2"
                                                src="../../../../assets/default_images/pdf_img.png"
                                                [alt]="document.name" *ngIf="document.document_picture.split('.').pop() == 'pdf'">
                                            <span
                                                class="badge badge-pill badge-theme-2 position-absolute badge-top-left"
                                                *ngIf="document.is_document_expired">{{'label-title.expired'
                                                | translate }}</span>
                                        </a>
                                    </div>
                                    <div class="w-60 p-3">
                                        <a href="javascript:;" >
                                            <h5 class="card-title w-55 font-weight-bold mb-2">{{document.name |
                                                titlecase}}<span class="text-danger"
                                                    *ngIf="document.option == 1">*</span></h5>
                                        </a>
                                        <div class="mb-2">
                                            <div class="form-group mb-2" *ngIf="document.is_expired_date == true">
                                                <label for="edate">{{'label-title.expired-date' | translate}}</label>
                                                <p class="mb-2" *ngIf="!document.is_edit_doc">{{document.expired_date |
                                                    date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                                <p class="mb-2"
                                                    *ngIf="!document.is_expired_date || (!document.expired_date && !document.is_edit_doc)">
                                                    ---</p>
                                                <input type="text" *ngIf="document.is_edit_doc"
                                                    placeholder="{{'label-title.expiry-date' | translate }}"
                                                    class="form-control background-unset" [showWeeks]="false"
                                                    calendarWeeks="false" bsDatepicker [container]="'html'"
                                                    [(ngModel)]="document.expired_date" name="expired_date{{i}}"
                                                    #expired_date="ngModel" required [minDate]="todayDate"
                                                    [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' , showWeekNumbers:false}"
                                                    [readOnly]="true">
                                                <div *ngIf="document.is_edit_doc && document.is_expired_date && !document.expired_date && document.is_update_clicked == true"
                                                    class="invalid-tooltip">
                                                    {{'validation-title.expired-date-is-required' | translate}}
                                                </div>
                                            </div>
                                            <div class="form-group mb-2" *ngIf="document.is_unique_code == true">
                                                <label for="ucode">{{'label-title.unique-code' | translate}}</label>
                                                <p class="mb-2" *ngIf="!document.is_edit_doc">{{document.unique_code}}
                                                </p>
                                                <p class="mb-2"
                                                    *ngIf="!document.is_unique_code || (!document.unique_code && !document.is_edit_doc)">
                                                    ---</p>
                                                <input type="text" *ngIf="document.is_edit_doc" name="unique_code{{i}}"
                                                    placeholder="{{'label-title.unique-code' | translate}}"
                                                    class="form-control" [(ngModel)]="document.unique_code"
                                                    #unique_code="ngModel" required>
                                                <div *ngIf="document.is_edit_doc && document.is_unique_code && !document.unique_code && document.is_update_clicked == true"
                                                    class="invalid-tooltip">
                                                    {{'validation-title.unique-code-is-required' | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-absolute card-top-buttons" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                    <button type="submit" *ngIf="document.is_edit_doc"
                                        (click)="updateDocuments(document)"
                                        class="btn btn-outline-primary btn-xs mb-1"
                                        [ngClass]="{'btn-disabled':(document.is_expired_date && !document.expired_date) || (document.is_unique_code && !document.unique_code)}">{{'button-title.update'
                                        |
                                        translate}}</button>
                                    <button type="button" *ngIf="!document.is_edit_doc" (click)="onEdit(document, i)"
                                        [disabled]="is_edit_doc == true"
                                        [ngClass]="{'btn-disabled':(is_edit_doc == true)}"
                                        class="btn btn-outline-primary btn-xs mb-1">{{'button-title.edit' |
                                        translate}}</button>
                                </div>
                            </div>
                            <div *ngIf="userDocument">
                                <div *ngIf="userDocument.length == 0" class="text-center text-capitalize d-flex align-items-center justify-content-center" style="height: calc(100vh - 300px);">
                                    {{'label-title.no-document-found' | translate}}</div>
                            </div>


                        </tab>
                        <tab heading="{{'label-title.referral' | translate }}" class="card-body"
                            (selectTab)="selectedTab(3)">
                            <div class="border-bottom" *ngIf="listData">
                                <h5 class="font-weight-bold ">{{'label-title.referral-code' | translate }} :
                                    {{listData.referral_code}}
                                </h5>
                            </div>
                            <div *ngFor="let list of userReferral">
                                <div class="">
                                    <div class="d-flex flex-row border-bottom mb-4">
                                        <a href="javascript:;" class="d-flex">
                                            <img alt="Profile"
                                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center"
                                                (error)="$event.target.src = _helper.DEFAULT_IMAGE.USER_PROFILE"
                                                [src]="list.picture != '' ? _helper.image_url + list.picture : _helper.DEFAULT_IMAGE.USER_PROFILE">
                                        </a>
                                        <div class="d-flex flex-grow-1 w-100">
                                            <div
                                                class="pl-0 card-body align-self-center d-flex flex-column flex-sm-row justify-content-between w-100">
                                                <div class="min-width-zero w-60">
                                                    <a href="javascript:;">
                                                        <p class="list-item-heading mb-1 truncate">{{list.first_name}}
                                                            {{list.last_name}}</p>
                                                    </a>
                                                    <p class="mb-1 list-item-heading">{{list.country_phone_code}}
                                                        {{list.phone}}</p>
                                                    <p class="mb-2 text-muted text-small">{{list.email}}</p>
                                                </div>
                                                <div class="min-width-zero w-40">
                                                    <p class="mb-2 text-sm-right" *ngIf="timezone_for_display_date">{{_helper.moment(list.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.DD_MM_YY)}} <br /> {{_helper.moment(list.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}} 
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center"
                                style="height: calc(100vh - 270px);" *ngIf="userReferral == ''">
                                {{'label-title.no-referral-history-found' | translate}}
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer" *ngIf="tab == 1">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" class="btn btn-danger"
                        (click)="deleteItem();modalRef.hide()">{{'button-title.delete' | translate }}</button>
                    <button type="submit" class="btn btn-outline-info float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'completed_requests')"
                        (click)="getHistory()">{{'button-title.history' | translate
                        }}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="submit" class="btn btn-primary float-right"
                        (click)="userUpdate()">{{'button-title.save' | translate
                        }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="listData">{{listData.first_name}} {{listData.last_name}}  ({{listData.unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'heading-title.user' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' |
            translate}}</button> -->
        <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>

<ng-template #addWalletModelTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="listData"> {{'heading-title.add-in-wallet' | translate}} ( {{listData.first_name}} {{listData.last_name}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addWalletModelRef.hide();wallet_amount = 0;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>{{'label-title.amount' | translate}}</label>
        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" class="form-control mb-2" (keyup)="wallet_amount_validator($event)"
            (keypress)="_helper.decimalNum_validation($event)" [(ngModel)]="wallet_amount"
            placeholder="{{'label-title.amount' | translate}}" noPasteDrop>
        <div *ngIf="isError && wallet_amount > max_number" class="text-danger">{{'label-title.enter-smaller-number' |
            translate}}</div>
        <div *ngIf="isError && wallet_amount <= max_number" class="text-danger">{{'label-title.enter-valid-number' |
            translate}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="wallet_amount <= 0 || wallet_amount > max_number"
            (click)="addWalletAmount(wallet_amount)">{{'button-title.save' | translate}}</button>
    </div>
</ng-template>