<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card mb-4 d-lg-block">
            <div class="position-absolute card-top-buttons">
                <button class="btn btn-xs btn-outline-primary mt-2" (click)="edit2()">
                    {{ !editData ? ('button-title.edit' | translate) : ('button-title.save' | translate) }}
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{'label-title.user-payment-setting' | translate}}</h5>
                <div *ngFor="let p of data1; let i=index;" class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                      <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{p.title | translate}}</p>
                        <p class="text-muted mb-0 text-small">{{p.detail | translate}}</p>
                      </a>
                    </div>
                    <div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" [id]="'customSwitch3'+i" class="custom-control-input">
                            <label [for]="'customSwitch3'+i" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card mb-4 d-lg-block">
            <div class="position-absolute card-top-buttons">
                <button class="btn btn-xs btn-outline-primary mt-2" (click)="driverWalletSetting()">
                    {{ 'button-title.edit' | translate}}
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{'label-title.driver-wallet-setting' | translate}}</h5>
                <div *ngFor="let p of data2; let i=index;" class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                      <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{p.title | translate}}</p>
                        <p class="text-muted mb-0 text-small">{{p.detail | translate}}</p>
                      </a>
                    </div>
                    <div>
                        <div *ngIf="p.toggleSwitch" class="custom-control custom-switch">
                            <input type="checkbox" [id]="'customSwitch4'+i" class="custom-control-input">
                            <label [for]="'customSwitch4'+i" class="custom-control-label"></label>
                        </div>
                        <div *ngIf="!p.toggleSwitch" class="input-group">
                            <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div><input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
        <div class="card mb-4 d-lg-block">
            <div class="position-absolute card-top-buttons">
                <button class="btn btn-xs btn-outline-primary mt-2" (click)="cityList()">
                    {{ 'button-title.edit' | translate}}
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{'label-title.city-list-fot-fixed-price' | translate}}</h5>
                <div *ngFor="let p of data3; let i=index;" class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                      <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{p.title | translate}}</p>
                        <p *ngIf="p.detail" class="text-muted mb-0 text-small">{{p.detail | translate}}</p>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-driver-wallet-setting #driverWalletSettingModal></app-driver-wallet-setting>
<app-city-list #cityListModal></app-city-list>
<app-add-new-city-modal #addNewModalRef4></app-add-new-city-modal>