<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- <div class="float-left float-none-xs">
                <div class="d-inline-block"> -->
                    <h5 class="card-title mb-3">{{'heading-title.google-places-api-key' | translate }}</h5>
                <!-- </div>
            </div> -->
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3" (click)="showGoogleKeySettingModal()"> 
                    {{'button-title.edit' | translate }} </button>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.android-user-app-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.android_user_app_google_key}}</p>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.android-driver-app-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.android_provider_app_google_key}}</p>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.ios-user-app-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.ios_user_app_google_key}}</p>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.ios-driver-app-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.ios_provider_app_google_key}}</p>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.web-app-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.web_app_google_key}}</p>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.road-api-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.road_api_google_key}}</p>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.android-places-auto-complete-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.android_places_autocomplete_key}}</p>
                </a>
            </div>
        </div>
        <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center overflow-auto">
            <div class="flex-fill">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.ios-places-auto-complete-google-key' | translate}}</p>
                    <p class="text-muted mb-0 text-small">{{setting_detail.ios_places_autocomplete_key}}</p>
                </a>
            </div>
        </div>
    </div>
</div>
<app-google-key-setting-modal #googleKeySettingModal (google_key_data)="getSettingData()"></app-google-key-setting-modal>
