<app-list-page-header [showSearch]="showSearch" [showItemsPerPage]="showItemsPerPage"
  [showDisplayMode]="showDisplayMode" [showdropdown]="showdropdown" [showOrderBy]="showOrderBy"
  (addNewItem)="showAddNewModal()"></app-list-page-header>
<div class="row mt-2">
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/Black.jpg"></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Black </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/BlackSUV.jpg"></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Black SUV </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/Comfort.jpg"></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Comfort </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/Flash.jpg"><span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Business OFF</span></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Flash </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/generic-scooter.jpg"><span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Business OFF</span></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Scooters </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/jump-no-logo.jpg"></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Bikes </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/Lux.jpg"></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Lux </h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
        <div class="card mb-4">
            <div class="position-relative"><a routerlink="#" ng-reflect-router-link="#"
                    href="#"><img alt="Card image cap" class="card-img-top"
                        src="../../../../../../assets/img/Taxi/Pool.jpg"><span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Business OFF</span></a>
            </div>
            <div class="card-body"><a routerlink="#" ng-reflect-router-link="#"
                    href="#">
                    <h6 class="mb-0 listing-heading ellipsis text-center"> Pool </h6>
                </a>
            </div>
        </div>
    </div>
</div>
<app-add-new-car-service-modal  #addNewModalRef8></app-add-new-car-service-modal>