<div class="card mb-4">
  <div class="card-body">
    <!-- <div
      [class]="i===comments.length-1 ? 'd-flex flex-row mb-3 pb-3 justify-content-between': 'd-flex flex-row mb-3 pb-3 border-bottom justify-content-between'">
      <div class="pl-3">
        <h5 class="card-title">{{ 'pages.comments' | translate }}</h5>
      </div>
      <div class="btn-group float-right float-none-xs mt-2"><button id="button-basic" type="button"
          aria-controls="dropdown-basic" class="btn btn-outline-primary btn-xs"> edit </button></div>
    </div> -->
    <div [class]="'d-flex flex-row pb-3 justify-content-between'">
      <div class="float-left float-none-xs">
        <div class="d-inline-block">
          <h5 class="d-inline">{{'heading-title.price' | translate}}</h5>
        </div>
      </div>
      <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" 
          type="button"  class="btn btn-outline-primary btn-xs " (click)="onAddNew()"
          > {{'button-title.edit' | translate}} </button>
      </div>
    </div>
    <!-- <div class="d-flex flex-row mb-3 pb-3 border-bottom" *ngFor="let comment of comments">
      <a href="javascript:;">
        <img [src]="comment.thumb" [alt]="comment.title"
          class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
      </a>
      <div class="pl-3 pr-2">
        <a href="javascript:;">
          <p class="font-weight-medium mb-0 ">{{ comment.title }}</p>
          <p class="text-muted mb-1 text-small">{{ comment.detail }}</p>
          <div>
            <rating [readonly]="true" [max]="5" [(ngModel)]="comment.rate" [customTemplate]="t2"></rating>
            <ng-template #t2 let-index="index" let-value="value">{{index < value ? '' : ''}}</ng-template>
          </div>
        </a>
      </div>
    </div> -->
    <div
      [class]="i===comments.length-1 ? 'd-flex flex-row mb-3 pb-3 justify-content-between': 'd-flex flex-row mb-3 pb-3 border-bottom justify-content-between'"
      *ngFor="let comment of comments; let i = index;">
      <!-- <a href="javascript:;">
        <img [src]="comment.thumb" [alt]="comment.title"
          class="img-thumbnail border-0 rounded-circle list-thumbnail align-self-center xsmall" />
      </a> -->
      <div class="pl-3 flex-grow-1">
        <a href="javascript:;">
          <p class="font-weight-medium mb-0 ">{{'label-title.distance-for-base-price' | translate}}</p>
          <p class="text-muted mb-1 text-small">{{'label-title.details' | translate}}</p>
          <!-- <div>
            <rating [readonly]="true" [max]="5" [(ngModel)]="comment.rate" [customTemplate]="t2"></rating>
            <ng-template #t2 let-index="index" let-value="value">{{index < value ? '' : ''}}</ng-template>
          </div> -->
        </a>
      </div>
      <div class="comment-likes">
        <span class="post-icon"><a href="#"><span>2 KM</span></a></span>
      </div>
    </div>
  </div>
</div>