<div class="row">
    <div class="col-12">
        <div>
            <app-heading></app-heading>
            <div class="top-right-button-container text-zero mb-2">
                <button type="button" class="top-right-button btn btn-outline-primary btn-lg mr-1"><i
            class="iconsminds-bar-chart-4 mr-1"></i>{{'button-title.export' | translate | uppercase}}</button>
            </div>
            <app-breadcrumb></app-breadcrumb>
            <div class="mb-2">
                <div class="d-inline-block position-relative mb-2 mr-2 ">
                    <div class="mr-1 mb-2" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-filter btn-xs dropdown-toggle" aria-controls="user-dropdown-basic">
              {{'button-title.search-by' | translate}} : {{itemUser.label}} <span class="caret"></span>
            </button>
                        <ul id="user-dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let user of itemUsers"><a [ngClass]="user.value === itemUser.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderByUser(user)">{{user.label}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search-sm d-inline-block mb-2  mr-3"><input placeholder="{{'label-title.search' | translate }}" class="form-control"></div>
                <div class="float-right ng-star-inserted  mr-3">
                    <span class="text-muted text-small">1-10 of 40 </span>
                    <span dropdown="" class="d-inline-block position-relative">
            <button type="button" data-toggle="dropdown" aria-haspopup="true"
              class="btn btn-outline-dark btn-xs dropdown-toggle"> 10 </button>
          </span>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <tabset class="separator-tabs">
            <tab heading="{{'label-title.approved' | translate | uppercase}}">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6 col-xl-4 ng-star-inserted">
                        <div class="card d-flex flex-row mb-4">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="position-absolute card-top-buttons">
                                    <div class="float-right">
                                        <div style="text-align: right;">
                                            <p class="mb-1">Rajkot</p>
                                        </div><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs"> {{'button-title.declined' | translate}}</button>
                                        <div class="mt-4 text-primary" style="text-align: right;"><i class="glyph-icon simple-icon-doc"></i></div>
                                    </div>
                                </div>
                                <a href="javascript:;" class="d-flex"><img alt="Profile" class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center" src="/assets/img/profiles/l-5.jpg"></a>
                                <div class="card-body pl-0 align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero c-pointer">
                                        <a href="javascript:void(0);" (click)="showPartnerSettingModal()">
                                            <h5 class="mb-0 font-weight-semibold color-theme-4 mb-1">Company Name here</h5>
                                            <label class="m-0">Liuvyn Obregon (325)</label>
                                            <label class="m-0">+91 7080907080 - liuvynliuvyn@gmail.com</label><label class="m-0">Address here</label>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'label-title.unapproved' | translate | uppercase}}">

            </tab>
        </tabset>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class=" mb-4">
            <div class="card-body">
                <pagination [totalItems]="155" [rotate]="true" [maxSize]="1" class="justify-content-center" [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
                </pagination>
            </div>
        </div>
    </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>

<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>
<app-partner-setting-modal #partnerSettingModal></app-partner-setting-modal>
