<app-list-page-header [displayMode]="displayMode" [itemOptionsPerPage]="[5,10,20]" [itemsPerPage]="itemsPerPage"
    (addNewItem)="showAddNewModal()" [selectAllState]="selectAllState">
</app-list-page-header>
<app-add-new-review-modal #addNewModalRef></app-add-new-review-modal>
<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card mb-4">
            <div class="position-absolute card-top-buttons">
                <div class="btn-group float-right float-none-xs mb-4">
                    <h2>85/100</h2>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title">User review</p>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="fiveRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 35(41%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=60></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="fourRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 25(29%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=40></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="threeRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 3(3.5%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=10></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="twoRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 7(8.5%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=20></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="oneRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 15(18%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=30></progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-4">
            <div class="position-absolute card-top-buttons">
                <div class="btn-group float-right float-none-xs mb-4">
                    <h2>75/100</h2>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title">Driver review</p>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="fiveRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 35(41%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=60></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="fourRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 25(29%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=40></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="threeRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 3(3.5%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=10></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="twoRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 7(8.5%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=20></progressbar>
                    </div>
                </div>
                <div class="mb-4 ">
                    <p class="mb-2">
                        <rating [readonly]="true" [max]="5" [(ngModel)]="oneRate" [customTemplate]="ttt"></rating>
                        <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                                <span class="float-right text-muted"> 15(18%) </span>
                    </p>
                    <div class="progress">

                        <progressbar [value]=30></progressbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-2 row ">
    <div class="col-lg-12 col-md-12 col-12 mb-4">
        <div class="card">
            <div class="card-body"  style="overflow-x:auto;">
                <table class="table">
                    <thead>
                        <tr  class="truncate">
                            <th scope="col">Ride</th>
                            <th scope="col">User</th>
                            <th scope="col">Driver</th>
                            <th scope="col">Price</th>
                            <th scope="col">User Rate</th>
                            <th scope="col">Drive Rate</th>
                            <th scope="col">Type</th>
                            <th scope="col">Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="truncate">
                            <th scope="row">1</th>
                            <td>Linn Rooming</td>
                            <td>Goldie Mossman</td>
                            <td>$25(cash)</td>
                            <td>5</td>
                            <td>5</td>
                            <td><button id="button-basic" type="button" class="btn btn-outline-success  btn-xs"> Mini
                                </button></td>
                            <td>2 Nov 03:30 PM</td>
                        </tr>
                        <tr  class="truncate">
                            <th scope="row">2</th>
                            <td>Linn Rooming</td>
                            <td>Goldie Mossman</td>
                            <td>$25(cash)</td>
                            <td>5</td>
                            <td>5</td>
                            <td><button id="button-basic" type="button" class="btn btn-outline-success  btn-xs"> Mini
                                </button></td>
                            <td>2 Nov 03:30 PM</td>
                        </tr>
                        <tr  class="truncate">
                            <th scope="row">3</th>
                            <td>Linn Rooming</td>
                            <td>--</td>
                            <td>$25(cash)</td>
                            <td>5</td>
                            <td>5</td>
                            <td><button id="button-basic" type="button" class="btn btn-outline-success  btn-xs"> Mini
                                </button></td>
                            <td>2 Nov 03:30 PM</td>
                        </tr>
                        <tr  class="truncate">
                            <th scope="row">4</th>
                            <td>Linn Rooming</td>
                            <td>--</td>
                            <td>$25(cash)</td>
                            <td>5</td>
                            <td>5</td>
                            <td><button id="button-basic" type="button" class="btn btn-outline-success  btn-xs"> Mini
                                </button></td>
                            <td>2 Nov 03:30 PM</td>
                        </tr>
                        <tr  class="truncate">
                            <th scope="row">5</th>
                            <td>Linn Rooming</td>
                            <td>Goldie Mossman</td>
                            <td>$25(cash)</td>
                            <td>5</td>
                            <td>5</td>
                            <td><button id="button-basic" type="button" class="btn btn-outline-success  btn-xs"> Mini
                                </button></td>
                            <td>2 Nov 03:30 PM</td>
                        </tr>
                        <tr  class="truncate">
                            <th scope="row">6</th>
                            <td>Linn Rooming</td>
                            <td>Goldie Mossman</td>
                            <td>$25(cash)</td>
                            <td>5</td>
                            <td>5</td>
                            <td><button id="button-basic" type="button" class="btn btn-outline-success  btn-xs"> Mini
                                </button></td>
                            <td>2 Nov 03:30 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>