<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.filter' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-2 border-bottom">
                        <div class="form-group "><label for="inputState">{{'label-title.country' | translate}}</label><select id="inputState" class="form-control"><option selected="">India</option><option>...</option></select></div>
                    </div>
                    <div class="mb-2 border-bottom">
                        <div class="form-group "><label for="inputState">{{'label-title.city' | translate}}</label><select id="inputState" class="form-control"><option selected="">{{'label-title.all' | translate}}</option><option>...</option></select></div>
                    </div>
                    <div class="mb-2 border-bottom">
                        <div class="form-group">
                            <label for="exampleInputEmail3">{{'label-title.start-date' | translate}}</label>
                            <input type="date" id="exampleInputEmail3" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-group">
                            <label for="exampleInputEmail3">{{'label-title.end-date' | translate}}</label>
                            <input type="date" id="exampleInputEmail3" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group"><button id="button-split" type="button" class="btn btn-outline-primary btn-lg mr-4"><i class="iconsminds-bar-chart-4 mr-1"></i>{{'button-title.export' | translate}}</button></div>
                    <button type="submit" class="btn btn-primary float-right">{{'button-title.apply' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>