<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.city-settings' | translate }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class=""><label>{{'label-title.timezone' | translate }}</label>
                        <div class="form-group "><select id="inputState" class="form-control"><option selected="">{{'label-title.select-timezone' | translate}}</option><option>...</option></select></div>
                    </div>
                    <div class="my-4"><label>{{'label-title.distance-unit' | translate }}</label>
                        <div class="form-group "><select id="inputState" class="form-control"><option selected="">Km</option><option>...</option></select></div>
                    </div>
                    <!-- <div class=""> -->
                        <div *ngFor="let p of data3; let i=index" class="d-flex flex-row mt-3 pb-3 justify-content-between align-items-center">
                            <div class="flex-fill">
                              <a href="javascript:;">
                                <p class="font-weight-medium mb-0">{{p.name | translate}}</p>
                                <p class="text-muted mb-0 text-small">{{p.status | translate}}</p>
                              </a>
                            </div>
                            <div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" [id]="'customSwitch2'+i" class="custom-control-input">
                                    <label [for]="'customSwitch2'+i" class="custom-control-label"></label>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate}}</button>
                    <button type="submit" class="btn btn-primary float-right">{{'button-title.update' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
