<div class="row">
    <div class="col-12">
      <div>
        <app-heading></app-heading>
        <div class="top-right-button-container mb-2">
          <div dropdown>
            <button dropdownToggle type="button" class="btn btn-outline-primary btn-lg flex-grow-1 dropdown-toggle">
              {{ 'pages.actions' | translate }} <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu">
              <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{'dropdowns.action' | translate}}</a></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{'dropdowns.action' | translate}}</a></li>
            </ul>
          </div>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <!-- <div class="separator mb-5"></div> -->
      </div>
      <tabset class="separator-tabs ml-0">
        <tab [heading]="('pages.user-terms-and-condition' | translate | uppercase)" class="tab-content">
          <div class="row">
            <div class="col-12">
                <div class="card editor-card mb-4">
                    <div class="card-body">
                      <h5 class="mb-4">{{'editors.quill-standart' | translate}}</h5>
                      <quill-editor [placeholder]="''"></quill-editor>
                    </div>
                </div>
            </div>
          </div>
        </tab>
        <tab [heading]="('pages.user-privacy-policy' | translate | uppercase)" class="tab-content">
          <div class="row">
            <div class="col-12"></div>
          </div>
        </tab>
        <tab [heading]="('pages.provider-terms-and-condition' | translate | uppercase)" class="tab-content">
            <div class="row">
              <div class="col-12"></div>
            </div>
          </tab>
        <tab [heading]="('pages.provider-privacy-policy' | translate | uppercase)" class="tab-content">
            <div class="row">
              <div class="col-12"></div>
            </div>
          </tab>
      </tabset>
    </div>
  </div>