#fileInput,
#file {
    display: none;
}

.success-log-indicator {
    width: 13px;
    height: 13px;
    border: 2px solid green;
    border-radius: 14px;
    display: inline-block;
}

.danger-log-indicator {
    width: 13px;
    height: 13px;
    border: 2px solid red;
    border-radius: 14px;
    display: inline-block;
}
