<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Marya Sibley</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">

                    <tabset class="card-tabs " [justified]="true">
                        <tab heading="{{ 'heading-title.details' | translate}}" class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 col-12 py-3 text-center">
                                    <input id="file" type="file" />
                                    <a href="javascript::" onclick="document.getElementById('file').click();">
                                        <img alt="Profile" src="/assets/img/profiles/l-1.jpg" class="img-thumbnail border-0 rounded list-thumbnail align-self-center user-profile">
                                    </a>
                                </div>
                                <div class="col-md-8 col-lg-8 col-12">
                                    <div class="form-group">
                                        <label for="name">{{'label-title.fname' | translate}}</label>
                                        <input type="text" name="first_name" class="form-control"  required>
                                        <!-- <div *ngIf="!first_name.valid && userForm.submitted" class="invalid-tooltip">{{'label-title.this-field-is-requried' | translate}}</div> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="name">{{'label-title.lname' | translate}}</label>
                                        <input type="text" name="last_name" class="form-control"  required>
                                        <!-- <div *ngIf="!last_name.valid && userForm.submitted" class="invalid-tooltip">{{'label-title.this-field-is-requried' | translate}}</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1">
                                <div class="form-group"><label for="phone">{{'label-title.email' | translate}}</label><input type="email" id="exampleInputEmail3" class="form-control"></div>
                                <!-- <label for="phone">{{'label-title.email' | translate}}</label>
                                <div class="input-group">
                                    <input type="email" [(ngModel)]="user_detail.email" #email="ngModel" name="email" aria-describedby="basic-addon1" class="form-control"  email required>
                                    <span class="ml-2" [class.color-success]="user_detail.is_email_verified" [class.color-danger]="!user_detail.is_email_verified" style="font-size: 20px; margin-right: 30px;">
                                                <div class="glyph-icon simple-icon-check mt-2" *ngIf="user_detail.is_email_verified">
                                                    <span class="ml-1 font-weight-bold"  style="font-size: 16px;">{{'label-title.verified' | translate }}</span>
                                </div> -->
                            </div>
                            <div class="mt-1">
                                <div class="form-group">
                                    <label for="number">{{'label-title.phone' | translate}}</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend"><span class="input-group-text">+91</span>
                                        </div><input type="text" class="form-control">

                                    </div>
                                </div>
                            </div>
                            <div class="mt-1">
                                <div class="form-group"><label for="exampleInputEmail5">{{'label-title.password' | translate}}</label><input type="password" id="exampleInputEmail5" class="form-control"></div>
                            </div>
                            <div class="mt-2 ">
                                <h5 class="mb-2">{{'label-title.wallet' | translate }}</h5>
                                <div class="form-group row border-bottom">
                                    <div class="col-sm-7 col-7">
                                        <h1><span class="iconsminds-wallet mr-1">$ 150.80</span></h1>
                                    </div>
                                    <div class="col-sm-5 col-5">
                                        <div>
                                            <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs ml-2 "> {{'button-title.add-amount' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <h5 class="mb-2">{{'heading-title.referral-history' | translate}}</h5>
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{'heading-title.date' | translate}}</th>
                                            <th scope="col">{{'heading-title.user' | translate}}</th>
                                            <th scope="col">{{'heading-title.phone' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="truncate">
                                            <th scope="row">1</th>
                                            <td>22 Nov 2020</td>
                                            <td>User 1</td>
                                            <td>+91 43235 24234</td>
                                        </tr>
                                        <tr class="truncate">
                                            <th scope="row">2</th>
                                            <td>30 Dec 2019</td>
                                            <td>User 3</td>
                                            <td>+91 43535 35432</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>

                        <tab heading="Document" class="card-body">
                            <div class="mt-2">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="truncate">
                                            <th scope="col">{{'heading-title.name' | translate}}</th>
                                            <th scope="col">{{'heading-title.ex-date-code' | translate}}</th>
                                            <th scope="col">{{'heading-title.doc' | translate}}</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="truncate">
                                            <th scope="row">1</th>
                                            <td>
                                                <p class="mb-1 truncate">25 Dec 2024</p>
                                                <p class="mb-2 text-muted text-small truncate">+GJ897896</p>
                                            </td>
                                            <td>
                                                <a href="#" class="d-block position-relative"><img class="list-thumbnail border-0" src="/assets/img/profiles/l-1.jpg">
                                                </a>
                                            </td>
                                            <td><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs "> {{'button-title.edit' | translate}} </button></td>
                                        </tr>
                                        <tr class="truncate">
                                            <th scope="row">2</th>
                                            <td>
                                                <p class="mb-1 truncate">25 Dec 2024</p>
                                                <p class="mb-2 text-muted text-small truncate">+GJ897896</p>
                                            </td>
                                            <td>
                                                <a href="#" class="d-block position-relative"><img class="list-thumbnail border-0" src="/assets/img/profiles/l-1.jpg">
                                                </a>
                                            </td>
                                            <td><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs "> {{'button-title.edit' | translate}} </button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                        <tab heading="History" class="card-body">
                            <div class="mt-2">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">{{'heading-title.first' | translate}}</th>
                                            <th scope="col">{{'heading-title.service' | translate}}</th>
                                            <th scope="col">{{'heading-title.price' | translate}}</th>
                                            <th scope="col">{{'heading-title.date' | translate}}</th>
                                            <th scope="col">{{'heading-title.details' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="truncate">
                                            <th scope="row"><span class="success-log-indicator align-middle"></span> 1</th>
                                            <td>Mark</td>
                                            <td>Sedan</td>
                                            <td>12</td>
                                            <td>5 dec</td>
                                            <td>12</td>
                                        </tr>
                                        <tr class="truncate">
                                            <th scope="row"><span class="danger-log-indicator align-middle"></span> 4850</th>
                                            <td>Mark</td>
                                            <td>Sedan</td>
                                            <td>12</td>
                                            <td>5 dec</td>
                                            <td>12</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </tab>
                    </tabset>

                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button id="button-split" type="button" class="btn btn-outline-primary ">{{'button-title.block-user' | translate}}</button>
                        <!--container-->
                    </div>

                    <button type="submit" class="btn btn-primary float-right">{{'button-title.submit' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
