<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.google-places-api-key' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="googleApiForm" class="tooltip-label-center">
                        <div class="form-group">
                            <label for="a-userkey">{{'label-title.android-user-app-google-key' | translate }}</label>
                            <input type="text" name="" id="a-userkey" class="form-control"
                                formControlName="android_user_app_google_key">
                            <!-- <div *ngIf="googleApiForm.get('android_user_app_google_key').errors?.required && googleApiForm.get('android_user_app_google_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.android-user-app-google-key' | translate}} {{'label-title.is-required' |
                                translate }}
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="a-providerkey">{{'label-title.android-driver-app-google-key' | translate
                                }}</label>
                            <input type="text" name="" id="a-providerkey" class="form-control"
                                formControlName="android_provider_app_google_key">
                            <!-- <div *ngIf="googleApiForm.get('android_provider_app_google_key').errors?.required && googleApiForm.get('android_provider_app_google_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.android-driver-app-google-key' | translate}} {{'label-title.is-required'
                                | translate }}
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="i-userkey">{{'label-title.ios-user-app-google-key' | translate }}</label>
                            <input type="text" name="" id="i-userkey" class="form-control"
                                formControlName="ios_user_app_google_key">
                            <!-- <div *ngIf="googleApiForm.get('ios_user_app_google_key').errors?.required && googleApiForm.get('ios_user_app_google_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.ios-user-app-google-key' | translate}} {{'label-title.is-required' |
                                translate }}
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="i-providerkey">{{'label-title.ios-driver-app-google-key' | translate }}</label>
                            <input type="text" name="" id="i-providerkey" class="form-control"
                                formControlName="ios_provider_app_google_key">
                            <!-- <div *ngIf="googleApiForm.get('ios_provider_app_google_key').errors?.required && googleApiForm.get('ios_provider_app_google_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.ios-driver-app-google-key' | translate}} {{'label-title.is-required' |
                                translate }}
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="webappkey">{{'label-title.web-app-google-key' | translate }}</label>
                            <input type="text" name="" id="webappkey" class="form-control"
                                formControlName="web_app_google_key">
                            <!-- <div *ngIf="googleApiForm.get('web_app_google_key').errors?.required && googleApiForm.get('web_app_google_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.web-app-google-key' | translate}} {{'label-title.is-required' | translate
                                }}
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="roadkey">{{'label-title.road-api-google-key' | translate }}</label>
                            <input type="text" name="" id="roadkey" class="form-control"
                                formControlName="road_api_google_key">
                            <!-- <div *ngIf="googleApiForm.get('road_api_google_key').errors?.required && googleApiForm.get('road_api_google_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.road-api-google-key' | translate}} {{'label-title.is-required' |
                                translate }}
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="a-autocompletekey">{{'label-title.android-places-auto-complete-google-key' |
                                translate }}</label>
                            <input type="text" name="" id="a-autocompletekey" class="form-control"
                                formControlName="android_places_autocomplete_key">
                            <!-- <div *ngIf="googleApiForm.get('android_places_autocomplete_key').errors?.required && googleApiForm.get('android_places_autocomplete_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.android-places-auto-complete-google-key' | translate}}
                                {{'label-title.is-required' | translate }}
                            </div> -->
                        </div>
                        <div class="form-group">
                            <label for="i-autocompletekey">{{'label-title.ios-places-auto-complete-google-key' |
                                translate }}</label>
                            <input type="text" name="" id="i-autocompletekey" class="form-control"
                                formControlName="ios_places_autocomplete_key">
                            <!-- <div *ngIf="googleApiForm.get('ios_places_autocomplete_key').errors?.required && googleApiForm.get('ios_places_autocomplete_key').touched"
                                class="invalid-tooltip">
                                {{'label-title.ios-places-auto-complete-google-key' | translate}}
                                {{'label-title.is-required' | translate }}
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button id="button-split" type="button" class="btn btn-outline-primary"
                        (click)="closeModal()">{{'button-title.cancel' | translate}}</button> -->
                    <button type="submit" class="btn btn-primary float-right" (click)="update()">
                        {{'button-title.update' | translate }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>