<div class="row mb-4">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container text-zero" *ngIf="addbtn">
            <button type="button" (click)="onAddNewItem()" class="top-right-button btn btn-primary btn-lg mr-1">{{'button-title.add-new' | translate | uppercase}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="display-options-container">
            <a class="btn pt-0 pl-0 d-inline-block d-sm-none c-pointer" data-toggle="collapse" 
            (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true" aria-controls="displayOptions">
                {{ 'pages.display-options' | translate}} {{' '}}
                <i class="simple-icon-arrow-down align-middle"></i>
            </a>
            <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
                <div class="d-inline-block" *ngIf="showSearch">
                    <div class="search-sm d-inline-block float-sm-left mr-1 mb-1 align-top">
                        <input class="form-control" placeholder="{{'label-title.search' | translate }}" (keyup)="onSearchKeyUp($event)">
                    </div>
                </div>
                <div class="d-block d-sm-inline-block position-relative" *ngIf="showOrderBy">
                    <div class="float-sm-left mr-1 mb-1" dropdown>
                        <button id="button-basic2" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic2">
                            {{'button-title.select-user-type' | translate}} <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic2">
                            <li role="menuitem">
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="check1" class="custom-control-input">
                                        <label for="check1" class="custom-control-label">...</label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-block d-sm-inline-block position-relative" *ngIf="showOrderBy">
                    <div class="float-sm-left mr-1 mb-1" dropdown>
                        <button id="button-basic3" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic3">
                            {{'button-title.country' | translate}} <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic3" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic3">
                            <li role="menuitem">
                                <a class="dropdown-item" href="javascript:;">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="check2" class="custom-control-input">
                                        <label for="check2" class="custom-control-label">...</label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-block d-sm-inline-block position-relative">
                    <div class="float-sm-left mr-1 mb-1" dropdown>
                        <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs">
                            {{'button-title.apply' | translate}} <span class="caret"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="separator mb-4"></div>
        </div>
    </div>
</div>