<!-- <app-list-page-header-without-checkbox
  [showOrderBy]="false" [showDisplayMode]="false" (searchKeyUp)="updateFilter($event)" [itemsPerPage]="itemsPerPage" [showItemsPerPage]="false" (addNewItem)="showAddNewModal()">
</app-list-page-header-without-checkbox>

<div class="row">
  <div class="col-12 mb-4 data-table-rows data-table-responsive">
    <ngx-datatable #myTable class="expandable" [columnMode]="ColumnMode.force" [rowHeight]="50" [rows]="rows"
      [footerHeight]="100" [limit]="itemsPerPage" [headerHeight]="20" (page)="onPage($event)">
      <ngx-datatable-row-detail [rowHeight]="190" (toggle)="onDetailToggle($event)" cellClass="datatable-row-detail">
        <ng-template let-column="column" let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="detail-content">
            <div class="d-flex flex-row">
              small screen collapse data 
              <div>
                <div class="text-muted mr-3 mb-1">
                  {{'label-title.user' | translate }}
                </div>
                <div class="text-muted mr-3 mb-1">
                  {{'label-title.driver' | translate }}
                </div>
                <div class="text-muted mr-3 mb-1">
                  {{'label-title.service' | translate }}
                </div>
                <div class="text-muted mr-3 mb-2">
                    {{'label-title.price' | translate }}
                </div>
                <div class="text-muted mr-3 mb-2">
                    {{'label-title.status' | translate }}
                </div>
                <div class="text-muted mr-3 pt-1 my-2">
                    {{'label-title.payment' | translate }}
                </div>
                <div class="text-muted mr-3 mb-0 mt-1">
                    {{'label-title.time' | translate }}
                </div>
              </div>
              small screen row  data
              <div>
                <div class="mb-1">
                  {{ row.user  | translate}}
                </div>
                <div class="mb-1">
                  {{ row.driver  | translate}}
                </div>
                <div class="mb-1">
                  {{ row.service  | translate}} <span class="badge badge-{{row.serviceColor}}">{{row.servicetype | uppercase | translate}}</span>
                </div>
                <div class="mb-1">
                  {{ row.price  | translate}}
                </div>
                <div class="mb-2">
                  <span class="badge badge-pill badge-{{row.statusColor}}">{{ row.status  | translate}}</span>
                </div>
                <div class="mb-2">
                  <span class="badge badge-pill badge-outline-{{row.paymentColor}}">{{ row.payment  | translate}}</span>
                </div>
                <div class="mb-1">
                  {{ row.time  | translate}}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column [width]="10" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false" class="expand-row-button" headerClass="expand-row-button">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)" class="d-block d-xl-none c-pointer">
            <i class="glyph-icon simple-icon-arrow-down"></i>
          </a>
        </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Title" [flexGrow]="0.3" [width]="85">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a class="c-pointer">{{ value  | translate}}</a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="User" [flexGrow]="0.2" headerClass="d-none d-xl-block" [width]="90">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">{{ value  | translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Driver" [flexGrow]="0.3" headerClass="d-none d-xl-block" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">{{ value  | translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Service" [flexGrow]="1" headerClass="d-none d-xl-block" [width]="100">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">{{ value  | translate}} <span class="badge badge-{{row.serviceColor}}">{{row.servicetype | uppercase}}</span></span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Price" [flexGrow]="1" headerClass="d-none d-xl-block" [width]="35">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">{{ value  | translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status" [flexGrow]="1" headerClass="d-none d-xl-block" [width]="75">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block"><span class="badge badge-pill badge-{{row.statusColor}}">{{ value  | translate}}</span></span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Payment" [flexGrow]="0.1" headerClass="d-none d-xl-block" [width]="65">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block"><span class="badge badge-pill badge-outline-{{row.paymentColor}}">{{ value  | translate}}</span></span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="time" name="Time" [flexGrow]="0.1" headerClass="d-none d-xl-block" [width]="115">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">{{ value  | translate}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-footer *ngIf="true">
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
          let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-limit="limit">
          <div class="w-100 d-flex justify-content-center">
            <pagination [totalItems]="rowCount" [itemsPerPage]="pageSize" [maxSize]="5" (pageChanged)="table.onFooterPage($event)"
            [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
            </pagination>
          </div>
        </ng-template>
      </ngx-datatable-footer>

    </ngx-datatable>
  </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>

<app-running-trip-modal #addNewModalRef></app-running-trip-modal> -->
