// .delete-icon{
//     display: none;
//     position: absolute;
//     right: -6px;
//     top: -6px;
//     font-size: 20px;
//     transition: 0.3s ease-in;
// }

// .card:hover{
//     .delete-icon{
//         display: block;
//     }
// }

.icon-button{
    font-size: 14px;
    line-height: 32px;
}