<div class="row">
    <div class="col-12">
        <div >
            <app-heading></app-heading>
            <div class="top-right-button-container mb-2 ">
                <button type="button" class="top-right-button btn btn-primary btn-lg mr-1"
                    (click)="addAdvertiseModal()">{{ 'button-title.add-new' | translate | uppercase}}</button>
            </div>
            <app-breadcrumb></app-breadcrumb>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 mb-4">
                <tabset class="separator-tabs">
                    <tab heading="{{'label-title.user' | translate | uppercase}}" (selectTab)="changeUserType(_helper.PANEL_TYPE.USER)">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center"
                                    *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
                                    <span>{{'label-title.no-record-found' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-12 col-sm-6 mb-4"
                                *ngFor="let cancellation_reason of cancellation_reasons">
                                <div class="card" (click)="editAdvertiseModal(cancellation_reason)">
                                    <div class="position-relative">
                                        <div class="w-100 pt-4 pr-3 pl-3 pb-4">

                                            <div class="float-right" style="margin-top: -5px;"> <button
                                                    class="btn btn-outline-primary icon-button"
                                                    (click)="$event.stopPropagation()"
                                                    (click)="onDelete(cancellation_reason)"><i
                                                        class="simple-icon-close"></i></button></div>
                                                        

                                            <h6 class="mb-0 ellipsis list-item-heading truncate">
                                                {{ cancellation_reason.reason ?
                                                cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'label-title.provider' | translate | uppercase}}" (selectTab)="changeUserType(_helper.PANEL_TYPE.PROVIDER)">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center"
                                    *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
                                    <span>{{'label-title.no-record-found' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-xl-34 col-lg-3 col-12 col-sm-6 mb-4"
                                *ngFor="let cancellation_reason of cancellation_reasons">
                                <div class="card" (click)="editAdvertiseModal(cancellation_reason)">
                                    <div class="position-relative">
                                        <div class="w-100 pt-4 pr-3 pl-3 pb-4">

                                            <div class="float-right" style="margin-top: -5px;"> <button
                                                    class="btn btn-outline-primary icon-button"
                                                    (click)="$event.stopPropagation()"
                                                    (click)="onDelete(cancellation_reason)"><i
                                                        class="simple-icon-close"></i></button></div>

                                            <h6 class="mb-0 ellipsis list-item-heading truncate">
                                                {{ cancellation_reason.reason ?
                                                cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'label-title.corporate' | translate | uppercase}}" (selectTab)="changeUserType(_helper.PANEL_TYPE.CORPORATE)">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center"
                                    *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
                                    <span>{{'label-title.no-record-found' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-xl-34 col-lg-3 col-12 col-sm-6 mb-4"
                                *ngFor="let cancellation_reason of cancellation_reasons">
                                <div class="card" (click)="editAdvertiseModal(cancellation_reason)">
                                    <div class="position-relative">
                                        <div class="w-100 pt-4 pr-3 pl-3 pb-4">

                                            <div class="float-right" style="margin-top: -5px;"> <button
                                                    class="btn btn-outline-primary icon-button"
                                                    (click)="$event.stopPropagation()"
                                                    (click)="onDelete(cancellation_reason)"><i
                                                        class="simple-icon-close"></i></button></div>

                                            <h6 class="mb-0 ellipsis list-item-heading truncate">
                                                {{ cancellation_reason.reason ?
                                                cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'menu.dispatcher' | translate | uppercase}}" (selectTab)="changeUserType(_helper.PANEL_TYPE.DISPATCHER)">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center"
                                    *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
                                    <span>{{'label-title.no-record-found' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-xl-34 col-lg-3 col-12 col-sm-6 mb-4"
                                *ngFor="let cancellation_reason of cancellation_reasons">
                                <div class="card" (click)="editAdvertiseModal(cancellation_reason)">
                                    <div class="position-relative">
                                        <div class="w-100 pt-4 pr-3 pl-3 pb-4">

                                            <div class="float-right" style="margin-top: -5px;"> <button
                                                    class="btn btn-outline-primary icon-button"
                                                    (click)="$event.stopPropagation()"
                                                    (click)="onDelete(cancellation_reason)"><i
                                                        class="simple-icon-close"></i></button></div>

                                            <h6 class="mb-0 ellipsis list-item-heading truncate">
                                                {{ cancellation_reason.reason ?
                                                cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="{{'menu.hotel' | translate | uppercase}}" (selectTab)="changeUserType(_helper.PANEL_TYPE.HOTEL)">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center"
                                    *ngIf="cancellation_reasons && cancellation_reasons.length === 0">
                                    <span>{{'label-title.no-record-found' | translate }}</span>
                                </div>
                            </div>
                            <div class="col-xl-34 col-lg-3 col-12 col-sm-6 mb-4"
                                *ngFor="let cancellation_reason of cancellation_reasons">
                                <div class="card" (click)="editAdvertiseModal(cancellation_reason)">
                                    <div class="position-relative">
                                        <div class="w-100 pt-4 pr-3 pl-3 pb-4">

                                            <div class="float-right" style="margin-top: -5px;"> <button
                                                    class="btn btn-outline-primary icon-button"
                                                    (click)="$event.stopPropagation()"
                                                    (click)="onDelete(cancellation_reason)"><i
                                                        class="simple-icon-close"></i></button></div>

                                            <h6 class="mb-0 ellipsis list-item-heading truncate">
                                                {{ cancellation_reason.reason ?
                                                cancellation_reason.reason[_lang.selectedlanguageIndex] : '' }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>

<app-add-new-cancellation-reason #addNewModalRef></app-add-new-cancellation-reason>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="selected_reason">{{selected_reason.reason[_lang.selectedlanguageIndex]}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmModelRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu.cancellation-reason' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' |
            translate}}</button> -->
        <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>