<div class="row">
    <div class="col-12">
        <div>
            <h1> {{ 'heading-title.user-terms-condition' | translate}}</h1>
            <div class="top-right-button-container mb-2">
                <div dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-lg flex-grow-1 dropdown-toggle">
                      {{ 'button-title.action' | translate}} <span class="caret"></span>
            </button>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li role="menuitem"><a class="dropdown-item" href="javascript:;">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:;">Another action</a></li>
                    </ul>
                </div>
            </div>
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>
<tabset class="separator-tabs">
    <tab heading="{{ 'heading-title.user-terms-condition' | translate | uppercase}}">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">{{ 'heading-title.user-terms-condition' | translate}}</h5>
                        <quill-editor></quill-editor>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-lg mb-4">{{ 'button-title.update-changes' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </tab>
    <tab heading="{{ 'heading-title.user-privacy-policy' | translate | uppercase}}">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">{{ 'heading-title.user-privacy-policy' | translate}}</h5>
                        <quill-editor [placeholder]="''"></quill-editor>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-lg mb-4">{{ 'button-title.update-changes' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </tab>
    <tab heading="{{'heading-title.provider-terms-and-condition' | translate | uppercase}}">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4">{{ 'heading-title.provider-terms-and-condition' | translate}}</h5>
                        <quill-editor [placeholder]="''"></quill-editor>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-lg mb-4">{{ 'button-title.update-changes' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </tab>
    <tab heading="{{ 'heading-title.provider-privacy-policy' | translate | uppercase}}">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4"> {{ 'heading-title.provider-privacy-policy' | translate}}</h5>
                        <quill-editor [placeholder]="''"></quill-editor>
                    </div>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-lg mb-4">{{ 'button-title.update-changes' | translate}}</button>
                    </div>
                </div>

            </div>
        </div>
    </tab>
</tabset>
