
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ 'dashboards.order-stock' | translate }}</h5>
        <div class="chart-container">
            <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions" [data]="barChartData"></app-bar-chart>
        </div>
    </div>
</div>


<!-- <div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">Orders</h5>
        <div class="chart-container">
            <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions" [data]="ChartData2"></app-bar-chart>
        </div>
    </div>
</div> -->

