.order-step li:last-child {
  border-left: none;
  margin-left: 3px;
}

.my-img {
  height: 14px;
  width: 14px;
  margin-right: 0.7rem;
}

.stop-addresses>div {
  border-left: 0.2em solid lightgray;
  padding: 0 0 1rem 1rem;
  position: relative;
}

// .stop-addresses div::before {
//   content: "";
//   background-image: url(../../../../assets/img/address/user_pin.svg);
//   background-size: 14px 14px;
//   background-repeat: no-repeat;
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   left: -8px;
//   svg{
//     fill: aqua;
//   }
// }

.mr-07 {
  margin-right: 0.7rem !important;
}

.profile-img {
  height: 40px;
  width: 40px;
}

tbody>tr>td {
  white-space: normal !important;
}

// .pin1 {
//   position: absolute;
//   top: 44%;
//   left: 25%;
//   margin-left: -115px;
//   border-radius: 50%;
//   border: 3px solid #1669c0;
//   width: 16px;
//   height: 16px;
//   transform: rotate(-45deg);
// }

// .pin1::after {
//   position: absolute;
//   content: "";
//   width: 10px;
//   height: 10px;
//   border-radius: 50%;
//   top: 50%;
//   left: 50%;
//   margin-left: -5px;
//   margin-top: -5px;
//   background-color: #1669c0;
//   border: 2px solid white;
// }