<div class="card">
    <div class="position-absolute card-top-buttons">
        <div class="position-absolute card-top-buttons">
            <div class="position-relative" dropdown>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;">{{'dashboards.sales' | translate}}</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;">{{'dashboards.orders' | translate}}</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" href="javascript:;">{{'dashboards.refunds' | translate}}</a>
                    </li>
                </ul>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-header-light icon-button"
                    aria-controls="dropdown-basic">
                    <i class="simple-icon-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ 'dashboards.quick-post' | translate}}</h5>
        <div class="dashboard-quick-post">
            <form>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ 'dashboards.title' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ 'dashboards.content' | translate }}</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">{{ 'dashboards.category' | translate }}</label>
                    <div class="col-sm-9">
                        <label class="w-100">
                            <ng-select appearance="outline" [searchable]="false">
                                <ng-option *ngFor="let item of categories" [value]="item.value">{{item.label | translate}}
                                </ng-option>
                            </ng-select>
                        </label>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-sm-12">
                        <button type="submit"
                            class="btn btn-primary float-right">{{ 'dashboards.save-and-publish' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
