<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" *ngIf="list_data">{{list_data.first_name}} {{list_data.last_name}} ({{list_data.unique_id}})</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            <form [formGroup]="dispactherSettingForm"  class="ng-invalid ng-dirty ng-touched" appFocus>
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="first_name">{{'label-title.first-name' | translate }}</label>
                                            <input type="text" id="first_name" formControlName="first_name" (keypress)="_helper.space_validation($event)"  required class="form-control">
                                            <div *ngIf="dispactherSettingForm.get('first_name').errors?.required && dispactherSettingForm.get('first_name').touched"    class="invalid-tooltip">
                                            {{'label-title.first-name' | translate}} {{'required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="last_name">{{'label-title.last-name' | translate }}</label>
                                            <input type="text" id="last_name" formControlName="last_name" (keypress)="_helper.space_validation($event)"  required="" class="form-control">
                                            <div *ngIf="dispactherSettingForm.get('last_name').errors?.required && dispactherSettingForm.get('last_name').touched"    class="invalid-tooltip">
                                                {{'label-title.last-name' | translate}} {{'required' | translate }}
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="phone">
                                                {{'label-title.phone' | translate }} 
                                                <!-- <a href="jacascript::" class="color-theme-1 ml-1">{{'label-title.send-sms' | translate }} </a> -->
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend w-20">
                                                    <input type="text" class="form-control text-center" formControlName="country_phone_code" readonly>
                                                </div>
                                                <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.phone_number_validation($event)" id="phone" formControlName="phone" aria-describedby="basic-addon1" [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8" [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"  required [readOnly]="request_list.is_show_phone == false"
                                                    class="form-control" noPasteDrop>
                                                    <div *ngIf="dispactherSettingForm.get('phone').errors && dispactherSettingForm.get('phone').touched"    class="invalid-tooltip">
                                                        <span *ngIf="dispactherSettingForm.get('phone').errors.required"> {{'validation-title.phone-is-reqiured' | translate}} </span>
                                                        <span *ngIf="dispactherSettingForm.get('phone').errors.minlength ">
                                                            {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;{{'validation-title.character-requires' | translate}}
                                                        </span>
                                                    </div>
                                                    <!-- <div *ngIf="dispactherSettingForm.get('phone').errors?.required && dispactherSettingForm.get('phone').errors?.minlength &&  dispactherSettingForm.get('phone').touched"    class="invalid-tooltip">
                                                        {{'label-title.phone' | translate}} {{'required' | translate }}
                                                    </div> -->
                                                    
                                                <!-- <div class="input-group-append">
                                                    <span class="input-group-text text-danger font-weight-bold border-0">
                                                        <i  class="glyph-icon simple-icon-close mr-1 h6 mb-0"></i>
                                                        <span class="font-weight-bold h6 mb-0">{{'label-title.not-verified' | translate}}</span>
                                                    </span>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="email">{{'label-title.email' | translate }}</label>
                                            <div class="input-group">
                                                <input type="email" id="email" formControlName="email" aria-describedby="basic-addon2" required
                                                    class="form-control ng-untouched ng-pristine ng-valid" readonly>
                                                <!-- <div class="input-group-append">
                                                    <span class="input-group-text text-success font-weight-bold border-0">
                                                        <i  class="glyph-icon simple-icon-check mr-1 h6 mb-0"></i>
                                                        <span class="font-weight-bold h6 mb-0">{{'label-title.verified' | translate}}</span>
                                                    </span>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="password">{{'label-title.change-password' | translate }}</label>
                                            <input type="password" id="password" minlength="6" formControlName="password"  class="form-control">
                                            <div *ngIf="dispactherSettingForm.get('password').errors?.minlength && dispactherSettingForm.get('password').touched"    class="invalid-tooltip">
                                                {{'validation-title.min-6-character-requires' | translate}}
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="country"><span>{{'label-title.country' | translate}}</span></label>
                                            <!-- <ng-select appearance="outline" #agreeSelect labelForId="country" formControlName="country" [searchable]="false" [clearable]="true"
                                            placeholder="{{'label-title.select-country' | translate}}">
                                                <ng-option [value]="India">India</ng-option>
                                            </ng-select> -->
                                            <input type="text"  formControlName="country"  class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12 pl-0">
                                    <div class="form-group">
                                        <label for="city">{{'label-title.city' | translate}}</label>
                                            <ng-select appearance="outline" #agreeSelect labelForId="city" [searchable]="true" multiple="true" [clearable]="true"
                                            placeholder="{{'label-title.select-city' | translate}}" formControlName="city">
                                            <ng-option *ngFor="let city of city_list" [value]="city._id"> {{ city.cityname }}</ng-option>
                                            </ng-select>
                                            <div *ngIf="dispactherSettingForm.get('city').errors?.required && dispactherSettingForm.get('city').touched"
                                            class="invalid-tooltip">
                                            {{'label-title.city' | translate}} {{'label-title.is-required' | translate }}
                                            </div>
                                    </div>
                                </div>
                                <!-- <br> -->
                                <div>
                                    <h5>{{'label-title.other-details' | translate }}</h5>
                                    <div class="row mb-3" *ngIf="request_list">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.request' | translate }}</p>
                                            <p>{{request_list.total_request}}</p>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.completed' | translate }}</p>
                                            <p>{{request_list.completed_request}}</p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                </div>
                <div class="modal-footer">
                    <!-- <button id="button-split" type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate }}</button> -->
                    <button type="submit" class="btn btn-outline-info float-right" *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'completed_requests')" (click)="getHistory()" >{{'button-title.history' | translate }}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="submit" class="btn btn-primary float-right" (click)="updateAccount(dispactherSettingForm.value);">{{'button-title.update' | translate }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
