<app-list-page-header [showSearch]="showSearch" [showItemsPerPage]="showItemsPerPage" [showDisplayMode]="showDisplayMode" [showdropdown]="showdropdown" [showOrderBy]="showOrderBy" [addbtn]="addbtn"></app-list-page-header>

<tabset class="separator-tabs">
    <tab heading="{{'pages.business-running-on-country' | translate | uppercase }}">
        <div class="row" *ngFor="let country of showCountryList">
            <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-12" *ngFor="let countryname of country.countries">
                <div class="card mb-4">
                    <div class="position-absolute card-top-buttons">
                        <button class="btn btn-outline-white icon-button">
                                    <i class="simple-icon-pencil"></i>
                                 </button>
                    </div>
                    <img src="https://apiedeliverydeveloper.appemporio.net/{{countryname.country_flag}}" alt="{{countryname.country_name}}" class="card-img-top">
                    <div class="card-body">
                        <div class="heading">
                            <h1>{{countryname.country_name}}</h1>
                        </div>
                        <h1 class="text-muted">{{countryname.country_phone_code}} &nbsp; {{countryname.currency_sign}} &nbsp; {{countryname.currency_code}}</h1>
                        <p class="text-muted mb-1 mt-3 text-small">Delivery Payment</p>
                        <p class="mb-3">By Cash</p>
                    </div>
                </div>
            </div>
        </div>

    </tab>

    <tab heading="{{'pages.other-country' | translate | uppercase }}">
        <div class="row">
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/andorra.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Andorra </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/argentina.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Argentina </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/brazil.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Brazil </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/costa_rica.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Costa Rica </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/germany.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Germany </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/ethiopia.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Ethiopia </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/andorra.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Andorra </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/argentina.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Argentina </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/brazil.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Brazil </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/costa_rica.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Costa Rica </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/germany.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Germany </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="card mb-4">
                    <div class="position-relative">
                        <a routerlink="#" ng-reflect-router-link="#" href="#"><img alt="Card image cap" class="card-img-top" src="../../../../../../assets/img/flag/ethiopia.gif"></a>
                    </div>
                    <div class="card-body">
                        <a routerlink="#" ng-reflect-router-link="#" href="#">
                            <h6 class="mb-3 listing-heading ellipsis"> Ethiopia </h6>
                        </a>
                        <footer>
                            <p class="text-muted text-small mb-0 font-weight-light">+376-$-ARS</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

    </tab>
</tabset>