<div class="row mb-4">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container text-zero w-fit-content" *ngIf="addbtn">
            <button type="button" (click)="showHubListModal()" class="top-right-button btn btn-primary btn-lg mr-1" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">{{ 'pages.add-new' | translate}}</button>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-lg flex-grow-1" (click)="export()" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
                  {{ 'button-title.export' | translate | uppercase }} <span class="caret"></span>
                </button>
            </div>
        </div>
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-12">
        <div class="display-options-container">
            <div  class="d-flex justify-content-between">
                <div class="d-flex flex-wrap"> 
                    <div class="d-inline-block mt-1" id="displayOptions">
                        <div class="d-inline-block mr-3 view-class c-pointer" [ngClass]="viewType===1? 'text-primary': ''" title="Grid View" (click)="onViewChange(1)">
                            <i class="simple-icon-grid"></i>
                        </div>
                        <div class="d-inline-block mr-3 view-class c-pointer" [ngClass]="viewType===2? 'text-primary': ''" title="List View" (click)="onViewChange(2)">
                            <i class="simple-icon-list"></i>
                        </div>
                    </div>
                    <div class="d-block d-md-inline-block position-relative" id="displayOptions" *ngIf="showOrderBy">
                        <div class="float-md-left mr-1 mb-1" dropdown>
                            <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                            {{'button-title.search-by' | translate}} : {{itemOrder.label | translate}} <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let item of itemOptionsOrders" [ngClass]="item.isShow == false ? 'd-none' : ''"><a [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                            </ul>
                        </div>
                        
                    </div>

                    <div class="d-inline-block" id="displayOptions" *ngIf="showSearch">
                        <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                            <input class="form-control" [(ngModel)]="search_value" (keypress)="_helper.space_validation($event)" (keyup.enter)="apply(search_value)"  placeholder="{{'label-title.search' | translate }}" >
                        </div>
                    </div>
                    <div class=" d-inline-block float-left float-sm-none mr-1 mb-1 align-top">
                        <div class="float-md-left" dropdown>
                            <button id="button-basic3" type="button" class="btn btn-primary btn-xs mr-1 mb-1" (click)="apply(search_value)">
                                {{'button-title.apply' | translate}} <span class="caret"></span>
                            </button>
                            <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1 mb-1" (click)="clear()" [disabled]="search_value == '' && !isFilterApply">
                                {{'button-title.clear-filter' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="float-right" id="displayOptions" *ngIf="showItemsPerPage">
                    <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate}} </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        {{itemsPerPage}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                        <li role="menuitem" *ngFor="let item of itemOptionsPerPage">
                            <a [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeItemsPerPage(item)">{{item | translate}}</a>
                        </li>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="separator mb-4"></div>
<div class="row">
    <div class="col-12">
        <div class="row" *ngIf="viewType === 1">
            <div *ngFor="let data of hub_list | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}"
                class="col-12 col-sm-12 col-lg-6 col-xl-4 ng-star-inserted">
                <div class="card d-flex flex-row mb-4 c-pointer" (click)="showHubSettingModal(data._id)">
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div
                            class="card-body align-items-center d-flex flex-sm-row justify-content-between min-width-zero">
                            <div class="min-width-zero">
                                <a href="javascript:;">
                                    <p class="list-item-heading mb-1 truncate">{{data.name}} ({{data.unique_id}})</p>
                                    <p class="mb-0 truncate">{{data.city}}, {{data.country}}</p>
                                </a>
                            </div>
                            <!-- <div class="min-width-zero text-right">
                                <div class="d-flex justify-content-end fl-wrap">
                                    <button type="button" class="btn btn-xs btn-outline-primary"
                                        (click)="showHubSettingModal(data._id)"
                                        *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{'button-title.edit' |
                                        translate}}</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="w-100" *ngIf="hub_list.length == 0">
                    <div class=" text-center text-capitalize">
                        {{'label-title.no-record-found' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="col-12 list" *ngIf="viewType === 2">
            <div [ngClass]="{'card d-flex flex-row mb-3 c-pointer': true}"
                *ngFor="let data of hub_list | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}; let i=index"
                [contextMenu]="basicMenu" [contextMenuSubject]="user" (click)="showHubSettingModal(data._id)">
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex justify-content-between min-width-zero align-items-lg-center">
                        <div class="d-flex w-100 flex-column flex-md-row align-items-md-center c-pointer">
                            <a class="w-100 w-md-25">
                                <p class="list-item-heading mb-0 truncate">{{data.name}} ({{data.unique_id}})</p>
                            </a>
                            <p class="mb-0 pl-1 pr-1 text-muted text-small w-100 w-md-10 ">{{data.city}}</p>
                            <p class="mb-0 pl-1 pr-1 text-muted text-small w-100 w-md-10  ">{{data.country |
                                translate}}</p>
                        </div>
                        <!-- <div class="align-self-center">
                            <div class="d-flex flex-column flex-md-row">
                                <button type="button" class="btn btn-xs btn-outline-primary mb-2 mb-md-0 mx-md-2"
                                    (click)="showHubSettingModal(data._id)"
                                    *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{'button-title.edit' |
                                    translate}}
                                </button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="w-100" *ngIf="hub_list.length == 0">
                <div class=" text-center text-capitalize">
                    {{'label-title.no-record-found' | translate}}</div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="hub_list.length != 0">
    <div class="col-12">
        <div class=" mb-4">
            <div class="card-body d-flex justify-content-center">
                <pagination-controls (pageChange)="pageChanged($event)" previousLabel="{{'wizard.previous' | translate}}"
                nextLabel="{{'wizard.next' | translate}}" [responsive]="true" [ngClass]="darkMode ? 'dark' : ''"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{hub.name}} ({{hub.unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu.hub' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button> -->
        <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>


<app-hub-list-model #hubListModel></app-hub-list-model>
<app-hub-setting-model #hubSettingModal></app-hub-setting-model>
