<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" *ngIf="listData">{{listData.first_name}} {{listData.last_name}} ({{listData.unique_id}})
                    </h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <tabset class="card-tabs " [justified]="true">
                        <tab heading="{{'label-title.details' | translate }}" class="card-body"
                            (selectTab)="selectedTab(1)">
                            <form [formGroup]="driverDetailForm" class="ng-invalid ng-dirty ng-touched" appFocus>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-12 py-3 text-center">
                                        <div class="position-absolute card-bottom-buttons" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                            <input id="profileFileInput" type="file"
                                                (change)="onSelectImageFile($event,1)" />
                                            <button type="button" class="btn btn-outline-primary icon-button"
                                                onclick="document.getElementById('profileFileInput').click();">
                                                <i class="simple-icon-pencil"></i>
                                            </button>
                                        </div>
                                        <img (error)="$event.target.src = USER_PROFILE"
                                            class="border-0 rounded list-thumbnail align-self-center user-profile"
                                            [src]="profile_image ? profile_image : USER_PROFILE"
                                            [alt]="listData.first_name">
                                    </div>
                                    <div class="col-12 text-center d-sm-none d-block">
                                        <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' | translate}}</span>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-12 my-auto">
                                        <div class="form-group">
                                            <label for="first_name">{{'label-title.first-name' | translate }}</label>
                                            <input type="text" id="first_name" formControlName="first_name"
                                                class="form-control" required (keypress)="_helper.space_validation($event)">
                                            <div *ngIf="driverDetailForm.get('first_name').errors?.required && driverDetailForm.get('first_name').touched"
                                                style="white-space: nowrap;" class="invalid-tooltip">{{
                                                'validation-title.first-name-is-reqiured' | translate }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name">{{'label-title.last-name' | translate }}</label>
                                            <input type="text" id="last_name" formControlName="last_name" required=""
                                                class="form-control" required (keypress)="_helper.nospace_validation($event)">
                                            <div *ngIf="driverDetailForm.get('last_name').errors?.required && driverDetailForm.get('last_name').touched"
                                                style="white-space: nowrap;" class="invalid-tooltip">{{
                                                'validation-title.last-name-is-reqiured' | translate }}</div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-none d-sm-block">
                                        <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' | translate}}</span>
                                    </div>
                                    <div class="col-12 mt-sm-3">
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="phone">
                                                        {{'label-title.phone' | translate }}
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend w-20">
                                                            <input type="text" id="country_phone_code"
                                                                formControlName="country_phone_code"
                                                                class="text-center form-control" [readOnly]="true">
                                                        </div>
                                                        <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.number_validation($event)" id="phone" formControlName="phone"
                                                            aria-describedby="basic-addon1" [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8" [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"
                                                            class="w-80 form-control" [readOnly]="requestList?.is_show_phone == false" required noPasteDrop>
                                                            <div *ngIf="driverDetailForm.get('phone').errors && driverDetailForm.get('phone').touched"
                                                            class="invalid-tooltip">
                                                            <span *ngIf="driverDetailForm.get('phone').errors.required">
                                                                {{'validation-title.phone-is-reqiured' | translate}}
                                                            </span>
                                                            <span *ngIf="driverDetailForm.get('phone').errors.minlength ">
                                                                {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;{{'validation-title.character-requires' | translate}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="email">{{'label-title.email' | translate }}</label>
                                                    <div class="input-group">
                                                        <input type="email" id="email" formControlName="email"
                                                            aria-describedby="basic-addon2" 
                                                            class="form-control" [readOnly]="requestList?.is_show_email == false" required>
                                                        <div *ngIf="driverDetailForm.get('email').errors?.required && driverDetailForm.get('email').touched"
                                                            style="white-space: nowrap; left: 38%;"
                                                            class="invalid-tooltip">{{
                                                            'validation-title.email-is-reqiured' | translate }}</div>
                                                        <div *ngIf="driverDetailForm.get('email').errors?.email && driverDetailForm.get('email').touched"
                                                            style="white-space: nowrap; left: 38%;"
                                                            class="invalid-tooltip">{{
                                                            'validation-title.enter-valid-email' | translate }}</div>
                                                        <div *ngIf="driverDetailForm.get('email').errors?.pattern && driverDetailForm.get('email').touched"
                                                            style="white-space: nowrap; left: 38%;"
                                                            class="invalid-tooltip">{{
                                                            'validation-title.enter-valid-email' | translate }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="city"><span>{{'label-title.city' |
                                                            translate}}</span></label>
                                                    <ng-select id="city" appearance="outline" formControlName="city" notFoundText="{{'validation-title.city-not-available' | translate}}"
                                                        labelForId="city" [searchable]="true" [clearable]="false" (change)="cityChanges($event)">
                                                        <ng-option [value]="city"  
                                                            *ngFor="let city of city_list">
                                                            {{city.cityname | titlecase}}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group search-address">
                                                    <label for="address">{{'label-title.home-address' | translate }}</label>
                                                    <input type="text" id="address" formControlName="address"
                                                        class="form-control ng-valid ng-dirty ng-touched">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="password">{{'label-title.password' | translate
                                                        }}</label>
                                                    <input id="pwd" minlength="6" formControlName="password"
                                                        type="{{showPassword? 'text' : 'password'}}"
                                                        placeholder="* * * * * * *" class="form-control">
                                                    <span id="show-pwd-btn-1" *ngIf="showPassword"
                                                        class="field-icon c-pointer"
                                                        (click)="showPassword=!showPassword">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                            viewBox="0 0 24 24">
                                                            <path fill="#7f7f7f"
                                                                d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
                                                        </svg>
                                                    </span>
                                                    <span id="hide-pwd-btn-1" *ngIf="!showPassword"
                                                        class="field-icon c-pointer"
                                                        (click)="showPassword=!showPassword">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                            viewBox="0 0 24 24">
                                                            <path fill="#7f7f7f"
                                                                d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z" />
                                                        </svg>
                                                    </span>
                                                    <div *ngIf="driverDetailForm.get('password').errors && driverDetailForm.get('password').touched"
                                                        class="invalid-tooltip">
                                                        <span
                                                            *ngIf="driverDetailForm.get('password').errors.minlength ">{{'validation-title.min-6-character-requires'
                                                            | translate}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="listData.partner_providers && listData.partner_providers.length>0">
                                    <h5>{{'label-title.partner-details' | translate }}</h5>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <p class="text-muted mb-0">{{'label-title.name' | translate }}</p>
                                            <p class="mb-0">{{listData.partner_providers[0].first_name}} {{listData.partner_providers[0].last_name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h5>{{'label-title.other-details' | translate }}</h5>
                                    <div class="row mb-3" *ngIf="requestList">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.request' | translate }}</p>
                                            <p>{{requestList.total_request}}</p>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.completed' | translate }}</p>
                                            <p>{{requestList.completed_request}}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.registered-date' | translate }}
                                            </p>
                                            <p *ngIf="timezone_for_display_date">{{_helper.moment(listData.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.DD_MM_YY)}} - {{_helper.moment(listData.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}} 
                                                </p>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.app-version' | translate }}</p>
                                            <span *ngIf="listData.device_type">{{listData.device_type | titlecase}} <span *ngIf="listData.app_version">: {{listData.app_version}}</span></span>
                                            <!-- <span>{{listData.app_version}}</span> -->
                                        </div>
                                    </div>
                                    <div class="row mb-3" *ngIf="listData.provider_type != 1">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.wallet' | translate }}</p>
                                            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-baseline"
                                                *ngIf="listData">
                                                <span class="h6 mb-0 mr-2">{{listData.wallet_currency_code}}
                                                    {{listData.wallet.toFixed(_helper.to_fixed_number)}}</span>
                                                <div *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                                                    <a class="color-theme-1 c-pointer" *ngIf="driverStatus"
                                                    (click)="onAddWallet();modalRef.hide()">{{'button-title.add-in-wallet'
                                                    | translate }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.redeem-point' | translate }}</p>
                                            <span class="h6 mb-0 mr-2" *ngIf="listData.total_redeem_point">
                                                {{listData.total_redeem_point}}</span>
                                            <span class="h6 mb-0 mr-2" *ngIf="!listData.total_redeem_point">
                                                0</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="{{'label-title.vehicle' | translate }}" class="card-body"
                            (selectTab)="selectedTab(2)">
                            <div *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                                <div class="d-flex justify-content-end" *ngIf="!(listData.partner_providers && listData.partner_providers.length>0) && listData.provider_type != 2">
                                    <button type="button" class="btn btn-sm btn-primary mb-3" *ngIf="!addNewVehicle"
                                        (click)="newVehicle('add')">{{
                                        'button-title.add-vehicle' | translate }}</button>
                                    <button type="button" class="btn btn-sm btn-primary mb-3" *ngIf="addNewVehicle"
                                        (click)="newVehicle('back')">{{
                                        'button-title.back' | translate }}</button>
                                </div>
                            </div>
                            <div *ngIf="!addNewVehicle">
                                <div class="card mb-4" *ngFor="let vehicle of vehicleDetails , let i = index">
                                    <div class="card-body">
                                        <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left"
                                            *ngIf="vehicle.is_selected">{{'label-title.selected'
                                            | translate }}</span>
                                        <div class="d-flex justify-content-between">
                                            <h5 class="mb-4 mt-1 mb-sm-0" [ngClass]="{'mt-1':(vehicle.is_selected)}">{{vehicle.name | titlecase}}</h5>
                                            <div class="">
                                                <!-- <button type="button" *ngIf="!vehicle.is_edit"
                                                    class="btn btn-xs btn-outline-primary"
                                                    [disabled]="isCollapsed && !vehicle.is_edit"
                                                    (click)="editVehicle(vehicle ,i);vehicleDocumentList(vehicle)">{{
                                                    'button-title.edit' | translate }}</button> -->
                                                <button *ngIf="vehicle.is_edit && _helper.has_permission(_helper.PERMISSION.EDIT) && listData.provider_type != 2" type="button"
                                                    class="btn btn-outline-primary btn-xs mr-2"
                                                    (click)="updateVehicle(vehicle ,providerVehicleForm.value)">{{'button-title.save'
                                                    | translate}}</button>
                                                <button  type="button" class="btn btn-circle btn-outline-primary"
                                                    (click)="editVehicle(vehicle ,i);vehicleDocumentList(vehicle)" [disabled]="isCollapsed && !vehicle.is_edit"
                                                    [attr.aria-expanded]="vehicle.is_edit" aria-controls="collapseAnimated">
                                                    <i class="simple-icon-arrow-down" *ngIf="!vehicle.is_edit" style="padding-top: 8px;display: inline-block;"></i>
                                                    <i class="simple-icon-arrow-up" *ngIf="vehicle.is_edit" style="padding-top: 4px;display: inline-block;"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div id="collapseAnimated" [collapse]="!vehicle.is_edit" [isAnimated]="true">
                                            <div class="mt-4">
                                                <form [formGroup]="providerVehicleForm" appFocus>
                                                    <div class="row mb-0">
                                                        <div class="col-md-6 col-6  mb-2">
                                                            <div class="form-group">
                                                                <label for="drivername">{{'label-title.name' |
                                                                    translate}}</label>
                                                                <input type="text" id="drivername-{{i}}"
                                                                    formControlName="name" class="form-control"
                                                                    placeholder="Name">
                                                                <div *ngIf="providerVehicleForm.get('name').errors?.required && providerVehicleForm.get('name').touched"
                                                                    class="invalid-tooltip">
                                                                    {{'label-title.name' | translate}} {{'required' |
                                                                    translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-6 mb-2">
                                                            <div class="form-group">
                                                                <label for="platenumber">{{'label-title.plate-no' |
                                                                    translate}}</label>
                                                                <input type="text" id="platenumber-{{i}}"
                                                                    formControlName="plate_no" class="form-control"
                                                                    placeholder="Plate no">
                                                                <div *ngIf="providerVehicleForm.get('plate_no').errors?.required && providerVehicleForm.get('plate_no').touched"
                                                                    class="invalid-tooltip">
                                                                    {{'label-title.plate-no' | translate}} {{'required'
                                                                    | translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-6 mb-2">
                                                            <div class="form-group">
                                                                <label for="drivingmodel">{{'label-title.modal' |
                                                                    translate}}</label>
                                                                <input type="text" id="drivingmodel-{{i}}"
                                                                    formControlName="model" class="form-control"
                                                                    placeholder="{{'label-title.modal' | translate }}">
                                                                <div *ngIf="providerVehicleForm.get('model').errors?.required && providerVehicleForm.get('model').touched"
                                                                    class="invalid-tooltip">
                                                                    {{'label-title.modal' | translate}} {{'required' |
                                                                    translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-6 mb-2">
                                                            <div class="form-group">
                                                                <label for="drivercolor">{{'label-title.color' |
                                                                    translate}}</label>
                                                                <input type="text" id="drivercolor-{{i}}"
                                                                    formControlName="color" class="form-control"
                                                                    placeholder="{{'label-title.color' | translate }}" pattern="[a-zA-Z ]*">
                                                                <div  *ngIf="providerVehicleForm.controls['color'].invalid && (providerVehicleForm.controls['color'].dirty || providerVehicleForm.controls['color'].touched)"
                                                                    class="invalid-tooltip">
                                                                    <span *ngIf="providerVehicleForm.controls['color'].errors.required">
                                                                        {{'label-title.color' | translate}} {{'required' | translate }}
                                                                    </span>
                                                                    <span *ngIf="providerVehicleForm.controls['color'].errors.pattern">
                                                                        {{'validation-title.only-text-allowed' | translate}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-6 mb-2">
                                                            <label for="">{{'label-title.year' | translate}}</label>
                                                            <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)"
                                                                (keypress)="_helper.number_validation($event);_helper.maxLengthValidation($event,4)"
                                                                maxlength="4" formControlName="passing_year" id="passing_year-{{i}}"
                                                                class="form-control"
                                                                placeholder="{{'label-title.year' | translate}}" noPasteDrop>
                                                            <div *ngIf="providerVehicleForm.controls['passing_year'].invalid && (providerVehicleForm.controls['passing_year'].dirty || providerVehicleForm.controls['passing_year'].touched)"
                                                                class="error">
                                                                <span
                                                                    *ngIf="providerVehicleForm.controls['passing_year'].errors.required">
                                                                    {{'validation-title.year' | translate}}
                                                                </span>
                                                                <span
                                                                    *ngIf="providerVehicleForm.controls['passing_year'].errors.yearInvalid">
                                                                    {{'validation-title.year-validation' | translate}}
                                                                    {{currentYear}}.
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-6 mb-2">
                                                            <div class="form-group">
                                                                <label for="inputState">{{'label-title.service-type' |
                                                                    translate }}</label>
                                                                <ng-select appearance="outline" #agreeSelect notFoundText="{{'validation-title.service-type-not-available' | translate}}"
                                                                    labelForId="service_type-{{i}}"
                                                                    formControlName="service_type" [searchable]="false"
                                                                    [clearable]="false"
                                                                    placeholder="{{'label-title.choose' | translate}}" [(ngModal)]="service_type_name">
                                                                    <ng-option *ngFor="let type of vehicleType"
                                                                        [value]="type._id">
                                                                        <span *ngIf="type.type_detail">
                                                                            {{type.type_detail.typename}}
                                                                        </span>
                                                                    </ng-option>
                                                                </ng-select>
                                                                <div *ngIf="providerVehicleForm.get('service_type').errors?.required && providerVehicleForm.get('service_type').touched"
                                                                    class="invalid-tooltip">
                                                                    {{'label-title.service-type' | translate}}
                                                                    {{'required' | translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <label for="">{{'label-title.accessibility' |
                                                                translate}}</label>
                                                            <ng-select [multiple]="true" [closeOnSelect]="false"
                                                                formControlName="accessibility">
                                                                <ng-option value="baby_seat">{{'label-title.baby-seat' |
                                                                    translate}}</ng-option>
                                                                <ng-option value="hotspot">{{'label-title.hotspot' |
                                                                    translate}}</ng-option>
                                                                <ng-option value="handicap">{{'label-title.handicap' |
                                                                    translate}}</ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>
                                                    <div class="separator my-4"></div>
                                                    <div class="w-100 mb-3" *ngIf="vehicleDocument && vehicleDocument.length>0">
                                                        <p class="text-primary mb-0"> {{'validation-title.please-upload-document-in-formate' | translate}}</p>
                                                    </div>
                                                    <div class="card shadow-none"
                                                        *ngFor="let document of  vehicleDocument ; let j = index ">
                                                        <div class="position-absolute card-top-buttons p-0" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                                            <button type="button"
                                                                class="btn btn-outline-primary btn-xs"
                                                                *ngIf="!document.isDocumentEdit"
                                                                (click)="onVehicelDocumentEdit(document , j)"
                                                                [disabled]="isDocumentEdit || listData.provider_type == 2"> {{ 'button-title.edit' |
                                                                translate }} </button>
                                                            <button type="button"
                                                                *ngIf="document.isDocumentEdit"
                                                                [ngClass]="{'btn-disabled':(document.is_expired_date && !updateDocument.value.expired_date) || (document.is_unique_code && !updateDocument.value.unique_code)}"
                                                                (click)="onVehicelDocumentUpdate(document,updateDocument.value , vehicle)"
                                                                class="btn btn-outline-primary btn-xs ">
                                                                {{'button-title.update' |
                                                                translate }}
                                                            </button>
                                                        </div>
                                                        <div class="card-body p-0">
                                                            <h5 class="mb-3 list-item-heading font-weight-bold">
                                                                {{document.name | titlecase}}<span class="text-danger"
                                                                    *ngIf="document.option == 1">*</span></h5>
                                                            <div>
                                                                <form [formGroup]="updateDocument">
                                                                    <div class="d-flex flex-row mb-3">
                                                                        <a href="javascript:;"
                                                                            class="w-40 d-block position-relative doc vehicleDoc">
                                                                            <div
                                                                                class="position-absolute card-bottom-buttons p-0">
                                                                                <input id="vehicleDocfile" type="file"
                                                                                    (change)="onSelectImageFile($event,2)"
                                                                                    #document1 />
                                                                                <button
                                                                                    *ngIf="!document.isDocumentEdit && (document.document_picture != IMAGE_URL) && document.is_download == true && _helper.has_permission(_helper.PERMISSION.EXPORT)"
                                                                                    class="btn btn-outline-primary icon-button"
                                                                                    (click)="onDownload(document.document_picture,document.name)">
                                                                                    <i
                                                                                        class="simple-icon-cloud-download"></i>
                                                                                </button>
                                                                                <button *ngIf="document.isDocumentEdit" type="button"
                                                                                    class="btn btn-outline-primary icon-button"
                                                                                    onclick="document.getElementById('vehicleDocfile').click();">
                                                                                    <i class="simple-icon-pencil"></i>
                                                                                </button>
                                                                            </div>
                                                                            <img (error)="$event.target.src = DEFAULT_IMAGE"
                                                                                class="vehicledocImage"
                                                                                [src]="document.document_picture ? document.document_picture : DEFAULT_IMAGE"
                                                                                [alt]="document.name" *ngIf="document.document_picture.split('.').pop() != 'pdf'">
                                                                            <img class="dInfo-card-img-left vehicledocImage p-2"
                                                                                src="../../../../assets/default_images/pdf_img.png"
                                                                                [alt]="document.name" *ngIf="document.document_picture.split('.').pop() == 'pdf'">
                                                                            <span
                                                                                class="badge badge-pill badge-theme-2 position-absolute badge-top-left"
                                                                                *ngIf="document.is_document_expired">{{'heading-title.expired'
                                                                                | translate }}</span>
                                                                        </a>
                                                                        <div class="w-60 pl-3 pr-2">
                                                                            <div class="formGroup mb-2 position-relative"
                                                                                *ngIf="document.is_expired_date == true">
                                                                                <p class="text-small text-muted mb-1">
                                                                                    {{'label-title.expiry-date' |
                                                                                    translate }}</p>
                                                                                <a href="javascript:;"
                                                                                    *ngIf="document.expired_date && !document.isDocumentEdit ">
                                                                                    <p class="list-item-heading">
                                                                                        {{document.expired_date | date :_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                                                                </a>
                                                                                <a href="javascript:;"
                                                                                    *ngIf="!document.expired_date && !document.isDocumentEdit || !document.is_expired_date">
                                                                                    <p class="list-item-heading"> ---
                                                                                    </p>
                                                                                </a>
                                                                                <input type="text"
                                                                                    class="form-control background-unset"
                                                                                    formControlName="expired_date"
                                                                                    [showWeeks]="false"
                                                                                    [minDate]="todayDate"
                                                                                    *ngIf="document.isDocumentEdit && document.is_expired_date"
                                                                                    bsDatepicker readonly
                                                                                    [bsConfig]="{ isAnimated: true ,dateInputFormat: 'YYYY-MM-DD' , containerClass: 'documentExpiry', showWeekNumbers:false }"
                                                                                    [readOnly]="true">
                                                                                <div *ngIf="document.isDocumentEdit && document.is_expired_date && !this.updateDocument.value.expired_date && document.is_update_clicked == true"
                                                                                    class="invalid-tooltip">
                                                                                    {{'validation-title.expired-date-is-required' | translate}}
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                *ngIf="document.is_unique_code == true" class="position-relative">
                                                                                <p class="text-small text-muted mb-1">
                                                                                    {{'label-title.unique-code' |
                                                                                    translate }}</p>
                                                                                <a href="javascript:;"
                                                                                    *ngIf="document.unique_code && !document.isDocumentEdit ">
                                                                                    <p class="list-item-heading">
                                                                                        {{document.unique_code}}</p>
                                                                                </a>
                                                                                <a href="javascript:;"
                                                                                    *ngIf="!document.unique_code && !document.isDocumentEdit ">
                                                                                    <p class="list-item-heading"> ---
                                                                                    </p>
                                                                                </a>
                                                                                <input type="text" class="form-control"
                                                                                    formControlName="unique_code"
                                                                                    *ngIf="document.isDocumentEdit">
                                                                                <div *ngIf="document.isDocumentEdit && document.is_unique_code && !this.updateDocument.value.unique_code && document.is_update_clicked == true"
                                                                                    class="invalid-tooltip">
                                                                                    {{'validation-title.unique-code-is-required' | translate}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="separator my-4"></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center"
                                    style="height: calc(100vh - 270px);" *ngIf="(vehicleDetails && vehicleDetails.length == 0) || !vehicleDetails">
                                    {{'label-title.no-record-found' | translate}}
                                </div>
                            </div>
                            <div *ngIf="addNewVehicle" class="card">
                                <form [formGroup]="addVehicle" class="card-body" appFocus>
                                    <div class="mb-3">
                                        <label for="">{{'label-title.name' | translate}}</label>
                                        <input type="text" formControlName="name"  class="form-control"
                                            placeholder="{{'label-title.name' | translate}}">
                                        <div *ngIf="addVehicle.controls['name'].invalid && (addVehicle.controls['name'].dirty || addVehicle.controls['name'].touched)"
                                            class="error">
                                            <span *ngIf="addVehicle.controls['name'].errors.required">
                                                {{'validation-title.vehicle' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">{{'label-title.plate-no' | translate}}</label>
                                        <input type="text" formControlName="plate_no"  class="form-control"
                                            placeholder="{{'label-title.plate-no' | translate}}">
                                        <div *ngIf="addVehicle.controls['plate_no'].invalid && (addVehicle.controls['plate_no'].dirty || addVehicle.controls['plate_no'].touched)"
                                            class="error">
                                            <span *ngIf="addVehicle.controls['plate_no'].errors.required">
                                                {{'validation-title.plate-no' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">{{'label-title.modal' | translate}}</label>
                                        <input type="text" formControlName="modal"  class="form-control"
                                            placeholder="{{'label-title.modal' | translate}}">
                                        <div *ngIf="addVehicle.controls['modal'].invalid && (addVehicle.controls['modal'].dirty || addVehicle.controls['modal'].touched)"
                                            class="error">
                                            <span *ngIf="addVehicle.controls['modal'].errors.required">
                                                {{'validation-title.modal' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">{{'label-title.year' | translate}}</label>
                                        <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.number_validation($event)"
                                            maxlength="4" formControlName="year"  class="form-control"
                                            placeholder="{{'label-title.year' | translate}}">
                                        <div *ngIf="addVehicle.controls['year'].invalid && (addVehicle.controls['year'].dirty || addVehicle.controls['year'].touched)"
                                            class="error">
                                            <span *ngIf="addVehicle.controls['year'].errors.required">
                                                {{'validation-title.year' | translate}}
                                            </span>
                                            <span *ngIf="addVehicle.controls['year'].errors.yearInvalid">
                                                {{'validation-title.year-validation' | translate}} {{currentYear}}.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">{{'label-title.color' | translate}}</label>
                                        <input type="text" formControlName="color"  class="form-control"
                                            placeholder="{{'label-title.color' | translate}}" pattern="[a-zA-Z ]*">
                                        <div *ngIf="addVehicle.controls['color'].invalid && (addVehicle.controls['color'].dirty || addVehicle.controls['color'].touched)"
                                            class="error">
                                            <span *ngIf="addVehicle.controls['color'].errors.required">
                                                {{'validation-title.color' | translate}}
                                            </span>
                                            <span *ngIf="addVehicle.controls['color'].errors.pattern">
                                                {{'validation-title.only-text-allowed' | translate}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-group">
                                            <label for="inputState">{{'label-title.service-type' | translate }}</label>
                                            <ng-select appearance="outline" #agreeSelect labelForId="service_type" notFoundText="{{'validation-title.service-type-not-available' | translate}}"
                                                formControlName="service_type" [searchable]="false" [clearable]="false"
                                                placeholder="{{'label-title.choose' | translate}}">
                                                <ng-option *ngFor="let type of vehicleType" [value]="type._id">
                                                    <span *ngIf="type.type_detail">
                                                        {{type.type_detail.typename}}
                                                    </span>
                                                </ng-option>
                                            </ng-select>
                                            <div *ngIf="addVehicle.get('service_type').errors?.required && addVehicle.get('service_type').touched"
                                                class="invalid-tooltip">
                                                {{'label-title.service-type' | translate}} {{'required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="">{{'label-title.accessibility' |
                                            translate}}</label>
                                        <ng-select [multiple]="true" [closeOnSelect]="false"
                                            formControlName="accessibility">
                                            <ng-option value="baby_seat">{{'label-title.baby-seat' |
                                                translate}}</ng-option>
                                            <ng-option value="hotspot">{{'label-title.hotspot' |
                                                translate}}</ng-option>
                                            <ng-option value="handicap">{{'label-title.handicap' |
                                                translate}}</ng-option>
                                        </ng-select>
                                    </div>
                                </form>
                                <div class="my-3 text-center">
                                    <button type="submit" class="btn btn-primary" (click)="saveNewVehicle()">{{'button-title.save' |translate }}</button>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'label-title.documents' | translate }}" class="card-body"
                            (selectTab)="selectedTab(3)">
                            <div class="col-12 mb-3" *ngIf="providerDocument && providerDocument.length>0">
                                <p class="text-primary mb-0"> {{'validation-title.please-upload-document-in-formate' | translate}}</p>
                            </div>
                            <div class="card mb-4 doc" *ngFor="let document of providerDocument; let i=index">
                                <div class="card-body p-0 w-100 d-flex">
                                    <div class="w-40 d-flex align-items-center">
                                        <a href="javascript::" class="w-100 position-relative">
                                            <div class="position-absolute card-bottom-buttons">
                                                <input id="docfileInput" type="file"
                                                    (change)="onSelectImageFile($event,3)" />
                                                <button
                                                    *ngIf="!document.is_edit_doc && (document.document_picture != IMAGE_URL) && document.is_download == true && _helper.has_permission(_helper.PERMISSION.EXPORT)"
                                                    class="btn btn-outline-primary icon-button"
                                                    (click)="onDownload(document.document_picture,document.name)">
                                                    <i class="simple-icon-cloud-download"></i>
                                                </button>
                                                <button *ngIf="document.is_edit_doc" type="button"
                                                    class="btn btn-outline-primary icon-button"
                                                    onclick="document.getElementById('docfileInput').click();">
                                                    <i class="simple-icon-pencil"></i>
                                                </button>
                                            </div>
                                            <img (error)="$event.target.src = DEFAULT_IMAGE"
                                            class="dInfo-card-img-left documnet_img p-2"
                                            [src]="document.document_picture ? document.document_picture : DEFAULT_IMAGE"
                                                [alt]="document.name" *ngIf="document.document_picture.split('.').pop() != 'pdf'">
                                            <img class="dInfo-card-img-left documnet_img p-2"
                                                src="../../../../assets/default_images/pdf_img.png"
                                                [alt]="document.name" *ngIf="document.document_picture.split('.').pop() == 'pdf'">
                                            <span
                                                class="badge badge-pill badge-theme-2 position-absolute badge-top-left"
                                                *ngIf="document.is_document_expired">{{'label-title.expired'
                                                | translate }}</span>
                                        </a>
                                    </div>
                                    <div class="w-60 p-3">
                                        <a href="javascript:;">
                                            <h5 class="card-title w-55 font-weight-bold mb-2">{{document.name |
                                                titlecase}}<span class="text-danger"
                                                    *ngIf="document.option == 1">*</span></h5>
                                        </a>
                                            <div class="mb-2">
                                                <div class="form-group mb-2" *ngIf="document.is_expired_date == true">
                                                    <label for="edate">{{'label-title.expired-date' | translate}}</label>
                                                    <p class="mb-2" *ngIf="!document.is_edit_doc">{{document.expired_date |
                                                        date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                                    <p class="mb-2"
                                                        *ngIf="!document.is_expired_date || (!document.expired_date && !document.is_edit_doc)">
                                                        ---</p>
                                                    <input type="text" *ngIf="document.is_edit_doc"
                                                        placeholder="{{'label-title.expiry-date' | translate }}"
                                                        class="form-control background-unset" [showWeeks]="false"
                                                        calendarWeeks="false" bsDatepicker [container]="'html'"
                                                        [(ngModel)]="document.expired_date" name="expired_date{{i}}"
                                                        #expired_date="ngModel" required [minDate]="todayDate"
                                                        [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD' , showWeekNumbers:false}"
                                                        [readOnly]="true">
                                                    <div *ngIf="document.is_edit_doc && document.is_expired_date && !document.expired_date && document.is_update_clicked == true"
                                                        class="invalid-tooltip">
                                                        {{'validation-title.expired-date-is-required' | translate}}
                                                    </div>
                                                </div>
                                                <div class="form-group mb-2" *ngIf="document.is_unique_code == true">
                                                    <label for="ucode">{{'label-title.unique-code' | translate}}</label>
                                                    <p class="mb-2" *ngIf="!document.is_edit_doc">{{document.unique_code}}
                                                    </p>
                                                    <p class="mb-2"
                                                        *ngIf="!document.is_unique_code || (!document.unique_code && !document.is_edit_doc)">
                                                        ---</p>
                                                    <input type="text" *ngIf="document.is_edit_doc" name="unique_code{{i}}"
                                                        placeholder="{{'label-title.unique-code' | translate}}"
                                                        class="form-control" [(ngModel)]="document.unique_code"
                                                        #unique_code="ngModel" required>
                                                    <div *ngIf="document.is_edit_doc && document.is_unique_code && !document.unique_code && document.is_update_clicked == true"
                                                        class="invalid-tooltip">
                                                        {{'validation-title.unique-code-is-required' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="position-absolute card-top-buttons" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                    <button type="submit" *ngIf="document.is_edit_doc"
                                        (click)="updateDocuments(document)"
                                        class="btn btn-outline-primary btn-xs mb-1"
                                        [ngClass]="{'btn-disabled':(document.is_expired_date && !document.expired_date) || (document.is_unique_code && !document.unique_code)}">{{'button-title.update'
                                        |
                                        translate}}</button>
                                    <button type="button" *ngIf="!document.is_edit_doc" (click)="onEdit(document, i)"
                                    [ngClass]="{'btn-disabled':(is_edit_doc == true)}"
                                    [disabled]="is_edit_doc == true"
                                        class="btn btn-outline-primary btn-xs mb-1">{{'button-title.edit' |
                                        translate}}</button>
                                </div>
                            </div>
                            <div *ngIf="providerDocument == ''">
                                <div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);">
                                    {{'validation-title.no-data-found' | translate}}</div>
                            </div>
                        </tab>
                        <tab heading="{{'label-title.referral' | translate }}" class="card-body"
                            (selectTab)="selectedTab(4)" *ngIf="listData.provider_type == 0">
                            <div class="border-bottom" *ngIf="listData">
                                <h5 class="font-weight-bold ">{{'label-title.referral-code' | translate }} :
                                    {{listData.referral_code}}
                                </h5>
                            </div>
                            <div *ngFor="let list of driverReferral">
                                <!-- <div class="border-bottom">
                                    <h5 class="font-weight-bold ">{{'label-title.referral-code' | translate }} :
                                        {{list.referral_code}}
                                    </h5>
                                </div> -->
                                <div class="">
                                    <div class="d-flex flex-row border-bottom mb-4">
                                        <a href="javascript:;" class="d-flex">
                                            <img alt="Profile"
                                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center"
                                                (error)="$event.target.src = _helper.DEFAULT_IMAGE.USER_PROFILE"
                                                [src]="list.picture != '' ? _helper.image_url + list.picture : _helper.DEFAULT_IMAGE.USER_PROFILE">
                                        </a>
                                        <div class="d-flex flex-grow-1 w-100">
                                            <div
                                                class="pl-0 card-body align-self-center d-flex flex-column flex-sm-row justify-content-between w-100">
                                                <div class="min-width-zero w-60">
                                                    <a href="javascript:;">
                                                        <p class="list-item-heading mb-1 truncate">{{list.first_name}}
                                                            {{list.last_name}}</p>
                                                    </a>
                                                    <p class="mb-1 list-item-heading">{{list.country_phone_code}}
                                                        {{list.phone}}</p>
                                                    <p class="mb-2 text-muted text-small">{{list.email}}</p>
                                                </div>
                                                <div class="min-width-zero w-40">
                                                    <p class="mb-2 text-sm-right" *ngIf="timezone_for_display_date">
                                                        {{_helper.moment(list.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.DD_MM_YY)}}<br /> {{_helper.moment(list.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center"
                                style="height: calc(100vh - 270px);" *ngIf="driverReferral == ''">
                                {{'label-title.no-referral-history-found' | translate}}
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer" *ngIf="tab == 1">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" class="btn btn-danger"
                        (click)="deleteItem();modalRef.hide()">{{'button-title.delete' | translate }}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'completed_requests')" type="submit" (click)="getHistory()"
                        class="btn btn-outline-info float-right">{{'button-title.history' | translate }}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="submit" class="btn btn-primary float-right" (click)="save()">{{'button-title.save' |
                        translate
                        }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>


<ng-template #addWalletModelTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="listData"> {{'heading-title.add-in-wallet' | translate}} ( {{listData.first_name}} {{listData.last_name}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addWalletModelRef.hide();wallet_amount = 0;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>{{'label-title.amount' | translate}}</label>
        <input type="number" class="form-control mb-2" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keyup)="wallet_amount_validator($event)"
            (keypress)="_helper.decimalNum_validation($event)" [(ngModel)]="wallet_amount"
            placeholder="{{'label-title.amount' | translate}}" noPasteDrop>
        <div *ngIf="isError && wallet_amount > max_number" class="text-danger">{{'label-title.enter-smaller-number' |
            translate}}</div>
        <div *ngIf="isError && wallet_amount <= max_number" class="text-danger">{{'label-title.enter-valid-number' |
            translate}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="wallet_amount <= 0 || wallet_amount > max_number"
            (click)="addWalletAmount(wallet_amount)">{{'button-title.save' | translate}}</button>
    </div>
</ng-template>

<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="listData">{{listData.first_name}} {{listData.last_name}}  ({{listData.unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu.driver' | translate}}.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' |
            translate}}</button> -->
        <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>