<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header" >
                    <h4 class="modal-title pull-left" *ngIf="listData">{{listData.name}} ({{listData.unique_id}})</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <tabset class="card-tabs " [justified]="true"> -->
                        <!-- <tab heading="{{'label-title.details' | translate }}" class="card-body" (selectTab)="btnShow()"> -->
                          <form [formGroup]="corporateSettingForm" class="ng-invalid ng-dirty ng-touched" appFocus>
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="name">{{'label-title.name' | translate }}</label>
                                        <input type="text" id="name" formControlName="name" (keypress)="_helper.space_validation($event)"  required="" class="form-control ">
                                        <div *ngIf="corporateSettingForm.get('name').errors?.required && corporateSettingForm.get('name').touched" class="invalid-tooltip">
                                            {{'validation-title.hotel-name-is-reqiured' | translate}}
                                            </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="phone">
                                            {{'label-title.phone' | translate }}
                                            <!-- <a href="jacascript::" class="color-theme-1 ml-1">{{'label-title.send-sms' | translate }} </a> -->
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-prepend w-20">
                                                <input type="text" name="country_phone_code" class="form-control text-center" formControlName="country_phone_code" readonly>
                                            </div>
                                            <input type="text" id="phone" onDrop="return false" onPaste="return false" (keypress)="_helper.phone_number_validation($event)" formControlName="phone" aria-describedby="basic-addon1" [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8" [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"  required  [readOnly]="requestList?.is_show_phone == false"
                                                class="form-control" noPasteDrop>
                                                <div *ngIf="corporateSettingForm.get('phone').errors && corporateSettingForm.get('phone').touched"    class="invalid-tooltip">
                                                    <span *ngIf="corporateSettingForm.get('phone').errors.required"> {{'validation-title.phone-is-reqiured' | translate}} </span>
                                                    <span *ngIf="corporateSettingForm.get('phone').errors.minlength ">
                                                        {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;{{'validation-title.character-requires' | translate}}
                                                    </span>
                                                </div>
                                            <!-- <div class="input-group-append">
                                                <span class="input-group-text text-danger font-weight-bold border-0">
                                                    <i  class="glyph-icon simple-icon-close mr-1 h6 mb-0"></i>
                                                    <span class="font-weight-bold h6 mb-0">{{'label-title.not-verified' | translate}}</span>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="email">{{'label-title.email' | translate }}</label>
                                        <div class="input-group">
                                            <input type="email" id="email" formControlName="email" aria-describedby="basic-addon2" required
                                                class="form-control" readonly>
                                            <!-- <div class="input-group-append">
                                                <span class="input-group-text text-success font-weight-bold border-0">
                                                    <i  class="glyph-icon simple-icon-check mr-1 h6 mb-0"></i>
                                                    <span class="font-weight-bold h6 mb-0">{{'label-title.verified' | translate}}</span>
                                                </span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="password">{{'label-title.change-password' | translate }}</label>
                                        <input type="password" id="password" minlength="6" formControlName="password" class="form-control">
                                        <div *ngIf="corporateSettingForm.get('password').errors?.minlength && corporateSettingForm.get('password').touched" class="invalid-tooltip">
                                            {{'validation-title.min-6-character-requires' | translate}}
                                            </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                    <div class="form-group">
                                        <label for="country"><span>{{'label-title.country' |  translate}}</span></label>
                                        <input type="text" id="country" formControlName="country" aria-describedby="basic-addon2"
                                                class="form-control" readonly>


                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                  <div class="form-group">
                                    <label for="profittype">{{'label-title.type' | translate }}</label>
                                    <ng-select appearance="outline" #profittype labelForId="profittype" [searchable]="false" [clearable]="false"
                                      formControlName="admin_profit_type" placeholder="{{'label-title.select-type' | translate}}" (change)="setNewValidators($event)">
                                      <ng-option [value]="1">{{'label-title.absolute' | translate }}</ng-option>
                                      <ng-option [value]="2">{{'pages.percentage' | translate }}</ng-option>
                                    </ng-select>
                                    <div *ngIf="corporateSettingForm.get('admin_profit_type').errors?.required && corporateSettingForm.get('admin_profit_type').touched"
                                      class="invalid-tooltip">
                                      {{'label-title.type' | translate}} {{'label-title.is-required' | translate }}
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                  <div class="form-group">
                                    <label for="codevalue">{{'label-title.value' | translate }}</label>
                                    <input type="number" id="codevalue" class="form-control" formControlName="admin_profit_value"
                                      placeholder="{{'label-title.value' | translate }}" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event);corporateSettingForm.value.code_type == 2 ? _helper.maxLengthValidation($event,3) : ''" maxlength="{{_helper.maxlength}}" noPasteDrop>
                                    <div *ngIf="corporateSettingForm.get('admin_profit_value').errors && corporateSettingForm.get('admin_profit_value').touched"
                                      class="invalid-tooltip">
                                      <span *ngIf="corporateSettingForm.get('admin_profit_value').errors?.required">
                                        {{'label-title.value' | translate }} {{'label-title.is-required' | translate }}
                                      </span>
                                      <span *ngIf="corporateSettingForm.get('admin_profit_value').errors?.profitValueInvalid">
                                        {{'validation-title.profit-validation' | translate}}
                                      </span>
                                      <span *ngIf="!corporateSettingForm.get('admin_profit_value').errors?.required && corporateSettingForm.get('admin_profit_value').errors?.minValue">
                                        {{'validation-title.the-value-should-be-above-0' | translate}}
                                      </span>
                                    </div>
                                  </div>
                                </div>

                            </div>
                            <!-- <br> -->
                            <div>
                                <h5>{{'label-title.other-details' | translate }}</h5>
                                <div class="row mb-3" *ngIf="requestList">
                                    <div class="col-sm-6 col-6">
                                        <p class="text-muted mb-0">{{'label-title.request' | translate }}</p>
                                        <p>{{requestList.total_request}}</p>
                                    </div>
                                    <div class="col-sm-6 col-6">
                                        <p class="text-muted mb-0">{{'label-title.completed' | translate }}</p>
                                        <p>{{requestList.completed_request}}</p>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 col-6">
                                        <p class="text-muted mb-0">{{'label-title.wallet' | translate }}</p>
                                        <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-baseline">
                                            <span class="h4 mb-0 mr-2" *ngIf="listData">{{listData.wallet_currency_code}} {{listData.wallet.toFixed(_helper.to_fixed_number)}}</span>
                                            <div *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                                                <a class="color-theme-1 c-pointer" *ngIf="corporateStatus" (click)="onAddWallet();modalRef.hide()">{{'button-title.add-in-wallet' | translate }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-6 col-6">
                                        <p class="text-muted mb-0">{{'label-title.active-for-job' | translate }}</p>
                                        <div class="custom-control custom-switch"><input type="checkbox" name="is_active_for_job" id="customSwitch1" class="custom-control-input ng-untouched ng-pristine ng-valid"><label for="customSwitch1" class="custom-control-label"></label>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </form>
                        <!-- </tab> -->
                    <!-- </tabset> -->
                </div>
                <div class="modal-footer">
                    <button type="button" *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" class="btn btn-danger" (click)="deleteItem();modalRef.hide()">{{'button-title.delete' | translate }}</button>
                    <button type="submit" *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'completed_requests')" (click)="getHistory()" class="btn btn-outline-info float-right">{{'button-title.history' | translate }}</button>
                    <button type="submit" *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'user') && btn" (click)="getUser()" class="btn btn-outline-info float-right">{{ 'menu.users' | translate }}</button>
                    <button type="submit" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" (click)="updateCorporate()" class="btn btn-primary float-right">{{'button-title.update' | translate }}</button>
                    <!-- <button type="button" *ngIf="!btn" class="btn btn-outline-primary">{{'button-title.remove' | translate }}</button> -->
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>

<ng-template #confirmationTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left" *ngIf="listData">{{listData.name}} ({{listData.unique_id}}) </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body p-0">
      <div class="p-4">
          <p>
              {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu.corporate' | translate}}
          </p>
      </div>
  </div>
  <div class="modal-footer">
      <!-- <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button> -->
      <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' | translate}}</button>
  </div>
</ng-template>

<ng-template #addWalletModelTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="listData">{{'heading-title.add-in-wallet' | translate}} ( {{listData.name}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addWalletModelRef.hide(); wallet_amount = 0;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>{{'label-title.amount' | translate}}</label>
        <input type="number" class="form-control mb-2" (keyup)="wallet_amount_validator($event)" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" [(ngModel)]="wallet_amount" placeholder="{{'label-title.amount' | translate}}" noPasteDrop>
        <div *ngIf="isError && wallet_amount > max_number" class="text-danger">{{'label-title.enter-smaller-number' | translate}}</div>
        <div *ngIf="isError && wallet_amount <= max_number" class="text-danger">{{'label-title.enter-valid-number' | translate}}</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="wallet_amount <= 0 || wallet_amount > max_number"
          (click)="addWalletAmount(wallet_amount)">{{'button-title.save' | translate}}</button>
      </div>
</ng-template>
