<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.base-url' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="baseUrlForm" class="tooltip-label-center">
                        <div class="mb-2">
                            <label for="payments_base_url">{{'label-title.payments_base_url' | translate}}</label>
                            <div class="input-group">
                                <input type="text" id="payments_base_url" class="form-control" name="payments_base_url"
                                    formControlName="payments_base_url">
                                <div class="input-group-append">
                                    <span id="basic-addon-pyment" class="input-group-text">/{{payment_base_url_last}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="history_base_url">{{'label-title.history_base_url' | translate}}</label>
                            <div class="input-group">
                                <input type="text" id="history_base_url" class="form-control" name="history_base_url"
                                    formControlName="history_base_url">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button id="button-split" type="button" class="btn btn-outline-primary"
                        (click)="closeModal()">{{'button-title.cancel' | translate}}</button> -->
                    <button type="submit" (click)="update()" class="btn btn-primary float-right">{{'button-title.update'
                        | translate }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>