<div class="row listing-card-container">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let item of data">
      <div class="card">
        <div class="position-relative">
          <a routerLink="#"><img class="card-img-top" [src]="item.img" alt="Card image cap"></a>
        </div>
        <div class="card-body">
          <a routerLink="#">
            <h6 class="listing-heading ellipsis">
              {{item.country | translate}}
            </h6>
          </a>
          <footer>
            <p class="text-muted text-small mb-0">{{item.code}}<span *ngFor="let k of item.currency">-{{k}}</span></p>
          </footer>
        </div>
      </div>
    </div>
  </div>