<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.price-settings' | translate }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-8 col-8">
                                <p for="inputEmail3" class="mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                                <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="input-group"><input type="text" class="form-control">
                                    <div class="input-group-append"><span id="basic-addon2" class="input-group-text">km</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-8 col-8">
                                <p for="inputEmail3" class="mb-0">{{'label-title.base-price' | translate}}</p>
                                <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="input-group ">
                                    <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-8 col-8">
                                <p for="inputEmail3" class="mb-0">{{'label-title.Price-per-unit-time-min' | translate}}</p>
                                <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="input-group ">
                                    <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-8 col-8">
                                <p for="inputEmail3" class="mb-0">{{'label-title.waiting-time-start-after-minute' | translate}}</p>
                                <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="input-group ">

                                    <input type="text" class="form-control">
                                    <div class="input-group-append"><span id="basic-addon1" class="input-group-text">{{'label-title.min' | translate}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-8 col-8">
                                <p for="inputEmail3" class="mb-0">{{'label-title.price-for-waiting-time' | translate}}</p>
                                <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span id="basic-addon2" class="input-group-text">$</span></div>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-8 col-8">
                                <p for="inputEmail3" class="mb-0">{{'label-title.min-fare' | translate}}</p>
                                <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                            </div>
                            <div class="col-sm-4 col-4">
                                <div class="input-group ">
                                    <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate}}</button>
                    <button type="submit" class="btn btn-primary float-right">{{'button-title.update' | translate}}</button></div>
            </div>
        </div>
    </modal-container>
</ng-template>
