<app-list-page-header [showSearch]="showSearch" [showItemsPerPage]="showItemsPerPage"
  [showDisplayMode]="showDisplayMode" [showdropdown]="showdropdown" [showOrderBy]="showOrderBy"
  (addNewItem)="showAddNewModal()"></app-list-page-header>

  <app-request-history-cars></app-request-history-cars>

  <app-add-new-car-service-modal  #addNewModalRef8></app-add-new-car-service-modal>