<div class="row">
    <div class="col-md-12 mb-4 pl-0 pr-0">
  
      <app-glide [settings]="{
        gap: 0,
        type: 'carousel',
        perView: 3,
        breakpoints: { '600': { perView: 1 }, '1000': { perView: 2 } }
      }">
        <div *ngFor="let item of data" class="glide__slide">
          <div class="card flex-row">
            <div class="w-50 position-relative">
              <img class="card-img-left" src="" alt="Card image cap">
              <span *ngFor="let badge of item.badges"
                class="badge badge-pill badge-theme-1 position-absolute badge-top-left">{{item.title | translate}}</span>
            </div>
            <div class="w-50">
              <div class="card-body">
                <h6 class="mb-4">{{item.title | translate}}</h6>
                <footer>
                  <p class="text-muted text-small mb-0 font-weight-light">{{item.value}}</p>
                </footer>
              </div>
            </div>
          </div>
        </div>
      </app-glide>
  
    </div>
  </div>










<!-- <div [class]="class">
    <app-glide #carousel [settings]="{
        type: 'carousel',
        perView: 4,
        gap: 0,
        peek: { before: 0, after: 100 },
        hideNav: true,
        breakpoints: { '320': { perView: 1 }, '576': { perView: 2 }, '700': { perView: 3 }, '1000': { preView: 4 }, '1800': { perView: 5 },'1900': { perView: 6 } }
    }">
        <div *ngFor="let item of data" class="glide__slide">
            <div class="icon-row-item" style="width: inherit;">
                <div class="card">
                    <div class="card-body text-center">
                        <i [class]="item.icon"></i>
                        <p class="card-text font-weight-semibold mb-0">
                            {{item.title | translate}}
                        </p>
                        <p class="lead text-center">{{item.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </app-glide>
</div> -->

<!-- <div class="row">
    <div class="col-md-12 mb-4 pl-0 pr-0">
        <app-glide [settings]="{hideNav: true,gap: 0,type: 'carousel',peek: { before: 0, after: 100 },perView: 6,breakpoints: { '600': { perView: 1 }, '1000': { perView: 2 } }}">
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-clock"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.total-trips' | translate}}</p>
                        <p class="lead text-center">14</p>
                    </div>
                </a>
            </div>
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-cupcake"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.total' | translate}}</p>
                        <p class="lead text-center">32</p>
                    </div>
                </a>
            </div>
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-arrow-around"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.cards' | translate}}</p>
                        <p class="lead text-center">74</p>
                    </div>
                </a>
            </div>
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-mail-read"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.cash' | translate}}</p>
                        <p class="lead text-center">30</p>
                    </div>
                </a>
            </div>
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-clock"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.bonus' | translate}}</p>
                        <p class="lead text-center">14</p>
                    </div>
                </a>
            </div>
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-cupcake"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.wallet' | translate}}</p>
                        <p class="lead text-center">32</p>
                    </div>
                </a>
            </div>
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-arrow-around"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.admin-earing' | translate}}</p>
                        <p class="lead text-center">74</p>
                    </div>
                </a>
            </div>
            <div class="glide__slide icon-cards-row ">
                <a class="card" href="/app/ui/components/cards">
                    <div class="card-body text-center"><i class="iconsminds-arrow-around"></i>
                        <p class="card-text font-weight-semibold mb-0">{{'label-title.driver-earing' | translate}}</p>
                        <p class="lead text-center">74</p>
                    </div>
                </a>
            </div>
        </app-glide>
    </div>
</div> -->