<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" *ngIf="listData">{{listData.hotel_name}} ({{listData.unique_id}})</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="hotelSettingForm" class="ng-invalid ng-dirty ng-touched">
                        <div class="row">
                            <div class="col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="hotel_name">{{'label-title.hotel-name' | translate }}</label>
                                    <input type="text" id="hotel_name" formControlName="hotel_name" (keypress)="_helper.space_validation($event)"  required="" class="form-control ">
                                    <div *ngIf="hotelSettingForm.get('hotel_name').errors?.required && hotelSettingForm.get('hotel_name').touched" class="invalid-tooltip">
                                        {{'validation-title.hotel-name-is-reqiured' | translate}}
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="phone">
                                        {{'label-title.phone' | translate }}
                                        <!-- <a href="jacascript::" class="color-theme-1 ml-1">{{'label-title.send-sms' | translate }} </a> -->
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend w-20">
                                            <!-- <span class="input-group-text">+91</span> -->
                                            <input type="text" class="form-control text-center" formControlName="country_phone_code" readonly>
                                        </div>
                                        <input type="text" id="phone" onDrop="return false" onPaste="return false" (keypress)="_helper.phone_number_validation($event)" formControlName="phone" aria-describedby="basic-addon1" [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8" [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"  required
                                            class="form-control">
                                            <div *ngIf="hotelSettingForm.get('phone').errors && hotelSettingForm.get('phone').touched"    class="invalid-tooltip">
                                                <span *ngIf="hotelSettingForm.get('phone').errors.required"> {{'validation-title.phone-is-reqiured' | translate}} </span>
                                                <span *ngIf="hotelSettingForm.get('phone').errors.minlength ">
                                                    {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;{{'validation-title.character-requires' | translate}}
                                                </span>
                                            </div>
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text text-danger font-weight-bold border-0">
                                                <i  class="glyph-icon simple-icon-close mr-1 h6 mb-0"></i>
                                                <span class="font-weight-bold h6 mb-0">{{'label-title.not-verified' | translate}}</span>
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="email">{{'label-title.email' | translate }}</label>
                                    <div class="input-group">
                                        <input type="email" id="email" formControlName="email" aria-describedby="basic-addon2" email="" required=""
                                            class="form-control" readonly>
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text text-success font-weight-bold border-0">
                                                <i  class="glyph-icon simple-icon-check mr-1 h6 mb-0"></i>
                                                <span class="font-weight-bold h6 mb-0">{{'label-title.verified' | translate}}</span>
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="password">{{'label-title.change-password' | translate }}</label>
                                    <input type="password" id="password" minlength="6" formControlName="password" class="form-control">
                                    <div *ngIf="hotelSettingForm.get('password').errors?.minlength && hotelSettingForm.get('password').touched" class="invalid-tooltip">
                                        {{'validation-title.min-6-character-requires' | translate}}
                                        </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="country"><span>{{'label-title.country' |  translate}}</span></label>
                                    <input type="text" id="country" formControlName="country" aria-describedby="basic-addon2"
                                            class="form-control" readonly>


                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="city"><span>{{'label-title.city' | translate}}</span></label>
                                    <input type="text" id="city" formControlName="city" aria-describedby="basic-addon2"
                                            class="form-control" readonly>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                                <div class="form-group search-address">
                                    <label for="city"><span>{{'label-title.address' | translate}}</span></label>
                                    <input id="address" class="form-control"  formControlName="address">
                                    <div *ngIf="hotelSettingForm.get('address').errors?.required && hotelSettingForm.get('address')?.touched" class="invalid-tooltip">
                                        {{'validation-title.address-is-reqiured' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12">
                              <div class="form-group">
                                <label for="profittype">{{'label-title.type' | translate }}</label>
                                <ng-select appearance="outline" #profittype labelForId="profittype" [searchable]="false" [clearable]="false"
                                  formControlName="admin_profit_type" placeholder="{{'label-title.select-type' | translate}}" (change)="setNewValidators($event)">
                                  <ng-option [value]="1">{{'label-title.absolute' | translate }}</ng-option>
                                  <ng-option [value]="2">{{'pages.percentage' | translate }}</ng-option>
                                </ng-select>
                                <div *ngIf="hotelSettingForm.get('admin_profit_type').errors?.required && hotelSettingForm.get('admin_profit_type').touched"
                                  class="invalid-tooltip">
                                  {{'label-title.type' | translate}} {{'label-title.is-required' | translate }}
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12 col-12">
                              <div class="form-group">
                                <label for="codevalue">{{'label-title.value' | translate }}</label>
                                <input type="number" id="codevalue" class="form-control" formControlName="admin_profit_value"
                                  placeholder="{{'label-title.value' | translate }}" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event);hotelSettingForm.value.code_type == 2 ? _helper.maxLengthValidation($event,3) : ''" maxlength="{{_helper.maxlength}}" noPasteDrop>
                                <div *ngIf="hotelSettingForm.get('admin_profit_value').errors && hotelSettingForm.get('admin_profit_value').touched"
                                  class="invalid-tooltip">
                                  <span *ngIf="hotelSettingForm.get('admin_profit_value').errors?.required">
                                    {{'label-title.value' | translate }} {{'label-title.is-required' | translate }}
                                  </span>
                                  <span *ngIf="hotelSettingForm.get('admin_profit_value').errors?.profitValueInvalid">
                                    {{'validation-title.profit-validation' | translate}}
                                  </span>
                                  <span *ngIf="!hotelSettingForm.get('admin_profit_value').errors?.required && hotelSettingForm.get('admin_profit_value').errors?.minValue">
                                    {{'validation-title.the-value-should-be-above-0' | translate}}
                                  </span>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- <br> -->
                        <div>
                            <h5>{{'label-title.other-details' | translate }}</h5>
                            <div class="row mb-3" *ngIf="requestList">
                                <div class="col-sm-6 col-6">
                                    <p class="text-muted mb-0">{{'label-title.request' | translate }}</p>
                                    <p>{{requestList.total_request}}</p>
                                </div>
                                <div class="col-sm-6 col-6">
                                    <p class="text-muted mb-0">{{'label-title.completed' | translate }}</p>
                                    <p>{{requestList.completed_request}}</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button id="button-split" type="button" class="btn btn-outline-primary" (click)="modalRef.hide();">{{'button-title.cancel' | translate }}</button> -->
                    <button type="submit" class="btn btn-outline-info float-right" (click)="getHistory()" *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'completed_requests')">{{'button-title.history' | translate }}</button>
                    <button type="submit" class="btn btn-primary float-right" (click)="updateHotel()" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{'button-title.update' | translate }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
