<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.filter' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12" *ngIf="user">
                            <div class="form-group">
                                <label for="user">{{'label-title.select-user' | translate}}</label>
                                <select id="user" class="form-control">
                                    <option selected="">{{'label-title.provider' | translate}}</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="type">{{'label-title.select-type' | translate}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">↑↓</span>
                                    </div>
                                    <select id="type" class="form-control">
                                        <option selected="">...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="direction">{{'label-title.direction' | translate}}</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">↑↓</span>
                                    </div>
                                    <select id="direction" class="form-control">
                                        <option selected="">...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="start-date">{{'label-title.start-date' | translate}}</label>
                                <input id="start-date" type="text" placeholder="{{'label-title.start-date' | translate}}" class="form-control" bsDatepicker [container]="'html'" 
                                [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="end-date">{{'label-title.end-date' | translate}}</label>
                                <input id="end-date" type="text" placeholder="{{'label-title.end-date' | translate}}" class="form-control" bsDatepicker [container]="'html'" 
                                [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mb-2 border-bottom">
                        <div class="form-group">
                            <label for="exampleInputEmail3">Start Date</label>
                            <input type="date" id="exampleInputEmail3" class="form-control">
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="form-group">
                            <label for="exampleInputEmail3">End Date</label>
                            <input type="date" id="exampleInputEmail3" class="form-control">
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary">
                        <span class=""><i class="iconsminds-bar-chart-4"></i></span> 
                        {{'button-title.export' | translate}}</button>
                    <button type="submit" class="btn btn-primary float-right">{{'button-title.apply' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>