<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.driver-wallet-setting' | translate }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div *ngFor="let p of data2; let i=index;" class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                        <div class="flex-fill">
                          <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{p.title | translate}}</p>
                            <p class="text-muted mb-0 text-small">{{p.detail | translate}}</p>
                          </a>
                        </div>
                        <div>
                            <div *ngIf="p.toggleSwitch" class="custom-control custom-switch">
                                <input type="checkbox" [id]="'customSwitchm4'+i" class="custom-control-input">
                                <label [for]="'customSwitchm4'+i" class="custom-control-label"></label>
                            </div>
                            <div *ngIf="!p.toggleSwitch" class="input-group w-60 mr-1 ml-auto">
                                <div class="input-group-prepend">
                                    <span id="basic-addon1" class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.cancel' | translate}}</button>
                    <button type="submit" class="btn btn-primary float-right">{{'button-title.update' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
