<div class="row mb-4">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container text-zero" *ngIf="addbtn">
            <button type="button" (click)="onAddNewItem()" class="top-right-button btn btn-primary btn-lg mr-1">{{ 'pages.add-new' | translate}}</button>
            <div class="btn-group" dropdown *ngIf="showdropdown">
                <div class="btn btn-primary btn-lg pl-4 pr-0 check-button">
                    <label class="custom-control custom-checkbox mb-0 d-inline-block">
            <input type="checkbox" class="custom-control-input" [checked]="selectAllState==='checked'"
              [indeterminate]="selectAllState === 'indeterminate'" (change)="selectAll($event)">
            <span class="custom-control-label">&nbsp;</span>
          </label>
                </div>
                <button id="button-split" type="button" dropdownToggle class="btn btn-primary dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split">
                  <span class="caret"></span>
                </button>
                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-split">
                    <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{ 'pages.move' | translate }}</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="javascript:;">{{ 'pages.delete' | translate }}</a></li>
                </ul>
            </div>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="display-options-container">
            <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse" (click)="displayOptionsCollapsed = !displayOptionsCollapsed" 
            role="button" aria-expanded="true" aria-controls="displayOptions">
                {{ 'pages.display-options' | translate}} {{' '}}
                <i class="simple-icon-arrow-down align-middle"></i>
            </a>
            <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">

                <div class="d-block d-md-inline-block position-relative" *ngIf="showOrderBy">
                    <div class="float-md-left mr-1 mb-1" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                          {{'button-title.order-by' | translate}} : {{itemOrder.label}} <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label | translate}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="d-block d-md-inline-block position-relative ng-star-inserted" *ngIf="showSearch">
                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1">
                        <input class="form-control" placeholder="{{'label-title.search' | translate }}" (keyup)="onSearchKeyUp($event)">
                    </div>
                </div>

                <div class="d-inline-block ng-star-inserted">
                    <div class="d-inline-block float-md-left mr-1 mb-1 align-top">
                        <button id="button-basic3" type="button" class="btn btn-outline-primary btn-xs mr-1">
                            {{'button-title.apply' | translate}} <span class="caret"></span>
                        </button>
                        <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1">
                            {{'button-title.clear-filter' | translate}} <span class="caret"></span>
                        </button>
                    </div>
                </div>

                <div class="float-right" *ngIf="showItemsPerPage">
                    <span class="text-muted text-small">{{'label-title.per-page' | translate}} </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" dropdownToggle>
                        {{itemsPerPage}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                        <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                            [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                            (click)="onChangeItemsPerPage(item)">{{item | translate}}</a></li>
                        </div>
                    </span>
                </div>

            </div>
            <!-- <div class="separator mb-4"></div> -->
        </div>
    </div>
</div>