<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.add-new-city' | translate }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="commonForm"  class="tooltip-label-center">
                    <div class="form-group">
                      <label for="">{{'label-title.country' | translate}}</label>
                      <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false"
                        placeholder="{{'label-title.select-country' | translate}}" formControlName="country">
                        <ng-option>..</ng-option>
                        <ng-option>..</ng-option>
                      </ng-select>
                      <div *ngIf="commonForm.get('country').errors?.required && commonForm.get('country').touched" class="invalid-tooltip">
                        {{'label-title.country' | translate}} {{'label-title.is-required' | translate }}</div>
                    </div>
                    <div class="mt-4"><label>{{'label-title.city-area-name' | translate }}</label>
                        <div class="input-group mb-3">
                          <input type="text" placeholder="{{'label-title.city-area-name' | translate }}" aria-label="Search city - area name" aria-describedby="basic-addon2" class="form-control" formControlName="city_area_name">
                          <div class="input-group-append"><button type="button" class="btn btn-outline-secondary">{{'button-title.draw-your-area' | translate}}</button></div>
                          <div *ngIf="commonForm.get('city_area_name').errors?.required && commonForm.get('city_area_name').touched" class="invalid-tooltip">
                            {{'label-title.city-area-name' | translate}} {{'label-title.is-required' | translate }}</div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                          <label for="">{{'label-title.timezone' | translate}}</label>
                          <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false"
                            placeholder="{{'label-title.select-timezone' | translate}}" formControlName="timezone">
                            <ng-option>..</ng-option>
                            <ng-option>..</ng-option>
                          </ng-select>
                          <div *ngIf="commonForm.get('timezone').errors?.required && commonForm.get('timezone').touched" class="invalid-tooltip">
                            {{'label-title.timezone' | translate}} {{'label-title.is-required' | translate }}</div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="form-group">
                          <label for="">{{'label-title.distance-unit' | translate}}</label>
                          <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false"
                            placeholder="{{'label-title.choose' | translate}}" formControlName="distance_unit">
                            <ng-option>..</ng-option>
                            <ng-option>..</ng-option>
                          </ng-select>
                          <div *ngIf="commonForm.get('distance_unit').errors?.required && commonForm.get('distance_unit').touched" class="invalid-tooltip">
                            {{'label-title.distance-unit' | translate}} {{'label-title.is-required' | translate }}</div>
                        </div>
                    </div>
                    <div class="">
                        <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
                            <div class="flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">{{'label-title.ask-user-for-fixed-fare' | translate}}
                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <div class="custom-control custom-switch"><input type="checkbox" id="1" class="custom-control-input"><label for="1" class="custom-control-label"></label></div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
                            <div class="flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">{{'label-title.airport-business' | translate}}
                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <div class="custom-control custom-switch"><input type="checkbox" id="2" class="custom-control-input"><label for="2" class="custom-control-label"></label></div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
                            <div class="flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">{{'label-title.city-to-city-business' | translate}}
                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <div class="custom-control custom-switch"><input type="checkbox" id="3" class="custom-control-input"><label for="3" class="custom-control-label"></label></div>
                            </div>
                        </div>
                        <div class="d-flex flex-row mt-5 justify-content-between align-items-center">
                            <div class="flex-fill">
                                <a>
                                    <p class="font-weight-medium mb-0">{{'label-title.zone-to-zone-business' | translate}}
                                    </p>
                                    <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                </a>
                            </div>
                            <div>
                                <div class="custom-control custom-switch"><input type="checkbox" id="4" class="custom-control-input"><label for="4" class="custom-control-label"></label></div>
                            </div>
                        </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary">{{'button-title.set-tax-settings' | translate}}</button>
                  <button type="submit"  [disabled]="commonForm.invalid" class="btn btn-primary float-right">{{'button-title.save' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
