<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{'heading-title.email-connection' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img class="img-fluid list-thumbnail responsive border-radius c-pointer mx-auto d-block mb-3" src="https://cdn-icons-png.flaticon.com/512/281/281769.png">
      <button type="button" class="btn btn-outline-primary btn-sm">{{ 'button-title.connect' | translate}}</button>
    </div>
    <div class="separator my-4"></div>
    <div class="form">
    <form [formGroup]="commonForm" class="tooltip-label-center">
      <div class="d-flex flex-row justify-content-between pb-3">
      <div class="float-left float-none-xs">
        <div class="d-inline-block">
           <h6 class="m-0">{{ 'label-title.connect-with-email-server' | translate }}</h6>
        </div>
      </div>
      <!-- <div class="btn-group float-right float-none-xs mb-2">
        <button id="button-basic2" type="button" [disabled]="commonForm.invalid" class="btn btn-outline-primary btn-xs">
          {{ 'button-title.save' | translate}}
        </button>
      </div> -->
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="mailaddress">{{ 'label-title.email' | translate }}</label>
        <input id="mailaddress" type="email" class="form-control" formControlName="email">
        <div *ngIf="commonForm.get('email').errors?.required && commonForm.get('email').touched" class="invalid-tooltip">
          {{'label-title.email' | translate }} {{'label-title.is-required' | translate }}</div>
        <div *ngIf="commonForm.get('email').errors?.email && commonForm.get('email').touched" class="invalid-tooltip">
        {{'label-title.email' | translate }}  {{'label-title.must-be-a-valid-address' | translate }}</div>
      </div>
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="password">{{ 'label-title.password' | translate }}</label>
        <input id="password" type="password" class="form-control" formControlName="password">
        <div *ngIf="commonForm.get('password').errors?.required && commonForm.get('password').touched" class="invalid-tooltip">
          {{'label-title.password' | translate}} {{'label-title.is-required' | translate }}</div>
        <!-- <div *ngIf="commonForm.get('password').errors?.pattern && commonForm.get('password').touched" class="invalid-tooltip">
          {{'label-title.password' | translate}}  {{'label-title.must-contain-at-least-a-letter-and-a-number' | translate}}</div> -->
        <!-- <div *ngIf="!commonForm.get('password')?.errors?.pattern && commonForm.get('password')?.errors?.minlength && commonForm.get('password').touched"
          class="invalid-tooltip">{{'label-title.password' | translate}} {{'label-title.must-contain-at-least-8-characters' | translate}}</div> -->
        <!-- <div *ngIf="commonForm.get('password')?.errors?.required && commonForm.get('password').touched" class="invalid-tooltip">
          Password is required!</div> -->
        <div *ngIf="commonForm.get('password')?.errors?.pattern && commonForm.get('password').touched" class="invalid-tooltip">
          {{'label-title.password' | translate}} {{'label-title.must-contain-at-least-a-letter-and-a-number' |  translate}}</div>
        <div *ngIf="!commonForm.get('password')?.errors?.pattern && commonForm.get('password')?.errors?.minlength && commonForm.get('password').touched" 
        class="invalid-tooltip">
        {{'label-title.password' | translate}} {{'label-title.must-contain-at-least-8-characters' | translate}}</div>
      </div>
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="emailport">{{ 'label-title.port' | translate }}</label>
        <input id="emailport" type="text" class="form-control" formControlName="port">
        <div *ngIf="commonForm.get('port').errors?.required && commonForm.get('port').touched" class="invalid-tooltip">
          {{'label-title.port' | translate}} {{'label-title.is-required' | translate }}</div>
        </div>
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="emailhost">{{ 'label-title.host' | translate }}</label>
        <input id="emailhost" type="text" class="form-control" formControlName="host">
        <div *ngIf="commonForm.get('host').errors?.required && commonForm.get('host').touched" class="invalid-tooltip">
          {{'label-title.host' | translate}} {{'label-title.is-required' | translate }}</div>
        </div>
      </div>
      <!-- <div class="btn-group float-right float-none-xs mb-2"> -->
        <button id="button-basic" type="submit" [disabled]="commonForm.invalid" class="btn btn-outline-primary btn-xs">
          {{ 'button-title.save' | translate}}
        </button>
      <!-- </div> -->
    </form>
    </div>
    <div class="separator my-4"></div>
    <div class="form">
    <form [formGroup]="smsForm"  class="tooltip-label-center">
      <div class="d-flex flex-row justify-content-between pb-3">
      <div class="float-left float-none-xs">
        <div class="d-inline-block">
           <h6 class="m-0">{{ 'label-title.email-settings' | translate }}</h6>
        </div>
      </div>
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="policylink">{{ 'label-title.privacy-policy-url' | translate }}</label>
        <input id="policylink" type="text" class="form-control" formControlName="policy_url">
        <div *ngIf="smsForm.get('policy_url').errors?.required && smsForm.get('policy_url').touched" class="invalid-tooltip">
          {{'label-title.privacy-policy-url' | translate}} {{'label-title.is-required' | translate }}</div>
      </div>
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="tnclink">{{ 'label-title.terms-&-conditions-url' | translate }}</label>
        <input id="tnclink" type="text" class="form-control" formControlName="conditions_url">
        <div *ngIf="smsForm.get('conditions_url').errors?.required && smsForm.get('conditions_url').touched" class="invalid-tooltip">
          {{'label-title.terms-&-conditions-url' | translate}} {{'label-title.is-required' | translate }}</div>
      </div>
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="titlecolor">{{ 'label-title.header-title-color' | translate }}</label>
        <input id="titlecolor" type="color" style="height: 40px" class="form-control">
      </div>
      </div>
      <div class="mb-3">
      <div class="form-group">
        <label for="headercolor">{{ 'label-title.header-color' | translate }}</label>
        <input id="headercolor" type="color" style="height: 40px" class="form-control">
      </div>
      </div>
      <!-- <div class="btn-group float-right float-none-xs mb-2"> -->
        <button id="button-basic2" type="submit" [disabled]="smsForm.invalid" class="btn btn-outline-primary btn-xs">
          {{ 'button-title.save' | translate}}
        </button>
      <!-- </div> -->
    </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.close' | translate}}</button>
    <!-- <button type="submit" class="btn btn-primary float-right">Submit</button> -->
  </div>
</ng-template>
