<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="!isEdit">{{'heading-title.add-admin' | translate}}</h4>
    <h4 class="modal-title pull-left" *ngIf="isEdit">{{'heading-title.edit-admin' | translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <form [formGroup]="subAdminForm" appFocus>
      <div class="row" id="scrollTop">
        <div class="mb-3 form-group col-12 ">
          <label>{{ 'label-title.name' | translate }}</label>
          <input type="text" class="form-control" formControlName="username"
            (keypress)="_helper.space_validation($event)">
          <div *ngIf="subAdminForm.get('username').errors?.required && subAdminForm.get('username').touched"
            class="invalid-tooltip">{{ 'validation-title.name-is-required' | translate }}</div>
        </div>
        <div class="mb-3 form-group col-12 ">
          <label>{{ 'label-title.email' | translate }}</label>
          <input type="text" class="form-control" formControlName="email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$">
          <div *ngIf="subAdminForm.get('email').errors?.required && subAdminForm.get('email').touched"
            class="invalid-tooltip">{{ 'validation-title.email-is-required' | translate }}</div>
          <div *ngIf="subAdminForm.get('email').errors?.pattern && subAdminForm.get('email').touched"
            class="invalid-tooltip">{{ 'validation-title.enter-valid-email' | translate }}</div>
        </div>
        <!-- <div class="mb-3">
          <label>{{ 'label-title.phone' | translate }}</label>
          <input type="text" class="form-control" formControlName="phone">
        </div> -->
        <div class="form-group col-12 ">
          <label for="inputState">{{'label-title.admin-type' | translate }}</label>
          <ng-select appearance="outline" formControlName="type" (change)="onAdminType($event)" [clearable]="false"
            [searchable]="true" notFoundText="{{'validation-title.no-data-found' | translate}}" [readonly]="isEdit">
            <ng-option [value]="0">{{ 'menu.admin' | translate}}</ng-option>
            <ng-option [value]="1">{{ 'menu.sub-admin' | translate}}</ng-option>
          </ng-select>
          <div *ngIf="subAdminForm.get('type').errors?.required && subAdminForm.get('type').touched"
            class="invalid-tooltip">{{ 'validation-title.admin-type-is-required' | translate }}</div>
        </div>
        <div class="form-group col-12 ">
          <label>{{ 'label-title.password' | translate }}</label>
          <input type="{{showPassword? 'text' : 'password'}}" class="form-control" formControlName="password"
            (keypress)="_helper.space_validation($event)">
          <span id="show-pwd-btn-1" *ngIf="showPassword" class="field-icon c-pointer"
            (click)="showPassword=!showPassword">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
              <path fill="#7f7f7f"
                d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
            </svg>
          </span>
          <span id="hide-pwd-btn-1" *ngIf="!showPassword" class="field-icon c-pointer"
            (click)="showPassword=!showPassword">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
              <path fill="#7f7f7f"
                d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z" />
            </svg>
          </span>
          <div *ngIf="subAdminForm.get('password').errors?.minlength && subAdminForm.get('password').touched"
            class="invalid-tooltip">{{ 'validation-title.min-6-character-requires' | translate}}</div>
          <div *ngIf="subAdminForm.get('password').errors?.required && subAdminForm.get('password').touched"
            class="invalid-tooltip">{{ 'validation-title.password-is-required' | translate}}</div>
        </div>
      </div>
      <!-- <hr> -->
      <div class="">
        <div class="my-2 d-flex align-items-center justify-content-between">
          <p class="mb-0">{{'label-title.enable-country-based-access-control' | translate }}</p>
          <div class="custom-control custom-switch">
            <input type="checkbox" id="customSwitch3" formControlName="is_country_based_access_control_enabled"
              class="custom-control-input" (change)="changeCountryAccess()">
            <label for="customSwitch3" class="custom-control-label"></label>
          </div>
        </div>
        <div class="my-2 d-flex align-items-center justify-content-between"
          *ngIf="subAdminForm.value.is_country_based_access_control_enabled == true">
          <p class="mb-0">{{'label-title.allowed-country-for-admin-access' | translate}}</p>
          <div (clickOutside)="countrydropdown.hide()" class="btn-group" dropdown #countrydropdown="bs-dropdown"
            [autoClose]="false">
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              <span *ngIf="selectedCountries.length == 0">
                {{'button-title.select-country'| translate}}
              </span>
              <span *ngIf="selectedCountries.length > 0">
                {{selectedCountries.length}} {{'label-title.country'| translate}} {{'label-title.selected'| translate}}
              </span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              style="max-height: 250px;overflow: auto;">
              <li role="menuitem" *ngFor="let data of country_list; let i=index;">
                <a class="dropdown-item c-default" href="javascript:;" style="padding: 0.25rem 1rem;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="country{{i}}" class="custom-control-input"
                      [(ngModel)]="data.is_country_checked" [ngModelOptions]="{standalone: true}"
                      (change)="selectCountry(data)">
                    <label for="country{{i}}" class="dropdown-item custom-control-label">
                      {{ data.countryname }}
                    </label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-danger"
          *ngIf="select_country_error && subAdminForm.value.is_country_based_access_control_enabled == true && selectedCountries.length == 0">
          *{{'validation-title.please-select-atleast-one-country'| translate}}</p>
        <div class="my-2 d-flex align-items-center justify-content-between">
          <p class="mb-0">{{'label-title.enable-city-based-access-control' | translate}}</p>
          <div class="custom-control custom-switch">
            <input type="checkbox" id="customSwitch4" formControlName="is_city_based_access_control_enabled"
              class="custom-control-input" (change)="changeCityAccess()">
            <label for="customSwitch4" class="custom-control-label"></label>
          </div>
        </div>
        <div class="my-2 d-flex align-items-center justify-content-between"
          *ngIf="subAdminForm.value.is_city_based_access_control_enabled == true">
          <p class="mb-0">{{'label-title.allowed-city-for-admin-access' | translate}}</p>
          <div (clickOutside)="citydropdown.hide()" class="btn-group" dropdown #citydropdown="bs-dropdown"
            [autoClose]="false">
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              <span *ngIf="selectedCities.length == 0">
                {{'button-title.select-city'| translate}}
              </span>
              <span *ngIf="selectedCities.length > 0">
                {{selectedCities.length}} {{'label-title.city'| translate}} {{'label-title.selected'| translate}}
              </span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
              style="max-height: 250px;overflow: auto;">
              <li role="menuitem" *ngFor="let data of city_list; let i=index;">
                <a class="dropdown-item c-default" href="javascript:;" style="padding: 0.25rem 1rem;">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="city{{i}}" class="custom-control-input"
                      [(ngModel)]="data.is_city_checked" [ngModelOptions]="{standalone: true}"
                      (change)="selectCity(data)">
                    <label for="city{{i}}" class="dropdown-item custom-control-label">
                      {{ data.cityname }}
                    </label>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-danger"
          *ngIf="select_city_error && subAdminForm.value.is_city_based_access_control_enabled == true && selectedCities.length == 0">
          *{{'validation-title.please-select-atleast-one-city'| translate}}</p>
        <div class="mb-4" *ngIf="is_sub_admin">
          <hr>
          <h5>{{'label-title.subadmin-permission' | translate }}</h5>
          <div class="my-2 d-flex align-items-center justify-content-between ">
            <p class="mb-0">{{'label-title.show-email' | translate}}</p>
            <div class="custom-control custom-switch">
              <input type="checkbox" id="customSwitch1" formControlName="is_show_email" class="custom-control-input">
              <label for="customSwitch1" class="custom-control-label"></label>
            </div>
          </div>
          <div class="my-2 d-flex align-items-center justify-content-between">
            <p class="mb-0">{{'label-title.show-phone' | translate}}</p>
            <div class="custom-control custom-switch">
              <input type="checkbox" id="customSwitch2" formControlName="is_show_phone" class="custom-control-input">
              <label for="customSwitch2" class="custom-control-label"></label>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="row" *ngIf="is_sub_admin" style="margin: 0 -30px;">
        <div class="col-12">
          <table class="table table-bordered mb-0 tableScroll">
            <thead class="thead-light permisson-table">
              <tr>
                <th scope="col">
                  <input type="text" [(ngModel)]="searchText" placeholder="{{'label-title.search' | translate}}"
                    class="form-control" [ngModelOptions]="{standalone: true}">
                </th>
                <th scope="col">
                  {{'button-title.add'| translate}}
                </th>
                <th scope="col">
                  {{'button-title.edit'| translate}}
                </th>
                <th scope="col">
                  {{'button-title.delete'| translate}}
                </th>
                <th scope="col">
                  {{'button-title.export'| translate}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let url of admin_urls| filter: searchText; let i = index">
                <td class="pl-4">
                  <div class="custom-control custom-checkbox">
                    <input *ngIf="isEdit" type="checkbox" id="{{url.index}}" (change)="onUrlCheck(url.value, $event);"
                      [checked]="is_checked(url.value, _helper.PERMISSION.VIEW)" class="custom-control-input">
                    <input *ngIf="!isEdit" type="checkbox" id="{{url.index}}" (change)="onUrlCheck(url.value, $event);"
                      class="custom-control-input">
                    <label for="{{url.index}}" class="custom-control-label">{{url.label | translate}}</label>
                  </div>
                </td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox custom-pl" *ngIf="(+url.actions[_helper.PERMISSION.ADD])">
                    <input type="checkbox" [checked]="is_checked(url.value, _helper.PERMISSION.ADD)"
                      (change)="change_permission(url.value, _helper.PERMISSION.ADD)"
                      [disabled]="!is_checked(url.value, _helper.PERMISSION.VIEW)" id="add{{url.index}}"
                      class="custom-control-input">
                    <label for="add{{url.index}}" class="custom-control-label"></label>
                  </div>
                  <span *ngIf="!(+url.actions[_helper.PERMISSION.ADD])">&#10007;</span>
                </td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox custom-pl" *ngIf="(+url.actions[_helper.PERMISSION.EDIT])">
                    <input type="checkbox" [checked]="is_checked(url.value, _helper.PERMISSION.EDIT)"
                      (change)="change_permission(url.value, _helper.PERMISSION.EDIT)"
                      [disabled]="!is_checked(url.value, _helper.PERMISSION.VIEW)" id="edit{{url.index}}"
                      class="custom-control-input">
                    <label for="edit{{url.index}}" class="custom-control-label"></label>
                  </div>
                  <span *ngIf="!(+url.actions[_helper.PERMISSION.EDIT])">&#10007;</span>
                </td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox custom-pl"
                    *ngIf="(+url.actions[_helper.PERMISSION.DELETE])">
                    <input type="checkbox" [checked]="is_checked(url.value, _helper.PERMISSION.DELETE)"
                      (change)="change_permission(url.value, _helper.PERMISSION.DELETE)"
                      [disabled]="!is_checked(url.value, _helper.PERMISSION.VIEW)" id="delete{{url.index}}"
                      class="custom-control-input">
                    <label for="delete{{url.index}}" class="custom-control-label"></label>
                  </div>
                  <span *ngIf="!(+url.actions[_helper.PERMISSION.DELETE])">&#10007;</span>
                </td>
                <td class="text-center">
                  <div class="custom-control custom-checkbox custom-pl"
                    *ngIf="(+url.actions[_helper.PERMISSION.EXPORT])">
                    <input type="checkbox" [checked]="is_checked(url.value, _helper.PERMISSION.EXPORT)"
                      (change)="change_permission(url.value, _helper.PERMISSION.EXPORT)"
                      [disabled]="!is_checked(url.value, _helper.PERMISSION.VIEW)" id="export{{url.index}}"
                      class="custom-control-input">
                    <label for="export{{url.index}}" class="custom-control-label"></label>
                  </div>
                  <span *ngIf="!(+url.actions[_helper.PERMISSION.EXPORT])">&#10007;</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" *ngIf="!isEdit" class="btn btn-primary" (click)="onAddAdmin()">{{'button-title.add' |
      translate }}</button>
    <button type="button" *ngIf="isEdit" class="btn btn-primary" (click)="onUpdateAdmin()">{{'button-title.update' |
      translate }}</button>
  </div>
</ng-template>
  