.boxes {
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
}

// .boxes::-webkit-scrollbar {
//     width: 12px;
//     scrollbar-width: thin;
// }
// .boxes::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     border-radius: 10px;
// }
// .boxes::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
// }
