<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'label-title.driver-id' | translate }} : 45689</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body p-0">
                    <tabset class="card-tabs" [justified]="true">
                        <tab heading="{{'label-title.details' | translate }}" class="card-body">
                        </tab>
                        <tab heading="{{'label-title.invoice' | translate }}" class="card-body">
                            <div class="row d-flex flex-row justify-content-start justify-content-around mb-3">
                                <div class="text-center col-4">
                                  <p class="text-muted mb-1">{{'label-title.online-minutes' | translate }}</p>
                                  <p>285.25</p>
                                </div>
                                <div class="text-center col-4">
                                    <p class="text-muted mb-1">{{'label-title.received' | translate }}</p>
                                    <p>12</p>
                                </div>
                                <div class="text-center col-4">
                                    <p class="text-muted mb-1">{{'label-title.accepted' | translate }}</p>
                                    <p>6</p>
                                </div>
                                <div class="text-center col-4">
                                    <p class="text-muted mb-1">{{'label-title.completed' | translate }}</p>
                                    <p>4 </p>
                                </div>
                                <div class="text-center col-4">
                                    <p class="text-muted mb-1">{{'label-title.rejected' | translate }}</p>
                                    <p>3 </p>
                                </div>
                                <div class="text-center col-4">
                                    <p class="text-muted mb-1">{{'label-title.cancelled' | translate }}</p>
                                    <p>1 </p>
                                </div>
                            </div>
                              <div class="row invoice">
                                <div class="col-12 mb-4">
                                  <div class="invoice-contents" style="background-color:#ffffff; max-width:830px; font-family: Helvetica,Arial,sans-serif !important; 
                                  position: relative;">
                                    <table class="w-100 mb-3 border-0 bg-white h-auto" style="border-collapse: separate;">
                                      <thead class="border-bottom">
                                        <tr class="px-0 border-bottom">
                                          <th>
                                            <p class="mb-0 font-weight-bold">{{'label-title.ride-charge' | translate }}</p>
                                          </th>
                                          <th class="text-right">
                                            <p class="mb-0 font-weight-bold">$100</p>
                                          </th>
                                        </tr>
                                        <tr>
                                          <td colspan="2"><hr class="mb-2 mt-0"></td>
                                        </tr>
                                      </thead>
                                      <tbody class="">
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.base-price' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.distance-price' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.time-price' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.wait-time-price' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.min-fare' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.fixed-price' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table class="w-100 mb-3 border-0 bg-white h-auto" style="border-collapse: separate;">
                                      <thead class="border-bottom">
                                        <tr class="px-0 border-bottom">
                                          <th>
                                            <p class="mb-0 font-weight-bold">{{'label-title.tax-charges' | translate }}</p>
                                          </th>
                                          <th class="text-right">
                                            <p class="mb-0 font-weight-bold">$10</p>
                                          </th>
                                        </tr>
                                        <tr>
                                          <td colspan="2"><hr class="mb-2 mt-0"></td>
                                        </tr>
                                      </thead>
                                      <tbody class="">
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.tax' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                        <tr>
                                          <td class="px-3 py-1"><p class="mb-0">{{'label-title.user-tax' | translate }}</p></td>
                                          <td class="px-3 py-1 text-right"><p class="mb-0">$14.82</p></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table class="w-100 mb-3 border-0 bg-white h-auto" style="border-collapse:separate !important;">
                                      <thead class="border-bottom">
                                        <tr class="px-0 border-bottom">
                                          <th>
                                            <p class="mb-0 font-weight-bold">{{'label-title.total' | translate }}</p>
                                          </th>
                                          <th class="text-right">
                                            <p class="mb-0 font-weight-bold">$10</p>
                                          </th>
                                        </tr>
                                        <tr>
                                          <td colspan="2"><hr class="mb-2 mt-0"></td>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td class="w-50"></td>
                                          <td class="w-50">
                                            <table cellpadding="0" cellspacing="0" class="w-100 border-0 bg-white h-auto" style="border-collapse:separate !important;">
                                              <tbody>
                                              <tr>
                                                <td class="px-3 py-1 text-left text-small"><p class="mb-0 text-muted">{{'label-title.subtotal' | translate }} : </p></td>
                                                <td class="px-3 py-1 text-right"><p class="mb-0">$61.82</p></td>
                                              </tr>
                                              <tr>
                                                <td class="px-3 py-1 text-left text-small"><p class="mb-0 text-muted">{{'label-title.tax' | translate }} : </p></td>
                                                <td class="px-3 py-1 text-right"><p class="mb-0">$61.82</p></td>
                                              </tr>
                                              <tr>
                                                <td class="px-3 py-1 text-left text-small"><p class="mb-0 text-muted">{{'label-title.promo-bonus' | translate }} : </p></td>
                                                <td class="px-3 py-1 text-right"><p class="mb-0">$61.82</p></td>
                                              </tr>
                                              <tr>
                                                <td class="px-3 py-1 text-left text-small"><p class="mb-0 font-weight-bold">{{'label-title.total' | translate }} : </p></td>
                                                <td class="px-3 py-1 text-right"><p class="mb-0 font-weight-bold">$658.14</p></td>
                                              </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>

                        </tab>
                        <tab heading="{{'label-title.details' | translate }}" class="card-body">
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button id="button-split" type="button" class="btn btn-outline-primary ">{{'button-title.cancel' | translate }}</button>
                    <button type="submit" class="btn btn-primary float-right">{{'button-title.submit' | translate }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
