<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.add-new-admin' | translate }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="commonForm"  class="tooltip-label-center"></form>
                    <div class="form-group mt-2 border-bottom">
                      <label for="inputState">{{'label-title.name' | translate }}</label>
                      <input type="text" class="form-control" formControlName="name">
                      <div *ngIf="commonForm.get('name').errors?.required && commonForm.get('name').touched" class="invalid-tooltip">
                        {{'label-title.name' | translate }} {{'label-title.is-required' | translate }}</div>
                       <div *ngIf="commonForm.get('name').errors?.minlength && commonForm.get('name').touched" class="invalid-tooltip">
                        {{'label-title.name' | translate }} {{'label-title.must-contain-at-least-2-characters' | translate }}</div>
                    </div>
                    <div class="form-group mt-2 border-bottom">
                      <label for="inputState">{{'label-title.type' | translate }}</label>
                      <ng-select appearance="outline" #agreeSelect labelForId="yesno" [searchable]="false"
                        placeholder="{{'label-title.choose' | translate}}" formControlName="type">
                        <ng-option>..</ng-option>
                        <ng-option>..</ng-option>
                      </ng-select>
                      <div *ngIf="commonForm.get('type').errors?.required && commonForm.get('type').touched" class="invalid-tooltip">
                        {{'label-title.type' | translate}} {{'label-title.is-required' | translate }}</div>
                    </div>
                    <div class="form-group mt-2 border-bottom">
                      <label for="inputState">{{'label-title.email' | translate }}</label>
                      <input type="email" class="form-control" formControlName="email">
                      <div *ngIf="commonForm.get('email').errors?.required && commonForm.get('email').touched"
                        class="invalid-tooltip">{{'label-title.email' | translate }} {{'label-title.is-required' | translate }}</div>
                      <div *ngIf="commonForm.get('email').errors?.email && commonForm.get('email').touched" class="invalid-tooltip">
                        {{'label-title.email' | translate }}  {{'label-title.must-be-a-valid-address' | translate }}</div>
                    </div>
                    <div class="form-group mt-2 border-bottom">
                      <label for="inputState">{{'label-title.password' | translate }}</label>
                      <input type="password" class="form-control" formControlName="password">
                      <div *ngIf="commonForm.get('password').errors?.required && commonForm.get('password').touched" class="invalid-tooltip">
                        {{'label-title.password' | translate}} {{'label-title.is-required' | translate }}</div>
                      <!-- <div *ngIf="commonForm.get('password').errors?.pattern && commonForm.get('password').touched" class="invalid-tooltip">
                        {{'label-title.password' | translate}}  {{'label-title.must-contain-at-least-a-letter-and-a-number' | translate}}</div> -->
                      <div
                        *ngIf="!commonForm.get('password')?.errors?.pattern && commonForm.get('password')?.errors?.minlength && commonForm.get('password').touched"
                        class="invalid-tooltip">{{'label-title.password' | translate}} {{'label-title.must-contain-at-least-8-characters' | translate}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="button-split" type="button" class="btn btn-outline-primary ">{{'button-title.cancel' | translate }}</button>
                    <button type="submit" [disabled]="commonForm.invalid" class="btn btn-primary float-right">{{'button-title.submit' | translate }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>
