<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- <div class="float-left float-none-xs">
                <div class="d-inline-block"> -->
            <h5 class="card-title mb-3">{{'heading-title.email_configuration' | translate }}</h5>
            <!-- </div>
            </div> -->
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                    (click)="showEmailConfigurationModal()">
                    {{'button-title.edit' | translate }} </button>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.domain' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.domain}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.domain_email_address' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.email}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.password' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.password}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.smtp_host' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.smtp_host}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.smtp_port' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.smtp_port}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

<app-email-configuration-modal #emailConfigurationModal (email_data)="getSettingData()"></app-email-configuration-modal>