<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- <div class="float-left float-none-xs">
                <div class="d-inline-block"> -->
            <h5 class="card-title mb-3">{{'heading-title.base-url' | translate }}</h5>
            <!-- </div>
            </div> -->
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                    (click)="showBaseUrlModal()">
                    {{'button-title.edit' | translate }} </button>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.payments_base_url' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.payments_base_url}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.history_base_url' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.history_base_url}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

<app-base-url-modal #baseUrlModalComponent (url_data)="getSettingData()"></app-base-url-modal>