<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- <div class="float-left float-none-xs">
                <div class="d-inline-block"> -->
            <h5 class="card-title mb-3">{{'heading-title.basic_app_settings' | translate }}</h5>
            <!-- </div>
            </div> -->
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                    (click)="showStoreSettingModal()">
                    {{'button-title.edit' | translate }} </button>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.country' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.countryname}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.currency-code' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.adminCurrencyCode}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.currency' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.adminCurrency}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.timezone' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.adminTimeZone}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.display-date-timezone' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.timezone_for_display_date}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.phone' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.admin_phone}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.admin_email' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.admin_email}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.contact_email' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.contactUsEmail}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.default-map-load-latitude' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.location[0]}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.default-map-load-Longitude' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.location[1]}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.provider-time-out-in-second' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.provider_timeout}} {{'label-title.sec' | translate}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.provider-offline-min' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.provider_offline_min}} {{'label-title.min' | translate}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.default-search-radius' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.default_Search_radious}} {{'label-title.km' | translate}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.scheduled-request-pre-start-minutes' | translate
                        }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.scheduled_request_pre_start_minute}} {{'label-title.min' | translate}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.number-of-loop-for-find-nearest-driver' |
                        translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.number_of_try_for_scheduled_request}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.nearest-driver-type' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes">
                <span class="post-icon">
                    <a href="javascript:;">
                        <span *ngIf="setting_detail.find_nearest_driver_type == 1">{{'label-title.single' | translate}}</span>
                        <span *ngIf="setting_detail.find_nearest_driver_type == 2">{{'label-title.multiple' | translate}}</span>
                    </a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.request_sent_to_no_of_driver' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.request_send_to_no_of_providers}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.min_phoneno_length' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.minimum_phone_number_length}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.max_phoneno_length' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.maximum_phone_number_length}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.decimal-places' | translate}} ({{'label-title.for-website-only' | translate}})</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a
                        href="javascript:;"><span>{{setting_detail.decimal_point_value}}</span></a>
                </span>
            </div>
        </div>
    </div>
</div>

<app-store-setting-modal #storeSettingModal (basic_setting_data)="getSettingData()"></app-store-setting-modal>