<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- <div class="float-left float-none-xs">
                <div class="d-inline-block"> -->
            <h5 class="card-title mb-3">{{'heading-title.panel_name' | translate }}</h5>
            <!-- </div>
            </div> -->
            <div class="">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                    (click)="showPanelNameModal()">
                    {{'button-title.edit' | translate }} </button>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.admin_panel_name' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a href="javascript:;"><span>{{setting_detail.app_name}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.partner_panel_name' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a href="javascript:;"><span>{{setting_detail.partner_panel_name}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.dispatcher_panel_name' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a href="javascript:;"><span>{{setting_detail.dispatcher_panel_name}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.hotel_panel_name' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a href="javascript:;"><span>{{setting_detail.hotel_panel_name}}</span></a>
                </span>
            </div>
        </div>
        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
            <div class="flex-grow-1">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.corporate_panel_name' | translate }}</p>
                </a>
            </div>
            <div class="comment-likes"><span class="post-icon"><a href="javascript:;"><span>{{setting_detail.corporate_panel_name}}</span></a>
                </span>
            </div>
        </div>
    </div>
</div>

<app-panel-name-modal #panelNameModal (panel_name)="getSettingData()"></app-panel-name-modal>