<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'heading-title.add-new-document' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-2 border-bottom">
            <div class="form-group">
                <label for="inputState">{{'label-title.country' | translate}}</label>
                <select id="inputState" class="form-control">
                    <option selected="">{{'label-title.select-country' | translate}}</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="mb-2 border-bottom">
            <div class="form-group">
                <label for="exampleInputEmail3">{{'label-title.name' | translate}}</label>
                <input type="text" id="exampleInputEmail3" class="form-control">
            </div>
        </div>
        <div class="mb-2 border-bottom">
            <div class="form-group">
                <label for="inputState">{{'label-title.type' | translate}}</label>
                <select id="inputState" class="form-control">
                    <option selected="">{{'label-title.user' | translate}}</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="mb-4 border-bottom">
            <div class="form-group">
                <label for="inputState">{{'label-title.document-type' | translate}}</label>
                <select id="inputState" class="form-control">
                    <option selected="">{{'label-title.mandatory' | translate}}</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <div class="mb-4 border-bottom">
            <div class="form-group row">
                <div class="col-sm-10 col-10">
                    <p for="inputEmail3" class="mb-0">{{'label-title.unique-code' | translate}}</p>
                </div>
                <div class="col-sm-2 col-2">
                    <div>
                        <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch1" class="custom-control-input"><label for="customSwitch1" class="custom-control-label"></label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 border-bottom">
            <div class="form-group row">
                <div class="col-sm-10 col-10">
                    <p for="inputEmail3" class="mb-0">{{'label-title.expired-date' | translate}}</p>
                </div>
                <div class="col-sm-2 col-2">
                    <div>
                        <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch12" class="custom-control-input"><label for="customSwitch12" class="custom-control-label"></label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="button-split" type="button" class="btn btn-outline-primary ">{{'button-title.cancel' | translate}}</button>
        <button type="submit" class="btn btn-primary float-right">{{'button-title.submit' | translate}}</button>
    </div>
</ng-template>