<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" *ngIf="listData">{{listData.first_name}} {{listData.last_name}} ({{listData.unique_id}})</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <tabset class="card-tabs " [justified]="true">
                        <tab heading="{{'label-title.details' | translate }}" class="card-body" (selectTab)="selectedTab(1)">
                            <form [formGroup]="partnerSettingForm" class="ng-invalid ng-dirty ng-touched" appFocus>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-12 py-3 text-center">
                                        <a href="javascript::" >
                                            <input id="file" type="file" (change)="onSelectImageFile($event , 1)" #profile/>
                                            <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE.USER_SQUARE"
                                                [src]="upload_provider_image != '' ? upload_provider_image : _helper.DEFAULT_IMAGE.USER_SQUARE"
                                                class="img-thumbnail border-0 rounded list-thumbnail align-self-center user-profile">
                                        </a>
                                        <div class="position-absolute card-bottom-buttons" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                            <button type="button" class="btn btn-outline-primary icon-button" (click)="profile.click()">
                                                <i
                                                    class="{{ ('simple-icon-pencil')}}"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center d-sm-none d-block">
                                        <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' | translate}}</span>
                                    </div>
                                    <div class="col-sm-8 col-md-8 col-lg-8 col-12 my-auto">
                                        <div class="form-group">
                                            <label for="first_name">{{'label-title.first-name' | translate }}</label>
                                            <input type="text" id="first_name" formControlName="first_name"  required="" class="form-control" (keypress)="_helper.space_validation($event)">
                                            <div *ngIf="partnerSettingForm.get('first_name').errors?.required && partnerSettingForm.get('first_name').touched"    class="invalid-tooltip">
                                                {{'label-title.first-name' | translate}} {{'required' | translate }}
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name">{{'label-title.last-name' | translate }}</label>
                                            <input type="text" id="last_name" formControlName="last_name"  required="" class="form-control" (keypress)="_helper.space_validation($event)">
                                            <div *ngIf="partnerSettingForm.get('last_name').errors?.required && partnerSettingForm.get('last_name').touched"    class="invalid-tooltip">
                                                {{'label-title.first-name' | translate}} {{'required' | translate }}
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-12 d-none d-sm-block">
                                        <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' | translate}}</span>
                                    </div>
                                    <div class="col-12 mt-sm-3">
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="phone">
                                                        {{'label-title.phone' | translate }} 
                                                    </label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend w-20 text-center">
                                                            <input type="text" class="form-control text-center" formControlName="country_phone_code" readonly>
                                                        </div>
                                                        <input type="text" id="phone" onDrop="return false" onPaste="return false" formControlName="phone" (keypress)="_helper.phone_number_validation($event)" aria-describedby="basic-addon1" [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8" [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12" [readOnly]="requestList?.is_show_phone == false"  required 
                                                            class="form-control" noPasteDrop>
                                                            <div *ngIf="partnerSettingForm.get('phone').errors && partnerSettingForm.get('phone').touched"    class="invalid-tooltip">
                                                                <span *ngIf="partnerSettingForm.get('phone').errors.required"> {{'validation-title.phone-is-reqiured' | translate}} </span>
                                                                <span *ngIf="partnerSettingForm.get('phone').errors.minlength ">
                                                                    {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;{{'validation-title.character-requires' | translate}} 
                                                                </span>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="email">{{'label-title.email' | translate }}</label>
                                                    <div class="input-group">
                                                        <input type="email" id="email" formControlName="email" aria-describedby="basic-addon2" required readonly
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="password">{{'label-title.change-password' | translate }}</label>
                                                    <input type="password" id="password" minlength="6" formControlName="password" class="form-control">
                                                    <div *ngIf="partnerSettingForm.get('password').errors?.minlength && partnerSettingForm.get('password').touched" class="invalid-tooltip">
                                                        {{'validation-title.min-6-character-requires' | translate}} 
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="companyname">{{'label-title.company-name' | translate }}</label>
                                                    <input type="text" id="companyname" formControlName="companyname"  class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="country"><span>{{'label-title.country' | translate}}</span></label>
                                                    <input type="text" id="country" formControlName="country" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="address">{{'label-title.address' | translate }}</label>
                                                    <textarea id="address" name="address" rows="2" formControlName="address" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-12">
                                                <label for="idProof">{{'label-title.id-proof' | translate }}</label>
                                                <div class="form-group">
                                                    <input id="file" type="file" (change)="onSelectImageFile($event , 2)" #document/>
                                                    <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE.DOCUMENT_PROFILE"
                                                    [src]="idProof != '' ? idProof : _helper.DEFAULT_IMAGE.DOCUMENT_PROFILE"
                                                    class="img-thumbnail border-0 rounded list-thumbnail align-self-center user-profile">
                                                    <div class="position-absolute idProof" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                                        <button type="button" class="btn btn-outline-primary icon-button" (click)="document.click()">
                                                            <i
                                                                class="{{ ('simple-icon-pencil')}}"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div>
                                    <h5>{{'label-title.banking-details' | translate }}</h5>
                                    <div class="row mb-3" *ngIf="listData">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.account-id' | translate }} : </p>
                                            <p>{{listData.account_id}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h5>{{'label-title.other-details' | translate }}</h5>
                                    <div class="row mb-3" *ngIf="requestList">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.request' | translate }}</p>
                                            <p>{{requestList.total_request}}</p>
                                        </div>
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.completed' | translate }}</p>
                                            <p>{{requestList.completed_request}}</p>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-6 col-6">
                                            <p class="text-muted mb-0">{{'label-title.wallet' | translate }}</p>
                                            <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-baseline" *ngIf="listData">
                                                <span class="h6 mb-0 mr-2">{{listData.wallet_currency_code}} {{listData.wallet.toFixed(_helper.to_fixed_number)}}</span>
                                                <div *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                                                <a class="color-theme-1 c-pointer" *ngIf="partnerStatus" (click)="onAddWallet();modalRef.hide()">{{'button-title.add-in-wallet' | translate }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="{{'label-title.vehicle' | translate }}" class="card-body" (selectTab)="selectedTab(2)">
                            <div class="card mb-4" *ngFor="let vehicle of vehicleDetails , let i = index">
                                <!-- <div class="position-absolute card-top-buttons p-4">
                                    <button class="btn btn-circle btn-outline-primary hero-circle-button"
                                        (click)="onCollapse(vehicle, i);vehicleDocumentList(vehicle)" [attr.aria-expanded]="vehicle.is_edit"
                                        aria-controls="collapseAnimated" [disabled]="isCollapsed && !vehicle.is_edit">
                                        <i class="simple-icon-arrow-down"></i></button>
                                </div> -->
                                <div class="card-body">
                                    <div class="d-flex justify-content-between ">
                                        <h5 class="mb-4 mb-sm-0">{{vehicle.name}}</h5>
                                        <div class="">
                                            <!-- <button type="button" *ngIf="!vehicle.is_edit" class="btn btn-xs btn-outline-primary" [disabled]="isCollapsed && !vehicle.is_edit" (click)="editVehicle(vehicle ,i);vehicleDocumentList(vehicle)">{{ 'button-title.edit' | translate }}</button> -->
                                            <button *ngIf="vehicle.is_edit && _helper.has_permission(_helper.PERMISSION.EDIT)" type="button" class="btn btn-outline-primary btn-xs text-nowrap mr-2"
                                                (click)="updateVehicle(vehicle ,partnerVehicleForm.value)">{{'button-title.save' | translate}}</button>
                                            <button  type="button" class="btn btn-circle btn-outline-primary"
                                                (click)="editVehicle(vehicle ,i);vehicleDocumentList(vehicle)" [disabled]="isCollapsed && !vehicle.is_edit"
                                                [attr.aria-expanded]="vehicle.is_edit" aria-controls="collapseAnimated">
                                                <i class="simple-icon-arrow-down" *ngIf="!vehicle.is_edit" style="padding-top: 8px;display: inline-block;"></i>
                                                <i class="simple-icon-arrow-up" *ngIf="vehicle.is_edit" style="padding-top: 4px;display: inline-block;"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="collapseAnimated" [collapse]="!vehicle.is_edit" [isAnimated]="true">
                                        <div class="mt-4">
                                            <form [formGroup]="partnerVehicleForm" appFocus>
                                                <div class="row mb-0">
                                                    <div class="col-md-6 col-6  mb-2">
                                                        <div class="form-group">
                                                            <label for="drivername">{{'label-title.name' | translate}}</label>
                                                            <input type="text" id="drivername" formControlName="name" class="form-control" placeholder="Name">
                                                            <div *ngIf="partnerVehicleForm.get('name').errors?.required && partnerVehicleForm.get('name').touched"    class="invalid-tooltip">
                                                                {{'label-title.name' | translate}} {{'required' | translate }}
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6 mb-2">
                                                        <div class="form-group">
                                                            <label for="platenumber">{{'label-title.plate-no' | translate}}</label>
                                                            <input type="text" id="platenumber" formControlName="plate_no" class="form-control" placeholder="Plate no">
                                                            <div *ngIf="partnerVehicleForm.get('plate_no').errors?.required && partnerVehicleForm.get('plate_no').touched"    class="invalid-tooltip">
                                                                {{'label-title.plate-no' | translate}} {{'required' | translate }}
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6 mb-2">
                                                        <div class="form-group">
                                                            <label for="drivingmodel">{{'label-title.modal' | translate}}</label>
                                                            <input type="text" id="drivingmodel" formControlName="model" class="form-control" placeholder="{{'label-title.modal' | translate }}">
                                                            <div *ngIf="partnerVehicleForm.get('model').errors?.required && partnerVehicleForm.get('model').touched"    class="invalid-tooltip">
                                                                {{'label-title.modal' | translate}} {{'required' | translate }}
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6 mb-2">
                                                        <div class="form-group">
                                                            <label for="drivercolor">{{'label-title.color' | translate}}</label>
                                                            <input type="text" id="drivercolor" formControlName="color" class="form-control" placeholder="{{'label-title.color' | translate }}">
                                                            <div *ngIf="partnerVehicleForm.get('color').errors?.required && partnerVehicleForm.get('color').touched"    class="invalid-tooltip">
                                                                {{'label-title.color' | translate}} {{'required' | translate }}
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6 mb-2">
                                                        <div class="form-group">
                                                            <label for="year">{{'label-title.year' | translate}}</label>
                                                            <input type="text" id="year" class="form-control" formControlName="passing_year"  readonly>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-6 mb-2">
                                                        <div class="form-group">
                                                            <label for="inputState">{{'label-title.service-type' | translate }}</label>
                                                            <ng-select appearance="outline" #agreeSelect labelForId="service_type" formControlName="service_type" [searchable]="false" [clearable]="false" placeholder="{{'label-title.choose' | translate}}" (change)="serviceTypeChange($event)">
                                                                <ng-option *ngFor="let type of vehicleType" [value]="type.type_detail._id">{{type.type_detail.typename}}</ng-option>
                                                            </ng-select>
                                                            <div *ngIf="partnerVehicleForm.get('service_type').errors?.required && partnerVehicleForm.get('service_type').touched"    class="invalid-tooltip">
                                                                {{'label-title.service-type' | translate}} {{'required' | translate }}
                                                                </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="">{{'label-title.accessibility' | translate}}</label>
                                                            <ng-select appearance="outline" #agreeSelect labelForId="accessibility" formControlName="accessibility" [searchable]="false" placeholder="{{'label-title.choose' | translate}}" multiple="true">
                                                                <ng-option *ngFor="let accessibility of accessibilityList" [value]="accessibility.value">{{accessibility.label | translate}}</ng-option>
                                                            </ng-select>
                                                        <!-- </div> -->
                                                    </div>
                                                </div>
                                                <div class="separator my-4"></div>
                                                <div class="w-100 mb-3" *ngIf="vehicleDocument && vehicleDocument.length>0">
                                                    <p class="text-primary mb-0"> {{'validation-title.please-upload-document-in-formate' | translate}}</p>
                                                </div>
                                                <div class="card shadow-none" *ngFor="let document of  vehicleDocument ; let j = index ">
                                                    <div class="position-absolute card-top-buttons p-0" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                                        <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs" *ngIf="!document.isDocumentEdit" (click)="onVehicelDocumentEdit(document , j)" [disabled]="isDocumentEdit"> {{ 'button-title.edit' | translate }} </button>
                                                        <button id="button-basic" type="button" *ngIf="document.isDocumentEdit"
                                                        (click)="onVehicelDocumentUpdate(document,updateDocument.value , vehicle)" class="btn btn-outline-primary btn-xs ">
                                                        {{'button-title.update' |
                                                        translate }}
                                                    </button>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <h5 class="mb-3 list-item-heading font-weight-bold">{{document.name |titlecase}}<span class="text-danger"
                                                            *ngIf="document.option == 1">*</span></h5>
                                                        <div>
                                                            <form [formGroup]="updateDocument">
                                                                <div class="d-flex flex-row mb-3 row align-items-center">
                                                                    <a href="javascript:;" class="doc d-block position-relative w-40 text-center p-3">
                                                                        <input id="file" type="file" (change)="onSelectImageFile($event , 3 )" #document1/>
                                                                        <img *ngIf="document.document_picture.split('.').pop() != 'pdf'" alt="document_picture" (error)="$event.target.src = _helper.DEFAULT_IMAGE.DOCUMENT_PROFILE" [src]="document.document_picture ?  document.document_picture : _helper.DEFAULT_IMAGE.DOCUMENT_PROFILE " class="document-list border-0">
                                                                        <img class="document-list border-0"
                                                                            src="../../../../assets/default_images/pdf_img.png"
                                                                            [alt]="document.name" *ngIf="document.document_picture.split('.').pop() == 'pdf'">
                                                                        <span
                                                                                class="badge badge-pill badge-theme-2 position-absolute badge-top-left"
                                                                                *ngIf="document.is_document_expired">{{'heading-title.expired'
                                                                                | translate }}</span>
                                                                        <div class="position-absolute card-bottom-buttons partner-icon-position">
                                                                            <button *ngIf="!document.isDocumentEdit && document.document_picture != '' && document.is_download == true && _helper.has_permission(_helper.PERMISSION.EXPORT)"
                                                                                class="btn btn-outline-primary icon-button"
                                                                                (click)="downloadImage(document.document_picture,document.document_name)" >
                                                                                <i *ngIf="!document.isDocumentEdit "
                                                                                    class="simple-icon-cloud-download"></i>
                                                                            </button>
                                                                            <button type="button" *ngIf="document.isDocumentEdit" class="btn btn-outline-primary icon-button"
                                                                                (click)="document1.click()">
                                                                                <i *ngIf="document.isDocumentEdit" class="simple-icon-pencil"></i>
                                                                            </button>
                                                                        </div>
                                                                        <!-- <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'label-title.expiry' | uppercase}}</span> -->

                                                                    </a>
                                                                    <div class="pl-3 pr-2 w-60">
                                                                        <div class="formGroup position-relative" *ngIf="document.is_expired_date == true">
                                                                            <p class="text-small text-muted mb-2">{{'label-title.expiry-date' | translate }}</p>
                                                                            <p class="mb-2" *ngIf="document.expired_date && !document.isDocumentEdit ">{{document.expired_date | date :_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                                                                            <p class="mb-2" *ngIf="!document.expired_date && !document.isDocumentEdit || !document.is_expired_date" > --- </p>
                                                                            <input type="text" class="form-control mb-1" formControlName="expired_date" [minDate]="minDate" *ngIf="document.isDocumentEdit && document.is_expired_date" bsDatepicker [bsConfig]="{ isAnimated: true ,dateInputFormat: 'YYYY-MM-DD' , containerClass: 'documentExpiry', showWeekNumbers:false }" [readOnly]="true">
                                                                            <div *ngIf="document.isDocumentEdit && document.is_expired_date && !this.updateDocument.value.expired_date && document.is_update_clicked == true"
                                                                                    class="invalid-tooltip">
                                                                                    {{'validation-title.expired-date-is-required' | translate}}
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group" *ngIf="document.is_unique_code == true">
                                                                            <p class="text-small text-muted mb-2">{{'label-title.unique-code' | translate }}</p>
                                                                            <p class="mb-2" *ngIf="document.unique_code && !document.isDocumentEdit ">{{document.unique_code}}</p>
                                                                            <p class="mb-2" *ngIf="!document.unique_code && !document.isDocumentEdit "> --- </p>
                                                                            <input type="text" class="form-control" formControlName="unique_code" *ngIf="document.isDocumentEdit">
                                                                            <div *ngIf="document.isDocumentEdit && document.is_unique_code && !this.updateDocument.value.unique_code && document.is_update_clicked == true"
                                                                                    class="invalid-tooltip">
                                                                                    {{'validation-title.unique-code-is-required' | translate}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="separator my-4"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="vehicleDetails == ''" class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 270px);">
                                {{'label-title.vehicle-details-not-found' |  translate}}
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer" *ngIf="tab == 1">
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" class="btn btn-danger" (click)="deleteItem();modalRef.hide()">{{'button-title.delete' | translate }}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'completed_requests')" type="submit" (click)="getHistory()" class="btn btn-outline-info float-right">{{'button-title.history' | translate }}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'driver-user')" type="submit" (click)="getDriver()" class="btn btn-outline-info float-right">{{'button-title.driver' | translate }}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="submit" class="btn btn-primary float-right" (click)="updatePartner()">{{'button-title.update' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
    </ng-template>

    <ng-template #confirmationTemplate>
        <div class="modal-header">
            <h4 class="modal-title pull-left" *ngIf="listData">{{listData.first_name}} {{listData.last_name}} ({{listData.unique_id}})</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0">
            <div class="p-4">
                <p>
                    {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'menu.partner' | translate}}
                </p>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" (click)="cancel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button> -->
            <button type="button" (click)="confirm()" class="btn btn-primary float-right">{{'button-title.confirm' | translate}}</button>
        </div>
    </ng-template>

    <ng-template #addWalletModelTemplate>
        <div class="modal-header">
            <h4 class="modal-title pull-left" *ngIf="listData">{{'heading-title.add-in-wallet' | translate}} ( {{listData.first_name}} {{listData.last_name}} )</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="addWalletModelRef.hide();wallet_amount = 0;">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>{{'label-title.amount' | translate}}</label>
            <input type="number" class="form-control mb-2" (keyup)="wallet_amount_validator($event)" [(ngModel)]="wallet_amount" placeholder="{{'label-title.amount' | translate}}" noPasteDrop>
            <div *ngIf="isError && wallet_amount > max_number" class="text-danger">{{'label-title.enter-smaller-number' | translate}}</div>
            <div *ngIf="isError && wallet_amount < 0" class="text-danger">{{'label-title.enter-valid-number' | translate}}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="wallet_amount <= 0 || wallet_amount > max_number"
              (click)="addWalletAmount(wallet_amount)">{{'button-title.save' | translate}}</button>
          </div>
    </ng-template>
