<!-- <app-light-page-header-without-icons2 (addNewItem)="showAddNewModal()"
  (itemsPerPageChange)="itemsPerPageChange($event)">
</app-light-page-header-without-icons2> -->

<div class="row mb-4">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container text-zero" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
            <button type="button" (click)="showAddNewModal(null)"
                class="top-right-button btn btn-primary btn-lg mr-1">{{
                'pages.add-new' | translate}}</button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <!-- <div class="display-options-container">
            <div class="">

                <div class="d-block d-md-inline-block position-relative">
                    <div class="float-md-left mr-1 mb-1" dropdown>
                        <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option"
                            aria-controls="dropdown-basic">
                            {{'button-title.order-by' | translate}} : {{itemSort.label | translate}} <span
                                class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of itemOptionsSort"><a
                                    [ngClass]="item.value === itemSort.value ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="onChangeSortBy(item)">{{item.label | translate}}</a></li>
                        </ul>
                    </div>
                </div>

                <div class="d-block d-md-inline-block position-relative ng-star-inserted">
                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1">
                        <input class="form-control" placeholder="{{'label-title.search' | translate }}"
                            (keyup)="onSearchKeyUp($event)">
                    </div>
                </div>

                <div class="d-inline-block ng-star-inserted">
                    <div class="d-inline-block float-md-left mr-1 mb-1 align-top">
                        <button id="button-basic3" type="button"
                            class="btn btn-outline-primary btn-xs mr-1 btn_display_option">
                            {{'button-title.apply' | translate}} <span class="caret"></span>
                        </button>
                        <button id="button-basic4" type="button"
                            class="btn btn-outline-primary btn-xs mr-1 btn_display_option">
                            {{'button-title.clear-filter' | translate}} <span class="caret"></span>
                        </button>
                    </div>
                </div>

                <div class="float-right">
                    <span class="text-muted text-small">{{'label-title.per-page' | translate}} </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                            {{itemsPerPage}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                            <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                                    [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="onChangeItemsPerPage(item)">{{item | translate}}</a></li>
                        </div>
                    </span>
                </div>

            </div>
        </div> -->
    </div>
</div>

<div class="row">
    <div class="col-12">
        <tabset class="separator-tabs">
            <tab heading="{{'heading-title.running' | translate | uppercase }}"
                (selectTab)="getGuestToken(GUEST_TOKEN.RUNNING)">
                <div class="card">
                    <div class="card-body">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{ 'heading-title.name' | translate}}</th>
                                    <th scope="col">{{ 'label-title.guest_token' | translate}}</th>
                                    <th scope="col">{{ 'label-title.expiry-date' | translate}}</th>
                                    <th scope="col" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{ 'heading-title.action' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="guestTokenList?.length > 0">
                                <tr *ngFor="let token of guestTokenList; let i=index;">
                                    <th scope="row">{{token.unique_id}}</th>
                                    <td>{{token.token_name | titlecase}}</td>
                                    <td>{{token.token_value}}</td>
                                    <td>{{token.code_expiry | date : _helper.DATE_FORMAT.DD_MM_YYYY}}</td>
                                    <td *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                        <div class=""><button type="button" class="btn btn-xs btn-outline-primary" (click)="showAddNewModal(token)">{{'button-title.edit' | translate}}</button></div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="guestTokenList?.length == 0">
                                <tr>
                                    <th colspan="10" class="text-center">
                                        <span>{{ 'label-title.no-record-found' | translate }}</span>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <div class=" mb-4">
                            <div class="card-body">
                                <pagination [totalItems]="itemsPerPage" [itemsPerPage]="itemsPerPage" [rotate]="true"
                                    [maxSize]="1" class="justify-content-center" [customNextTemplate]="nextTemplate"
                                    [customPreviousTemplate]="prevTemplate">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div> -->
            </tab>
            <tab heading="{{'heading-title.inActive' | translate | uppercase }}"
                (selectTab)="getGuestToken(GUEST_TOKEN.INACTIVE)">
                <div class="card">
                    <div class="card-body">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{ 'heading-title.name' | translate}}</th>
                                    <th scope="col">{{ 'label-title.guest_token' | translate}}</th>
                                    <th scope="col">{{ 'label-title.expiry-date' | translate}}</th>
                                    <th scope="col" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{ 'heading-title.action' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="guestTokenList?.length > 0">
                                <tr *ngFor="let token of guestTokenList; let i=index;">
                                    <th scope="row">{{token.unique_id}}</th>
                                    <td>{{token.token_name | titlecase}}</td>
                                    <td>{{token.token_value}}</td>
                                    <td>{{token.code_expiry | date : _helper.DATE_FORMAT.DD_MM_YYYY}}</td>
                                    <td *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                        <div class=""><button type="button" class="btn btn-xs btn-outline-primary" (click)="showAddNewModal(token)">{{'button-title.edit' | translate}}</button></div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="guestTokenList?.length == 0">
                                <tr>
                                    <th colspan="10" class="text-center">
                                        <span>{{ 'label-title.no-record-found' | translate }}</span>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <div class=" mb-4">
                            <div class="card-body">
                                <pagination [totalItems]="itemsPerPage" [itemsPerPage]="itemsPerPage" [rotate]="true"
                                    [maxSize]="1" class="justify-content-center" [customNextTemplate]="nextTemplate"
                                    [customPreviousTemplate]="prevTemplate">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div> -->
            </tab>
            <tab heading="{{'heading-title.expired' | translate | uppercase }}"
                (selectTab)="getGuestToken(GUEST_TOKEN.EXPIRED)">
                <div class="card">
                    <div class="card-body">
                        <table class="table mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{{ 'heading-title.name' | translate}}</th>
                                    <th scope="col">{{ 'label-title.guest_token' | translate}}</th>
                                    <th scope="col">{{ 'label-title.expiry-date' | translate}}</th>
                                    <th scope="col" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{ 'heading-title.action' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="guestTokenList?.length > 0">
                                <tr *ngFor="let token of guestTokenList; let i=index;">
                                    <th scope="row">{{token.unique_id}}</th>
                                    <td>{{token.token_name | titlecase}}</td>
                                    <td>{{token.token_value}}</td>
                                    <td>{{token.code_expiry | date : _helper.DATE_FORMAT.DD_MM_YYYY}}</td>
                                    <td *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                        <div class=""><button type="button" class="btn btn-xs btn-outline-primary" (click)="showAddNewModal(token)">{{'button-title.edit' | translate}}</button></div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="guestTokenList?.length == 0">
                                <tr>
                                    <th colspan="10" class="text-center">
                                        <span>{{ 'label-title.no-record-found' | translate }}</span>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <div class=" mb-4">
                            <div class="card-body">
                                <pagination [totalItems]="itemsPerPage" [itemsPerPage]="itemsPerPage" [rotate]="true"
                                    [maxSize]="1" class="justify-content-center" [customNextTemplate]="nextTemplate"
                                    [customPreviousTemplate]="prevTemplate">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div> -->
            </tab>
        </tabset>
    </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>

<app-guest-token-modal #GuestTokenModalRef></app-guest-token-modal>