<div class="row">
    <div class="col-12">
        <div>
            <h1>{{'heading-title.installation-settings' | translate}} </h1>
            <div class="top-right-button-container mb-2">
                <div dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-lg flex-grow-1 dropdown-toggle">
                      {{ 'button-title.action' | translate}} <span class="caret"></span>
            </button>
                    <ul *dropdownMenu class="dropdown-menu">
                        <li role="menuitem"><a class="dropdown-item" href="javascript:;">Action</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="javascript:;">Another action</a></li>
                    </ul>
                </div>
            </div>
            <app-breadcrumb></app-breadcrumb>
            <div class="separator mb-5"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">{{'heading-title.sms-configuration' | translate}}</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimated = !isCollapsedAnimated" [attr.aria-expanded]="!isCollapsedAnimated" aria-controls="collapseAnimated1"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated1" [collapse]="isCollapsedAnimated" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.twilio-account-sid' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.twilio-auth-token' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.twilio-number' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.twilio-call-url' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">{{'heading-title.payment-configuration' | translate}}</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimatedone = !isCollapsedAnimatedone" [attr.aria-expanded]="!isCollapsedAnimatedone" aria-controls="collapseAnimated2"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated2" [collapse]="isCollapsedAnimatedone" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.default-payment-gateway' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="Stripe">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.stripe-secret-key' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="sk_live_EebD4sAnxvvqaNix58uQxoa300OnM7JSTt">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">{{'label-title.stripe-Publishable-key' | translate}}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="pk_live_gwhb2JA6TasE7zstZmJ6FbCw00IVzNI4tO">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">Payment Configuration</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimatedone3 = !isCollapsedAnimatedone3" [attr.aria-expanded]="!isCollapsedAnimatedone3" aria-controls="collapseAnimated3"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated3" [collapse]="isCollapsedAnimatedone3" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">Default Payment Gateway</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="Stripe">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Secret Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="sk_live_EebD4sAnxvvqaNix58uQxoa300OnM7JSTt">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Publishable Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="pk_live_gwhb2JA6TasE7zstZmJ6FbCw00IVzNI4tO">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">Payment Configuration</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimatedone4 = !isCollapsedAnimatedone4" [attr.aria-expanded]="!isCollapsedAnimatedone4" aria-controls="collapseAnimated"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated" [collapse]="isCollapsedAnimatedone4" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">Default Payment Gateway</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="Stripe">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Secret Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="sk_live_EebD4sAnxvvqaNix58uQxoa300OnM7JSTt">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Publishable Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="pk_live_gwhb2JA6TasE7zstZmJ6FbCw00IVzNI4tO">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">Payment Configuration</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimatedone5 = !isCollapsedAnimatedone5" [attr.aria-expanded]="!isCollapsedAnimatedone5" aria-controls="collapseAnimated"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated" [collapse]="isCollapsedAnimatedone5" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">Default Payment Gateway</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="Stripe">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Secret Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="sk_live_EebD4sAnxvvqaNix58uQxoa300OnM7JSTt">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Publishable Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="pk_live_gwhb2JA6TasE7zstZmJ6FbCw00IVzNI4tO">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">{{'button-title.update-changes | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">Payment Configuration</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimatedone6 = !isCollapsedAnimatedone6" [attr.aria-expanded]="!isCollapsedAnimatedone6" aria-controls="collapseAnimated"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated" [collapse]="isCollapsedAnimatedone6" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">Default Payment Gateway</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="Stripe">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Secret Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="sk_live_EebD4sAnxvvqaNix58uQxoa300OnM7JSTt">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Publishable Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="pk_live_gwhb2JA6TasE7zstZmJ6FbCw00IVzNI4tO">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">Update Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">Payment Configuration</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimatedone7 = !isCollapsedAnimatedone7" [attr.aria-expanded]="!isCollapsedAnimatedone7" aria-controls="collapseAnimated"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated" [collapse]="isCollapsedAnimatedone7" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">Default Payment Gateway</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="Stripe">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Secret Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="sk_live_EebD4sAnxvvqaNix58uQxoa300OnM7JSTt">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Publishable Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="pk_live_gwhb2JA6TasE7zstZmJ6FbCw00IVzNI4tO">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">Update Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                    <div class="float-left float-none-xs">
                        <div class="d-inline-block">
                            <h5 class="d-inline">Payment Configuration</h5>
                        </div>
                    </div>
                    <div class="btn-group float-right mr-4 float-none-xs btn-circle"><a class="btn btn-circle btn-outline-primary hero-circle-button" (click)="isCollapsedAnimatedone8 = !isCollapsedAnimatedone8" [attr.aria-expanded]="!isCollapsedAnimatedone8" aria-controls="collapseAnimated"><i _ngcontent-ngr-c326="" class="simple-icon-arrow-down"></i></a></div>
                </div>
                <div id="collapseAnimated" [collapse]="isCollapsedAnimatedone8" [isAnimated]="true">
                    <div class="mt-4">
                        <div class="form-group mb-4">
                            <label for="">Default Payment Gateway</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="Stripe">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Secret Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="sk_live_EebD4sAnxvvqaNix58uQxoa300OnM7JSTt">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="">Stripe Publishable Key</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="pk_live_gwhb2JA6TasE7zstZmJ6FbCw00IVzNI4tO">
                                <div class="input-group-append"><span id="basic-addon2" class="input-group-text">?</span></div>
                            </div>
                        </div>
                        <div class="" style="text-align: center;">
                            <button type="button" class="btn btn-primary btn-lg mb-1">Update Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
