<div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
    <div class="flex-fill">
      <a href="javascript:;">
        <p class="font-weight-medium mb-0">{{data.name}}</p>
        <p class="text-muted mb-0 text-small">{{data.status}}</p>
      </a>
    </div>
    <div>
      <a class="" href="javascript:;">{{data.distance}}</a>
    </div>
</div>