.btn_display_option{
    border-color: #8f8f8f;
    color: #8f8f8f;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}
.msg-col-width{
  max-width: 800px;
  white-space: normal;
}
thead>tr>th{
  white-space: nowrap;
}
@media screen and (max-width:575px) {
  .msg-col-min-width-150 {
    min-width: 150px;
  }
  .msg-col-min-width-300 {
    min-width: 300px;
  }
  .msg-col-min-width-400 {
    min-width: 400px;
  }
}