<ng-template #template>
  <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
    <div role="document" class="modal-dialog modal-right">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{'heading-title.add-new-hotel' | translate }}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <form [formGroup]="commonForm">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label for="fname">{{'label-title.hotel-name' | translate }}</label>
                  <input id="fname" type="text" name="hotel_name"  required=""
                    class="form-control ng-untouched ng-pristine ng-valid" (keypress)="_helper.space_validation($event)" formControlName="hotelName">
                  <div *ngIf="commonForm.get('hotelName').errors?.required && commonForm.get('hotelName').touched" class="invalid-tooltip">
                    {{'validation-title.hotel-name-is-reqiured' | translate }}</div>
                  <div *ngIf="commonForm.get('hotelName').errors?.minlength && commonForm.get('hotelName').touched" class="invalid-tooltip">
                   {{'label-title.hotel-name' | translate }} {{'label-title.must-contain-at-least-2-characters' | translate }}</div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="phone">
                    {{'label-title.phone' | translate }} 
                  </label>
                  <div class="input-group">
                    <input type="text" id="phone" name="phone" aria-describedby="basic-addon1" [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8" [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"  required="" 
                        class="form-control ng-untouched ng-pristine ng-invalid" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.number_validation($event)" formControlName="phone" noPasteDrop>
                    <!-- <div class="input-group-append">
                        <span class="input-group-text text-danger font-weight-bold border-0">
                            <i  class="glyph-icon simple-icon-close mr-1 h5 mb-0"></i>
                            <span class="font-weight-bold h6 mb-0">{{'label-title.not-verified' | translate}}</span>
                        </span>
                    </div> -->
                    <div *ngIf="commonForm.get('phone').errors?.required && commonForm.get('phone').touched"
                      class="invalid-tooltip">{{'label-title.phone' | translate }} {{'label-title.is-required' | translate }}</div>
                    <div *ngIf="commonForm.get('phone').errors?.minlength && commonForm.get('phone').touched" class="invalid-tooltip">
                      {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;{{'validation-title.character-requires' | translate}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="email">{{'label-title.email' | translate }}</label>
                  <div class="input-group">
                    <input type="email" id="email" name="email" aria-describedby="basic-addon2" email="" required="" 
                      class="form-control ng-untouched ng-pristine ng-valid" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <!-- <div class="input-group-append">
                        <span class="input-group-text text-success font-weight-bold border-0">
                          <i  class="glyph-icon simple-icon-check mr-1 h5 mb-0"></i>
                          <span class="font-weight-bold h6 mb-0">{{'label-title.verified' | translate}}</span>
                        </span>
                    </div> -->
                  </div>
                  <div *ngIf="commonForm.get('email').errors?.required && commonForm.get('email').touched"
                    class="invalid-tooltip">{{'label-title.email' | translate }} {{'label-title.is-required' | translate }}</div>
                  <div *ngIf="commonForm.get('email').errors?.email && commonForm.get('email').touched" class="invalid-tooltip">
                    {{'label-title.email' | translate }}  {{'label-title.must-be-a-valid-address' | translate }}</div>
                  <div *ngIf="commonForm.get('email').errors?.pattern && commonForm.get('email').touched" class="invalid-tooltip">
                    {{'label-title.email' | translate }}  {{'label-title.must-be-a-valid-address' | translate }}</div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="password">{{'label-title.password' | translate}}</label>
                  <input type="password" name="" id="password" class="form-control" formControlName="password">
                  <div *ngIf="commonForm.get('password').errors?.required && commonForm.get('password').touched" class="invalid-tooltip">
                    {{'label-title.password' | translate}} {{'label-title.is-required' | translate }}</div>
                    <div *ngIf="!commonForm.get('password')?.errors?.pattern && commonForm.get('password')?.errors?.minlength && commonForm.get('password').touched" 
                    class="invalid-tooltip">
                    {{'validation-title.min-6-character-requires' | translate}}</div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="country">{{'label-title.country' | translate}}</label>
                  <div class="input-group">
                    <div class="input-group-prepend w-20">
                         <input type="text" class="form-control text-center" formControlName="countryphonecode" readonly>
                    </div>
                    <ng-select class="w-80" appearance="outline" #agreeSelect labelForId="country" [searchable]="false"
                      placeholder="{{'label-title.select-country' | translate}}" (change)="getCountry($event)" [clearable]="false" formControlName="country">
                      <ng-option *ngFor="let country of countryList" [value]="country">{{country.countryname}}</ng-option>
                    </ng-select>
                    <div *ngIf="commonForm.get('country').errors?.required && commonForm.get('country').touched" class="invalid-tooltip">
                      {{'label-title.country' | translate}} {{'label-title.is-required' | translate }}</div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="city">{{'label-title.city' | translate}}</label>
                  <ng-select appearance="outline" #agreeSelect labelForId="city" [searchable]="false" [clearable]="false"
                    placeholder="{{'label-title.select-city' | translate}}" formControlName="city" (change)="cityChange($event);">
                    <ng-option *ngFor="let city of cityList" [value]="city">{{city.cityname}}</ng-option>
                  </ng-select>
                  <div *ngIf="commonForm.get('city').errors?.required && commonForm.get('city').touched" class="invalid-tooltip">
                    {{'label-title.city' | translate}} {{'label-title.is-required' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group search-address">
                  <div class="info-hover">
                    <label for="address" class="d-flex">{{'label-title.address' | translate}} <i class="simple-icon-info mt-1 ml-2" type="button" tooltip="{{'label-title.address-city-must-be-same-as-a-selected-city' | translate}}" placement="right"></i></label>
                  </div>
                  <input id="address" class="form-control"  formControlName="address">
                  <div *ngIf="commonForm.get('address').errors?.required && commonForm.get('address').touched" class="invalid-tooltip">
                    {{'label-title.address' | translate}} {{'label-title.is-required' | translate }}</div>
                  
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="latitude">{{'label-title.city-latitude' | translate}}</label>
                  <input type="number" name="latitude" id="latitude" class="form-control" formControlName="cityLatitude" readonly>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="longitude">{{'label-title.city-longitude' | translate}}</label>
                  <input type="number" name="" id="longitude" class="form-control" formControlName="cityLongitude" readonly>
                </div>
              </div>
            </div>
          </form>
          </div>
          <div class="modal-footer">
            <!-- <button id="button-split" type="button" class="btn btn-outline-primary" (click)="modalRef.hide();">{{'button-title.cancel' | translate}}</button> -->
            <button type="submit" (click)="addNewHotel(commonForm.value)" class="btn btn-primary float-right">{{'button-title.submit' | translate }}</button>
          </div>
      </div>
    </div>
  </modal-container>
</ng-template>
