<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    
    <div class="top-right-button-container text-zero" *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)">
      <button id="button-basic" type="button" class="btn btn-lg btn-outline-primary mr-2" (click)="export()">
        {{'button-title.export' | translate | uppercase}}
      </button>
      <button id="button-basic" type="button" class="btn btn-lg btn-outline-primary" (click)="showExportHistoryModal()">
        {{'button-title.export' | translate | uppercase}} {{'button-title.history' | translate | uppercase}}
      </button>
    </div>
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="col-12">
    <div class="display-options-container">
      <div class="d-flex justify-content-between mb-2">
        <div class="d-flex flex-wrap mr-2">
          <div class="position-relative">
            <div class="float-md-left mr-1 mb-2" dropdown>
              <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option"
                aria-controls="dropdown-basic">
                {{'button-title.search-by' | translate}} : {{itemSearch.label | translate}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsSearch"><a
                    [ngClass]="item.value === itemSearch.value ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeSearchBy(item)">{{item.label | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="search-sm d-inline-block float-md-left mr-1 mb-2 align-top">
              <input class="form-control" (keypress)="_helper.space_validation($event)"
                placeholder="{{'label-title.search' | translate }}" [(ngModel)]="search_value">
            </div>
          </div>
          <div class="position-relative">
            <div class="mr-1 mb-2 float-md-left" dropdown>
              <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle"
                aria-controls="dropdown-basic">
                {{itemPayment.label | translate}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsPayments"><a
                    [ngClass]="item.value === itemPayment.value ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangePayments(item)">{{item.label | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="position-relative dateWidth" *ngIf="created_date">
            <div class="date-sm float-md-left mr-1 mb-1">
              <input [hidden]="direction=='rtl'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}"
                [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetrans' }" #drp="bsDaterangepicker"
                [(ngModel)]="item_bsRangeValue" bsDaterangepicker [container]="'html'" #dateValue [readOnly]="true"
                [maxDate]="todayDate" [minDate]="created_date">
              <input [hidden]="direction=='ltr'" class="form-control theme_date_picker" placeholder="{{'label-title.select-dates' | translate}}"
                [bsConfig]="{ selectWeekDateRange: true, containerClass: 'rtldatetrans' }" #drp="bsDaterangepicker"
                [(ngModel)]="item_bsRangeValue" bsDaterangepicker [container]="'html'" #dateValue [readOnly]="true"
                [maxDate]="todayDate" [minDate]="created_date">
            </div>
          </div>
          <div class="">
            <div class="d-inline-block float-md-left mr-1 position-relative" dropdown>
              <button id="button-basic5" type="button" class="btn btn-primary btn-xs mr-1 mb-2" (click)="apply()">
                {{'button-title.apply' | translate}} <span class="caret"></span>
              </button>
              <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1 mb-2"
                (click)="clear()" [disabled]="search_value == '' && is_clear_disabled"
                [ngClass]="{'btn-disabled':(search_value == '' && is_clear_disabled)}">
                {{'button-title.clear-filter' | translate}} <span class="caret"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="float-right">
          <span class="text-muted text-small">{{'label-title.per-page' | translate}} </span>
          <span dropdown class="d-inline-block position-relative">
            <button class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
              {{itemsPerPage}}
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
              <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                  [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="onChangeItemsPerPage(item)">{{item | translate}}</a></li>
            </div>
          </span>
        </div>
      </div>
      <!-- <div class="separator mb-4"></div> -->
    </div>
  </div>
</div>

<div class="col-12">
  <div class="separator-tabs tab-container">
    <ul role="tablist" class="nav nav-tabs">
      <li class="nav-item" *ngFor="let item of itemOptionsTabs" [ngClass]="{'active' : booking_type == item.booking_type}">
        <a href="javascript:void(0);" role="tab" class="nav-link" [ngClass]="{'active' : booking_type == item.booking_type}" (click)="getRequestData(item.booking_type)">
          <span>{{item.label | translate}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<ng-container>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover mb-0 tableScroll">
              <thead class="thead-light">
                <tr>
                  <th scope="col">
                    <span class="sortIcon c-pointer" (click)="onSort('unique_id')">
                      <span class="sortIcon1"
                        [ngClass]="sort_item == 'unique_id' &&  sort_order == -1 ?  'active' : ''"></span>
                      <span class="sortIcon2"
                        [ngClass]="sort_item == 'unique_id' &&  sort_order == 1 ?  'delative' : ''"></span>
                      {{'label-title.trip_id' | translate}}
                    </span>
                  </th>
                  <th scope="col">
                    {{'label-title.user' | translate}}
                  </th>
                  <th scope="col">{{'label-title.driver' | translate}}</th>
                  <th scope="col">
                    <span class="sortIcon c-pointer" (click)="onSort('vehicle_details.typename')">
                      <span class="sortIcon1"
                        [ngClass]="sort_item == 'vehicle_details.typename' &&  sort_order == -1 ?  'active' : ''"></span>
                      <span class="sortIcon2"
                        [ngClass]="sort_item == 'vehicle_details.typename' &&  sort_order == 1 ?  'delative' : ''"></span>
                      {{'label-title.service' | translate}}
                    </span>
                  </th>
                  <th scope="col"> <span class="sortIcon c-pointer" (click)="onSort('total')">
                      <span class="sortIcon1"
                        [ngClass]="sort_item == 'total' &&  sort_order == -1 ?  'active' : ''"></span>
                      <span class="sortIcon2"
                        [ngClass]="sort_item == 'total' &&  sort_order == 1 ?  'delative' : ''"></span>
                      {{'label-title.price' | translate}}
                    </span>
                  </th>
                  <th scope="col"> <span class="sortIcon c-pointer" (click)="onSort('is_provider_status')">
                      <span class="sortIcon1"
                        [ngClass]="sort_item == 'is_provider_status' &&  sort_order == -1 ?  'active' : ''"></span>
                      <span class="sortIcon2"
                        [ngClass]="sort_item == 'is_provider_status' &&  sort_order == 1 ?  'delative' : ''"></span>
                      {{'label-title.status' | translate}}
                    </span>
                  </th>
                  <th scope="col">
                    <span class="sortIcon c-pointer" (click)="onSort('payment_mode')">
                      <span class="sortIcon1"
                        [ngClass]="sort_item == 'payment_mode' &&  sort_order == -1 ?  'active' : ''"></span>
                      <span class="sortIcon2"
                        [ngClass]="sort_item == 'payment_mode' &&  sort_order == 1 ?  'delative' : ''"></span>
                      {{'label-title.payment' | translate}}
                    </span>
                  </th>
                  <th scope="col">
                    <span class="sortIcon c-pointer" (click)="onSort('payment_status')">
                      <span class="sortIcon1"
                        [ngClass]="sort_item == 'payment_status' &&  sort_order == -1 ?  'active' : ''"></span>
                      <span class="sortIcon2"
                        [ngClass]="sort_item == 'payment_status' &&  sort_order == 1 ?  'delative' : ''"></span>
                      {{'label-title.payment-status' | translate}}
                    </span>
                  </th>
                  <th scope="col">
                    <span class="sortIcon c-pointer" (click)="onSort('user_create_time')">
                      <span class="sortIcon1"
                        [ngClass]="sort_item == 'user_create_time' &&  sort_order == -1 ?  'active' : ''"></span>
                      <span class="sortIcon2"
                        [ngClass]="sort_item == 'user_create_time' &&  sort_order == 1 ?  'delative' : ''"></span>
                      {{'label-title.create-time' | translate}}
                    </span>
                  </th>

                </tr>
              </thead>
              <tbody *ngIf="rows.length>0">
                <tr
                  *ngFor="let row of rows | paginate: { itemsPerPage: itemsPerPage, currentPage:  current_page, totalItems: total_page * itemsPerPage}"
                  (click)="showAddNewModal(row._id)">
                  <td class="pl-4 text-nowrap">{{row.unique_id}}</td>
                  <td class="text-nowrap">
                    <span *ngIf="row.user_details">{{row.user_details.first_name}} {{row.user_details.last_name}}</span>
                    <span *ngIf="!row.user_details">--</span>
                  </td>
                  <td class="text-nowrap">
                    <span *ngIf="row.provider_details">{{row.provider_details.first_name}}
                      {{row.provider_details.last_name}}</span>
                    <span *ngIf="!row.provider_details">--</span>
                  </td>
                  <td class="pl-4 text-nowrap">
                    <span *ngIf="row.vehicle_details">{{row.vehicle_details.typename}}</span>
                    <span *ngIf="!row.vehicle_details">--</span>
                  </td>
                  <td class="pl-4 text-nowrap">
                    <span>{{row.currency}} {{row.total.toFixed(_helper.to_fixed_number)}}</span>
                  </td>
                  <td class="pl-4 text-nowrap">
                    <span class="badge badge-pill badge-secondary c-pointer w-fit-content"
                      *ngIf="row.is_provider_status == PROVIDER_STATUS.ACCEPT && row.is_provider_accepted == PROVIDER_ACCEPTED.ACCEPTED">{{'label-title.accepted'
                      | translate}}</span>
                    <span class="badge badge-pill badge-danger c-pointer w-fit-content"
                      *ngIf="row.is_provider_status == PROVIDER_STATUS.WAITING && row.is_provider_accepted == PROVIDER_ACCEPTED.WAITING">{{'label-title.waiting'
                      | translate}}</span>
                    <span class="badge badge-pill badge-warning c-pointer w-fit-content"
                      *ngIf="row.is_provider_status == PROVIDER_STATUS.COMING">{{'label-title.coming' |
                      translate}}</span>
                    <span class="badge badge-pill badge-danger c-pointer w-fit-content"
                      *ngIf="row.is_provider_accepted == PROVIDER_ACCEPTED.AFTER_TIME_WAITING">{{'label-title.waiting'
                      | translate}}</span>
                    <span class="badge badge-pill badge-dark c-pointer w-fit-content"
                      *ngIf="row.is_provider_status == PROVIDER_STATUS.ARRIVED">{{'label-title.arrived' |
                      translate}}</span>
                    <span class="badge badge-pill badge-success c-pointer w-fit-content"
                      *ngIf="row.is_provider_status == PROVIDER_STATUS.STARTED">{{'label-title.started' |
                      translate}}</span>
                    <span class=" badge badge-pill badge-success  c-pointer w-fit-content"
                      *ngIf="row.is_provider_status == PROVIDER_STATUS.COMPLETED">{{'label-title.completed' |
                      translate}}</span>
                  </td>
                  <td class="pl-4 text-nowrap">
                    <span class=" badge badge-pill badge-secondary w-fit-content" *ngIf="row.payment_mode == 0">
                      {{'label-title.by-card' | translate}}</span>
                    <span class="badge badge-pill badge-primary w-fit-content" *ngIf="row.payment_mode == 1">
                      {{'label-title.by-cash' |translate}}</span>
                    <span class=" d-none d-xl-block c-pointer "
                      *ngIf="row.payment_mode != 0 && row.payment_mode != 1">--</span>

                  </td>
                  <td class="pl-4 text-nowrap">
                    <span class="badge badge-pill badge-warning w-fit-content" *ngIf="row.payment_status == 0">
                      {{'label-title.pending' | translate}}</span>
                    <span class="badge badge-pill badge-success w-fit-content" *ngIf="row.payment_status == 1">
                      {{'label-title.paid' |translate}}</span>
                    <span *ngIf="row.payment_status != 0 && row.payment_status != 1">--</span>
                  </td>
                  <td class="pl-4 text-nowrap" *ngIf="timezone_for_display_date">
                    <span *ngIf="row.user_create_time">{{_helper.moment(row.user_create_time).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.DD_MM_YY)}} - {{_helper.moment(row.user_create_time).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.HH_MM_A)}}</span>
                    <!-- <span *ngIf="row.user_create_time">{{row.user_create_time | date:_helper.DATE_FORMAT.D_MMM_H_MM_A : MEDIUM }}</span> -->
                    <span *ngIf="!row.user_create_time">--</span>

                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="rows.length==0">
                <tr>
                  <th colspan="10" class="text-center">
                    <span>{{ 'label-title.no-record-found' | translate }}</span>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="rows.length>0">
    <div class="col-12">
      <div class="border-top pt-4">
        <div class="w-100 d-flex justify-content-center">
          <pagination-controls (pageChange)="pageChanged($event)" previousLabel="{{'wizard.previous' | translate}}"
          nextLabel="{{'wizard.next' | translate}}" [responsive]="true"
            [ngClass]="darkMode ? 'dark' : ''"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-export-history-model #ExportHistotyModel></app-export-history-model>
<app-running-trip-modal #runningModal (trip_data)="getList()"></app-running-trip-modal>