.btn_display_option{
    border-color: #8f8f8f;
    color: #8f8f8f;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}

.display-options-container a{
  cursor: pointer;
}
@media (max-width: 414px) {
  .detail-content .w-20 {
    min-width: 34%;
    white-space: normal;
  }
}
thead>tr>th{
  white-space: nowrap;
}
tbody>tr>td{
  cursor: pointer;
}