<div class="row app-row">
    <div class="col-12">
        <h1 *ngIf="tripChanges">
            <h1>India -> Rajkot -> SUV </h1>
        </h1>
        <h1 *ngIf="city">{{'heading-title.city-details' | translate }}</h1>
        <div class="top-right-button-container text-zero">
            <button type="button" class="top-right-button btn btn-outline-primary btn-lg mr-1" (click)="showAddNewModalAddCity()">
                {{ 'button-title.add-new' | translate | uppercase}}
            </button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="d-inline-block" *ngIf="city">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <br>
        <!-- <div *ngIf="tripChanges" class="separator mb-4"></div> -->
    </div>
    <div class="col-12" *ngIf="tripChanges">
        <div>
            <tabset class="separator-tabs">
              <tab heading="{{'heading-title.trip-charge' | translate | uppercase }}">
                <app-trip-price></app-trip-price>
              </tab>
              <tab heading="{{'heading-title.surge-price' | translate | uppercase }}">
                <app-trip-surge-price></app-trip-surge-price>
              </tab>
              <tab heading="{{'heading-title.zone-city-airport-price' | translate | uppercase }}">
                <app-trip-zone-price></app-trip-zone-price>
              </tab>
              <tab heading="{{'heading-title.rental-car' | translate | uppercase }}">
                <app-trip-rental></app-trip-rental>
              </tab>
            </tabset>
        </div>
    </div>
    <div class="col-12" *ngIf="city">
        <tabset class="separator-tabs">
            <tab heading="{{'heading-title.city-details' | translate | uppercase}}">
                <app-city-details></app-city-details>
            </tab>
            <tab heading="{{'heading-title.payment-and-city-to-city-settings' | translate | uppercase}}">
                <app-city-details-settings></app-city-details-settings>
            </tab>
            <tab heading="{{'heading-title.zone-allocation' | translate | uppercase}}">
                <app-city-details-zone-allocation></app-city-details-zone-allocation>
            </tab>
        </tabset>
    </div>
</div>
<app-application-menu>
    <tabset class="card-tabs h-100" [justified]="true">
        <tab heading="{{'heading-title.trip-charges' | translate }}" class="card-body h-100" (selectTab)="tripChangesShow()">
            <!-- <tab heading="{{'heading-title.trip-changes' | translate | uppercase }}" class="card-body h-100" (selectTab)="tripChangesShow()"></tab> -->
            <div class="form-group">
                <input type="text" class="form-control rounded-100" placeholder="{{'label-title.search' | translate }}" #searchBoxContact id="search-box"/>
                <!-- <input type="text" class="form-control rounded-100" placeholder="{{'label-title.search' | translate }}" #searchBoxContact id="search-box" 
                (input)="search(searchBoxContact.value)"/> -->
            </div>
            <div class="chat-app-tab-pane-contacts">
                <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                    <ng-container *ngIf="searchKeyword===''">
                        <div class="d-flex flex-row align-items-top mb-3 border-bottom pb-3" *ngFor="let contact of data">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:;">
                                            <p class="mb-0 truncate">{{contact.city | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{contact.car | translate}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="m-2 pl-0">
                                <span class="align-middle border-success log-indicator {{contact.statusColor}}"></span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="searchKeyword!==''">
                        <div class="d-flex flex-row mb-3 border-bottom pb-3" *ngFor="let contact of tripCharges$ | async">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="d-flex flex-grow-1 min-width-zero">
                                    <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                        <div class="min-width-zero">
                                            <a href="javascript:;">
                                                <p class="mb-0 truncate">{{contact.city | translate}}</p>
                                                <p class="text-muted mb-0 text-small">{{contact.car | translate}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-2 pl-0">
                                    <span class="align-middle border-success log-indicator {{contact.statusColor}}"></span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </perfect-scrollbar>
            </div>
        </tab>
        <tab heading="{{'heading-title.city-area' | translate }}" class="card-body h-100" (selectTab)="cityShow()">
            <!-- <tab heading="{{'heading-title.city-details' | translate | uppercase }}" class="card-body h-100" (selectTab)="cityShow()"></tab> -->
            <div class="form-group">
                <input type="text" class="form-control rounded-100" placeholder="{{'label-title.search' | translate }}"  #searchBoxContact2 id="search-box2" 
                />
            </div>
            <div class="chat-app-tab-pane-messages">
                <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                    <ng-container *ngIf="searchKeyword2===''">
                        <div class="d-flex flex-row align-items-top mb-3 border-bottom pb-3" *ngFor="let contact of data2">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:;">
                                            <p class="mb-0 truncate">{{contact.city | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{contact.car | translate}}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="m-2 pl-0">
                                <span class="align-middle border-success log-indicator {{contact.statusColor}}"></span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="searchKeyword2!==''">
                        <div class="d-flex flex-row mb-3 border-bottom pb-3" *ngFor="let contact of cityDetails$ | async">
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div class="d-flex flex-grow-1 min-width-zero">
                                    <div class="m-2 pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                        <div class="min-width-zero">
                                            <a href="javascript:;">
                                                <p class="mb-0 truncate">{{contact.city | translate}}</p>
                                                <p class="text-muted mb-0 text-small">{{contact.car | translate}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-2 pl-0">
                                    <span class="align-middle border-success log-indicator {{contact.statusColor}}"></span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </perfect-scrollbar>
            </div>
        </tab>
    </tabset>
</app-application-menu>
<app-add-new-city-modal #addNewModalRef4></app-add-new-city-modal>
<app-city-settings #citySettingModal></app-city-settings>
<app-driver-wallet-setting #driverWalletSettingModal></app-driver-wallet-setting>
<app-city-list #cityListModal></app-city-list>