<!-- <div class="row">
    <div class="col-12">
        <div>
            <h1>E Review</h1>
            <div class="top-right-button-container mb-2">
                <button type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="showAddNewModal()">More Filter</button>
            </div>
            <app-breadcrumb></app-breadcrumb>
            <div class="mb-2">
                <div class="d-block d-md-inline-block position-relative mb-2 mr-3 ">
                    <div class="mr-1 mb-2" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                            Order By : {{itemOrder.label}} <span class="caret"></span>
                          </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'" (click)="onChangeOrderBy(item)">{{item.label}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="search-sm d-inline-block mb-2"><input placeholder="{{'label-title.search' | translate }}" class="form-control"></div>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>
</div>
<app-add-new-w-history-modal #addNewModalRef [user]="false"></app-add-new-w-history-modal>
<div class="pt-4  card">
    <div class="col-12 mb-1 data-table-rows data-table-responsive">
        <ngx-datatable #myTable class="expandable" [columnMode]="ColumnMode.force" [rowHeight]="50" [rows]="rows" [footerHeight]="100" [limit]="itemsPerPage" [headerHeight]="20" (page)="onPage($event)">
            <ngx-datatable-row-detail [rowHeight]="130" (toggle)="onDetailToggle($event)" cellClass="datatable-row-detail">
                <ng-template let-column="column" let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="detail-content">
                        <div class="d-flex flex-row">
                            <div>
                                <div class="text-muted mr-3">
                                    TRIP ID
                                </div>
                                <div class="text-muted mr-3">
                                    TRIP END
                                </div>
                                <div class="text-muted mr-3">
                                    PROVIDER ID
                                </div>
                                <div class="text-muted mr-3">
                                    Name
                                </div>
                                <div class="text-muted mr-3">
                                    Phone
                                </div>
                                <div class="text-muted mr-3">
                                    TOTAL
                                </div>
                                <div class="text-muted mr-3">
                                    CASH
                                </div>
                                <div class="text-muted mr-3">
                                    PROVIDER PROFIT
                                </div>
                                <div class="text-muted mr-3">
                                    PAY TO PROVIDER
                                </div>
                                <div class="text-muted mr-3">
                                    ACTION
                                </div>
                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>

            <ngx-datatable-column [width]="10" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" class="expand-row-button" headerClass="expand-row-button">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)" class="d-block d-xl-none c-pointer">
                        <i class="glyph-icon simple-icon-arrow-down"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="TRIP ID" [minWidth]="110">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <a class="c-pointer">KEITHT  </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="DATE" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">support@eber.com</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="USER EMAIL" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">Admin</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="USER RATE" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">Admin</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="PROVIDER EMAIL" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">Admin</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="PROVIDER RATE" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">Admin</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ACTION" [flexGrow]="1" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block"><div class="btn-group " dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                           Action<span class="caret"></span>
                    </button>
                    <ul style="z-index: 999;" id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="javascript:;">Detalis</a>
                        </li>
                    </ul>
    </div>
    </span>
    </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
</div>
</div> -->