<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container mb-2 w-fit-content">
            <button type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="showAdminModal()">
                {{'button-title.add-new' | translate | uppercase}}
            </button>
        </div>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-4"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-6 col-lg-6 col-xl-4 mb-4 col-item" *ngFor="let admin of admin_list">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-5">
                        <h6 class="mb-2 truncate text-left font-weight-semibold">{{admin.username}}</h6>
                    </div>
                    <div class="col-7 text-right">
                        <span class="badge badge-pill badge-outline-primary mb-1 c-pointer" (click)="onEdit(admin)">{{
                            'button-title.edit' | translate }}</span>
                        <span class="badge badge-pill badge-outline-danger ml-2 mb-1 c-pointer" *ngIf="_helper.user_details._id != admin._id"
                            (click)="onDelete(deleteadmin,admin)">{{ 'button-title.delete' | translate }}</span>

                        <!-- <span *ngIf="admin.type==1"> -->
                            <!-- <button *ngIf="admin.type==1"
                                class="btn btn-outline-theme-3 ml-2 subadmin-arrow-icon rotate-icon-click rotate mb-1"
                                (click)="admin.is_clicked = !admin.is_clicked">
                                <i *ngIf="admin.is_clicked" class="with-rotate-icon simple-icon-arrow-up"
                                    [attr.aria-expanded]="!admin.is_clicked" aria-controls="collapseAnimated"></i>
                                <i *ngIf="!admin.is_clicked" class="with-rotate-icon simple-icon-arrow-down"
                                    [attr.aria-expanded]="!admin.is_clicked" aria-controls="collapseAnimated" style="vertical-align: middle;"></i>
                            </button> -->

                            <button class="btn info-button text-theme-1 ml-2 " *ngIf="admin.type==1" (click)="subAdminUrlModal(subAdminUrl,admin)">
                                <i class="simple-icon-info fontSize"></i>
                            </button>
                        <!-- </span> -->


                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <p class="text-muted mb-0 text-left truncate text-small">{{admin.email}}, <span
                                    *ngIf="admin.type === 0">{{'label-title.admin'| translate}}</span><span
                                    *ngIf="admin.type === 1">{{'label-title.sub_admin'| translate}}</span>
                            </p>
                        </div>
                        <div class="col-12" id="collapseAnimated" [collapse]="!admin.is_clicked" [isAnimated]="true">
                            <span *ngFor="let url of admin.url_array; let i = index">
                                <p class="font-weight-medium mb-0 w-50 d-inline-block">
                                    {{url}}
                                </p>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #deleteadmin>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="selected_admin">{{'button-title.delete' | translate}}
            <span *ngIf="selected_admin.type == 0">{{'label-title.admin' | translate}} </span>
            <span *ngIf="selected_admin.type == 1">{{'label-title.sub_admin' | translate}} </span>
            ( {{selected_admin.username}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="delete_admin.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} <span *ngIf="selected_admin.type == 0">{{'label-title.admin' | translate}} </span>
                <span *ngIf="selected_admin.type == 1">{{'label-title.sub_admin' | translate}} </span>.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="delete_admin.hide()" class="btn btn-primary float-right">{{'button-title.cancel' |
            translate}}</button> -->
        <button type="button" (click)="onDeleteAdmin();delete_admin.hide()" class="btn btn-primary float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>

<ng-template #subAdminUrl>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="selected_admin">{{'label-title.sub-admin-url-list' | translate}} ( {{selected_admin.username}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeSubAdminUrlModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <div class="m-4 sub-admin-scroll">
            <p>
                <span *ngFor="let url of subadmin_url_list; let i = index">
                    <p class="font-weight-medium mb-0 w-50 d-inline-block">
                        {{url | translate}}
                    </p>
                </span>
            </p>
        </div> -->
        <div class="row ">
            <div class="col-12"style="max-height: 400px; overflow: auto;">
                <table class="table table-bordered " >
                  <thead class="thead-light" style="position: sticky; top: -1px;">
                    <tr class="text-center">
                      <th scope="col">
                      </th>
                      <th scope="col">
                        {{'button-title.add'| translate}}
                      </th>
                      <th scope="col">
                        {{'button-title.edit'| translate}}
                      </th>
                      <th scope="col">
                        {{'button-title.delete'| translate}}
                      </th>
                      <th scope="col">
                        {{'button-title.export'| translate}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let url of subadmin_url_list; let i = index">
                      <td >
                        <span>{{url.url | translate}}</span>
                      </td>
                      <td class="text-center">
                        
                        <span >{{(+url.permission[_helper.PERMISSION.ADD]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                      <td class="text-center">
                        <span>{{(+url.permission[_helper.PERMISSION.EDIT]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                      <td class="text-center">
                        <span>{{(+url.permission[_helper.PERMISSION.DELETE]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                      <td class="text-center">
                        <span>{{(+url.permission[_helper.PERMISSION.EXPORT]) ? "&#10004;" : "&#10008;"}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
    </div>
</ng-template>

<app-add-sub-admin-modal #subAdminModal (add_update)="adminList()"></app-add-sub-admin-modal>