<div class="card mb-4">
    <div class="position-absolute card-top-buttons p-4">
        <button class="btn btn-outline-primary icon-button" (click)="isCollapsedAnimated = !isCollapsedAnimated"
        [attr.aria-expanded]="!isCollapsedAnimated" aria-controls="collapseAnimated">
            <i class="simple-icon-arrow-down"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between flex-column flex-sm-row">
            <h5 class="mb-4 mb-sm-0">{{'Swift - Van' | translate}}</h5>
            <div class="d-flex flex-row mr-5">
                <div class="d-inline-block custom-control custom-switch mr-3">
                    <input type="checkbox" id="customSwitch111" class="custom-control-input">
                    <label for="customSwitch111" class="custom-control-label"> </label>
                </div>
                <button type="button" class="btn btn-xs btn-outline-primary">{{ 'button-title.edit' | translate }}</button>
            </div>
        </div>
        <div id="collapseAnimated" [collapse]="isCollapsedAnimated" [isAnimated]="true">
            <div class="mt-4">
                <div class="row mb-0">
                    <div class="col-md-6 col-6  mb-2">
                        <div class="form-group">
                            <label for="drivername">{{'label-title.name' | translate}}</label>
                            <input type="text" id="drivername" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="platenumber">{{'label-title.plate-no' | translate}}</label>
                            <input type="text" id="platenumber" class="form-control" placeholder="Plate no">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="drivingmodel">{{'label-title.modal' | translate}}</label>
                            <input type="text" id="drivingmodel" class="form-control" placeholder="{{'label-title.modal' | translate }}">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="drivercolor">{{'label-title.color' | translate}}</label>
                            <input type="text" id="drivercolor" class="form-control" placeholder="{{'label-title.color' | translate }}">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="year">{{'label-title.year' | translate}}</label>
                            <input type="text" id="year" class="form-control" placeholder="{{'label-title.year' | translate }}">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="inputState">{{'label-title.service-type' | translate }}</label>
                            <ng-select appearance="outline" #agreeSelect labelForId="servicetype" [searchable]="false" placeholder="{{'label-title.choose' | translate}}">
                                <ng-option [value]="true">...</ng-option>
                                <ng-option [value]="true">...</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="d-block">{{'label-title.accessibility' | translate }}</label>
                        <div class="form-group d-flex flex-column">
                            <div class="d-inline-block custom-control custom-checkbox mr-3">
                                <input type="checkbox" id="inlineCheckbox1" value="option1" class="custom-control-input">
                                <label for="inlineCheckbox1" class="custom-control-label">{{'label-title.baby-seat' | translate }}</label>
                            </div>
                            <div class="d-inline-block custom-control custom-checkbox mr-3">
                                <input type="checkbox" id="inlineCheckbox2" value="option2" class="custom-control-input">
                                <label for="inlineCheckbox2" class="custom-control-label">{{'label-title.hotspot' | translate }}</label>
                            </div>
                            <div class="d-inline-block custom-control custom-checkbox mr-3">
                                <input type="checkbox" id="inlineCheckbox3" value="option3" class="custom-control-input">
                                <label for="inlineCheckbox3" class="custom-control-label">{{'label-title.handicap' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator my-4"></div>
                <div class="card shadow-none">
                    <div class="position-absolute card-top-buttons p-0">
                        <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs"> {{ 'button-title.edit' | translate }} </button>
                    </div>
                    <div class="card-body p-0">
                        <h5 class="mb-3 list-item-heading font-weight-bold">RC</h5>
                        <div>
                            <div class="d-flex flex-row mb-3">
                                <a href="javascript:;" class="d-block position-relative">
                                    <img alt="Marble Cake" src="/assets/img/products/magdalena-thumb.jpg" class="list-thumbnail border-0">
                                    <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'label-title.expiry' | uppercase}}</span>
                                </a>
                                <div class="pl-3 pr-2">
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.expiry-date' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.unique-code' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator mb-4"></div>
                <div class="card shadow-none">
                    <div class="position-absolute card-top-buttons p-0">
                        <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs"> {{ 'button-title.edit' | translate }} </button>
                    </div>
                    <div class="card-body p-0">
                        <h5 class="mb-3 list-item-heading font-weight-bold">RC</h5>
                        <div>
                            <div class="d-flex flex-row mb-3">
                                <a href="javascript:;" class="d-block position-relative">
                                    <img alt="Marble Cake" src="/assets/img/products/magdalena-thumb.jpg" class="list-thumbnail border-0">
                                    <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'label-title.expiry' | uppercase | translate}}</span>
                                </a>
                                <div class="pl-3 pr-2">
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.expiry-date' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.unique-code' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="position-absolute card-top-buttons p-4">
        <button class="btn btn-outline-primary icon-button" (click)="isCollapsedAnimated2 = !isCollapsedAnimated2"
        [attr.aria-expanded]="!isCollapsedAnimated2" aria-controls="collapseAnimated2">
            <i class="simple-icon-arrow-down"></i>
        </button>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between flex-column flex-sm-row">
            <h5 class="mb-4 mb-sm-0">{{'i20 - Van' | translate}}</h5>
            <div class="d-flex flex-row mr-5">
                <div class="d-inline-block custom-control custom-switch mr-3">
                    <input type="checkbox" id="customSwitch2111" class="custom-control-input">
                    <label for="customSwitch2111" class="custom-control-label"> </label>
                </div>
                <button type="button" class="btn btn-xs btn-outline-primary">{{ 'button-title.edit' | translate }}</button>
            </div>
        </div> 
        <div id="collapseAnimated2" [collapse]="isCollapsedAnimated2" [isAnimated]="true"> 
            <div class="mt-4">
                <div class="row mb-0">
                    <div class="col-md-6 col-6  mb-2">
                        <div class="form-group">
                            <label for="drivername2">{{'label-title.name' | translate}}</label>
                            <input type="text" id="drivername2" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="platenumber2">{{'label-title.plate-no' | translate}}</label>
                            <input type="text" id="platenumber2" class="form-control" placeholder="Plate no">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="drivingmodel2">{{'label-title.modal' | translate}}</label>
                            <input type="text" id="drivingmodel2" class="form-control" placeholder="{{'label-title.modal' | translate }}">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="drivercolor2">{{'label-title.color' | translate}}</label>
                            <input type="text" id="drivercolor2" class="form-control" placeholder="{{'label-title.color' | translate }}">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="year2">{{'label-title.year' | translate}}</label>
                            <input type="text" id="year2" class="form-control" placeholder="{{'label-title.year' | translate }}">
                        </div>
                    </div>
                    <div class="col-md-6 col-6 mb-2">
                        <div class="form-group">
                            <label for="inputState">{{'label-title.service-type' | translate }}</label>
                            <ng-select appearance="outline" labelForId="servicetype2" [searchable]="false" placeholder="{{'label-title.choose' | translate}}">
                                <ng-option [value]="true">...</ng-option>
                                <ng-option [value]="true">...</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="d-block">{{'label-title.accessibility' | translate }}</label>
                        <div class="form-group d-flex flex-column">
                            <div class="d-inline-block custom-control custom-checkbox mr-3">
                                <input type="checkbox" id="inlineCheckbox21" value="option1" class="custom-control-input">
                                <label for="inlineCheckbox21" class="custom-control-label">{{'label-title.baby-seat' | translate }}</label>
                            </div>
                            <div class="d-inline-block custom-control custom-checkbox mr-3">
                                <input type="checkbox" id="inlineCheckbox22" value="option2" class="custom-control-input">
                                <label for="inlineCheckbox22" class="custom-control-label">{{'label-title.hotspot' | translate }}</label>
                            </div>
                            <div class="d-inline-block custom-control custom-checkbox mr-3">
                                <input type="checkbox" id="inlineCheckbox23" value="option3" class="custom-control-input">
                                <label for="inlineCheckbox23" class="custom-control-label">{{'label-title.handicap' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator my-4"></div>
                <div class="card shadow-none">
                    <div class="position-absolute card-top-buttons p-0">
                        <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs"> {{ 'button-title.edit' | translate }} </button>
                    </div>
                    <div class="card-body p-0">
                        <h5 class="mb-3 list-item-heading font-weight-bold">RC</h5>
                        <div>
                            <div class="d-flex flex-row mb-3">
                                <a href="javascript:;" class="d-block position-relative">
                                    <img alt="Marble Cake" src="/assets/img/products/magdalena-thumb.jpg" class="list-thumbnail border-0">
                                    <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'label-title.expiry' | uppercase | translate}}</span>
                                </a>
                                <div class="pl-3 pr-2">
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.expiry-date' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.unique-code' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="separator mb-4"></div>
                <div class="card shadow-none">
                    <div class="position-absolute card-top-buttons p-0">
                        <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs"> {{ 'button-title.edit' | translate }} </button>
                    </div>
                    <div class="card-body p-0">
                        <h5 class="mb-3 list-item-heading font-weight-bold">RC</h5>
                        <div>
                            <div class="d-flex flex-row mb-3">
                                <a href="javascript:;" class="d-block position-relative">
                                    <img alt="Marble Cake" src="/assets/img/products/magdalena-thumb.jpg" class="list-thumbnail border-0">
                                    <span class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'label-title.expiry' | uppercase | translate}}</span>
                                </a>
                                <div class="pl-3 pr-2">
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.expiry-date' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                    <div>
                                        <p class="text-small text-muted mb-1">{{'label-title.unique-code' | translate }}</p>
                                        <a href="javascript:;"><p class="list-item-heading">---</p></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>