<!-- <form> -->
    <div class="card mb-4">
        <!-- <div class="position-absolute card-top-buttons">
            <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs" (click)="showAppUrlSettingModal()">{{'button-title.edit' | translate}}  </button>
        </div> -->
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <!-- <div class="float-left float-none-xs">
                    <div class="d-inline-block"> -->
                        <h5 class="card-title mb-3">{{'heading-title.app-url' | translate }}</h5>
                    <!-- </div>
                </div> -->
                <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                    <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3" (click)="showAppUrlSettingModal()"> 
                        {{'button-title.edit' | translate }} </button>
                </div>
            </div>
            <!-- <h5 class="card-title">{{'heading-title.update-app-url' | translate }}</h5> -->
            <p class="text-muted text-small mb-2 text-primary font-weight-bold">
                {{'heading-title.android-app-url' | translate | uppercase}}
            </p>
            <div class="">
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.android-client-app-url' | translate }}</p>
                            <p class="text-muted mb-0 text-small">{{setting_detail.android_client_app_url}}</p>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.android-driver-app-url' | translate }}</p>
                            <p class="text-muted mb-0 text-small">{{setting_detail.android_driver_app_url}}</p>
                        </a>
                    </div>
                </div>
            </div>
            <p class="text-muted text-small mb-2 text-primary font-weight-bold">
                {{'heading-title.ios-app-url' | translate | uppercase}}
            </p>
            <div class="">
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.ios-client-app-url' | translate }}</p>
                            <p class="text-muted mb-0 text-small">{{setting_detail.ios_client_app_url}}</p>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.ios-driver-app-url' | translate }}</p>
                            <p class="text-muted mb-0 text-small">{{setting_detail.ios_driver_app_url}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </form> -->
<app-app-url-setting-modal #appUrlSettingModal (api_url_data)="getSettingData()"></app-app-url-setting-modal>