<div class="row">
    <div class="position-absolute cityTypeBtn">
        <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" class="btn btn-xs btn-outline-primary" (click)="addRentalPackage()">
            {{'button-title.add' | translate}}
        </button>
    </div>
    <div *ngFor="let data of rental_data" class="col-md-6 col-sm-6 col-lg-4 col-xl-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="">
                    <span *ngIf="data.car_rental_details.is_business==1" class="badge badge-pill badge-theme-1 position-absolute badge-top-left">{{'label-title.business-on' | translate}}</span>
                    <span *ngIf="data.car_rental_details.is_business==0" class="badge badge-pill badge-theme-3 position-absolute badge-top-left">{{'label-title.business-off' | translate}}</span>
                </div>
                <div class="text-center">
                    <h4 class="color-theme-1 mb-3 value font-weight-bold">{{data.car_rental_details.typename |
                        titlecase}}</h4>
                    <h3 class="mb-3">{{'label-title.base-price' | translate}} ( {{currencysign}} {{data.car_rental_details.base_price.toFixed(_helper.to_fixed_number)}} )</h3>
                    <p class="list-item-heading mb-3">{{data.car_rental_details.base_price_distance}}
                        <span *ngIf="unit==1">{{'label-title.km' | translate}}</span>
                        <span *ngIf="unit==0">{{'label-title.mile' | translate}}</span>
                        {{'label-title.and' | translate}} {{data.car_rental_details.base_price_time}}
                        {{'label-title.min' | translate}}
                    </p>
                    <p class="mb-3 text-muted text-small">
                        {{currencysign}} {{data.car_rental_details.price_per_unit_distance.toFixed(_helper.to_fixed_number)}} / <span *ngIf="unit==1">{{'label-title.km' | translate}}</span>
                        <span *ngIf="unit==0">{{'label-title.mile' | translate}}</span>
                        {{'label-title.for-extra-distance' | translate}}
                    </p>
                    <p class="mb-3 text-muted text-small">{{currencysign}} {{data.car_rental_details.price_for_total_time.toFixed(_helper.to_fixed_number)}} / {{'label-title.min' | translate}} {{'label-title.for-extra-distance' | translate}}</p>
                    
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.DELETE)" type="button" class="btn btn-xs btn-outline-danger mr-2" (click)="deleteRentalModel(data.car_rental_details)"
                        [disable]="btnDisable">{{'button-title.delete' |
                        translate}}</button>
                    <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" type="button" class="btn btn-xs btn-outline-primary"
                        (click)="showRentalPackageModal(data)">{{'button-title.edit' |
                        translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" *ngIf="rental_data.length == 0">
    <div class="card-body text-center font-weight-bold text-capitalize">{{'validation-title.no-data-found' | translate}}</div>
</div>
<app-rental-package-setting-modal #rentalPackageSettingModal (rentalHandler)="getRentalList()"></app-rental-package-setting-modal>

<!-- delete rental package modal -->
<ng-template #deleteRentalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="deleteRentalData">{{'heading-title.delete-rental-package' | translate}} ( {{deleteRentalData.typename |
            titlecase}} )</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="rentalModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <p class="mb-0">{{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'heading-title.rental-package' | translate}}.</p>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="rentalModalRef.hide()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button> -->
        <button type="button" (click)="deleteRental(deleteRentalData._id)" class="btn btn-primary float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>