<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.add-new-driver' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="driverDetailForm" class="ng-invalid ng-dirty ng-touched" appFocus>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 col-12 py-3 text-center">
                                <div class="position-absolute card-bottom-buttons"
                                    *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                    <input id="profileFileInput" type="file" (change)="onSelectImageFile($event)" />
                                    <button type="button" class="btn btn-outline-primary icon-button"
                                        onclick="document.getElementById('profileFileInput').click();">
                                        <i class="simple-icon-pencil"></i>
                                    </button>
                                </div>
                                <img (error)="$event.target.src = USER_PROFILE"
                                    class="border-0 rounded list-thumbnail align-self-center user-profile"
                                    [src]="profile_image ? profile_image : USER_PROFILE" alt="">
                            </div>
                            <div class="col-12 text-center d-sm-none d-block">
                                <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' |
                                    translate}}</span>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-8 col-12 my-auto">
                                <div class="form-group">
                                    <label for="first_name">{{'label-title.first-name' | translate }}</label>
                                    <input type="text" id="first_name" formControlName="first_name" class="form-control"
                                        required (keypress)="_helper.space_validation($event)">
                                    <div *ngIf="driverDetailForm.get('first_name').errors?.required && driverDetailForm.get('first_name').touched"
                                        style="white-space: nowrap;" class="invalid-tooltip">{{
                                        'validation-title.first-name-is-reqiured' | translate }}</div>
                                </div>
                                <div class="form-group">
                                    <label for="last_name">{{'label-title.last-name' | translate }}</label>
                                    <input type="text" id="last_name" formControlName="last_name" required=""
                                        class="form-control" required (keypress)="_helper.nospace_validation($event)">
                                    <div *ngIf="driverDetailForm.get('last_name').errors?.required && driverDetailForm.get('last_name').touched"
                                        style="white-space: nowrap;" class="invalid-tooltip">{{
                                        'validation-title.last-name-is-reqiured' | translate }}</div>
                                </div>
                            </div>
                            <div class="col-12 d-none d-sm-block">
                                <span class="text-primary"> {{'validation-title.please-upload-image-in-formate' |
                                    translate}}</span>
                            </div>
                            <div class="col-12 mt-sm-3">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="country">
                                                <span>{{'label-title.country' | translate}}</span>
                                            </label>
                                            <ng-select appearance="outline" labelForId="yesno" [searchable]="true"
                                                [clearable]="false" formControlName="country_id"
                                                [readonly]="vehicleDetails" (change)="onChangeCountry($event)">
                                                <ng-option [value]="country._id"
                                                    *ngFor="let country of country_list">{{country.countryname}}
                                                </ng-option>
                                            </ng-select>
                                            <div *ngIf="driverDetailForm.get('country_id').errors?.required && driverDetailForm.get('country_id').touched"
                                                style="white-space: nowrap;" class="invalid-tooltip">
                                                {{'label-title.country' | translate}} {{'label-title.is-required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="city">
                                                <span>{{'label-title.city' | translate}}</span>
                                            </label>
                                            <ng-select id="city" appearance="outline" formControlName="city"
                                                notFoundText="{{'validation-title.city-not-available' | translate}}"
                                                labelForId="city" [searchable]="true" [clearable]="false"
                                                (change)="cityChanges($event)">
                                                <ng-option [value]="city" *ngFor="let city of city_list">
                                                    {{city.cityname | titlecase}}
                                                </ng-option>
                                            </ng-select>
                                            <div *ngIf="driverDetailForm.get('city').errors?.required && driverDetailForm.get('city').touched"
                                                style="white-space: nowrap;" class="invalid-tooltip">
                                                {{'label-title.city' | translate}} {{'label-title.is-required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="phone">
                                                {{'label-title.phone' | translate }}
                                            </label>
                                            <div class="input-group">
                                                <div class="input-group-prepend w-20">
                                                    <input type="text" id="country_phone_code"
                                                        formControlName="country_phone_code"
                                                        class="text-center form-control" [readOnly]="true">
                                                </div>
                                                <input type="text" onDrop="return false" onPaste="return false"
                                                    (keypress)="_helper.number_validation($event)" id="phone"
                                                    formControlName="phone" aria-describedby="basic-addon1"
                                                    [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8"
                                                    [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"
                                                    class="w-80 form-control"
                                                    [readOnly]="requestList?.is_show_phone == false" required
                                                    noPasteDrop>
                                                <div *ngIf="driverDetailForm.get('phone').errors && driverDetailForm.get('phone').touched"
                                                    class="invalid-tooltip">
                                                    <span *ngIf="driverDetailForm.get('phone').errors.required">
                                                        {{'validation-title.phone-is-reqiured' | translate}}
                                                    </span>
                                                    <span *ngIf="driverDetailForm.get('phone').errors.minlength ">
                                                        {{'validation-title.min' |
                                                        translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length
                                                        ? _helper.admin_setting_details.minimum_phone_number_length :
                                                        8}}&nbsp;{{'validation-title.character-requires' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="email">{{'label-title.email' | translate }}</label>
                                            <div class="input-group">
                                                <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="email"
                                                    aria-describedby="basic-addon2" class="form-control"
                                                    [readOnly]="requestList?.is_show_email == false" required>
                                                <div *ngIf="driverDetailForm.get('email').errors?.required && driverDetailForm.get('email').touched"
                                                    class="invalid-tooltip">
                                                    {{'validation-title.email-is-reqiured' | translate }}</div>
                                                <div *ngIf="driverDetailForm.get('email').errors?.email && driverDetailForm.get('email').touched"
                                                    class="invalid-tooltip">
                                                    {{'validation-title.enter-valid-email' | translate }}</div>
                                                <div *ngIf="driverDetailForm.get('email').errors?.pattern && driverDetailForm.get('email').touched"
                                                    class="invalid-tooltip">
                                                    {{'validation-title.enter-valid-email' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group search-address">
                                            <label for="address">{{'label-title.home-address' | translate }}</label>
                                            <input type="text" id="address" formControlName="address"
                                                class="form-control ng-valid ng-dirty ng-touched">
                                            <div *ngIf="driverDetailForm.get('address').errors?.required && driverDetailForm.get('address').touched"
                                                style="white-space: nowrap;" class="invalid-tooltip">
                                                {{'label-title.home-address' | translate}} {{'label-title.is-required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="password">{{'label-title.password' | translate
                                                }}</label>
                                            <input id="pwd" minlength="6" formControlName="password"
                                                type="{{showPassword? 'text' : 'password'}}" placeholder="* * * * * * *"
                                                class="form-control">
                                            <span id="show-pwd-btn-1" *ngIf="showPassword" class="field-icon c-pointer"
                                                (click)="showPassword=!showPassword">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                    viewBox="0 0 24 24">
                                                    <path fill="#7f7f7f"
                                                        d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" />
                                                </svg>
                                            </span>
                                            <span id="hide-pwd-btn-1" *ngIf="!showPassword" class="field-icon c-pointer"
                                                (click)="showPassword=!showPassword">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                    viewBox="0 0 24 24">
                                                    <path fill="#7f7f7f"
                                                        d="M11.885 14.988l3.104-3.098.011.11c0 1.654-1.346 3-3 3l-.115-.012zm8.048-8.032l-3.274 3.268c.212.554.341 1.149.341 1.776 0 2.757-2.243 5-5 5-.631 0-1.229-.13-1.785-.344l-2.377 2.372c1.276.588 2.671.972 4.177.972 7.733 0 11.985-8.449 11.985-8.449s-1.415-2.478-4.067-4.595zm1.431-3.536l-18.619 18.58-1.382-1.422 3.455-3.447c-3.022-2.45-4.818-5.58-4.818-5.58s4.446-7.551 12.015-7.551c1.825 0 3.456.426 4.886 1.075l3.081-3.075 1.382 1.42zm-13.751 10.922l1.519-1.515c-.077-.264-.132-.538-.132-.827 0-1.654 1.346-3 3-3 .291 0 .567.055.833.134l1.518-1.515c-.704-.382-1.496-.619-2.351-.619-2.757 0-5 2.243-5 5 0 .852.235 1.641.613 2.342z" />
                                                </svg>
                                            </span>
                                            <div *ngIf="driverDetailForm.get('password').errors && driverDetailForm.get('password').touched"
                                                class="invalid-tooltip">
                                                <span *ngIf="driverDetailForm.get('password').errors?.required">
                                                    {{'label-title.password' | translate}} {{'label-title.is-required' | translate }}
                                                </span>
                                                <span
                                                    *ngIf="driverDetailForm.get('password').errors.minlength ">{{'validation-title.min-6-character-requires'
                                                    | translate}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary float-right" (click)="save()">
                        {{'button-title.submit' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>