.btn_display_option {
  border-color: #8f8f8f;
  color: #8f8f8f;
}

.btn_display_option:active,
.btn_display_option:hover {
  color: #fff !important;
}

.tableScroll {
  min-width: 850px;
  overflow-y: auto;
}

tbody>tr>td {
  cursor: pointer;
}

thead>tr>th {
  white-space: nowrap;
}

.display-options-container a {
  cursor: pointer;
}

.row {
  row-gap: 20px;

  .col-xl-15 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;

    // height: 100%;
    .card {
      height: 100%;

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width : 1442px) {
    .col-xl-15 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  @media screen and (max-width : 850px) {
    
    .col-xl-15 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }

  @media screen and (max-width : 426px) {
    padding: 0 5px;
    .col-xl-15 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

}