<div class="row">
    <div class="col-12">
        <div>
            <app-heading></app-heading>
            <app-breadcrumb></app-breadcrumb>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <tabset class="separator-tabs">
            <tab heading="{{'label-title.admin-setting' | translate | uppercase}}">
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <ng-container *ngIf="setting_detail">
                            <app-admin-store-settings [setting_detail]="setting_detail" (basic_setting_data)="getSettingData()"></app-admin-store-settings>
                        </ng-container>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <app-admin-logo-settings></app-admin-logo-settings>
                        <!-- <ng-container *ngIf="setting_detail">
                            <app-panel-name [setting_detail]="setting_detail" (panel_name)="getSettingData()"></app-panel-name>
                        </ng-container> -->
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                        <ng-container *ngIf="setting_detail">
                            <app-admin-other-settings [setting_detail]="setting_detail" (notification_setting_data)="getSettingData()"></app-admin-other-settings>
                        </ng-container>
                    </div>
                </div>
            </tab>
            <tab heading="{{'label-title.trip_feature_settings' | translate | uppercase}}">
                <div class="row">
                    <div class="col-12 mb-4">
                        <ng-container *ngIf="setting_detail">
                            <app-trip-feature [setting_detail]="setting_detail" (trip_data)="getSettingData()"></app-trip-feature>
                        </ng-container>
                    </div>
                </div>
            </tab>
            <tab heading="{{'label-title.app-setting' | translate | uppercase}}">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
                        <ng-container *ngIf="setting_detail">
                            <app-admin-app-url [setting_detail]="setting_detail" (api_url_data)="getSettingData()"></app-admin-app-url>
                        </ng-container>
                        <ng-container *ngIf="setting_detail">
                            <app-admin-notification-ios-certificates [setting_detail]="setting_detail" (ios_certificate_data)="getSettingData()"></app-admin-notification-ios-certificates>
                        </ng-container>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
                        <ng-container *ngIf="setting_detail">
                            <app-admin-app-setting [setting_detail]="setting_detail" (app_version_data)="getSettingData()"></app-admin-app-setting>
                        </ng-container>
                    </div>
                </div>
            </tab>
            <tab heading="{{'label-title.key_settings' | translate | uppercase}}">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
                        <ng-container *ngIf="setting_detail">
                            <app-admin-google-key-settings [setting_detail]="setting_detail" (google_key_data)="getSettingData()"></app-admin-google-key-settings>
                        </ng-container>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-4">
                        <ng-container *ngIf="setting_detail">
                            <app-admin-notification-key-settings [setting_detail]="setting_detail" (firebase_GCM_data)="getSettingData()"></app-admin-notification-key-settings>
                        </ng-container>
                    </div>
                </div>
            </tab>
            <tab heading="{{'label-title.configuration_settings' | translate | uppercase}}">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-12 mb-4">
                        <ng-container *ngIf="setting_detail">
                            <app-sms-configuration [setting_detail]="setting_detail" (SMS_data)="getSettingData()"></app-sms-configuration>
                            <app-email-configuration [setting_detail]="setting_detail" (email_data)="getSettingData()"></app-email-configuration>
                            <app-base-url [setting_detail]="setting_detail" (url_data)="getSettingData()"></app-base-url>
                        </ng-container>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-12 mb-4">
                        <ng-container *ngIf="setting_detail">
                            <app-payment-configurations [setting_detail]="setting_detail" (payment_data)="getSettingData()"></app-payment-configurations>
                        </ng-container>
                    </div>
                </div>
            </tab>
            <tab heading="{{'label-title.customer-panel-images' | translate | uppercase}}">
                <div class="row">
                    <div class="col-12 mb-4">
                        <app-user-panel-images></app-user-panel-images>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
<!-- <app-store-setting-modal #storeSettingModal></app-store-setting-modal> -->
<!-- <app-app-url-setting-modal #appUrlSettingModal></app-app-url-setting-modal> -->
<!-- <app-google-key-setting-modal #googleKeySettingModal></app-google-key-setting-modal> -->
<!-- <app-firebase-key-modal #firebaseKeyModal></app-firebase-key-modal> -->
