<div class="row">
    <div class="col-lg-7 col-md-12 col-sm-12 mb-4">
        <div class="card mb-4">
            <div class="position-absolute card-top-buttons">
                <button class="btn btn-xs btn-outline-primary mt-2 mr-2">{{'button-title.save' | translate}}</button>
            </div>
            <div class="card-body">
              <h5 class="mb-4">{{'maps.google' | translate}}</h5>
              <agm-map class="map-item" [zoomControl]="true" [latitude]="-34.397" [longitude]="150.644" [zoom]="8" [disableDefaultUI]="false"
                [zoomControl]="false" (mapClick)="mapClicked($event)">
                <agm-marker [latitude]="-34.397" [longitude]="150.644">
                </agm-marker>
              </agm-map>
            </div>
        </div>
    </div>
    <div class=" col-lg-5 col-md-12 col-sm-12 mb-4">
        <div class="card mb-4 d-lg-block">
            <div class="position-absolute card-top-buttons">
                <button class="btn btn-xs btn-outline-primary mt-2 mr-2" (click)="citySetting()">{{'button-title.edit' | translate}}</button>
            </div>
            <div class="card-body">
                <h5 class="d-inline">{{'label-title.settings' | translate}}</h5>
                <div class="py-4 mb-1">
                    <div class="form-group mb-4">
                        <label>{{'label-title.timezone' | translate}}</label>
                        <ng-select [items]="[{id:0, name:'Asia/Kolkata'}, {id:1, name:'Asia/Mumbai'}, {id:2, name:'Asia/Delhi'}]" bindLabel="name" bindValue="id">
                        </ng-select>
                    </div>
                    <div class="form-group row flex-fil">
                        <div class="col-sm-6 col-12 ">
                            <label for="inputEmail3">{{'label-title.distance-unit' | translate}}</label>
                        </div>
                        <div class="col-sm-6 col-12">
                            <select id="inputState" class="form-control">
                            <option selected="">km</option>
                            <option>...</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div *ngFor="let p of data3; let i=index" class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                    <div class="flex-fill">
                      <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{p.name | translate}}</p>
                        <p class="text-muted mb-0 text-small">{{p.status | translate}}</p>
                      </a>
                    </div>
                    <div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" [id]="'customSwitch'+i" class="custom-control-input">
                            <label [for]="'customSwitch'+i" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-city-settings #citySettingModal></app-city-settings>
