<div class="card auth-card">
  <div class="position-relative image-side pb-0">
    <p class="h2" style="font-weight: 600;">{{'user.forgot-password' | translate | uppercase}}</p>
    <p class="mb-4" style="color: #808080; font-weight: 500; ">
      {{'label-title.please-use-your-email-to-reset-your-password' | translate}}
    </p>
  </div>
  <div class="form-side">
    <a class="c-pointer">
      <img [src]="IMAGE_URL + 'web_images/user_logo.png'" alt="logo" class="logo-single" [ngClass]="{'whiteLogo':(logoClr)}">
    </a>
    <h3 class="mb-4">{{'user.forgot-password' | translate}}</h3>

    <form #forgotPassForm="ngForm" novalidate  (ngSubmit)="onSubmit()">
      <div class="form-group row" >
        <label for="email" class="col-12 col-form-label">{{ 'forms.email' | translate }}</label>
        <div class="input-group col-12">
          <input class="form-control" required email ngModel #email="ngModel" name="email" placeholder="{{ 'forms.email' | translate }}">
        <div *ngIf="!email.valid && forgotPassForm.submitted && !email?.errors?.email" class="invalid-tooltip">{{'validation-title.email-is-required' |
          translate}}</div>
        <div *ngIf="email?.errors?.email && forgotPassForm.submitted" class="invalid-tooltip">{{'validation-title.email-is-invalid'
          | translate}}</div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/admin/login" class="text-info">{{ 'user.login-button' | translate }}</a>
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'button-title.submit' | translate }}
        </app-state-button>
      </div>
    </form >

  </div>
</div>