<div class="row">
<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="sortable-survey" >
      <!-- default  -->
      <!-- <app-zone-builder *ngFor="let item of currentSurvey.questions; let i=index" [question]="item" [sort]="i+1"></app-zone-builder> -->
      <!-- changed  -->
      <app-zone-builder *ngFor="let item of data3; let i=index" [question]="item" [sort]="i+1"></app-zone-builder>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-primary mb-3" (click)="addNewQuestion2()">
        <i class="simple-icon-plus btn-group-icon"></i>
        {{ 'button-title.add-new-zone-category' | translate }}
      </button>
    </div>
</div>
<div class="col-lg-8 col-md-6 col-sm-12 mb-4">
    <div class="card mb-4">
        <div class="position-absolute card-top-buttons">
            <button class="btn btn-xs btn-outline-primary mt-2 mr-2">{{'button-title.save' | translate}}</button>
        </div>
        <div class="card-body">
          <h5 class="mb-4">{{'maps.google' | translate}}</h5>
          <!-- <agm-map class="map-item" [zoomControl]="true" [latitude]="-34.397" [longitude]="150.644" [zoom]="8" [disableDefaultUI]="false"
            [zoomControl]="false" (mapClick)="mapClicked($event)">
            <agm-marker [latitude]="-34.397" [longitude]="150.644">
            </agm-marker>
          </agm-map> -->
        </div>
    </div>
</div>
</div>