<div class="row" *ngIf="selected_cityType != null">
    <div class="position-absolute cityTypeBtn" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
        <button class="btn btn-xs btn-outline-primary" (click)="showPriceSettingModal()">
            {{'button-title.edit' | translate}}
        </button>
    </div>
    <div class="col-lg-6 col-md-12 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-semibold">{{'label-title.price-settings' | translate}}</h5>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider-profit' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.provider-profit-tootltip' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.provider_profit}} %</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.distance-for-base-price' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_distance_for_base_price' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.base_price_distance}} 
                            <span *ngIf="unit==1">{{'label-title.km' | translate}}</span>
                            <span *ngIf="unit==0">{{'label-title.mile' | translate}}</span>
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.base-price' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_base_price' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.base_price.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.Price-per-unit-distance' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_price_per_unit_distance' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.price_per_unit_distance.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.Price-per-unit-time-min' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_price_per_unit_distance' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.price_for_total_time.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.waiting-time-start-after-minute' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_waiting_time_start_after_minute' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.waiting_time_start_after_minute}} {{'label-title.min' | translate}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.price-for-waiting-time' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_price_for_waiting_time' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.price_for_waiting_time.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.free-waiting-time-for-multiple-location' | translate}}</p>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.waiting_time_start_after_minute_multiple_stops}} {{'label-title.min' | translate}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.Price-waiting-time-for-multiple-location' | translate}}</p>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.price_for_waiting_time_multiple_stops.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.min-fare' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_min_fare' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.min_fare.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <!-- <div class="d-flex flex-row  justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.max-space' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_max_space' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.max_space}}</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-12 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title font-weight-semibold">{{'label-title.tax-settings' | translate}}</h5>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.cancellation-fee' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_cancellation_fee' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.cancellation_fee.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.tax' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_tax' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.tax}} %</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.user-miscellaneous-fee' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_user_miscellaneous_fee' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.user_miscellaneous_fee.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.user-tax' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_user_tax' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.user_tax}} %</a>

                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider-miscellaneous-fee' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_provider_miscellaneous_fee' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.provider_miscellaneous_fee.toFixed(_helper.to_fixed_number)}} {{currencysign}}</a>
                    </div>
                </div>
                <div class="d-flex flex-row  justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider-tax' | translate}}</p>
                            <span class="text-muted mb-0 text-small" tooltip="{{'label-title.tooltip_provider_tax' | translate}}" placement="right">{{'label-title.details' | translate}}</span>
                        </a>
                    </div>
                    <div>
                        <a href="javascript:;">{{selected_cityType.provider_tax}} %</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-semibold">{{'label-title.other-settings' | translate}}</h5>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.business' | translate}}</p>
                        </a>
                    </div>
                    <div class="float-right">
                        <span *ngIf="!selected_cityType.is_business" class="badge badge-danger rounded">{{'label-title.off' | translate}}</span>
                        <span *ngIf="selected_cityType.is_business" class="badge badge-success rounded">{{'label-title.on' | translate}}</span>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.car-rental-business' | translate}}</p>
                        </a>
                    </div>
                    <div class="float-right">
                        <span *ngIf="!selected_cityType.is_car_rental_business" class="badge badge-danger rounded">{{'label-title.off' | translate}}</span>
                        <span *ngIf="selected_cityType.is_car_rental_business" class="badge badge-success rounded">{{'label-title.on' | translate}}</span>
                    </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.is-zone' | translate}}</p>
                        </a>
                    </div>
                    <div class="float-right">
                        <span *ngIf="!selected_cityType.is_zone" class="badge badge-danger rounded">{{'label-title.off' | translate}}</span>
                        <span *ngIf="selected_cityType.is_zone" class="badge badge-success rounded">{{'label-title.on' | translate}}</span>
                    </div>
                </div>
                <div class="d-flex flex-row  justify-content-between align-items-top">
                    <div class="flex-fill">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.is-surge-hours' | translate}}</p>
                        </a>
                    </div>
                    <div  class="float-right">
                        <span *ngIf="!selected_cityType.is_surge_hours" class="badge badge-danger rounded">{{'label-title.off' | translate}}</span>
                        <span *ngIf="selected_cityType.is_surge_hours" class="badge badge-success rounded">{{'label-title.on' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" *ngIf="selected_cityType == null">
    <div class="card-body text-center font-weight-bold text-capitalize">{{'validation-title.no-data-found' | translate}}</div>
</div>
<app-trip-charge-settingmodal #tripChargeSettingModal (tripChargeHandler)="parentCall()"></app-trip-charge-settingmodal>