<div class="row">
    <div class="col-12">
      <div>
        <h1>{{'heading-title.country' | translate }}</h1>
        <div class="top-right-button-container text-zero">
            <button type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="showAddNewModal()">
                {{ 'button-title.add-new' | translate | uppercase}}
            </button>
        </div>
        <app-breadcrumb></app-breadcrumb>
      </div>
      <div>
        <tabset class="separator-tabs">
          <tab heading="{{'pages.business-running-on-country' | translate | uppercase }}">
            <app-history-country></app-history-country>
          </tab>
          <tab heading="{{'pages.other-country' | translate | uppercase }}">
            <app-history-country-items></app-history-country-items>
          </tab>
        </tabset>
      </div>
    </div>
</div>

<app-add-new-country-modal #addNewModalRef></app-add-new-country-modal>
