<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">{{'heading-title.review' | translate}}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row mb-4 border-bottom"><a routerlink="./" class="d-flex"
                            ng-reflect-router-link="./" href="/app/ui/components/cards"><img alt="Profile"
                                src="/assets/img/profiles/l-1.jpg"
                                class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center"></a>
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div
                                class="pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
                                <div class="min-width-zero"><a routerlink="./" ng-reflect-router-link="./"
                                        href="/app/ui/components/cards">
                                        <p class="list-item-heading mb-1 truncate">Sarah Kortney</p>
                                    </a>
                                    <p class="mb-2 text-muted text-small">Executive Director</p>
                                    <p class="mb-2 ">+91 454535 53546</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 border-bottom">
                        <div class="d-flex justify-content-between flex-column flex-sm-row">
                            <div class="mb-2">
                                <p for="inputEmail3" class="mb-0">{{'pages.user-comment' | translate}}</p>
                                <p class="text-muted mb-0 text-small">28 Oct 2020</p>
                            </div>
                            <div class="">
                                <div class="d-flex">
                                    <div class="post-icon mr-3"><span><i class="iconsminds-like mr-1"></i></span>35 {{'pages.likes' | translate}}</div>
                                    <div class="post-icon"><span><i class="iconsminds-unlike mr-1"></i></span>5 {{'pages.dislikes' | translate}}</div>
                                </div>
                            </div>
                        </div>
                       <div class="mt-2">
                        <p class="text-muted mb-1 text-small">{{'pages.comment' | translate}}</p>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure omnis sunt perspiciatis ex, dolores quidem eum eaque qui, dolorum aspernatur voluptate ratione minima repellendus corrupti asperiores fuga, numquam obcaecati iusto. </p>
                        <div class="mt-3 mb-3">
                            <p class="text-muted mb-1 text-small">{{'pages.rating' | translate}}</p>
                            <rating [readonly]="true" [max]="5" [(ngModel)]="fourRate" [customTemplate]="ttt"></rating>
                            <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                        </div>
                    </div>
                    </div>
                    <div class="mb-4">
                        <div class="form-group row">
                            <div class="col-sm-6 col-6">
                                <p for="inputEmail3" class="mb-0">{{'pages.user-comment' | translate}}</p>
                                <p class="text-muted mb-0 text-small">28 Oct 2020</p>
                            </div>
                        </div>
                       <div class="mt-2">
                        <p class="text-muted mb-1 text-small">{{'pages.comment' | translate}}</p>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure omnis sunt perspiciatis ex, dolores quidem eum eaque qui, dolorum aspernatur voluptate ratione minima repellendus corrupti asperiores fuga, numquam obcaecati iusto. </p>
                        <div class="mt-3 mb-3">
                            <p class="text-muted mb-1 text-small">{{'pages.rating' | translate}}</p>
                            <rating [readonly]="true" [max]="5" [(ngModel)]="fourRate" [customTemplate]="ttt"></rating>
                            <ng-template #ttt let-index="index" let-value="value">{{index < value ? '' : '' }}</ng-template>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">{{'button-title.close' | translate}}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>