i.large-icon {
    font-size: 18px;
    line-height: initial;
    // color: #ed7117;
    font-weight: 600;
}

.btn_display_option{
    border-color: #8f8f8f;
    color: #8f8f8f;
}

.btn_display_option:active,
.btn_display_option:hover{
  color: #fff !important;
}

.display-options-container a{
  cursor: pointer;
}
