<div class="row mb-4">
  <div class="col-12">
    <app-heading></app-heading>
    <div class="top-right-button-container text-zero w-fit-content">
      <button *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)" type="button" (click)="showAddNewModal(null)" class="top-right-button btn btn-primary btn-lg mr-1">{{
        'pages.add-new' | translate}}</button>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="display-options-container">
      <div class="">
        <div class="d-block d-md-inline-block position-relative w-fit-content">
          <div class="float-md-left mr-1 mb-1" dropdown>
            <button id="button-basic" dropdownToggle type="button"
              class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option" aria-controls="dropdown-basic">
              {{'button-title.order-by' | translate}} : {{itemSort.label | translate}} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let item of itemOptionsSort"><a
                  [ngClass]="item.value === itemSort.value ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="onChangeSortBy(item)">{{item.label | translate}}</a></li>
            </ul>
          </div>
        </div>

        <div class="d-block d-md-inline-block position-relative ng-star-inserted">
          <div class="search-sm d-inline-block float-md-left mr-1 mb-1">
            <input class="form-control" (keypress)="_helper.space_validation($event)"
              placeholder="{{'label-title.search' | translate }}" [(ngModel)]="search_value">
          </div>
        </div>

        <div class="d-inline-block ng-star-inserted">
          <div class="d-inline-block float-md-left mr-1 mb-1 align-top">
            <button id="button-basic3" type="button" class="btn btn-primary btn-xs mr-1"
              (click)="apply()">
              {{'button-title.apply' | translate}} <span class="caret"></span>
            </button>
            <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1"
              (click)="clear()" [disabled]="search_value == '' && is_clear_disabled" [ngClass]="{'btn-disabled':(search_value == '' && is_clear_disabled)}">
              {{'button-title.clear-filter' | translate}} <span class="caret"></span>
            </button>
          </div>
        </div>

        <div class="float-right">
          <span class="text-muted text-small">{{'label-title.per-page' | translate}} </span>
          <span dropdown class="d-inline-block position-relative">
            <button class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
              {{itemsPerPage}}
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
              <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                  [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="onChangeItemsPerPage(item)">{{item | translate}}</a></li>
            </div>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <tabset class="separator-tabs" *ngIf="promo_list">
      <tab heading="{{'heading-title.running' | translate | uppercase }}"
        (selectTab)="changePromoType(PROMO_CODE.RUNNING)">
        <div class="row">
          <div
            *ngFor="let promo of promo_list | paginate: { itemsPerPage: itemsPerPage, currentPage:  current_page, totalItems: total_page * itemsPerPage}"
            class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-4 h5">{{promo.promocode}}</h5>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-calendar initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">{{promo.start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to
                      {{promo.code_expiry | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-user initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3 flex-grow-1 d-flex justify-content-between align-items-center">
                    <p class="list-item-heading mb-0">{{'label-title.no-of-usages' | translate }} :
                      <b>{{promo.code_uses}}</b>
                    </p>
                    <a href="javascript::" class="btn btn-xs btn-outline-primary" (click)="showUsedPromoCode(promo._id)">
                      <span class="list-item-heading"> {{'label-title.used' | translate}} : <b
                          class="font-weight-bold">{{promo.user_used_promo | translate}}</b></span>
                    </a>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-flag initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">{{promo.country_details.countryname}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center ng-star-inserted">
                  <i class="demo-icon iconsminds-coins initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">
                      <span *ngIf="promo.code_type == 1">{{promo.country_details.currencysign}}</span>{{promo.code_value}}<span *ngIf="promo.code_type == 2">%</span>
                    </p>
                  </div>
                </div>
                <button class="btn btn-outline-primary icon-button position-absolute promo-editIcon"
                  (click)="showAddNewModal(promo)">
                  <i class="simple-icon-pencil"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100" *ngIf="promo_list.length == 0">
          <div class=" text-center text-capitalize">
              {{'label-title.no-record-found' | translate}}</div>
        </div>
        <div class="row" *ngIf="promo_list.length != 0">
          <div class="col-12">
            <div class=" mb-4">
              <div class="card-body d-flex justify-content-center">
                <pagination-controls (pageChange)="onPage($event)" previousLabel="{{'wizard.previous' | translate}}"
                nextLabel="{{'wizard.next' | translate}}" [ngClass]="darkMode ? 'dark' : ''"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.inActive' | translate | uppercase }}"
        (selectTab)="changePromoType(PROMO_CODE.INACTIVE)">
        <div class="row">
          <div
            *ngFor="let promo of promo_list | paginate: { itemsPerPage: itemsPerPage, currentPage:  current_page, totalItems: total_page * itemsPerPage}"
            class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-4 h5">{{promo.promocode}}</h5>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-calendar initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">{{promo.start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to
                      {{promo.code_expiry | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-user initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3 flex-grow-1 d-flex justify-content-between align-items-center">
                    <p class="list-item-heading mb-0">{{'label-title.no-of-usages' | translate }} :
                      <b>{{promo.code_uses}}</b>
                    </p>
                    <a href="javascript::" class="btn btn-xs btn-outline-primary" (click)="showUsedPromoCode(promo._id)">
                      <span class="list-item-heading"> {{'label-title.used' | translate}} : <b
                          class="font-weight-bold">{{promo.user_used_promo | translate}}</b></span>
                    </a>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-flag initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">{{promo.country_details.countryname}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center ng-star-inserted">
                  <i class="demo-icon iconsminds-coins initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">
                      <span *ngIf="promo.code_type == 1">{{promo.country_details.currencysign}}</span>{{promo.code_value}}<span *ngIf="promo.code_type == 2">%</span>
                    </p>
                  </div>
                </div>
                <button class="btn btn-outline-primary icon-button position-absolute promo-editIcon"
                  (click)="showAddNewModal(promo)">
                  <i class="simple-icon-pencil"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100" *ngIf="promo_list.length == 0">
          <div class=" text-center text-capitalize">
              {{'label-title.no-record-found' | translate}}</div>
        </div>
        <div class="row" *ngIf="promo_list.length!= 0">
          <div class="col-12">
            <div class=" mb-4">
              <div class="card-body">
                <div class="card-body d-flex justify-content-center">
                  <pagination-controls (pageChange)="onPage($event)" previousLabel="{{'wizard.previous' | translate}}"
                  nextLabel="{{'wizard.next' | translate}}" [ngClass]="darkMode ? 'dark' : ''"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="{{'heading-title.expired' | translate | uppercase }}"
        (selectTab)="changePromoType(PROMO_CODE.EXPIRED)">
        <div class="row">
          <div
            *ngFor="let promo of promo_list | paginate: { itemsPerPage: itemsPerPage, currentPage:  current_page, totalItems: total_page * itemsPerPage}"
            class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-4 h5">{{promo.promocode}}</h5>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-calendar initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">{{promo.start_date | date:_helper.DATE_FORMAT.DD_MM_YYYY}} to
                      {{promo.code_expiry | date:_helper.DATE_FORMAT.DD_MM_YYYY}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-user initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3 flex-grow-1 d-flex justify-content-between align-items-center">
                    <p class="list-item-heading mb-0">{{'label-title.no-of-usages' | translate }} :
                      <b>{{promo.code_uses}}</b>
                    </p>
                    <a href="javascript::" class="btn btn-xs btn-outline-primary" (click)="showUsedPromoCode(promo._id)">
                      <span class="list-item-heading"> {{'label-title.used' | translate}} : <b
                          class="font-weight-bold">{{promo.user_used_promo | translate}}</b></span>
                    </a>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-3 ng-star-inserted">
                  <i class="simple-icon-flag initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">{{promo.country_details.countryname}}</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center ng-star-inserted">
                  <i class="demo-icon iconsminds-coins initial-height color-theme-1 large-icon"></i>
                  <div class="pl-3">
                    <p class="list-item-heading mb-0">
                      <span *ngIf="promo.code_type == 1">{{promo.country_details.currencysign}}</span>{{promo.code_value}}<span *ngIf="promo.code_type == 2">%</span>
                    </p>
                  </div>
                </div>
                <button class="btn btn-outline-primary icon-button position-absolute promo-editIcon"
                  (click)="showAddNewModal(promo)">
                  <i class="simple-icon-pencil"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100" *ngIf="promo_list.length == 0">
          <div class=" text-center text-capitalize">
              {{'label-title.no-record-found' | translate}}</div>
        </div>
        <div class="row" *ngIf="promo_list.length != 0">
          <div class="col-12">
            <div class=" mb-4">
              <div class="card-body d-flex justify-content-center">
                <pagination-controls previousLabel="{{'wizard.previous' | translate}}"
                nextLabel="{{'wizard.next' | translate}}" (pageChange)="onPage($event)" [ngClass]="darkMode ? 'dark' : ''"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>

<app-promo-code-modal #promoCode></app-promo-code-modal>
<app-add-new-promo-modal #addNewModalRef (emit_promo_data)="changePromoType(page_type)"></app-add-new-promo-modal>