<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <!-- <div class="top-right-button-container mb-2">
      <div class="btn-group"><button id="button-split" type="button"
          class="btn btn-primary btn-lg">{{'button-title.help' | translate | uppercase}}</button></div>
    </div> -->
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mb-5"></div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left float-none-xs">
            <div class="d-flex">
              <i class="color-theme-1 iconsminds-mail-settings mr-2"></i>
              <h5 class="d-inline color-theme-1 font-weight-bold my-auto">{{'heading-title.mail-sent-by-gmail-outlook-server' | translate }}</h5>
            </div>
          </div>
          <div class="float-right float-none-xs mt-2 ng-star-inserted">
            <button id="button-basic1" type="button" class="btn btn-outline-primary btn-xs" (click)="showMailConnectModal()">
              {{ 'button-title.connect' | translate }} 
            </button>
          </div>
        </div>
        <br>
        <div class="d-flex flex-column flex-grow-1">
          <ul>
            <li>{{ 'label-title.privacy-policy' | translate }} : <a href="javascript:;">www.abcd.com/privacy-policy.html</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="card editor-card mb-4">
  <div class="card-body">
    <div class="d-flex flex-row justify-content-between">
      <div class="float-left float-none-xs">
        <div class="d-inline-block">
          <h5 class="d-inline">{{'heading-title.edit-email' | translate }}</h5>
        </div>
      </div>
      <div class="btn-group float-right float-none-xs mb-4">
        <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" id="button-basic" type="button" class="btn btn-outline-primary btn-xs" (click)="save()"
          [disabled]="selected_email._id == null"
          [ngClass]="{'btn-disabled':selected_email._id == null}">{{'button-title.save' | translate }}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-12 form-group">
        <div class="form-group mb-0">
          <label for="email" class="font-weight-medium truncate mb-0">{{ 'label-title.select-email-for' | translate
            }}</label>
          <ng-select appearance="outline" #emailSelect labelForId="email" [searchable]="true" [clearable]="false"
            (change)="onSelectMail($event)" [(ngModel)]="selected"  placeholder="{{'label-title.select-email' | translate}}">
            <!-- <ng-option value="" disabled>{{'label-title.select-email' | translate}}</ng-option> -->
            <ng-option *ngFor="let email of email_list" [value]="email">{{ email.emailUniqueTitle }}</ng-option>
          </ng-select>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-12 text-lg-right m-auto py-0">
                <div class="form-group">
                  <div class="custom-control custom-switch">
                      <input type="checkbox" id="editPickupSwitch" class="custom-control-input">
                      <label for="editPickupSwitch" class="custom-control-label">{{ 'label-title.do-you-want-send-selected-email' | translate }}</label>
                  </div>
                </div>
              </div> -->
      <div class="col-lg-8 col-12 form-group">
        <div class="form-group mb-0">
          <label for="email" class="font-weight-medium truncate mb-0">{{ 'label-title.email_title' | translate
            }}</label>
          <input type="text" class="form-control" [(ngModel)]="selected_email.emailTitle"
            [value]="selected_email ? selected_email.emailTitle : ''" [readonly]="subadmin_readonly">
        </div>
      </div>
      <div class="col-lg-8 col-12 form-group">
        <div class="form-group mb-0">
          <label for="email" class="font-weight-medium truncate mb-0">{{ 'label-title.email_admin_info' | translate
            }}</label>
          <input type="text" class="form-control" [(ngModel)]="selected_email.emailAdminInfo"
            [value]="selected_email ? selected_email.emailAdminInfo : ''" [readonly]="subadmin_readonly">
        </div>
      </div>
    </div>
    <div class="my-3">
      <div #editorElementRef></div>
    </div>
  </div>
</div>

<app-mail-connect-modal #mailConnectModal></app-mail-connect-modal>