<app-list-page-header
  [showOrderBy]="false" [showDisplayMode]="false" (searchKeyUp)="updateFilter($event)" [itemsPerPage]="itemsPerPage" [showItemsPerPage]="false">
</app-list-page-header>

<div class="row">
  <div class="col-12 mb-4 data-table-rows data-table-responsive">
    <ngx-datatable #myTable class="expandable" [columnMode]="ColumnMode.force" [rowHeight]="50" [rows]="rows"
      [footerHeight]="100" [limit]="itemsPerPage" [headerHeight]="20" (page)="onPage($event)">
      <ngx-datatable-row-detail [rowHeight]="160" (toggle)="onDetailToggle($event)" cellClass="datatable-row-detail">
        <ng-template let-column="column" let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="detail-content">
            <div class="d-flex flex-row">
              <div>
                <div class="text-muted mr-3">
                  User
                </div>
                <div class="text-muted mr-3">
                Driver
                </div>
                <div class="text-muted mr-3">
                    Service
                </div>
                <div class="text-muted mr-3">
                    Price
                </div>
                <div class="text-muted mr-3 mb-1">
                    Status
                </div>
                <div class="text-muted mr-3 mb-1">
                    Payment
                </div>
                <div class="text-muted mr-3">
                    Time
                </div>
              </div>
              <div>
                <div>
                User name1 - 23
                </div>
                <div>
                Driver name1 - 3248
                </div>
                <div>
              Sedan
                </div>
                <div>
               100
                </div>
                <div class="mb-1">
                    <span class="badge badge-pill badge-success">Started</span>
                </div>
                <div class="mb-1">
                    <span class="badge badge-pill badge-outline-secondary ">By Cash</span>
                </div>
                <div>
                    09:00 AM
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column [width]="10" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false" class="expand-row-button" headerClass="expand-row-button">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)" class="d-block d-xl-none c-pointer">
            <i class="glyph-icon simple-icon-arrow-down"></i>
          </a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Title" [flexGrow]="0.6" [minWidth]="75">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <a class="c-pointer">00456  </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="User" [flexGrow]="0.8" headerClass="d-none d-xl-block">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">User name1- 23</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Driver" [flexGrow]="0.8"  headerClass="d-none d-xl-block">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">Driver name1</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Service" [flexGrow]="0.8" headerClass="d-none d-xl-block">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">Sedan</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Price" [flexGrow]="0.1" headerClass="d-none d-xl-block">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">100</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [flexGrow]="0.6" headerClass="d-none d-xl-block">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block"><span class="badge badge-pill badge-success">Started</span></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Payment" [flexGrow]="0.6" headerClass="d-none d-xl-block">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block"><span class="badge badge-pill badge-outline-secondary mb-1">By Cash</span></span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Time" [flexGrow]="0.6" headerClass="d-none d-xl-block">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span class="d-none d-xl-block">09:00 AM</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>


