<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <!-- <div class="top-right-button-container mb-2">
      <div class="btn-group"><button id="button-split" type="button"
          class="btn btn-primary btn-lg">{{'button-title.help' | translate | uppercase}}</button></div>
    </div> -->
    <app-breadcrumb></app-breadcrumb>
    <div class="separator mb-5"></div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left float-none-xs">
            <div class="d-flex">
              <i class="color-theme-1 iconsminds-speach-bubble-dialog mr-2"></i>
              <h5 class="d-inline color-theme-1 font-weight-bold my-auto">{{'heading-title.sent-sms-from-twilio' |
                translate }}</h5>
            </div>
          </div>
          <div class="float-right float-none-xs mt-2 ng-star-inserted">
            <!-- <button id="button-basic1" type="button" class="btn btn-outline-primary btn-xs mr-1"
              (click)="showSmsConnectModal()">
              {{ 'button-title.connect' | translate }}
            </button> -->
            <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)" id="button-basic2" type="button" class="btn btn-outline-primary btn-xs" (click)="save()"
              [disabled]="selected_sms._id == null" [ngClass]="{'btn-disabled':selected_sms._id == null}">
              {{ 'button-title.save' | translate }}</button>
          </div>
        </div>
        <div class="pt-3 d-flex flex-column flex-grow-1 mb-3">
          <div class="row no-gutters">
            <div class="col-lg-8 col-12 form-group">
              <label for="sms" class="font-weight-medium truncate mb-1">{{ 'label-title.select-sms-for' | translate
                }}</label>
              <ng-select appearance="outline" #emailSelect labelForId="email" [searchable]="true" [clearable]="false"
                (change)="onSelectSms($event)" [(ngModel)]="selecetedSmsTitle" *ngIf="selecetedSms">
                <ng-option *ngFor="let sms of sms_details" [value]="sms">{{ sms.smsUniqueTitle }}</ng-option>
              </ng-select>
            </div>
            <!-- <div class="col-lg-4 col-12 text-lg-right m-auto p-0">
              <div class="custom-control custom-switch">
                <input type="checkbox" id="editPickupSwitch" class="custom-control-input">
                <label for="editPickupSwitch" class="custom-control-label">{{
                  'label-title.do-you-want-send-selected-email' | translate }}</label>
              </div>
            </div> -->
          </div>
          <div class="row no-gutters mt-3">
            <div class="col-12 form-group">
              <!-- <textarea class="form-control" formControlName="sms_content" rows="10"></textarea> -->
              <textarea class="form-control" rows="10" [(ngModel)]="selected_sms.smsContent"
                [value]="selected_sms ? selected_sms.smsContent : ''" [readonly]="subadmin_readonly"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sms-connect-modal #smsConnectModal></app-sms-connect-modal>