<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- <div class="float-left float-none-xs">
                <div class="d-inline-block"> -->
                    <h5 class="card-title mb-3">{{'heading-title.admin-logo-settings' | translate }}</h5>
                <!-- </div>
            </div> -->
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3" (click)="onClickLogoSetting()"> {{ !is_edit_logo_settings ? ('button-title.edit' | translate) : ('button-title.save' | translate) }} </button>
            </div>
        </div>
        <div class="row social-image-row gallery">
            <div class="col-6 text-center">
                <button class="btn btn-outline-primary icon-button position-absolute m-1" [ngClass]="is_edit_logo_settings?'d-block':'d-none'" (click)="logo.click()">
                <i class="simple-icon-pencil"></i>
              </button>
                <input type="file" accept="image/*" (change)="onSelectImageFile($event,admin_logo.logo)" class="d-none" #logo>
                <img class="img-fluid border-radius mb-1 border" [src]="upload_images.logo_image ? upload_images.logo_image:(_helper.image_url+'web_images/logo.png')">
                <h6 class="text-center mb-0">{{'heading-title.logo' | translate }}</h6>
            </div>
            <div class="col-6 text-center">
                <button class="btn btn-outline-primary icon-button position-absolute m-1" [ngClass]="is_edit_logo_settings?'d-block':'d-none'" (click)="title_icon.click()">
                <i class="simple-icon-pencil"></i>
              </button>
                <input type="file" accept="image/*" (change)="onSelectImageFile($event,admin_logo.title_icon)" class="d-none" #title_icon>
                <img class="img-fluid border-radius mb-1 border" [src]="upload_images.title_image ? upload_images.title_image:(_helper.image_url+'web_images/title_image.png')">
                <h6 class="text-center mb-0">{{'heading-title.title-icon' | translate }}</h6>
            </div>
            <div class="col-6 text-center">
                <button class="btn btn-outline-primary icon-button position-absolute m-1" [ngClass]="is_edit_logo_settings?'d-block':'d-none'" (click)="mail_title_logo.click()">
            <i class="simple-icon-pencil"></i>
          </button>
                <input type="file" accept="image/*" (change)="onSelectImageFile($event,admin_logo.mail_title_logo)" class="d-none" #mail_title_logo>
                <img class="img-fluid border-radius mb-1 border" [src]="upload_images.mail_title_image ? upload_images.mail_title_image:(_helper.image_url+'web_images/mail_title_image.png')">
                <h6 class="text-center mb-0">{{'heading-title.mail-title-image' | translate }}</h6>
            </div>
            <div class="col-6 text-center">
                <button class="btn btn-outline-primary icon-button position-absolute m-1" [ngClass]="is_edit_logo_settings?'d-block':'d-none'" (click)="authorised_logo.click()">
            <i class="simple-icon-pencil"></i>
          </button>
                <input type="file" accept="image/*" (change)="onSelectImageFile($event,admin_logo.authorised_logo)" class="d-none" #authorised_logo>
                <img class="img-fluid border-radius mb-1 border" [src]="upload_images.authorised_image ? upload_images.authorised_image:(_helper.image_url+'web_images/authorised_image.png')">
                <h6 class="text-center mb-0">{{'heading-title.authorized-signature' | translate }}</h6>
            </div>
            <div class="col-6 text-center">
                <button class="btn btn-outline-primary icon-button position-absolute m-1" [ngClass]="is_edit_logo_settings?'d-block':'d-none'" (click)="user_logo.click()">
                    <i class="simple-icon-pencil"></i>
                </button>
                <input type="file" accept="image/*" (change)="onSelectImageFile($event,admin_logo.user_logo)" class="d-none" #user_logo>
                <img class="img-fluid border-radius mb-1 border" [src]="upload_images.user_logo ? upload_images.user_logo:(_helper.image_url+'web_images/user_logo.png')">
                <h6 class="text-center mb-0">{{'heading-title.user_panel' | translate }}</h6>
            </div>
        </div>
    </div>
</div>