<!-- <app-list-page-header 
[showSearch]="showSearch" [showItemsPerPage]="showItemsPerPage" [showDisplayMode]="showDisplayMode" [showdropdown]="showdropdown" 
[showOrderBy]="showOrderBy" (addNewItem)="showAddNewModal()">
</app-list-page-header>
<app-add-new-datalist-modal #addNewModalRef></app-add-new-datalist-modal>
<div class="row">
    <div class="col-12 mb-4 data-table-rows data-table-responsive">
        <ngx-datatable #myTable class="expandable" [columnMode]="ColumnMode.force" [rowHeight]="50" [rows]="rows" [footerHeight]="100" [limit]="itemsPerPage" [headerHeight]="20" (page)="onPage($event)">
            <ngx-datatable-row-detail [rowHeight]="180" (toggle)="onDetailToggle($event)" cellClass="datatable-row-detail">
                <ng-template let-column="column" let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <div class="detail-content">
                        <div class="d-flex flex-row">
                            <div>
                                <div class="text-muted mr-3">
                                    {{'label-title.user' | translate }}
                                </div>
                                <div class="text-muted mr-3">
                                    {{'label-title.driver' | translate }}
                                </div>
                                <div class="text-muted mr-3">
                                    {{'label-title.service' | translate }}
                                </div>
                                <div class="text-muted mr-3">
                                    {{'label-title.price' | translate }}
                                </div>
                                <div class="text-muted mr-3 mb-1">
                                    {{'label-title.status' | translate }}
                                </div>
                                <div class="text-muted mr-3 mb-1">
                                    {{'label-title.payment' | translate }}
                                </div>
                                <div class="text-muted mr-3">
                                    {{'label-title.create-time' | translate }}
                                </div>
                                <div class="text-muted mr-3">
                                    {{'label-title.end-time' | translate }}
                                </div>
                            </div>
                            <div>
                                <div>
                                    User name1 - 23
                                </div>
                                <div>
                                    Driver name1 - 3248
                                </div>
                                <div>
                                    Sedan
                                </div>
                                <div>
                                    100
                                </div>
                                <div class="mb-1">
                                    <span class="badge badge-pill badge-success">Started</span>
                                </div>
                                <div class="mb-1">
                                    <span class="badge badge-pill badge-outline-secondary ">By Cash</span>
                                </div>
                                <div>
                                    20 Nov-9:00am
                                </div>
                                <div>
                                    20 Nov-10:00am
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-row-detail>


            <ngx-datatable-column [width]="10" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" class="expand-row-button" headerClass="expand-row-button">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)" class="d-block d-xl-none c-pointer">
                        <i class="glyph-icon simple-icon-arrow-down"></i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'label-title.title' | translate }}" [minWidth]="75">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <a class="c-pointer">00456  </a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'label-title.user' | translate }}" [flexGrow]=".8" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">User name1- 23</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'label-title.driver' | translate }}" [flexGrow]=".8" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">Driver name1</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'label-title.service' | translate }}" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">Sedan</span>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="{{'label-title.price' | translate }}" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">100</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'label-title.status' | translate }}" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block"><span class="badge badge-pill badge-success">Started</span></span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'label-title.payment' | translate }}" [flexGrow]=".2" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block"><span class="badge badge-pill badge-outline-secondary mb-1">By Cash</span></span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'label-title.create-time' | translate }}" [flexGrow]=".4" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">20 Nov-09:00 </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'label-title.end-time' | translate }}" [flexGrow]="1" headerClass="d-none d-xl-block">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="d-none d-xl-block">20 Nov-10:00 </span>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div> -->
