<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" *ngIf="listData">{{listData.name}} ({{listData.unique_id}})</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body p-0">
                    <tabset class="card-tabs " [justified]="true">
                        <tab heading="{{'label-title.details' | translate }}" class="card-body" (selectTab)="selectedTab(1)">
                            <form [formGroup]="hotelSettingForm">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="name">{{'label-title.hub-name' | translate }}</label>
                                            <input type="text" id="name" formControlName="name"
                                                (keypress)="_helper.space_validation($event)" required="" class="form-control ">
                                            <div *ngIf="hotelSettingForm.get('name').errors?.required && hotelSettingForm.get('name').touched"
                                                class="invalid-tooltip">
                                                {{'validation-title.hub-name-is-reqiured' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="country"><span>{{'label-title.country' | translate}}</span></label>
                                            <input type="text" id="country" formControlName="country" aria-describedby="basic-addon2"
                                                class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group">
                                            <label for="city"><span>{{'label-title.city' | translate}}</span></label>
                                            <input type="text" id="city" formControlName="city" aria-describedby="basic-addon2"
                                                class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="form-group search-address">
                                            <label for="city"><span>{{'label-title.address' | translate}}</span></label>
                                            <input id="address" class="form-control" formControlName="address">
                                            <div *ngIf="hotelSettingForm.get('address').errors?.required && hotelSettingForm.get('address')?.touched"
                                                class="invalid-tooltip">
                                                {{'validation-title.address-is-reqiured' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="longitude">{{'label-title.hub-area' | translate}}</label>
                                        <div id="zone_map" style="width: 100%; min-height: 415px;"
                                            [ngClass]="{ 'mapdisabled': !_helper.has_permission(_helper.PERMISSION.EDIT) }"></div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'label-title.user' | translate }}" class="card-body" (selectTab)="selectedTab(2)">
                            <div *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-sm btn-primary mb-3" *ngIf="!addNewUser"
                                        (click)="newUser('add')">{{
                                        'label-title.add_user' | translate }}</button>
                                    <button type="button" class="btn btn-sm btn-primary mb-3" *ngIf="addNewUser"
                                        (click)="newUser('back')">{{
                                        'button-title.back' | translate }}</button>
                                </div>
                            </div>
                            <div *ngIf="!addNewUser">
                                <div class="card mb-4" *ngFor="let user of hub_users , let i = index">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="mb-4 mt-1 mb-sm-0">{{user.first_name}} {{user.last_name}}</h5>
                                            <div class="">
                                                <button *ngIf="user.is_edit && _helper.has_permission(_helper.PERMISSION.EDIT)" type="button"
                                                    class="btn btn-outline-primary btn-xs mr-2"
                                                    (click)="updateUser(user)">{{'button-title.save'
                                                    | translate}}</button>
                                                <button type="button" class="btn btn-outline-danger btn-xs mr-2" (click)="openDeleteUserModal(user)" *ngIf="!user.is_edit && _helper.has_permission(_helper.PERMISSION.DELETE)">
                                                    {{'button-title.delete' | translate}}
                                                </button>
                                                <button  type="button" class="btn btn-circle btn-outline-primary"
                                                    (click)="editUser(user)" [disabled]="isCollapsed && !user.is_edit"
                                                    [attr.aria-expanded]="user.is_edit" aria-controls="collapseAnimated">
                                                    <i class="simple-icon-arrow-down" *ngIf="!user.is_edit" style="padding-top: 8px;display: inline-block;"></i>
                                                    <i class="simple-icon-arrow-up" *ngIf="user.is_edit" style="padding-top: 4px;display: inline-block;"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div id="collapseAnimated" [collapse]="!user.is_edit" [isAnimated]="true">
                                            <div class="mt-4">
                                                <form [formGroup]="updateUserForm" class="card-body" appFocus>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-12">
                                                            <div class="form-group">
                                                                <label for="first_name">{{'label-title.first-name' | translate }}</label>
                                                                <input type="text" id="first_name" formControlName="first_name" (keypress)="_helper.space_validation($event)"  required class="form-control">
                                                                <div *ngIf="updateUserForm.get('first_name').errors?.required && updateUserForm.get('first_name').touched"    class="invalid-tooltip">
                                                                {{'label-title.first-name' | translate}} {{'required' | translate }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-12">
                                                            <div class="form-group">
                                                                <label for="last_name">{{'label-title.last-name' | translate }}</label>
                                                                <input type="text" id="last_name" formControlName="last_name" (keypress)="_helper.space_validation($event)"  required="" class="form-control">
                                                                <div *ngIf="updateUserForm.get('last_name').errors?.required && updateUserForm.get('last_name').touched"    class="invalid-tooltip">
                                                                    {{'label-title.last-name' | translate}} {{'required' | translate }}
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-12">
                                                            <div class="form-group">
                                                                <label for="phone">
                                                                    {{'label-title.phone' | translate }} 
                                                                </label>
                                                                <div class="input-group">
                                                                    <div class="input-group-prepend w-20">
                                                                        <input type="text" class="form-control text-center" formControlName="country_phone_code" readonly>
                                                                    </div>
                                                                    <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.phone_number_validation($event)"
                                                                        id="phone" formControlName="phone" aria-describedby="basic-addon1"
                                                                        [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8"
                                                                        [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"
                                                                        required class="form-control" noPasteDrop>
                                                                    <div *ngIf="updateUserForm.get('phone').errors && updateUserForm.get('phone').touched" class="invalid-tooltip">
                                                                        <span *ngIf="updateUserForm.get('phone').errors.required"> {{'validation-title.phone-is-reqiured' | translate}}
                                                                        </span>
                                                                        <span *ngIf="updateUserForm.get('phone').errors.minlength ">
                                                                            {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ?
                                                                            _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;
                                                                            {{'validation-title.character-requires' | translate}}
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-12">
                                                            <div class="form-group">
                                                                <label for="email">{{'label-title.email' | translate }}</label>
                                                                <div class="input-group">
                                                                    <input type="email" id="email" formControlName="email" aria-describedby="basic-addon2" required
                                                                        class="form-control ng-untouched ng-pristine ng-valid">
                                                                    <div *ngIf="updateUserForm.get('email').errors && updateUserForm.get('email').touched" class="invalid-tooltip">
                                                                        <span *ngIf="updateUserForm.get('email').errors.required">
                                                                            {{'validation-title.email-is-reqiured' | translate}}
                                                                        </span>
                                                                        <span
                                                                            *ngIf="updateUserForm.get('email').errors.email || updateUserForm.get('email').errors.pattern">{{'validation-title.enter-valid-email'
                                                                            | translate}} </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-12">
                                                            <div class="form-group">
                                                                <label for="password">{{'label-title.password' | translate }}</label>
                                                                <input type="password" id="password" minlength="6" formControlName="password"  class="form-control">
                                                                <div *ngIf="updateUserForm.get('password').errors && updateUserForm.get('password').touched"
                                                                    class="invalid-tooltip">
                                                                    <span *ngIf="updateUserForm.get('password').errors?.minlength">
                                                                        {{'validation-title.min-6-character-requires' | translate}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center"
                                    style="height: calc(100vh - 270px);" *ngIf="(hub_users && hub_users.length == 0) || !hub_users">
                                    {{'label-title.no-record-found' | translate}}
                                </div>
                            </div>
                            <div *ngIf="addNewUser" class="card">
                                <form [formGroup]="addUserForm" class="card-body" appFocus>
                                    <div class="row">
                                        <div class="col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="first_name">{{'label-title.first-name' | translate }}</label>
                                                <input type="text" id="first_name" formControlName="first_name" (keypress)="_helper.space_validation($event)"  required class="form-control">
                                                <div *ngIf="addUserForm.get('first_name').errors?.required && addUserForm.get('first_name').touched"    class="invalid-tooltip">
                                                {{'label-title.first-name' | translate}} {{'required' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="last_name">{{'label-title.last-name' | translate }}</label>
                                                <input type="text" id="last_name" formControlName="last_name" (keypress)="_helper.space_validation($event)"  required="" class="form-control">
                                                <div *ngIf="addUserForm.get('last_name').errors?.required && addUserForm.get('last_name').touched"    class="invalid-tooltip">
                                                    {{'label-title.last-name' | translate}} {{'required' | translate }}
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="phone">
                                                    {{'label-title.phone' | translate }} 
                                                </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend w-20">
                                                        <input type="text" (click)="openPhoneCodeModal(openPhoneCode)" class="form-control text-center c-pointer" formControlName="country_phone_code" readonly>
                                                    </div>
                                                    <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.phone_number_validation($event)"
                                                        id="phone" formControlName="phone" aria-describedby="basic-addon1"
                                                        [minlength]="_helper.admin_setting_details?.minimum_phone_number_length ? _helper.admin_setting_details.minimum_phone_number_length : 8"
                                                        [maxlength]="_helper.admin_setting_details?.maximum_phone_number_length ? _helper.admin_setting_details.maximum_phone_number_length : 12"
                                                        required class="form-control" noPasteDrop>
                                                    <div *ngIf="addUserForm.get('phone').errors && addUserForm.get('phone').touched" class="invalid-tooltip">
                                                        <span *ngIf="addUserForm.get('phone').errors.required"> {{'validation-title.phone-is-reqiured' | translate}}
                                                        </span>
                                                        <span *ngIf="addUserForm.get('phone').errors.minlength ">
                                                            {{'validation-title.min' | translate}}&nbsp;{{_helper.admin_setting_details?.minimum_phone_number_length ?
                                                            _helper.admin_setting_details.minimum_phone_number_length : 8}}&nbsp;
                                                            {{'validation-title.character-requires' | translate}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="email">{{'label-title.email' | translate }}</label>
                                                <div class="input-group">
                                                    <input type="email" id="email" formControlName="email" aria-describedby="basic-addon2" required
                                                        class="form-control ng-untouched ng-pristine ng-valid">
                                                    <div *ngIf="addUserForm.get('email').errors && addUserForm.get('email').touched" class="invalid-tooltip">
                                                        <span *ngIf="addUserForm.get('email').errors.required">
                                                            {{'validation-title.email-is-reqiured' | translate}}
                                                        </span>
                                                        <span
                                                            *ngIf="addUserForm.get('email').errors.email || addUserForm.get('email').errors.pattern">{{'validation-title.enter-valid-email'
                                                            | translate}} </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="password">{{'label-title.password' | translate }}</label>
                                                <input type="password" id="password" minlength="6" formControlName="password"  class="form-control">
                                                <div *ngIf="addUserForm.get('password').errors && addUserForm.get('password').touched"
                                                    class="invalid-tooltip">
                                                    <span *ngIf="addUserForm.get('password').errors?.required">
                                                        {{'validation-title.password-is-required' | translate}}
                                                    </span>
                                                    <span *ngIf="addUserForm.get('password').errors?.minlength">
                                                        {{'validation-title.min-6-character-requires' | translate}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="my-3 text-center">
                                    <button type="submit" class="btn btn-primary" (click)="saveNewUser()">{{'button-title.save' |translate }}</button>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'label-title.vehicle' | translate }}" class="card-body" (selectTab)="selectedTab(3)">
                            <form [formGroup]="vehicleAssignForm">
                                <div class="row align-items-end mb-3">
                                    <div class="col-9">
                                        <div class="form-group mb-0">
                                            <label for="vehicle"><span>{{'label-title.vehicle' | translate}}</span></label>
                                            <ng-select appearance="outline" labelForId="yesno" [searchable]="true" [clearable]="false"
                                                formControlName="vehicle">
                                                <ng-option [value]="vehicle._id" *ngFor="let vehicle of vehicle_list">
                                                    {{vehicle.name}} - {{vehicle.model}} - {{vehicle.plate_no}} ({{vehicle.unique_id}})
                                                </ng-option>
                                            </ng-select>
                                            <div *ngIf="vehicleAssignForm.get('vehicle').errors?.required && vehicleAssignForm.get('vehicle').touched"
                                                style="white-space: nowrap;" class="invalid-tooltip">
                                                {{'label-title.vehicle' | translate}} {{'label-title.is-required' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 text-right">
                                        <button class="btn btn-primary" (click)="AssignVehicle(_helper.ASSIGN_TYPE.ASSIGN)" *ngIf="_helper.has_permission(_helper.PERMISSION.ADD)">{{'button-title.assign' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                            <div class="separator mb-4"></div>
                            <div class="row">
                                <div class="col-12">
                                    <h3>{{'label-title.assigned-vehicles' | translate}}</h3>
                                    <div class="d-flex align-items-center justify-content-between mb-2 border-bottom pb-2" *ngFor="let vehicle of hub_vehicle_list">
                                        <div>
                                            <p class="mb-1">{{vehicle.name}} - {{vehicle.model}} - {{vehicle.plate_no}} ({{vehicle.unique_id}})</p>
                                            <p class="mb-0 text-muted" *ngIf="vehicle.provider_detail">
                                                {{'label-title.assigned-to' | translate}} : {{vehicle.provider_detail?.first_name}} {{vehicle.provider_detail?.last_name}} ({{vehicle.provider_detail?.unique_id}})
                                            </p>
                                        </div>
                                        <button class="btn btn-primary btn-xs" (click)="removeVehicle(vehicle)" *ngIf="!vehicle.provider_detail && _helper.has_permission(_helper.PERMISSION.DELETE)">{{'button-title.remove' | translate}}</button>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center" *ngIf="!hub_vehicle_list || hub_vehicle_list.length == 0" style="height: calc(100vh - 270px);">
                                        {{'label-title.no-record-found' | translate}}
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'label-title.driver' | translate }}" class="card-body" (selectTab)="selectedTab(4)">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex align-items-center mb-3" *ngFor="let provider of hub_providers">
                                        <img (error)="$event.target.src = _helper.DEFAULT_IMAGE.USER_PROFILE"
                                            [src]="provider.picture ? IMAGE_URL + provider.picture : _helper.DEFAULT_IMAGE.USER_PROFILE"
                                            [alt]="provider.first_name" class="provider-image border-0 rounded-circle mr-2" />
                                        <div class="">
                                            <p class="mb-0">{{provider.first_name}} {{provider.last_name}} ({{provider.unique_id}})</p>
                                            <p class="mb-0">{{provider.country_phone_code}} {{provider.phone}}</p>
                                            <p class="mb-0">{{provider.vehicle_detail.name}} - {{provider.vehicle_detail.model}} - {{provider.vehicle_detail.plate_no}} ({{provider.vehicle_detail.unique_id}})</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center" *ngIf="!hub_providers || hub_providers.length == 0" style="height: calc(100vh - 270px);">
                                        {{'label-title.no-record-found' | translate}}
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer" *ngIf="tab_number == 1">
                    <button type="submit" class="btn btn-outline-info float-right" (click)="getHistory()" *ngIf="_helper.has_permission(_helper.PERMISSION.VIEW, 'completed_requests')">{{'button-title.history' | translate }}</button>
                    <button type="submit" class="btn btn-primary float-right" (click)="updateHotel()" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">{{'button-title.update' | translate }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>

<!-- CountryPhoneCode popup start  -->

<ng-template #openPhoneCode>
    <div class="">
        <div class="py-3 shadow-lg" style="border-radius: 0.75rem;">
            <div class="form-floating rtl-ml-4 mx-4 mb-2">
                <input type="search" name="search" class="form-control"
                    placeholder="{{'label-title.select-country' | translate}}" [(ngModel)]="SearchText"
                    id="search-country">
            </div>

            <div class="p-3" style="height: 280px ; overflow-y:auto;">
                <div class="row c-pointer mx-2 border-bottom border-dark py-1 selected-countrycode"
                    (click)="countryPhoneCode(item)" *ngFor="let item of countries | searchpipe:SearchText:['name','code']">
                    <div class="w-20">{{item.code}}</div>
                    <div class="w-80">{{item.name}}</div>
                </div>
                <div *ngIf="(countries | searchpipe:SearchText:['name','code'])?.length === 0" class="text-center mt-2">
                    <p class="mb-0 font-weight-semibold">{{'label-title.no-matching-country-found' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- CountryPhoneCode popup end  -->

<!-- Vehicle Remove Confirmation Start -->
<ng-template #confirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedVehicle?.name}} - {{selectedVehicle?.model}} - {{selectedVehicle?.plate_no}} ({{selectedVehicle?.unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-remove-this' | translate}} {{'label-title.vehicle' | translate}}.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="AssignVehicle(_helper.ASSIGN_TYPE.REMOVE,selectedVehicle._id)" class="btn btn-primary float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>
<!-- Vehicle Remove Confirmation End -->

<!-- User Delete Confirmation Start -->
<ng-template #userDeleteConfirmationTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selected_user?.first_name}} {{selected_user?.last_name}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUserDeleteModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p>
                {{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'label-title.user' | translate}}.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="DeleteHubUser(selected_user)" class="btn btn-primary float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>
<!-- User Delete Confirmation End -->