<div class="row">
  <div class="col-12">
    <app-heading></app-heading>
    <!-- <div class="top-right-button-container text-zero">
      <button id="button-basic" type="button" class="btn btn-outline-primary" (click)="export()">
        {{'button-title.export' | translate }}
      </button>
    </div> -->
    <app-breadcrumb></app-breadcrumb>
    <div class="display-options-container">
      <div class="d-flex justify-content-between mb-2">
        <div class="d-flex flex-wrap mr-2">
          <div class="position-relative">
            <div class="float-md-left mr-1 mb-2" dropdown>
              <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option"
                aria-controls="dropdown-basic">
                {{'button-title.type' | translate}} : {{itemType.label | translate}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsType"><a
                    [ngClass]="item.value === itemType.value ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeSortBy(item)">{{item.label | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="position-relative">
            <div class="float-md-left mr-1 mb-2" dropdown>
              <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option"
                aria-controls="dropdown-basic">
                {{'button-title.search-by' | translate}} : {{itemSearch.label | translate}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsSearch" [ngClass]="item.isShow == false ? 'd-none' : ''"><a
                    [ngClass]="item.value === itemSearch.value ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeSearchBy(item)">{{item.label | translate}}</a></li>
              </ul>
            </div>
          </div>
          <div class="">
            <div class="search-sm d-inline-block float-md-left mr-1 mb-2 align-top">
              <input class="form-control" (keypress)="_helper.space_validation($event)" placeholder="{{'label-title.search' | translate }}"
                [(ngModel)]="search_value">
            </div>
          </div>
          <!-- <div class="position-relative">
            <div class="float-md-left mr-1 mb-2" dropdown>
              <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option"
                aria-controls="dropdown-basic">
                {{itemSortBy.label | translate}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsSortBy"><a
                    [ngClass]="item.value === itemSortBy.value ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeSortItemBy(item)">{{item.label | translate}}</a></li>
              </ul>
            </div>
          </div> -->
          <!-- <div class="position-relative">
            <div class="mr-1 mb-2 float-md-left" dropdown>
              <button id="button-basic" dropdownToggle type="button"
                class="btn btn-outline-primary btn_display_option btn-xs dropdown-toggle"
                aria-controls="dropdown-basic">
                {{'button-title.user' | translate}} : {{itemUser.label | translate}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" *ngFor="let item of itemOptionsUsers"><a
                    [ngClass]="item.value === itemUser.value ? 'dropdown-item active' : 'dropdown-item'"
                    (click)="onChangeOrderUser(item)">{{item.label | translate}}</a></li>
              </ul>
            </div>
          </div> -->
          <div class="position-relative dateWidth" *ngIf="created_date">
            <div class="date-sm float-md-left mr-1 mb-2">
              <input [hidden]="direction=='rtl'" class="form-control theme_date_picker" placeholder="{{'label-title.select-date' | translate}}"
                [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetrans' }" #drp="bsDaterangepicker"
                [(ngModel)]="item_bsRangeValue" bsDaterangepicker [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date" [maxDate]="todayDate">
              <input [hidden]="direction=='ltr'" class="form-control theme_date_picker" placeholder="{{'label-title.select-date' | translate}}"
                [bsConfig]="{ selectWeekDateRange: true, containerClass: 'rtldatetrans936' }" #drp="bsDaterangepicker"
                [(ngModel)]="item_bsRangeValue" bsDaterangepicker [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date" [maxDate]="todayDate">
            </div>
          </div>
          <div class="">
            <div class="d-inline-block float-md-left mr-1 position-relative">
              <button type="button" class="btn btn-primary btn-xs mr-1 mb-2" (click)="apply()" >
                {{'button-title.apply' | translate}}
              </button>
            </div>
          </div>
          <div class="">
            <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1 mb-1" (click)="clear()" [disabled]="search_value == '' && !item_bsRangeValue && !isApply">
              {{'button-title.clear-filter' | translate}} <span class="caret"></span>
            </button>
          </div>
        </div>

        <div class="">
          <span class="text-muted text-small">{{'label-title.per-page' | translate}} </span>
          <span dropdown class="d-inline-block position-relative">
            <button class="btn btn-outline-primary btn-xs dropdown-toggle btn_display_option" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
              {{itemsPerPage}}
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
              <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                  [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="onChangeItemsPerPage(item)">{{item | translate}}</a></li>
            </div>
          </span>
        </div>
      </div>
      <div class="separator mb-4"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" *ngIf="historyList">
            <thead class="thead-light">
              <tr class="truncate">
                <th scope="col">
                  <span  class="sortIcon c-pointer"  (click)="onSort('unique_id')" >
                    <span  class="sortIcon1" [ngClass]="sort_item == 'unique_id' &&  sort_order == -1 ?  'active' : ''" ></span>
                    <span class="sortIcon2" [ngClass]="sort_item == 'unique_id' &&  sort_order == 1 ?  'delative' : ''" ></span>
                    {{'heading-title.id' | translate }}
                </span>
                  </th>
                <th scope="col">
                  {{'heading-title.type' | translate }} </th>
                <th scope="col">
                  <span  class="sortIcon c-pointer"  (click)="onSort('created_at')" >
                    <span  class="sortIcon1" [ngClass]="sort_item == 'created_at' &&  sort_order == -1 ?  'active' : ''" ></span>
                    <span class="sortIcon2" [ngClass]="sort_item == 'created_at' &&  sort_order == 1 ?  'delative' : ''" ></span>
                    {{'heading-title.date' | translate }}
                </span>
                  </th>
                <th scope="col">{{'heading-title.email' | translate }}</th>
                <th scope="col">{{'heading-title.currency' | translate }}</th>
                <th scope="col">
                  <span  class="sortIcon c-pointer"  (click)="onSort('wallet_amount')" >
                    <span  class="sortIcon1" [ngClass]="sort_item == 'wallet_amount' &&  sort_order == -1 ?  'active' : ''" ></span>
                    <span class="sortIcon2" [ngClass]="sort_item == 'wallet_amount' &&  sort_order == 1 ?  'delative' : ''" ></span>
                    {{'heading-title.wallet-amount' | translate }}
                </span>
                  </th>
                <th scope="col">
                  <span  class="sortIcon c-pointer"  (click)="onSort('from_amount')" >
                    <span  class="sortIcon1" [ngClass]="sort_item == 'from_amount' &&  sort_order == -1 ?  'active' : ''" ></span>
                    <span class="sortIcon2" [ngClass]="sort_item == 'from_amount' &&  sort_order == 1 ?  'delative' : ''" ></span>
                    {{'heading-title.add/cut' | translate }}
                </span>
                  </th>
                <th scope="col">
                  <span  class="sortIcon c-pointer"  (click)="onSort('total_wallet_amount')" >
                    <span  class="sortIcon1" [ngClass]="sort_item == 'total_wallet_amount' &&  sort_order == -1 ?  'active' : ''" ></span>
                    <span class="sortIcon2" [ngClass]="sort_item == 'total_wallet_amount' &&  sort_order == 1 ?  'delative' : ''" ></span>
                    {{'heading-title.wallet' | translate }}
                </span>
                  </th>
                <th scope="col">{{'heading-title.from-where' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of historyList | paginate: { itemsPerPage: itemsPerPage, currentPage:  pagination_current_page, totalItems: total_page * itemsPerPage}">
                <td class="pl-4 text-nowrap">{{data.unique_id}}</td>
                <td class="text-nowrap">
                  <span *ngIf="data.user_type == 10">{{'label-title.user' | translate}}</span>
                  <span *ngIf="data.user_type == 11">{{'label-title.driver' | translate}}</span>
                  <span *ngIf="data.user_type == 4">{{'label-title.partner' | translate}}</span>
                  <span *ngIf="data.user_type == 5">{{'menu.corporate' | translate}}</span>
                </td>
                <td class="pl-4 text-nowrap" *ngIf="timezone_for_display_date">
                  {{_helper.moment(data.created_at).tz(timezone_for_display_date).format(_helper.DATE_FORMAT.MOMENT_DD_MMM_YYYY)}}
                </td>
                <td class="text-nowrap">
                  <span *ngIf="data.user_type == 10">
                    <span *ngIf="data.user_detail && data.user_detail[0]">
                      {{data.user_detail[0].email}}
                    </span>
                    <span *ngIf="!data.user_detail || !data.user_detail[0]">
                      --
                    </span>
                  </span>
                  <span *ngIf="data.user_type == 11">
                    <span *ngIf="data.provider_detail && data.provider_detail[0]">
                      {{data.provider_detail[0].email}}
                    </span>
                    <span *ngIf="!data.provider_detail || !data.provider_detail[0]">
                      --
                    </span>
                  </span>
                  <span *ngIf="data.user_type == 4">
                    <span *ngIf="data.partner_detail && data.partner_detail[0]">
                      {{data.partner_detail[0].email}}
                    </span>
                    <span *ngIf="!data.partner_detail || !data.partner_detail[0]">
                      --
                    </span>
                  </span>
                  <span *ngIf="data.user_type == 5">
                    <span *ngIf="data.corporate_detail && data.corporate_detail[0]">
                      {{data.corporate_detail[0].email}}
                    </span>
                    <span *ngIf="!data.corporate_detail || !data.corporate_detail[0]">
                      --
                    </span>
                  </span>
                </td>
                <td class="text-nowrap">{{data.from_currency_code}}</td>
                <td class="pl-4 text-nowrap">{{data.wallet_amount.toFixed(_helper.to_fixed_number)}}</td>
                <td class="pl-4 text-nowrap">
                  <span *ngIf="data.wallet_status == 1" class="text-success">
                    {{data.from_amount.toFixed(_helper.to_fixed_number)}}
                  </span>
                  <span *ngIf="data.wallet_status == 2" class="text-danger">
                    {{data.from_amount.toFixed(_helper.to_fixed_number)}}
                  </span>
                </td>
                <td class="pl-4 text-nowrap">{{data.total_wallet_amount.toFixed(_helper.to_fixed_number)}}</td>
                <td>{{data.wallet_description}}</td>
              </tr>
            </tbody>
            <tbody *ngIf="historyList.length==0">
              <tr>
                  <th colspan="10" class="text-center">
                      <span>{{ 'label-title.no-record-found' | translate }}</span>
                  </th>
              </tr>
          </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center" *ngIf="historyList.length > 0">
    <pagination-controls (pageChange)="onPage($event)" previousLabel="{{'wizard.previous' | translate}}"
    nextLabel="{{'wizard.next' | translate}}" [responsive]="true" [ngClass]="darkMode ? 'dark' : ''"></pagination-controls>
  </div>
</div>