<ng-template #template>
    <modal-container role="dialog" tabindex="-1" class="modal fade show" style="display: block;" aria-modal="true">
        <div role="document" class="modal-dialog modal-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left" *ngIf="type==1">{{'label-title.zone-to-zone' | translate}}</h4>
                    <h4 class="modal-title pull-left" *ngIf="type==2">{{'label-title.city-to-city-price' | translate }}
                    </h4>
                    <h4 class="modal-title pull-left" *ngIf="type==3">{{'label-title.airport-to-city-price' | translate
                        }}</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="close(type)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="type == 1">
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label for="inputCity">{{'label-title.from-zone' | translate }}</label>
                            <ng-select appearance="outline" notFoundText="{{'validation-title.from-zone-not-available' | translate}}"
                                #agreeSelect labelForId="yesno" [clearable]="false" [searchable]="true"
                                (change)="onChangeFormZone($event)" [(ngModel)]="from_zone">
                                <ng-option [value]="zone._id" *ngFor="let zone of zone_data.zone_list">{{zone.title}}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="addClicked && !from_zone" class="invalid-tooltip">
                                {{'validation-title.this-is-required' | translate}}
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="inputState">{{'label-title.to-zone' | translate }}</label>
                            <ng-select appearance="outline" notFoundText="{{'validation-title.to-zone-not-available' | translate}}"
                                #agreeSelect labelForId="yesno" [clearable]="false" [searchable]="true"
                                (change)="onChangeToZone($event)" [(ngModel)]="to_zone">
                                <ng-option [value]="zone._id" *ngFor="let zone of zone_data.zone_list">{{zone.title}}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="addClicked && !to_zone" class="invalid-tooltip">
                                {{'validation-title.this-is-required' | translate}}
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="inputZip">{{'label-title.fixed-price' | translate }}</label>
                            <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" id="inputZip" class="form-control" [(ngModel)]="zoneAmount"
                                placeholder="{{'label-title.price' | translate }}" noPasteDrop>
                            <div *ngIf="addClicked && (!zoneAmount && zoneAmount != 0)" class="invalid-tooltip">
                                {{'validation-title.this-is-required' | translate}}
                            </div>
                        </div>
                        <div class="form-group col-sm-2 d-flex align-items-center pt-2 pt-sm-4">
                            <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs"
                                (click)="addNewZone(zoneAmount)">
                                {{'button-title.add' | translate }}
                            </button>
                        </div>
                    </div>
                    <div class="mt-2">
                        <div class="">
                            <div class="w-100" style="overflow-y: scroll;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{'heading-title.from' | translate }}</th>
                                            <th scope="col">{{'heading-title.to' | translate }}</th>
                                            <th scope="col">{{'heading-title.price' | translate }}</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr *ngFor="let data of zone_data.zone_value ;let i =index">
                                            <td>{{data.form_details.title | translate}}</td>
                                            <td>{{data.to_details.title | translate}}</td>
                                            <td>
                                                <div class="input-group flex-nowrap">
                                                    <div class="input-group-prepend"><span id="basic-addon1"
                                                            class="input-group-text">{{currencysign}}</span></div>
                                                    <input type="number" class="form-control inputWidth" placeholder="" [value]="data.amount" [ngModel]="data.amount" (ngModelChange)="changeZonePrice($event,i)"
                                                     onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" noPasteDrop>
                                                    <div class="error top-100" *ngIf="(singleZonePrice == null) && errorShow && ( i == zoneIndex)">
                                                        {{'validation-title.price-is-required' | translate}} </div>
                                                </div>
                                            </td>
                                            <td class="d-flex">
                                                <button type="button" class="btn text-danger p-0 mr-3"
                                                    (click)="deleteSignalZoneModel(data)" [disabled]="btnDisable">
                                                    <span aria-hidden="true" class="simple-icon-close h4"></span>
                                                </button>
                                                <button type="submit" class="btn text-primary surgeCloseIcon p-0"
                                                    (click)="updateSignalZone(data,i)" [disabled]="btnDisable">
                                                    <span aria-hidden="true" class="simple-icon-check h4"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div *ngIf="type== 2">
                    <form #cityForm="ngForm" (ngSubmit)="cityPriceUpdate(city_data)">
                        <div class="row mb-2 align-items-center" *ngFor="let data of city_data ; let i =index;">
                            <label for="exampleInput" class="col-sm-6 col-6 mb-0"><span
                                    *ngIf="data.city_name">{{data.city_name.cityname | translate}}</span>
                                <span *ngIf="!data.city_name">{{data.cityname | translate}}</span>
                                {{'label-title.to' | translate}} {{data.destination_name.cityname | translate}}</label>
                            <div class="input-group col-sm-6 col-6">
                                <div class="input-group-prepend"><span id="basic-addon1"
                                        class="input-group-text">{{currencysign}}</span></div>
                                <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" class="form-control" placeholder="" name="cityPrice{{i}}" [(ngModel)]="data.price" [ngModelOptions]="{updateOn: 'submit'}" noPasteDrop>
                                <div class="error top-100" *ngIf="(data.price == null) && errorShow">
                                    {{'validation-title.price-is-required' | translate}} </div>
                            </div>
                            <input  type="submit" id="submitCity" hidden />
                        </div>
                    </form>
                    </div>
                    <div *ngIf="type == 3">
                        <form #airportForm="ngForm" (ngSubmit)="airportPriceUpdate(airport_data)">
                        <div class="row mb-2 align-items-center" *ngFor="let data of airport_data; let i =index;">
                            <label for="exampleInput" class="col-sm-6 col-6  mb-0">
                                <span *ngIf="data.airport_details">{{data.airport_details.title | translate}}</span>
                                <span *ngIf="!data.airport_details">{{data.title | translate}}</span></label>
                            <div class="input-group col-sm-6 col-6">
                                <div class="input-group-prepend"><span id="basic-addon1"
                                        class="input-group-text">{{currencysign}}</span></div>
                                <input type="number" onDrop="return false" (keydown)="_helper.keyUpDown($event)" (wheel)="(false)" (keypress)="_helper.decimalNum_validation($event)" class="form-control " placeholder="" name="airportPrice{{i}}" [(ngModel)]="data.price" [ngModelOptions]="{updateOn: 'submit'}" noPasteDrop>
                                <div class="error top-100" *ngIf="(data.price == null) && errorShow">
                                    {{'validation-title.price-is-required' | translate}} </div>
                            </div>
                            <input  type="submit" id="submitAirport" hidden />
                        </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="type != 1">
                    <button *ngIf="type == 2" type="submit" class="btn btn-primary float-right" [disabled]="btnDisable"
                        onclick="document.getElementById('submitCity').click()">{{'button-title.update' | translate
                        }}</button>
                    <button *ngIf="type == 3" type="submit" class="btn btn-primary float-right" [disabled]="btnDisable"
                    onclick="document.getElementById('submitAirport').click()">{{'button-title.update' | translate
                        }}</button>
                </div>
            </div>
        </div>
    </modal-container>
</ng-template>

<!-- delete zone price modal -->
<ng-template #deleteZonePriceTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left" *ngIf="deleteZoneData"> {{'heading-title.delete' | translate}} ( {{deleteZoneData.form_details.title |
            titlecase}} ) {{'label-title.to' | translate}} ( {{deleteZoneData.to_details.title |
                titlecase}} ) {{'heading-title.price' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeDeleteZoneModel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <p class="mb-0">{{'label-title.are-you-sure-you-want-to-delete-this' | translate}} {{'label-title.zone-to-zone' | translate}}.</p>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" (click)="closeDeleteZoneModel()" class="btn btn-primary float-right">{{'button-title.cancel' | translate}}</button> -->
        <button type="button" (click)="deleteSignalZone(deleteZoneData)" [disabled]="btnDisable" class="btn btn-primary float-right">{{'button-title.confirm' | translate}}</button>
    </div>
</ng-template>