.body-tr>td {
    // text-align: center;
}

.col-width {
    min-width: 130px;
    max-width: 150px;
    white-space: normal;
}

.display-options-container a {
    cursor: pointer;
}

tbody>tr>td {
    cursor: pointer;
}