<nav class="navbar fixed-top">
  <div class="d-flex align-items-center navbar-left">
    <a (click)="menuButtonClick($event, sidebar.menuClickCount, sidebar.containerClassnames); false;"
      href="javascript:;" class="menu-button d-none d-md-block">
      <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
        <rect x="0.48" y="0.5" width="7" height="1" />
        <rect x="0.48" y="7.5" width="7" height="1" />
        <rect x="0.48" y="15.5" width="7" height="1" />
      </svg> {{" "}}
      <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
        <rect x="1.56" y="0.5" width="16" height="1" />
        <rect x="1.56" y="7.5" width="16" height="1" />
        <rect x="1.56" y="15.5" width="16" height="1" />
      </svg>
    </a>

    <a (click)="mobileMenuButtonClick($event, sidebar.containerClassnames)" href="javascript:;"
      class="menu-button-mobile d-xs-block d-sm-block d-md-none">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
        <rect x="0.5" y="0.5" width="25" height="1" />
        <rect x="0.5" y="7.5" width="25" height="1" />
        <rect x="0.5" y="15.5" width="25" height="1" />
      </svg>
    </a>

    <div class="btn-group ml-2" dropdown *ngIf="!isSingleLang">
      <button dropdownToggle type="button" class="language-button dropdown-toggle btn btn-light btn-sm">
        {{currentLanguage | uppercase}} <span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" *ngFor="let item of languages" (click)="onLanguageChange(item)"><a class="dropdown-item"
            href="javascript:;">{{item.label | titlecase}}</a></li>
      </ul>
    </div>

  </div>

  <a class="navbar-logo" [routerLink]="adminRoot" >
    <span class="logo d-none d-sm-block">
      <img [src]="IMAGE_URL + 'web_images/user_logo.png'" alt="logo" [ngClass]="{'whiteLogo':(logoClr)}">
       </span>
    <span class="logo-mobile d-block d-sm-none" >
      <img [src]="IMAGE_URL + 'web_images/logo.png'" alt="logo" [ngClass]="{'smallwhiteLogo':(logoClr)}">
    </span>
  </a>

  <div class="navbar-right">
    <div class="header-icons d-inline-block align-middle">

      <div class="d-none d-md-inline-block align-text-bottom mr-1">
        <div class="custom-control custom-switch" tooltip="{{'label-title.dark-mode' | translate}}" placement="left">
          <input type="checkbox" class="custom-control-input" id="darkModeSwitch" [checked]="isDarkModeActive"
            (change)="onDarkModeChange($event)">
          <label class="custom-control-label" for="darkModeSwitch"></label>
        </div>
      </div>

      <div class="position-relative d-inline-block">
        <div dropdown>
          <button dropdownToggle type="button" id="notificationButton" class="header-icon btn btn-empty"
            (click)="loadNotifications(true)">
            <i class="simple-icon-bell" [ngClass]="new_notifications_count > 0 ? 'bell' : ''"></i>
            <span class="is-message" *ngIf="new_notifications_count > 0"></span>
          </button>
          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right mt-3" id="notificationDropdown"
            #scrollContainerElement>
            <div class="text-center" *ngIf="notifications.length == 0"> 
              <h6 class="mb-0">{{ 'label-title.no-data-found' | translate }}</h6>
            </div>

            <div class="d-flex align-items-center flex-row mb-3 py-3 px-4 border-bottom"
              [ngClass]="{'new-after':!notification.is_read}" *ngFor="let notification of notifications" (click)="notification_detail(notification )">
              <a href="javascript:;">
                <img (error)="$event.target.src = helper.DEFAULT_IMAGE.USER_PROFILE"
                  [src]="notification.picture ? IMAGE_URL + notification.picture : helper.DEFAULT_IMAGE.USER_PROFILE"
                  alt="Notification Image" class="notification-images border-0 rounded-circle" />
              </a>
              <div class="pl-3">
                <a href="javascript:;">
                  <p class="font-weight-bold mb-1">{{ADMIN_NOTIFICATION_STRING[notification.type] | translate}}</p>
                  <p class="font-weight-medium mb-1">{{notification.username}}
                    ({{notification.user_unique_id}})</p>
                  <p class="text-muted mb-0 text-small">
                    {{helper.moment(notification.created_at).tz(timezone_for_display_date).format(helper.DATE_FORMAT.DD_MM_YY)}}
                    -
                    {{helper.moment(notification.created_at).tz(timezone_for_display_date).format(helper.DATE_FORMAT.HH_MM_A)}}
                  </p>
                </a>
              </div>
            </div>
            <!-- <div class="d-flex align-items-center flex-row mb-3 py-3 px-4 border-bottom new-after">
                    <a href="javascript:;">
                      <img src="/assets/img/notifications/thumb-1.jpg" alt="Notification Image"
                        class="notification-images border-0 rounded-circle" />
                    </a>
                    <div class="pl-3">
                      <a href="javascript:;">
                        <p class="font-weight-bold mb-1">User Registered</p>
                        <p class="font-weight-medium mb-1">Mohit Parmar (007)</p>
                        <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                      </a>
                    </div>
                  </div> -->
            <!-- <div class="d-flex justify-content-end py-3 px-4">
                    <button class="btn btn-outline-primary btn-xs">Clear All</button>
                  </div> -->
          </div>
        </div>
      </div>

      <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton"
        (click)="fullScreenClick()">
        <i *ngIf="!isFullScreen" class="simple-icon-size-fullscreen"></i>
        <i *ngIf="isFullScreen" class="simple-icon-size-actual"></i>
      </button>

    </div>

    <div class="user d-inline-block" dropdown>
      <button class="btn btn-empty p-0" type="button" dropdownToggle>
        <span class="name"*ngIf="helper.user_details">{{helper.user_details.username.split(' ')[0]}}</span>
        <span>
          <img [src]="IMAGE_URL + 'web_images/logo.png'" alt="logo" [ngClass]="{'smallwhiteLogo':(logoClr)}">
        </span>
      </button>

      <div class="dropdown-menu dropdown-menu-right mt-3 sign-out-ul" *dropdownMenu role="menu">
        <a class="dropdown-item c-pointer" (click)="onSignOut()">{{'label-title.sign-out' | translate}}</a>
      </div>
    </div>

  </div>
</nav>
