<div class="card mb-4  d-lg-block">
  <div class="card-body">
    <!-- <h5 class="card-title">{{'pages.who-to-follow' | translate}}</h5> -->
    <div [class]="'d-flex flex-row pb-3 justify-content-between'">
      <div class="float-left float-none-xs">
        <div class="d-inline-block">
          <h5 class="d-inline">Price</h5>
        </div>
      </div>
      <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" 
          type="button"  class="btn btn-outline-primary btn-xs " (click)="onAddNew()"
          > Edit </button>
      </div>
    </div>
    <app-user-follow *ngFor="let item of data" [data]="item"></app-user-follow>
  </div>
</div>
