<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <h5 class="card-title mb-3">{{'label-title.notification-settings' | translate }}</h5>
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                    (click)="onClickNotificationSetting()">
                    {{ !is_edit_notification_settings ? ('button-title.edit' | translate) : ('button-title.save' |
                    translate) }} </button>
            </div>
        </div>
        <div class="form">
            <form class="form" [formGroup]="notificationSettingsForm">
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.sms-notification' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch1" formControlName="sms_notification"
                                class="custom-control-input">
                            <label for="customSwitch1" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.email-notification' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch2" formControlName="email_notification"
                                class="custom-control-input">
                            <label for="customSwitch2" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.draw-road-path-in-user-app' | translate }}
                            </p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch3" formControlName="userPath"
                                class="custom-control-input">
                            <label for="customSwitch3" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.draw-road-path-in-driver-app' | translate
                                }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch4" formControlName="providerPath"
                                class="custom-control-input">
                            <label for="customSwitch4" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <!-- <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.user-email-verification' | translate }}
                            </p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch5" formControlName="userEmailVerification"
                                class="custom-control-input">
                            <label for="customSwitch5" class="custom-control-label"></label>
                        </div>
                    </div>
                </div> -->
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider-email-verification' | translate
                                }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch6" formControlName="providerEmailVerification"
                                class="custom-control-input">
                            <label for="customSwitch6" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.user-mobile-number-verification' |
                                translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch7" formControlName="userSms"
                                class="custom-control-input">
                            <label for="customSwitch7" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider-mobile-number-verification' |
                                translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch8" formControlName="providerSms"
                                class="custom-control-input">
                            <label for="customSwitch8" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.otp_varification_start_trip' |
                                translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch22" formControlName="is_otp_verification_start_trip"
                                class="custom-control-input">
                            <label for="customSwitch22" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.tip' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch9" formControlName="is_tip"
                                class="custom-control-input">
                            <label for="customSwitch9" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.toll' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch10" formControlName="is_toll"
                                class="custom-control-input">
                            <label for="customSwitch10" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                <div class="flex-grow-1">
                    <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{'label-title.android-user-app-force-update' | translate }}</p>
                    </a>
                </div>
                <div class="comment-likes">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="customSwitch11" formControlName="android_user_app_force_update" class="custom-control-input">
                        <label for="customSwitch11" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
            <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                <div class="flex-grow-1">
                    <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{'label-title.android-provider-app-force-update' | translate }}</p>
                    </a>
                </div>
                <div class="comment-likes">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="customSwitch12" formControlName="android_provider_app_force_update" class="custom-control-input">
                        <label for="customSwitch12" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
            <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                <div class="flex-grow-1">
                    <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{'label-title.ios-user-app-force-update' | translate }}</p>
                    </a>
                </div>
                <div class="comment-likes">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="customSwitch13" formControlName="ios_user_app_force_update" class="custom-control-input">
                        <label for="customSwitch13" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
            <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                <div class="flex-grow-1">
                    <a href="javascript:;">
                        <p class="font-weight-medium mb-0">{{'label-title.ios-provider-app-force-update' | translate }}</p>
                    </a>
                </div>
                <div class="comment-likes">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" id="customSwitch14" formControlName="ios_provider_app_force_update" class="custom-control-input">
                        <label for="customSwitch14" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider-initiate-trip' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch15" formControlName="is_provider_initiate_trip"
                                class="custom-control-input">
                            <label for="customSwitch15" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.twilio-call-masking' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch16" formControlName="twilio_call_masking"
                                class="custom-control-input">
                            <label for="customSwitch16" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.show-estimation-in-provider-app' |
                                translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch17"
                                formControlName="is_show_estimation_in_provider_app" class="custom-control-input">
                            <label for="customSwitch17" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.show-estimation-in-user-app' | translate
                                }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch18" formControlName="is_show_estimation_in_user_app"
                                class="custom-control-input">
                            <label for="customSwitch18" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.user_social_login' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch19" formControlName="is_user_social_login"
                                class="custom-control-input">
                            <label for="customSwitch19" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider_social_login' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch20" formControlName="is_provider_social_login"
                                class="custom-control-input">
                            <label for="customSwitch20" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>

                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.user_otp_login' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch90" formControlName="is_user_login_using_otp"
                                class="custom-control-input">
                            <label for="customSwitch90" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.provider_otp_login' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch91" formControlName="is_provider_login_using_otp"
                                class="custom-control-input">
                            <label for="customSwitch91" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.is_show_user_details_in_provider_app' | translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch21" formControlName="is_show_user_details_in_provider_app"
                                class="custom-control-input">
                            <label for="customSwitch21" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>