<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <!-- <div class="float-left float-none-xs">
                <div class="d-inline-block"> -->
            <h5 class="card-title mb-3">{{'heading-title.sms_configuration' | translate }}</h5>
            <!-- </div>
            </div> -->
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                    (click)="showSmsConfigurationModal()">
                    {{'button-title.edit' | translate }} </button>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.twilio_account_sid' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.twilio_account_sid}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.twilio_auth_token' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.twilio_auth_token}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.twilio_number' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.twilio_number}}</p>
                </a>
            </div>
        </div>
        <div class="border-bottom mb-3 pb-3">
            <div class="">
                <a href="javascript:;">
                    <p class="font-weight-medium mb-0">{{'label-title.twilio_call_url' | translate }}</p>
                    <p class="text-muted mb-1 text-small">{{setting_detail.twiml_url}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

<app-sms-configuration-modal #smsConfigurationModal (SMS_data)="getSettingData()"></app-sms-configuration-modal>