<div class="row app-row">
    <div class="col-12">
        <h1 *ngIf="tripChanges">
            <h1>India -> Rajkot -> SUV </h1>
        </h1>
        <h1 *ngIf="city">{{'heading-title.city-details' | translate }}</h1>
        <div class="top-right-button-container text-zero">
            <button type="button" class="top-right-button btn btn-primary btn-lg mr-1" (click)="showAddNewModalAddCity()">
                {{ 'button-title.add-new' | translate | uppercase}}</button>
        </div>
        <div class="d-inline-block" *ngIf="city">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <br>
        <!-- <div *ngIf="tripChanges" class="separator mb-4"></div> -->
    </div>
    <div class="col-12" *ngIf="tripChanges">
        <app-profile-social></app-profile-social>
    </div>
    <div class="col-12" *ngIf="city">
        <tabset class="separator-tabs">
            <tab heading="{{'heading-title.city-details' | translate | uppercase}}">
                <div class="row ">
                    <div class=" col-lg-7 col-md-12 col-sm-12 ">
                        <div class="card mb-4">
                            <!-- <div class="position-absolute card-top-buttons">
                                <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs"> {{ 'button-title.save' | translate}} </button>
                                </div>
                            </div> -->
                            <div class="card-body">
                              <div [class]="'d-flex flex-row justify-content-between'">
                                <div class="float-left float-none-xs">
                                    <div class="d-inline-block">
                                        <h5 class="d-inline">{{'label-title.goggle' | translate}}</h5>
                                    </div>
                                </div>
                                <div class="btn-group float-right float-none-xs mb-2"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " > {{ 'button-title.save' | translate}}
                                </button>
                                </div>
                              </div>
                                <div class=" dashboard-list-with-thumbs">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-5 col-md-12 col-sm-12 ">
                        <div class="card mb-4  d-lg-block">
                            <div class="card-body">
                                <div [class]="'d-flex flex-row justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.settings' | translate}}</h5>
                                        </div>
                                    </div>
                                    <div class="btn-group float-right float-none-xs mb-2"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="citySetting()"> {{ 'button-title.edit' | translate}}
                                    </button>
                                    </div>
                                </div>
                                <div class="p-3">
                                    <div class="form-group ">
                                        <label>{{'label-title.timezone' | translate}}</label>
                                        <ng-select [items]="[{id:0, name:'Asia/Kolkata'}, {id:1, name:'Asia/Mumbai'}, {id:2, name:'Asia/Delhi'}]" bindLabel="name" bindValue="id">
                                        </ng-select>
                                    </div>
                                    <div class="form-group row  flex-fil">
                                        <div class="col-sm-7 col-12 ">
                                            <p for="inputEmail3" class="mb-0">{{'label-title.distance-unit' | translate}}</p>
                                        </div>
                                        <div class="col-sm-5 col-12">
                                            <select id="inputState" class="form-control">
                                            <option selected="">km</option>
                                            <option>...</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.ask-user-for-fixed-fare' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch1" class="custom-control-input"><label for="customSwitch1" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.airport-business' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch12" class="custom-control-input"><label for="customSwitch12" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.city-to-city-business' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch13" class="custom-control-input"><label for="customSwitch13" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.zone-to-zone-business' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch14" class="custom-control-input"><label for="customSwitch14" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.payment' | translate | uppercase}}">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card mb-4  d-lg-block">
                            <div class="card-body">
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.user-payment-setting' | translate}}</h5>
                                        </div>
                                    </div>
                                    <div class="btn-group float-right float-none-xs mb-4" *ngIf="editData"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="edit()"> {{ 'button-title.edit' | translate}}
                                    </button>
                                    </div>
                                    <div class="btn-group float-right float-none-xs mb-4" *ngIf="!editData"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " (click)="save()"> {{ 'button-title.save' | translate}}
                                    </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.cash' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch1" class="custom-control-input"><label for="customSwitch1" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.stripe' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch12" class="custom-control-input"><label for="customSwitch12" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.apple-pay' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch13" class="custom-control-input"><label for="customSwitch13" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.promo-apply-for-cash' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch14" class="custom-control-input"><label for="customSwitch14" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.promo-apply-for-card-other-payment' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch14" class="custom-control-input"><label for="customSwitch14" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card mb-4  d-lg-block">
                            <div class="card-body">
                                <!-- <h5 class="card-title">{{'pages.who-to-follow' | translate}}</h5> -->
                                <div [class]="'d-flex flex-row pb-3 justify-content-between'">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.driver-wallet-setting' | translate}}</h5>
                                        </div>
                                    </div>
                                    <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs" (click)="driverWalletSetting()">  {{ 'button-title.edit' | translate}}
                                    </button>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.provider-amount-add-in-wallet-by-cash-payment' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch1" class="custom-control-input"><label for="customSwitch1" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.provider-amount-add-in-wallet-by-other-payment' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch12" class="custom-control-input"><label for="customSwitch12" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row mb-3 pb-3 border-bottom justify-content-between align-items-center">
                                    <div class="pl-3 flex-fill">
                                        <a href="#">
                                            <p class="font-weight-medium mb-0">{{'label-title.check-wallet-amount-for-cash-ride' | translate}}</p>
                                            <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                        </a>
                                    </div>
                                    <div>
                                        <div class="mb-4">
                                            <div class="custom-control custom-switch"><input type="checkbox" id="customSwitch13" class="custom-control-input"><label for="customSwitch13" class="custom-control-label"></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-3 pb-3 pl-3 border-bottom">
                                    <div class="col-sm-7 col-7 ">
                                        <p for="inputEmail3" class="mb-0">{{'label-title.provider-min-wallet-amount-for-cash-ride' | translate}}</p>
                                        <p class="text-muted mb-0 text-small">{{'label-title.details' | translate}}</p>
                                    </div>
                                    <div class="col-sm-5 col-5">
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text">$</span></div><input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between pb-3">
                                    <div class="float-left float-none-xs">
                                        <div class="d-inline-block">
                                            <h5 class="d-inline">{{'label-title.city-list-fot-fixed-price' | translate}}</h5>
                                        </div>
                                    </div>
                                    <div class="btn-group float-right float-none-xs mb-4"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs" (click)="cityList()">  {{ 'button-title.edit' | translate}} </button></div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                    <div class="pl-3 flex-grow-1">
                                        <a href="javascript:;">
                                            <p class="font-weight-medium mb-0">KKV HALL</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                    <div class="pl-3 flex-grow-1">
                                        <a href="javascript:;">
                                            <p class="font-weight-medium mb-0">KKV HALL</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                    <div class="pl-3 flex-grow-1">
                                        <a href="javascript:;">
                                            <p class="font-weight-medium mb-0">KKV HALL</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                    <div class="pl-3 flex-grow-1">
                                        <a href="javascript:;">
                                            <p class="font-weight-medium mb-0">KKV HALL</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'heading-title.zone-allocation' | translate | uppercase}}">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="d-flex flex-row justify-content-between pb-3">
                                            <div class="float-left float-none-xs">
                                                <div class="d-inline-block">
                                                    <h5 class="d-inline">{{'label-title.zone' | translate}}</h5>
                                                </div>
                                            </div>
                                            <div class="btn-group float-right float-none-xs mb-4 btn-circle">
                                                <a href="" class="btn btn-circle btn-outline-primary hero-circle-button">
                                                    <i class="simple-icon-arrow-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                            <div class="pl-3 flex-grow-1">
                                                <a href="javascript:;">
                                                    <p class="font-weight-medium mb-0">KKV HALL</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                            <div class="pl-3 flex-grow-1">
                                                <a href="javascript:;">
                                                    <p class="font-weight-medium mb-0">KKV HALL</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                                            <div class="pl-3 flex-grow-1">
                                                <a href="javascript:;">
                                                    <p class="font-weight-medium mb-0">KKV HALL</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="border-bottom d-flex flex-row justify-content-between mb-5 pb-3">
                                            <div class="pl-3 flex-grow-1">
                                                <a href="javascript:;">
                                                    <p class="font-weight-medium mb-0">KKV HALL</p>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-outline-primary btn-lg mt-3"><span class="glyph-icon simple-icon-plus"></span>{{ 'button-title.add-new-zone' | translate}}</button></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="d-flex flex-row justify-content-between pb-3">
                                            <div class="float-left float-none-xs">
                                                <div class="d-inline-block">
                                                    <h5 class="d-inline">{{'label-title.zone' | translate}}</h5>
                                                </div>
                                            </div>
                                            <div class="btn-group float-right float-none-xs  btn-circle">
                                                <a href="" class="btn btn-circle btn-outline-primary hero-circle-button">
                                                    <i class="simple-icon-arrow-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="d-flex flex-row justify-content-between pb-3">
                                            <div class="float-left float-none-xs">
                                                <div class="d-inline-block">
                                                    <h5 class="d-inline">{{'label-title.zone' | translate}}</h5>
                                                </div>
                                            </div>
                                            <div class="btn-group float-right float-none-xs btn-circle">
                                                <a href="" class="btn btn-circle btn-outline-primary hero-circle-button">
                                                    <i class="simple-icon-arrow-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="card mb-4">
                          <div class="card-body">
                            <div [class]="'d-flex flex-row justify-content-between'">
                              <div class="float-left float-none-xs">
                                  <div class="d-inline-block">
                                      <h5 class="d-inline">{{'label-title.goggle' | translate}}</h5>
                                  </div>
                              </div>
                              <div class="btn-group float-right float-none-xs mb-2"><button id="button-basic" type="button" class="btn btn-outline-primary btn-xs " > {{ 'button-title.save' | translate}}
                              </button>
                              </div>
                            </div>
                              <div class=" dashboard-list-with-thumbs">
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
<app-application-menu>
    <tabset class="card-tabs h-100" [justified]="true">
        <tab heading="{{'heading-title.trip-changes' | translate | uppercase }}" class="card-body h-100" (selectTab)="tripChangesShow()">
            <div class="form-group">
                <input type="text" class="form-control rounded-100" placeholder="{{'label-title.search' | translate }}" #searchBoxContact id="search-box" />
            </div>
            <div class="chat-app-tab-pane-contacts">
                <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-10 col-10">
                                <p for="inputEmail3" class="mb-0">Rajkot</p>
                                <p class="text-muted mb-0 text-small">Suv</p>
                            </div>
                            <div class="col-sm-2 col-2">
                                <span class="align-middle border-success log-indicator"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-10 col-10">
                                <p for="inputEmail3" class="mb-0">Rajkot</p>
                                <p class="text-muted mb-0 text-small">mini</p>
                            </div>
                            <div class="col-sm-2 col-2">
                                <span class="align-middle border-danger log-indicator"></span>
                            </div>
                        </div>
                    </div>

                </perfect-scrollbar>
            </div>
        </tab>
        <tab heading="{{'heading-title.city-details' | translate | uppercase }}" class="card-body h-100" (selectTab)="cityShow()">
            <div class="form-group">
                <input type="text" class="form-control rounded-100" placeholder="{{'label-title.search' | translate }}" />
            </div>
            <div class="chat-app-tab-pane-contacts">
                <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-10 col-10">
                                <p for="inputEmail3" class="mb-0">Rajkot</p>
                                <p class="text-muted mb-0 text-small">India</p>
                            </div>
                            <div class="col-sm-2 col-2">
                                <span class="align-middle border-success log-indicator"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-10 col-10">
                                <p for="inputEmail3" class="mb-0">Mumbai</p>
                                <p class="text-muted mb-0 text-small">India</p>
                            </div>
                            <div class="col-sm-2 col-2">
                                <span class="align-middle border-success log-indicator"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-10 col-10">
                                <p for="inputEmail3" class="mb-0">New york</p>
                                <p class="text-muted mb-0 text-small">US</p>
                            </div>
                            <div class="col-sm-2 col-2">
                                <span class="align-middle border-danger log-indicator"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 border-bottom">
                        <div class="form-group  row">
                            <div class="col-sm-10 col-10">
                                <p for="inputEmail3" class="mb-0">London</p>
                                <p class="text-muted mb-0 text-small">UK</p>
                            </div>
                            <div class="col-sm-2 col-2">
                                <span class="align-middle border-success log-indicator"></span>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </tab>
    </tabset>
</app-application-menu>
<app-add-new-city-modal #addNewModalRef4></app-add-new-city-modal>
<app-city-settings #citySettingModal></app-city-settings>
<app-driver-wallet-setting #driverWalletSettingModal></app-driver-wallet-setting>
<app-city-list #cityListModal></app-city-list>
